Dear All,<br/>
<br/>
Please find Manual Barging and Loading Performance Report End of {Month}, {Year} as below<br/>
<div style="border-style: solid;">
    <table style="width:100%;">
        <tr>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;" colspan="2">{Site}-Daily Loading Report</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;" colspan="4">{Date}</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:40px;"></td>
        </tr>
        <tr>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:40px;">No</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;">Tug boat / Barge</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;">Commence</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;">Complete</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;">Departure</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;">Quality</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:40px;"></td>
        </tr>
        <tr style="display:nonex;">
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;text-align:center;width:40px;">1</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;">Name of Tug boat / Barge</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;text-align:center;">dd-MMM-YY HH:MM</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;text-align:center;">dd-MMM-YY HH:MM</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;text-align:center;">dd-MMM-YY HH:MM</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;text-align:center;"></td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:40px;"></td>
        </tr>
        {PART_1}
        <tr>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;text-align:center;width:40px;">&nbsp;</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;">&nbsp;</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;text-align:center;">&nbsp;</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;text-align:center;">&nbsp;</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;text-align:center;">&nbsp;</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;text-align:center;">&nbsp;</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:40px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;text-align:center;width:40px;">&nbsp;</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;">&nbsp;</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;text-align:center;">&nbsp;</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;text-align:center;">&nbsp;</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;text-align:center;">&nbsp;</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;text-align:center;">&nbsp;</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:40px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;text-align:center;" colspan="3" rowspan="2"></td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;text-align:center;font-weight:bold;" colspan="3" rowspan="2">Total Loading</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:40px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:40px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;text-align:center;font-weight:bold;height:50px;" colspan="7">Loading delayed Information</td>
        </tr>
        <tr>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:40px;">No</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;">Time</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;" colspan="5">Remark</td>
        </tr>
        <tr style="display:nonex;">
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;text-align:center;width:40px;">1</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;">dd-MMM-YY HH:MM</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;text-align:center;" colspan="5">&nbsp;</td>
        </tr>
        <tr>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;text-align:center;width:40px;">&nbsp;</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;">&nbsp;</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;text-align:center;" colspan="5">&nbsp;</td>
        </tr>
        <tr>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;text-align:center;width:40px;">&nbsp;</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;">&nbsp;</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;text-align:center;" colspan="5">&nbsp;</td>
        </tr>
        <tr>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:40px;">No</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;">Unit Dozer/Excavator</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;" colspan="5">Remark</td>
        </tr>
        <tr style="display:nonex;">
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;text-align:center;width:40px;">1</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;">&nbsp;</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;text-align:center;" colspan="5">&nbsp;</td>
        </tr>
        <tr>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;text-align:center;width:40px;">&nbsp;</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;">&nbsp;</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;text-align:center;" colspan="5">&nbsp;</td>
        </tr>
        <tr>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;text-align:center;width:40px;">&nbsp;</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;">&nbsp;</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;text-align:center;" colspan="5">&nbsp;</td>
        </tr>
    </table>
    <table style="width:100%;margin-top:5px;">
        <tr>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;" colspan="2">(Plan Loading {Year})</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;">Actual Loading {Year}</td>
        </tr>
        <tr>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:25%;">TCM {Year}</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:25%;">{Plan_TCM_Year}&nbsp;</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:50%;">{Actual_TCM_Year}&nbsp;</td>
        </tr>
        <tr>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:25%;">Plan Budget {Month} {Year}</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:25%;">{Plan_TCM_Month_Budget}&nbsp;</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:50%;" rowspan="2">{Actual_TCM_Month}&nbsp;</td>
        </tr>
        <tr>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:25%;">Outlook {Month} {Year}</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:25%;">{Plan_TCM_Month_Outlook}&nbsp;</td>
        </tr>
        <tr>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:25%;">BEK {Year}</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:25%;">{Plan_BEK_Year}&nbsp;</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:50%;">{Actual_BEK_Year}&nbsp;</td>
        </tr>
        <tr>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:25%;">Plan Budget {Month} {Year}</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:25%;">{Plan_BEK_Month_Budget}&nbsp;</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:50%;" rowspan="2">{Actual_BEK_Month}&nbsp;</td>
        </tr>
        <tr>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:25%;">Outlook {Month} {Year}</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:25%;">{Plan_BEK_Month_Outlook}&nbsp;</td>
        </tr>
        <tr>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;" colspan="2">Total Blending TCM & BEK (MTD)</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:50%;">{Blending_Total}&nbsp;</td>
        </tr>
        <tr>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;" colspan="2">Blending TCM & BEK (MTD)</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:50%;">TCM = {Blending_MTD_TCM} + BEK = {Blending_MTD_BEK}&nbsp;</td>
        </tr>
        <tr>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;" colspan="2">Blending TCM & BEK (YTD)</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:50%;">{Blending_YTD}&nbsp;</td>
        </tr>
        <tr>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:25%;height:50px;">TCM + BEK (MTD)</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:25%;height:50px;">{Plan_MTD}&nbsp;</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:50%;height:50px;">{Actual_MTD}&nbsp;</td>
        </tr>
        <tr>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:25%;height:50px;">TCM + BEK (YTD)</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:25%;height:50px;">{Plan_YTD}&nbsp;</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:50%;height:50px;">{Actual_YTD}&nbsp;</td>
        </tr>
        <tr>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;width:25%;height:80px;font-size:34px;color:red;" colspan="3">GOOD LUCK AND SAFETY FIRST</td>
        </tr>
    </table>
</div>
<br/><br/>
Matur Suwun