<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            font-size: 13px;
        }

        th, td {
            padding: 7px;
        }
    </style>
</head>
<body>
    Dear All,<br />
    <br />
    Please review and finalize this coal inventory for ##--company--## on ##--period--##:<br />
    </br>
    <table style="width:100%;">
        <tr>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;">ROM Location</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;">Tonnage</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;">Survey Date Scale</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;">Start Time</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;">End Time</td>
        </tr>
        ##--Detail--##
    </table>
    <br />
    <br />
    To see more details, please visit this <a href="##--Url--##">link.</a>
    <br /><br />
    Thank you, <br />
    MERCY Administrator.
</body>
</html>