<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            font-size: 13px;
        }

        th, td {
            padding: 7px;
        }
    </style>
</head>
<body>
    Dear Port Team,<br />
    <br />
    Please find in the attachment of plan loading Bunyut:<br />
    <br />
    <b>Plan Barge & Product TCM/BEK:</b>
    </br></br>
    <p style="text-align:center;"><strong>Plan Blending Shipment</strong></p>
    <table style="width:100%;">
        <tr>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;" rowspan="3"></td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;" rowspan="3">Tug Boat</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;" rowspan="3">Barge</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;">Plan Start Loading</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;" rowspan="3">Estimate Quantity</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;" rowspan="3">Destination</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;" rowspan="3">Product</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;" rowspan="3">Final Product </br> to Load</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;" colspan="2" rowspan="3">Customer</td>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;" colspan="12">Plan Blending Loading</td>
        </tr>
        <tr>
            <td style="border-right: 1px solid black;border-bottom: 1px solid black;font-weight:bold;text-align:center;" rowspan="2">ETA Vessel MBR</td>
            ##--Product--##
        </tr>
        <tr>
            ##--Tunnel--##
        </tr>
        ##--Detail--##
    </table>
    <br />
    <br />
    <a href="##--Url--##">See details on MERCY.</a>
</body>
</html>