<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MERCY_Ctx" connectionString="metadata=res://*/EntityFramework.ADONETEntityDataModel.csdl|res://*/EntityFramework.ADONETEntityDataModel.ssdl|res://*/EntityFramework.ADONETEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DSQL-JKT-03\ITMDEV;initial catalog=MERCY_DEV;persist security info=True;user id=mercy_admin;password=Semarang@2020;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MERCY_BigData_Ctx" connectionString="metadata=res://*/EntityFramework_BigData.ADONETEntityDataModel_BigData.csdl|res://*/EntityFramework_BigData.ADONETEntityDataModel_BigData.ssdl|res://*/EntityFramework_BigData.ADONETEntityDataModel_BigData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.136.3;initial catalog=MDC_DBWAREHOUSE;user id=mercy;password=mercyA;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MERCY_BigDataBEK_Ctx" connectionString="metadata=res://*/EntityFramework_MineMarket.ADONETEntityDataModel_MineMarket.csdl|res://*/EntityFramework_MineMarket.ADONETEntityDataModel_MineMarket.ssdl|res://*/EntityFramework_MineMarket.ADONETEntityDataModel_MineMarket.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DSQL-JKT-03\MDC;initial catalog=BEK_Datamart_Dev;persist security info=True;user id=bek_mercy_ro;password=BEK1773rcyRead0nly;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MERCY_MineMarket_Ctx" connectionString="metadata=res://*/EntityFramework_MineMarket.ADONETEntityDataModel_MineMarket.csdl|res://*/EntityFramework_MineMarket.ADONETEntityDataModel_MineMarket.ssdl|res://*/EntityFramework_MineMarket.ADONETEntityDataModel_MineMarket.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL-JKT-04\ITMPROD;initial catalog=DW_ITM;persist security info=True;user id=mercy_ro;password=Lalampa@2020!;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MERCY_PowerBI_Ctx" connectionString="metadata=res://*/EntityFramework_MineMarket.ADONETEntityDataModel_PowerBI.csdl|res://*/EntityFramework_PowerBI.ADONETEntityDataModel_PowerBI.ssdl|res://*/EntityFramework_PowerBI.ADONETEntityDataModel_PowerBI.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL-JKT-04\ITMPROD;initial catalog=DW_ITM;persist security info=True;user id=ods_ro;password=ODS#R34dO17Ly;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>