<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="MERCY_Server_BackEnd" value="http://dbemercy-jkt-01.banpuindo.co.id/"/>
    <add key="MERCY_User" value="scheduler"/>
    <add key="MERCY_Password" value="001scheduler"/>
  </appSettings>
</configuration>
  