@using MERCY.Web.FrontEnd.Helpers;

@{
    string ui_name               = @"a-Bootstrap-v4_4_1";
    UserInterface userInterface  = new UserInterface(ui_name);
    string ui_Folder_ServerSide  = userInterface.Folder_ServerSide;
    string ui_Folder_Client_Side = userInterface.Folder_ClientSide;

    Layout = ui_Folder_ServerSide + "_Layout.cshtml";
}

<style>
#id_menu_ROMTransfer {
    background-color: #000000;
    border-radius: 4px;
    /*opacity: 0.2;*/
    background: rgba(0,0,0,0.2);
    height: 52px;
    margin: 5px 8px;
}

.filter_title {
    color: #232323;
    font-family: 'OpenSans-SemiBold';
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    opacity: 0.8700000047683716;
    text-align: left;
    height: 20px;
}

.select2-selection--single{
    height: 34px !important;
}
.select2-selection__choice {
    height: 34px !important;
}
.select2-selection__arrow{
    height: 32px !important;
}

#mercyTable_Product_length
,#mercyTable_ROM_length
,#mercyTable_Product_info
,#mercyTable_ROM_info
{display:none;}

.mercy_input_text_invalid {
    border: 1px solid #DE0D0D;
}

.right-border {
    border-right: solid 1px #DEDEDE;
}

.mercy_button_sync {
    background-color: #FFFFFF;
    border: 1px solid #00B4A5;
    border-radius: 4px;
    height: 34px;
}

.mercy_button_sync {
    color: #00B4A5;
    font-family: 'Poppins-SemiBold';
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
}

.mercy_button_sync:hover {
    cursor: pointer; 
}

.percentage-text {
    color: #00B4A5;
    font-weight: bold;
}

.percentage-bar-bg {
    background-color: #463191;
}

.modal-lg {
    max-width: 550px;
    margin: auto;
}

#mercyTable_Product_previous, #mercyTable_ROM_previous {
    margin-right: 3rem !important;
}

div.dataTables_wrapper {
    width: 100% !important;
}
</style>

<link href="@ui_Folder_Client_Side/css/select2.min.css" rel="stylesheet" />
<script src="@ui_Folder_Client_Side/js/select2.min.js"></script>

<div class="col margin_padding_0">
    <div class="row margin_padding_0 mercy_page_Title">
        Product & ROM Quality Plan
    </div>
    <div class="row margin_padding_0 mercy_page_Title_2">
        Company > Product & ROM Quality Plan
    </div>
    <div class="row margin_padding_0 mercy_box_inner_content" style="min-height:100px !important;">
        <div class="col-12 col-md-auto margin_padding_0" style="padding: 15px 0px 0px 15px !important;">
            <div style="width: 70px;">                
                <div style="width:100%;padding:10px 0px !important;">
                    Company:
                </div>
            </div>
        </div>
        <div class="col-12 col-md-auto margin_padding_0" style="padding: 15px 0px 0px 15px !important;">
            <div style="width: 200px;">                
                <div style="width:100%;padding:10px 0px !important;">
                    <select id="ddl_Company" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;"></select>
                </div>
            </div>
        </div>
        <div class="col-12 col-md margin_padding_0">
            <div class="row margin_padding_0">
            </div>
        </div>
        <div class="col-12 col-md-auto margin_padding_0" style="padding: 15px 15px 0px 15px !important;">
            <div style="width: 140px;margin:auto;">
                <div class="mercy_button_2" style="width:100px;"><div class="mercy_text_center" id="btnBack">Back</div></div>
            </div>
        </div>
    </div>
    <div class="row margin_padding_0 mercy_box_inner_content">
        <div class="col margin_padding_0" style="padding: 20px 20px !important;">
            <span class="mercy_page_Title">Product Quality Plan</span>
            <div class="row margin_padding_0" style="margin-bottom:20px !important;">
                <div class="col col-md margin_padding_0" style="margin:20px 10px 0px 20px !important;">
                    <div class="row">
                        <div class="mercy_button" style="width:100px;display:none" id="btnAdd_Product">
                            <div class="mercy_text_center">Add New</div>
                        </div>
                        <div class="right-border mx-3"></div>
                        <div class="mercy_button_sync" style="width:100px;" id="btnSync_Product">
                            <div class="mercy_text_center">Sync</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin_padding_0">
                <table id="mercyTable_Product" class="display nowrap table table-striped mercy_table mercy_table_header" style="width:100%;">
                    <thead>
                    <tr>
                        <th>ProductId</th>
                        <th>No_Line</th>
                        <th>
                            <div style="color:white;text-align: center !important;">Action</div></th>
                        <th>No</th>
                        <th>Company</th>
                        <th>Product</th>
                        <th>CV</th>
                        <th>TS</th>
                        <th>ASH</th>
                        <th>IM</th>
                        <th>TM</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="row margin_padding_0 mercy_box_inner_content">
        <div class="col margin_padding_0" style="padding: 20px 20px !important;">
            <span class="mercy_page_Title">ROM Quality Plan</span>
            <div class="row margin_padding_0" style="margin-bottom:20px !important;">
                <div class="col col-md margin_padding_0" style="margin:20px 10px 0px 20px !important;">
                    <div class="row">
                        <div class="mercy_button" style="width:100px;display:none" id="btnAdd">
                            <div class="mercy_text_center">Add New</div>
                        </div>
                        <div class="right-border mx-3"></div>
                        <div class="mercy_button_sync" style="width:100px;" id="btnSync">
                            <div class="mercy_text_center">Sync</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin_padding_0">
                <table id="mercyTable_ROM" class="display nowrap table table-striped mercy_table mercy_table_header" style="width:100%;">
                    <thead>
                    <tr>
                        <th>ROMId</th>
                        <th>No_Line</th>
                        <th>
                            <div style="color:white;text-align: center !important;">Action</div></th>
                        <th>No</th>
                        <th>Company</th>
                        <th>ROM</th>
                        <th>Ton</th>
                        <th>CV</th>
                        <th>TS</th>
                        <th>ASH</th>
                        <th>IM</th>
                        <th>TM</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="modal_sync" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" >
        <div class="modal-content" style="border-radius: 15px;">
            <div class="modal-body" style="padding-top: 22px; padding-left: 22px;">
                <div class="d-flex flex-column">
                    <div class="mb-3 d-flex flex-row justify-content-between">
                        <span id="title_text_sync" class="font-weight-bold">Please Wait, Synchronization Product In Progress</span>
                        <span id="percentage_text_sync" class="percentage-text">0%</span>
                    </div>
                    <div class="progress">
                        <div id="sync_progress" class="progress-bar percentage-bar-bg" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

// Flag
var is_still_AJAX_dataList_Product = false;
var is_still_AJAX_dataList = false;

// DataGrid
var obj_html_Table_Product;
var obj_html_Table_ROM;
var obj_html_Company;

// row
var isNew_Product = false;
var is_Mode_Editor_Product = false;
var lineNumber_Data_Product = 0;
var object_Created_Count_Product = 0;
var object_id_additional_Product = ''; // pattern is: '_' + object_Created_Count_Product + '_' + lineNumber_Data_Product;
var object_id_Created_Product = [];
var object_id_Deleted_Product = [];

var isNew = false;
var is_Mode_Editor = false;
var lineNumber_Data = 0;
var object_Created_Count = 0;
var object_id_additional = ''; // pattern is: '_' + object_Created_Count + '_' + lineNumber_Data;
var object_id_Created = [];
var object_id_Deleted = [];

var company_value = getUrlParameter('company');
if (company_value == '' || company_value == null) {
    company_value = 'all';
}
    
$(document).ready(function (){
    $(document).attr('title', 'Product and ROM Quality Plan - List : Mercy');

    $(window).resize(function (){
        // Resize Table: because the Window is Resized
        resize_Table();
    });
    
    $('#btnBack').click(function (e){
        window.location = '/Companyv';
    });
    
    $('#btnAdd_Product').click(function (e){
        processLink_Add_Product();
    });
    
    $('#btnAdd').click(function (e){
        processLink_Add();
    });
    
    $('#btnSync_Product').click(function (e) {
        synchronizeProduct();
    });
    
    $('#btnSync').click(function (e) {
        synchronizeRom();
    });
    
    Create_ddl_Company();
    
    Load_Page_List_Local();
});

function Clear_DataGrid_Product_(p_id){
    try {
        $('#' + p_id).DataTable().clear().destroy();
        //$('#'+p_id).DataTable().destroy();
    }catch(err){}
    
    try {
        $('#'+p_id+' tbody').empty();
    }catch(err){}
}

function Clear_DataGrid_Product(){
    Create_Table_Product();
}

function Create_Table_Product(){
    Clear_DataGrid_Product_('mercyTable_Product');

    try {
        obj_html_Table_Product = $('#mercyTable_Product').DataTable({
            "bAutoWidth": false
            , "bFilter": false
            , "dom": '<"top">rt<"bottom"iflp><"clear">'
            , "scrollX": true
            , "scrollY": false //"200px"
            //, "scrollCollapse": true
            , "paging": true
            //, "ordering": false
            , "columns": [
                { "data": "ProductId", "name": "ProductId", "autoWidth": true, visible: false}
                , {
                    render: function (data, type, full, meta){
                        return lineNumber_Data_Product;
                    }
                    , visible: false
                }
                , {
                    render: function (data, type, full, meta) {
                        return '<div style="width:50px !important;">'+
                                '<input type="hidden" id="data_ProductId' + object_id_additional_Product + '" value="' + full.ProductId + '"/>' +
                                '<i id="data_link_Edit_Product' + object_id_additional_Product + '" onclick="javascript:processLink_Edit_Product(this)" class="fa fa-edit" style="cursor: pointer;font-size: 20px;color:white;' + (isNew_Product?'display:none;':(permission.Is_Edit?'':'display:none;')) + '" title="Edit"></i>' +
                                '<i id="data_link_Delete_Product' + object_id_additional_Product + '" onclick="javascript:processLink_Delete_Product(this)" class="fa fa-trash" style="cursor: pointer;font-size: 20px;color:white;margin-left:10px;' + (isNew_Product?'display:none;':(permission.Is_Delete?'':'display:none;')) + '" title="Delete"></i>' +
                                '<i id="data_link_Save_Product' + object_id_additional_Product + '" onclick="javascript:processLink_Save_Product(this)" class="fa fa-save" style="cursor: pointer;font-size: 20px;color:white;' + (isNew_Product?'':'display:none;') + '" title="Save"></i>' +
                                '<i id="data_link_Cancel_Product' + object_id_additional_Product + '" onclick="javascript:processLink_Cancel_Product(this)" class="fa fa-times" style="cursor: pointer;font-size: 20px;color:white;margin-left:10px;' + (isNew_Product?'':'display:none;') + '" title="Cancel"></i>'
                                '</div>'
                                ;
                    }
                    , className: "mercy_action_icon"
                    , orderable: false
                    , width: "50px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return (isNew_Product?'':lineNumber_Data_Product.toString() + '.');
                    }
                    , className: "mercy_text_right"
                    , orderable: false
                    , width: "20px"
                }
                , { "data": "CompanyName", "name": "CompanyName", width: "70px", visible: (company_value == 'all'), orderable: false }
                , {
                    "render": function (data, type, full, meta){
                        return '<span id="data_ProductName_label' + object_id_additional_Product + '" style="' + (isNew_Product?'display:none;':'') + '">' + full.ProductName + '</span>' +
                               '<input type="text" id="data_ProductName_txt' + object_id_additional_Product + '" class="shadow-none" value="' + full.ProductName + '" ' + ' style="width:150px;' + (isNew_Product?'':'display:none;') + '"/>'
                               ;
                    }
                    , width: "200px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return '<span id="data_CV_Product_label' + object_id_additional_Product + '" style="' + (isNew_Product?'display:none;':'') + '">' + addCommas(full.CV_Str) + '</span>' +
                               '<input type="text" id="data_CV_Product_txt' + object_id_additional_Product + '" class="shadow-none" value="' + full.CV + '" ' + ' style="width:50px;text-align:right;' + (isNew_Product?'':'display:none;') + '"/>'
                               ;
                    }
                    , className: "mercy_text_right"
                    , width: "60px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return '<span id="data_TS_Product_label' + object_id_additional_Product + '" style="' + (isNew_Product?'display:none;':'') + '">' + addCommas(full.TS_Str) + '</span>' +
                               '<input type="text" id="data_TS_Product_txt' + object_id_additional_Product + '" class="shadow-none" value="' + full.TS + '" ' + ' style="width:50px;text-align:right;' + (isNew_Product?'':'display:none;') + '"/>'
                               ;
                    }
                    , className: "mercy_text_right"
                    , width: "60px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return '<span id="data_ASH_Product_label' + object_id_additional_Product + '" style="' + (isNew_Product?'display:none;':'') + '">' + addCommas(full.ASH_Str) + '</span>' +
                               '<input type="text" id="data_ASH_Product_txt' + object_id_additional_Product + '" class="shadow-none" value="' + full.ASH + '" ' + ' style="width:50px;text-align:right;' + (isNew_Product?'':'display:none;') + '"/>'
                               ;
                    }
                    , className: "mercy_text_right"
                    , width: "60px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return '<span id="data_IM_Product_label' + object_id_additional_Product + '" style="' + (isNew_Product?'display:none;':'') + '">' + addCommas(full.IM_Str) + '</span>' +
                               '<input type="text" id="data_IM_Product_txt' + object_id_additional_Product + '" class="shadow-none" value="' + full.IM + '" ' + ' style="width:50px;text-align:right;' + (isNew_Product?'':'display:none;') + '"/>'
                               ;
                    }
                    , className: "mercy_text_right"
                    , width: "60px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return '<span id="data_TM_Product_label' + object_id_additional_Product + '" style="' + (isNew_Product?'display:none;':'') + '">' + addCommas(full.TM_Str) + '</span>' +
                               '<input type="text" id="data_TM_Product_txt' + object_id_additional_Product + '" class="shadow-none" value="' + full.TM + '" ' + ' style="width:50px;text-align:right;' + (isNew_Product?'':'display:none;') + '"/>'
                               ;
                    }
                    , className: "mercy_text_right"
                    , width: "60px"
                }
            ]
            , "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }
            ]
            , "order": [[1, 'asc']]
        });

        obj_html_Table_Product.on('draw', function () {});
        
        // Resize Table: because this DataTable is newly created
        resize_Table();
    }catch(err){}
}

function Populate_DataGrid_Product(){
    if (is_still_AJAX_dataList_Product) return;
    
    is_still_AJAX_dataList_Product = true;
    
    Clear_DataGrid_Product();
    
    // reset
    lineNumber_Data_Product = 0;
    object_id_Created_Product = [];
    object_id_Deleted_Product = [];
    
    // data from AJAX
    $.ajax({
        url: api_Request + '/Api/X_Product'
        , type: 'POST'
        , data: {u_menu:get_user_menu, u_relation:get_user_relation, company:company_value, txt:$('#txtSearch_Name').val()}
        , dataType: "json"
        , beforeSend: function (request){
            // Set "Token" in HTTP_Header
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data){
            is_still_AJAX_dataList_Product = false;
            
            if ( ! $.trim(data)) {
                // empty data
                return;
            }
            
            if ( ! data.Success){
                alert(data.Message);
                
                window.location = '/NoAccess';
                return;
            }
            
            // Special Purpose, getting information of CurrentUser
            if (get_user_menu == '1'){
                after_GetUserInfo(data.User);
                uInfo = data.User;
                
                Create_Table_Product();
                
                Populate_Data_ddl_Company();
            }
            
            // reset
            get_user_menu = '0';
            get_user_relation = '0';
            
            // we need "Permission" information
            permission = data.Permission;
            
            // make it "Intuitive"
            Display_Buttons_Product_ROM();
            //Display_Buttons_InLine_Editing();
            
            // assign Data to Table
            /*try {
                obj_html_Table_Product.rows.add(data.Items); // add to DataTable instance
                obj_html_Table_Product.draw(); // always redraw
            }catch(err){}*/
            
            data.Items.forEach(
                function (item){
                    isNew_Product = false;
                    object_Created_Count_Product++;
                    lineNumber_Data_Product++;
                    object_id_additional_Product = '_' + object_Created_Count_Product.toString() + '_' + lineNumber_Data_Product.toString();
                    
                    // save to Array
                    object_id_Created_Product.push(object_id_additional_Product);
                    
                    // add to Table
                    obj_html_Table_Product.row.add(item).draw(false);
                }
            );
            
            $("input[type='text']").on("change", function (e) {
                //console.log(e);
                input_validation(e.currentTarget.id, "Product");
            });

            // Resize Table: because this DataTable is filled with new Data
            resize_Table();
        },
        error: function (error){
            is_still_AJAX_dataList_Product = false;
            
            $(this).remove();
        }
    });
}

function processLink_Add_Product(){
    // -- Global Flag
    if (is_Mode_Editor_Product) return;
    
    if ($('#ddl_Company').val() == 'all') return;
    
    // create "Record_Item"
    var item = {CompanyCode:'', CompanyName:'', ProductId:-1, ProductName:'', CV:0, TS:0, ASH: 0, IM: 0, TM: 0
                    , CV_Str:'0', TS_Str:'0', ASH_Str:'0', IM_Str:'0', TM_Str:'0'
                };
    
    // flag for "New Record"
    isNew_Product = true;
    
    // do "Counting"
    object_Created_Count_Product++;
    lineNumber_Data_Product++;
    object_id_additional_Product = '_' + object_Created_Count_Product.toString() + '_' + lineNumber_Data_Product.toString();
    
    // save to Array
    object_id_Created_Product.push(object_id_additional_Product);
    
    // add to Table
    obj_html_Table_Product.row.add(item).draw(false);
    
    is_Mode_Editor_Product = true;
    $('#btnAdd_Product').addClass('mercy_button_Add_disable');
    $("input[type='text']").on("change", function (e) {
        //console.log(e);
        input_validation(e.currentTarget.id, "Product");
    });
}

function processLink_Edit_Product(p_this){
    // -- Global Flag
    if (is_Mode_Editor_Product) return;
    
    // just reminder about Pattern
    // pattern is: {LABEL}'_' + object_Created_Count_Product + '_' + lineNumber_Data_Product;
    
    try {
        var target_id = p_this.id;
        var target_id_additional = target_id.replace('data_link_Edit_Product', '');
        
        $('#data_link_Edit_Product' + target_id_additional).hide();
        $('#data_link_Delete_Product' + target_id_additional).hide();
        $('#data_link_Save_Product' + target_id_additional).show();
        $('#data_link_Cancel_Product' + target_id_additional).show();
        
        // Firstly, copy data
        $('#data_ProductName_txt' + target_id_additional).val($('#data_ProductName_label' + target_id_additional).text());
        $('#data_CV_Product_txt' + target_id_additional).val($('#data_CV_Product_label' + target_id_additional).text());
        $('#data_TS_Product_txt' + target_id_additional).val($('#data_TS_Product_label' + target_id_additional).text());
        $('#data_ASH_Product_txt' + target_id_additional).val($('#data_ASH_Product_label' + target_id_additional).text());
        $('#data_IM_Product_txt' + target_id_additional).val($('#data_IM_Product_label' + target_id_additional).text());
        $('#data_TM_Product_txt' + target_id_additional).val($('#data_TM_Product_label' + target_id_additional).text());
        
        // Secondly, set Show/Hide
        $('#data_ProductName_label' + target_id_additional).hide();
        $('#data_ProductName_txt' + target_id_additional).show();
        $('#data_CV_Product_label' + target_id_additional).hide();
        $('#data_CV_Product_txt' + target_id_additional).show();
        $('#data_TS_Product_label' + target_id_additional).hide();
        $('#data_TS_Product_txt' + target_id_additional).show();
        $('#data_ASH_Product_label' + target_id_additional).hide();
        $('#data_ASH_Product_txt' + target_id_additional).show();
        $('#data_IM_Product_label' + target_id_additional).hide();
        $('#data_IM_Product_txt' + target_id_additional).show();
        $('#data_TM_Product_label' + target_id_additional).hide();
        $('#data_TM_Product_txt' + target_id_additional).show();
    }catch(err){}
    
    is_Mode_Editor_Product = true;
    $('#btnAdd_Product').addClass('mercy_button_Add_disable');
}

function processLink_Cancel_Product(p_this){
    // just reminder about Pattern
    // pattern is: {LABEL}'_' + object_Created_Count_Product + '_' + lineNumber_Data_Product;
    
    var target_id = p_this.id;
    var target_id_additional = target_id.replace('data_link_Cancel_Product', '');
    
    try {
        $('#data_link_Edit_Product' + target_id_additional).show();
        $('#data_link_Delete_Product' + target_id_additional).show();
        $('#data_link_Save_Product' + target_id_additional).hide();
        $('#data_link_Cancel_Product' + target_id_additional).hide();
        
        $('#data_ProductName_label' + target_id_additional).show();
        $('#data_ProductName_txt' + target_id_additional).hide();
        $('#data_CV_Product_label' + target_id_additional).show();
        $('#data_CV_Product_txt' + target_id_additional).hide();
        $('#data_TS_Product_label' + target_id_additional).show();
        $('#data_TS_Product_txt' + target_id_additional).hide();
        $('#data_ASH_Product_label' + target_id_additional).show();
        $('#data_ASH_Product_txt' + target_id_additional).hide();
        $('#data_IM_Product_label' + target_id_additional).show();
        $('#data_IM_Product_txt' + target_id_additional).hide();
        $('#data_TM_Product_label' + target_id_additional).show();
        $('#data_TM_Product_txt' + target_id_additional).hide();

        $("input[id*='" + "data_CV_Product_txt" + "']").removeClass("mercy_input_text_invalid");
        $("input[id*='" + "data_TS_Product_txt" + "']").removeClass("mercy_input_text_invalid");
        $("input[id*='" + "data_ASH_Product_txt" + "']").removeClass("mercy_input_text_invalid");
        $("input[id*='" + "data_IM_Product_txt" + "']").removeClass("mercy_input_text_invalid");
        $("input[id*='" + "data_TM_Product_txt" + "']").removeClass("mercy_input_text_invalid");

    }catch(err){}
    
    isNew_Product = false;
    is_Mode_Editor_Product = false;
    $('#btnAdd_Product').removeClass('mercy_button_Add_disable');
    
    var recordId = $('#data_ProductId' + target_id_additional).val();
    if (recordId == '' || recordId == '-1'){
        action = 'Create';
    }else{
        action = 'Edit';
        return;
    }
    
    try {
        var lineFound = -1;
        var line = 0;
        $.each(object_id_Created_Product, function( i, val ){
            line++;
            if (val == target_id_additional)
            {
                lineFound = line;
            }
        });
        
        if (lineFound >= 0){
            var $rows = $("#mercyTable_Product tr");
            //lineFound--;
            $rows.eq(lineFound).hide();
        }
    }catch(err){}
}

function processLink_Save_Product(p_this){
    var action = 'Create';
    
    var target_id = p_this.id;
    var target_id_additional = target_id.replace('data_link_Save_Product', '');
    
    if ($('#data_ProductName_txt' + target_id_additional).val() == ''){
        alert('Product must not be empty!');
        return;
    }
    
    if ( ! Is_Valid_Numeric('#data_CV_Product_txt' + target_id_additional)){
        alert('CV must Valid Numeric value!');
        return;
    }
    
    if ( ! Is_Valid_Numeric('#data_TS_Product_txt' + target_id_additional)){
        alert('TS must Valid Numeric value!');
        return;
    }
    
    if ( ! Is_Valid_Numeric('#data_ASH_Product_txt' + target_id_additional)){
        alert('ASH must Valid Numeric value!');
        return;
    }
    
    if ( ! Is_Valid_Numeric('#data_IM_Product_txt' + target_id_additional)){
        alert('IM must Valid Numeric value!');
        return;
    }
    
    if ( ! Is_Valid_Numeric('#data_TM_Product_txt' + target_id_additional)){
        alert('TM must Valid Numeric value!');
        return;
    }
    
    var recordId = $('#data_ProductId' + target_id_additional).val();
    if (recordId == '' || recordId == '-1'){
        action = 'Create';
    }else{
        action = 'Edit';
    }
    
    // data to AJAX
    $.ajax({
        url: api_Request + '/Api/X_Product/'+action
        , type: 'POST'
        , data: {'.id':recordId
                , 'company':$('#ddl_Company').val()
                , 'name':$('#data_ProductName_txt' + target_id_additional).val()
                , 'cv':$('#data_CV_Product_txt' + target_id_additional).val()
                , 'ts':$('#data_TS_Product_txt' + target_id_additional).val()
                , 'ash':$('#data_ASH_Product_txt' + target_id_additional).val()
                , 'im':$('#data_IM_Product_txt' + target_id_additional).val()
                , 'tm':$('#data_TM_Product_txt' + target_id_additional).val()
        }
        , dataType: "json"
        , beforeSend: function (request){
            // Set "Token" in HTTP_Header
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data){
            if ( ! $.trim(data)){
                // empty data
                alert('empty data');
                return;
            }
            
            if ( ! data.Success){
                alert(data.Message);
                return;
            }
                            
            isNew_Product = false;
            is_Mode_Editor_Product = false;
            
            if ($('#ddl_Company').val() != 'all'){
                $('#btnAdd_Product').removeClass('mercy_button_Add_disable');
            }

            alert('Success');
            
            Populate_DataGrid_Product();
        },
        error: function (error){
            $(this).remove();
        }
    });
}

function processLink_Delete_Product(p_this){
    // -- Global Flag
    if (is_Mode_Editor_Product) return;
    
    if ( ! confirm('Are you sure to delete ?')) return;
    
    var action = 'Delete';
    
    var target_id = p_this.id;
    var target_id_additional = target_id.replace('data_link_Delete_Product', '');
        
    // data to AJAX
    $.ajax({
        url: api_Request + '/Api/X_Product/'+action
        , type: 'GET'
        , data: {'.id':$('#data_ProductId' + target_id_additional).val()}
        , dataType: "json"
        , beforeSend: function (request){
            // Set "Token" in HTTP_Header
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data){
            if ( ! $.trim(data)){
                // empty data
                alert('empty data');
                return;
            }
            
            if ( ! data.Success){
                alert(data.Message);
                return;
            }
        
            alert('Success Delete');
                
            Populate_DataGrid_Product();
        },
        error: function (error){
            $(this).remove();
        }
    });
}

function OnKeyUp_Text(p_this){
    Populate_DataGrid_Product();
}


function Create_ddl_Company() {
    if (obj_html_Company != null) return;

    obj_html_Company = $('#ddl_Company').select2({
        placeholder: 'Select Company'
        , tags: false
        , multiple: false
        //, tokenSeparators: [',', ' ']
        //, minimumInputLength: 3
        , minimumResultsForSearch: -1
    });

    $('#ddl_Company').change(function (e) {
        OnChange_ddl_Company();
    });
}

function OnChange_ddl_Company() {
    
    if (ignore_trigger_change_ddl_Company) return;
    
    window.location = '/Companyv/ProductROM?company=' + $('#ddl_Company').val();
}

function Populate_Data_ddl_Company() {
    Clear_ddl_Company();
    
    // add Label: "ALL"
    var option = new Option('-- ALL', 'all', true, true);
    obj_html_Company.append(option);//.trigger('change');

    // get data from AJAX
    $.ajax({
        url: api_Request + '/Api/Company/Get_ddl'
        , type: 'GET'
        , dataType: "json"
        , beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data) {
            if (!$.trim(data)) {
                // empty data
                return;
            }
            
            if ( ! data.Success){
                alert(data.Message);
                return;
            }
            
            data.Items.forEach(
                function (item) {
                    // create the option and append to Select2
                    option = new Option(item.text, item.id, true, true);
                    obj_html_Company.append(option);//.trigger('change');
                }
            );

            // Inisial value
            ignore_trigger_change_ddl_Company = true;
            $('#ddl_Company').val(company_value).trigger('change');
            ignore_trigger_change_ddl_Company = false;
        },
        error: function (error) {
            $(this).remove();
        }
    });
}

function Clear_ddl_Company() {}

var get_user_menu_product = '1';
var get_user_relation_product = '1';
var get_user_menu_rom = '1';
var get_user_relation_rom = '1';

function Load_Page_List_Local(){
    get_user_menu = '1';
    get_user_relation = '1';
    
    get_user_menu_product = '1';
    get_user_relation_product = '1';
    get_user_menu_rom = '1';
    get_user_relation_rom = '1';
    
    Populate_DataGrid_Product();
    Populate_DataGrid();
}

function addCommas(nStr) {
    try {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }

        return x1 + x2;
    }catch (err) { }

    return nStr.toString();
}

function Is_Valid_Numeric(p_id){
    var val_x = $(p_id).val().replace(',', '');
    
    if ($.isNumeric(val_x)){
        return true;
    }
    
    return false;
}

function Display_Buttons_Product_ROM(){
    // always reset
    $('#btnAdd_Product').hide();
    $('#btnAdd').hide();
    
    try {
        
        // check based on Permission
        if (permission.Is_Add){
            $('#btnAdd_Product').show();
            $('#btnAdd').show();
            
            if (company_value == 'all'){
                $('#btnAdd_Product').addClass('mercy_button_Add_disable');
                $('#btnAdd').addClass('mercy_button_Add_disable');
            }else{
                $('#btnAdd_Product').removeClass('mercy_button_Add_disable');
                $('#btnAdd').removeClass('mercy_button_Add_disable');
            }
        }
    }catch(err){}
}

function Clear_DataGrid_(p_id){
    try {
        $('#' + p_id).DataTable().clear().destroy();
        //$('#'+p_id).DataTable().destroy();
    }catch(err){}
    
    try {
        $('#'+p_id+' tbody').empty();
    }catch(err){}
}

function Clear_DataGrid(){
    Create_Table();
}

function Create_Table(){
    Clear_DataGrid_('mercyTable_ROM');
    try {
        obj_html_Table_ROM = $('#mercyTable_ROM').DataTable({
            "bAutoWidth": false
            , "bFilter": false
            , "dom": '<"top">rt<"bottom"iflp><"clear">'
            , "scrollX": true
            , "scrollY": false //"200px"
            //, "scrollCollapse": true
            , "paging": true
            //, "ordering": false
            , "columns": [
                { "data": "ROMId", "name": "ROMId", "autoWidth": true }
                , {
                    render: function (data, type, full, meta){
                        return lineNumber_Data;
                    }
                    , visible: false
                }
                , {
                    render: function (data, type, full, meta) {
                        return '<div style="width:50px !important;">'+
                                '<input type="hidden" id="data_RecordId' + object_id_additional + '" value="' + full.ROMId + '"/>' +
                                '<i id="data_link_Edit' + object_id_additional + '" onclick="javascript:processLink_Edit(this)" class="fa fa-edit" style="cursor: pointer;font-size: 20px;color:white;' + (isNew?'display:none;':(permission.Is_Edit?'':'display:none;')) + '" title="Edit"></i>' +
                                '<i id="data_link_Delete' + object_id_additional + '" onclick="javascript:processLink_Delete(this)" class="fa fa-trash" style="cursor: pointer;font-size: 20px;color:white;margin-left:10px;' + (isNew?'display:none;':(permission.Is_Delete?'':'display:none;')) + '" title="Delete"></i>' +
                                '<i id="data_link_Save' + object_id_additional + '" onclick="javascript:processLink_Save(this)" class="fa fa-save" style="cursor: pointer;font-size: 20px;color:white;' + (isNew?'':'display:none;') + '" title="Save"></i>' +
                                '<i id="data_link_Cancel' + object_id_additional + '" onclick="javascript:processLink_Cancel(this)" class="fa fa-times" style="cursor: pointer;font-size: 20px;color:white;margin-left:10px;' + (isNew?'':'display:none;') + '" title="Cancel"></i>'
                                '</div>'
                                ;
                    }
                    , className: "mercy_action_icon"
                    , orderable: false
                    , width: "50px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return (isNew?'':lineNumber_Data.toString() + '.');
                    }
                    , className: "mercy_text_right"
                    , orderable: false
                    , width: "20px"
                }
                , { "data": "CompanyName", "name": "CompanyName", width: "70px", visible: (company_value == 'all'), orderable: false }
                , {
                    "render": function (data, type, full, meta){
                        return '<span id="data_ROMName_label' + object_id_additional + '" style="' + (isNew?'display:none;':'') + '">' + full.ROMName + '</span>' +
                               '<input type="text" id="data_ROMName_txt' + object_id_additional + '" class="shadow-none" value="' + full.ROMName + '" ' + ' style="width:150px;' + (isNew?'':'display:none;') + '"/>'
                               ;
                    }
                    , width: "200px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return '<span id="data_Ton_label' + object_id_additional + '" style="' + (isNew?'display:none;':'') + '">' + addCommas(full.Ton.toString()) + '</span>' +
                               '<input type="text" id="data_Ton_txt' + object_id_additional + '" class="shadow-none" value="' + full.Ton + '" ' + ' style="width:50px;text-align:right;' + (isNew?'':'display:none;') + '"/>'
                               ;
                    }
                    , className: "mercy_text_right"
                    , width: "60px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return '<span id="data_CV_label' + object_id_additional + '" style="' + (isNew?'display:none;':'') + '">' + addCommas(full.CV_Str) + '</span>' +
                               '<input type="text" id="data_CV_txt' + object_id_additional + '" class="shadow-none" value="' + full.CV + '" ' + ' style="width:50px;text-align:right;' + (isNew?'':'display:none;') + '"/>'
                               ;
                    }
                    , className: "mercy_text_right"
                    , width: "60px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return '<span id="data_TS_label' + object_id_additional + '" style="' + (isNew?'display:none;':'') + '">' + addCommas(full.TS_Str) + '</span>' +
                               '<input type="text" id="data_TS_txt' + object_id_additional + '" class="shadow-none" value="' + full.TS + '" ' + ' style="width:50px;text-align:right;' + (isNew?'':'display:none;') + '"/>'
                               ;
                    }
                    , className: "mercy_text_right"
                    , width: "60px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return '<span id="data_ASH_label' + object_id_additional + '" style="' + (isNew?'display:none;':'') + '">' + addCommas(full.ASH_Str) + '</span>' +
                               '<input type="text" id="data_ASH_txt' + object_id_additional + '" class="shadow-none" value="' + full.ASH + '" ' + ' style="width:50px;text-align:right;' + (isNew?'':'display:none;') + '"/>'
                               ;
                    }
                    , className: "mercy_text_right"
                    , width: "60px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return '<span id="data_IM_label' + object_id_additional + '" style="' + (isNew?'display:none;':'') + '">' + addCommas(full.IM_Str) + '</span>' +
                               '<input type="text" id="data_IM_txt' + object_id_additional + '" class="shadow-none" value="' + full.IM + '" ' + ' style="width:50px;text-align:right;' + (isNew?'':'display:none;') + '"/>'
                               ;
                    }
                    , className: "mercy_text_right"
                    , width: "60px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return '<span id="data_TM_label' + object_id_additional + '" style="' + (isNew?'display:none;':'') + '">' + addCommas(full.TM_Str) + '</span>' +
                               '<input type="text" id="data_TM_txt' + object_id_additional + '" class="shadow-none" value="' + full.TM + '" ' + ' style="width:50px;text-align:right;' + (isNew?'':'display:none;') + '"/>'
                               ;
                    }
                    , className: "mercy_text_right"
                    , width: "60px"
                }
            ]
            , "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }
            ]
            //, "order": [[3, 'desc'], [4, 'asc']]
            , "order": [[1, 'asc']]
        });

        obj_html_Table_ROM.on('draw', function () {});
        
        // Resize Table: because this DataTable is newly created
        resize_Table();
    }catch(err){}
}

function Populate_DataGrid(){
    if (is_still_AJAX_dataList) return;
    
    is_still_AJAX_dataList = true;
    
    Clear_DataGrid();
    
    // reset
    lineNumber_Data = 0;
    object_id_Created = [];
    object_id_Deleted = [];
    
    // data from AJAX
    $.ajax({
        'async': false
        ,url: api_Request + '/Api/X_ROM'
        , type: 'POST'
        , data: {u_menu:get_user_menu_rom, u_relation:get_user_relation_rom, company:company_value, txt:$('#txtSearch_Name').val()}
        , dataType: "json"
        , beforeSend: function (request){
            // Set "Token" in HTTP_Header
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data){
            is_still_AJAX_dataList = false;
            
            if ( ! $.trim(data)) {
                // empty data
                return;
            }
            
            if ( ! data.Success){
                alert(data.Message);
                
                window.location = '/NoAccess';
                return;
            }
            
            // Special Purpose, getting information of CurrentUser
            if (get_user_menu_rom == '1'){
                after_GetUserInfo(data.User);
                uInfo = data.User;
                
                Create_Table();
            }
            
            // reset
            get_user_menu_rom = '0';
            get_user_relation_rom = '0';
            
            // we need "Permission" information
            permission = data.Permission;
            
            // make it "Intuitive"
            Display_Buttons_Product_ROM();
            //Display_Buttons_InLine_Editing();
            
            // assign Data to Table
            /*try {
                obj_html_Table_ROM.rows.add(data.Items); // add to DataTable instance
                obj_html_Table_ROM.draw(); // always redraw
            }catch(err){}*/
            
            data.Items.forEach(
                function (item){
                    isNew = false;
                    object_Created_Count++;
                    lineNumber_Data++;
                    object_id_additional = '_' + object_Created_Count.toString() + '_' + lineNumber_Data.toString();
                    
                    // save to Array
                    object_id_Created.push(object_id_additional);
                    
                    // add to Table
                    obj_html_Table_ROM.row.add(item).draw(false);
                }
            );
            
            $("input[type='text']").on("change", function (e) {
                //console.log(e);
                input_validation(e.currentTarget.id, "");
            });

            // Resize Table: because this DataTable is filled with new Data
            resize_Table();
        },
        error: function (error){
            is_still_AJAX_dataList = false;
            
            $(this).remove();
        }
    });
}

function processLink_Add(){
    // -- Global Flag
    if (is_Mode_Editor) return;
    
    if ($('#ddl_Company').val() == 'all') return;
    
    // create "Record_Item"
    var item = {CompanyCode:'', CompanyName:'', ROMId:-1, ROMName:'', Ton:0, CV:0, TS:0, ASH: 0, IM: 0, TM: 0
                    , CV_Str:'0', TS_Str:'0', ASH_Str:'0', IM_Str:'0', TM_Str:'0'
                };
                    
    // flag for "New Record"
    isNew = true;
    
    // do "Counting"
    object_Created_Count++;
    lineNumber_Data++;
    object_id_additional = '_' + object_Created_Count.toString() + '_' + lineNumber_Data.toString();
    
    // save to Array
    object_id_Created.push(object_id_additional);
    
    // add to Table
    obj_html_Table_ROM.row.add(item).draw(false);
    
    is_Mode_Editor = true;
    $('#btnAdd').addClass('mercy_button_Add_disable');
    $("input[type='text']").on("change", function (e) {
        //console.log(e);
        input_validation(e.currentTarget.id, "");
    });

}

function processLink_Edit(p_this){
    // -- Global Flag
    if (is_Mode_Editor) return;
    
    // just reminder about Pattern
    // pattern is: {LABEL}'_' + object_Created_Count + '_' + lineNumber_Data;
    
    try {
        var target_id = p_this.id;
        var target_id_additional = target_id.replace('data_link_Edit', '');
        
        $('#data_link_Edit' + target_id_additional).hide();
        $('#data_link_Delete' + target_id_additional).hide();
        $('#data_link_Save' + target_id_additional).show();
        $('#data_link_Cancel' + target_id_additional).show();
        
        // Firstly, copy data
        $('#data_ROMName_txt' + target_id_additional).val($('#data_ROMName_label' + target_id_additional).text());
        $('#data_Ton_txt' + target_id_additional).val($('#data_Ton_label' + target_id_additional).text());
        $('#data_CV_txt' + target_id_additional).val($('#data_CV_label' + target_id_additional).text());
        $('#data_TS_txt' + target_id_additional).val($('#data_TS_label' + target_id_additional).text());
        $('#data_ASH_txt' + target_id_additional).val($('#data_ASH_label' + target_id_additional).text());
        $('#data_IM_txt' + target_id_additional).val($('#data_IM_label' + target_id_additional).text());
        $('#data_TM_txt' + target_id_additional).val($('#data_TM_label' + target_id_additional).text());
        
        // Secondly, set Show/Hide
        $('#data_ROMName_label' + target_id_additional).hide();
        $('#data_ROMName_txt' + target_id_additional).show();
        $('#data_Ton_label' + target_id_additional).hide();
        $('#data_Ton_txt' + target_id_additional).show();
        $('#data_CV_label' + target_id_additional).hide();
        $('#data_CV_txt' + target_id_additional).show();
        $('#data_TS_label' + target_id_additional).hide();
        $('#data_TS_txt' + target_id_additional).show();
        $('#data_ASH_label' + target_id_additional).hide();
        $('#data_ASH_txt' + target_id_additional).show();
        $('#data_IM_label' + target_id_additional).hide();
        $('#data_IM_txt' + target_id_additional).show();
        $('#data_TM_label' + target_id_additional).hide();
        $('#data_TM_txt' + target_id_additional).show();
    }catch(err){}
    
    is_Mode_Editor = true;
    $('#btnAdd').addClass('mercy_button_Add_disable');
}

function processLink_Cancel(p_this){
    // just reminder about Pattern
    // pattern is: {LABEL}'_' + object_Created_Count + '_' + lineNumber_Data;
    
    var target_id = p_this.id;
    var target_id_additional = target_id.replace('data_link_Cancel', '');
        
    try {
        $('#data_link_Edit' + target_id_additional).show();
        $('#data_link_Delete' + target_id_additional).show();
        $('#data_link_Save' + target_id_additional).hide();
        $('#data_link_Cancel' + target_id_additional).hide();
        
        $('#data_ROMName_label' + target_id_additional).show();
        $('#data_ROMName_txt' + target_id_additional).hide();
        $('#data_Ton_label' + target_id_additional).show();
        $('#data_Ton_txt' + target_id_additional).hide();
        $('#data_CV_label' + target_id_additional).show();
        $('#data_CV_txt' + target_id_additional).hide();
        $('#data_TS_label' + target_id_additional).show();
        $('#data_TS_txt' + target_id_additional).hide();
        $('#data_ASH_label' + target_id_additional).show();
        $('#data_ASH_txt' + target_id_additional).hide();
        $('#data_IM_label' + target_id_additional).show();
        $('#data_IM_txt' + target_id_additional).hide();
        $('#data_TM_label' + target_id_additional).show();
        $('#data_TM_txt' + target_id_additional).hide();

        $("input[id*='" + "data_CV_txt" + "']").removeClass("mercy_input_text_invalid");
        $("input[id*='" + "data_TS_txt" + "']").removeClass("mercy_input_text_invalid");
        $("input[id*='" + "data_ASH_txt" + "']").removeClass("mercy_input_text_invalid");
        $("input[id*='" + "data_IM_txt" + "']").removeClass("mercy_input_text_invalid");
        $("input[id*='" + "data_TM_txt" + "']").removeClass("mercy_input_text_invalid");

    }catch(err){}
    
    isNew = false;
    is_Mode_Editor = false;
    $('#btnAdd').removeClass('mercy_button_Add_disable');
    
    var recordId = $('#data_RecordId' + target_id_additional).val();
    if (recordId == '' || recordId == '-1'){
        action = 'Create';
    }else{
        action = 'Edit';
        return;
    }
    
    try {
        var lineFound = -1;
        var line = 0;
        $.each(object_id_Created, function( i, val ){
            line++;
            if (val == target_id_additional)
            {
                lineFound = line;
            }
        });
        
        if (lineFound >= 0){
            var $rows = $("#mercyTable_ROM tr");
            //lineFound--;
            $rows.eq(lineFound).hide();
        }
    }catch(err){}
}

function processLink_Save(p_this){
    var action = 'Create';
    
    var target_id = p_this.id;
    var target_id_additional = target_id.replace('data_link_Save', '');
    
    if ($('#data_ROMName_txt' + target_id_additional).val() == ''){
        alert('Buyer must not be empty!');
        return;
    }
    
    if ( ! Is_Valid_Numeric('#data_Ton_txt' + target_id_additional)){
        alert('Ton must Valid Integer value!');
        return;
    }
    
    if ( ! Is_Valid_Numeric('#data_CV_txt' + target_id_additional)){
        alert('CV must Valid Numeric value!');
        return;
    }
    
    if ( ! Is_Valid_Numeric('#data_TS_txt' + target_id_additional)){
        alert('TS must Valid Numeric value!');
        return;
    }
    
    if ( ! Is_Valid_Numeric('#data_ASH_txt' + target_id_additional)){
        alert('ASH must Valid Numeric value!');
        return;
    }
    
    if ( ! Is_Valid_Numeric('#data_IM_txt' + target_id_additional)){
        alert('IM must Valid Numeric value!');
        return;
    }
    
    if ( ! Is_Valid_Numeric('#data_TM_txt' + target_id_additional)){
        alert('TM must Valid Numeric value!');
        return;
    }
    
    var recordId = $('#data_RecordId' + target_id_additional).val();
    if (recordId == '' || recordId == '-1'){
        action = 'Create';
    }else{
        action = 'Edit';
    }
    
    // data to AJAX
    $.ajax({
        url: api_Request + '/Api/X_ROM/'+action
        , type: 'POST'
        , data: {'.id':recordId
                , 'company':$('#ddl_Company').val()
                , 'name':$('#data_ROMName_txt' + target_id_additional).val()
                , 'ton':$('#data_Ton_txt' + target_id_additional).val()
                , 'cv':$('#data_CV_txt' + target_id_additional).val()
                , 'ts':$('#data_TS_txt' + target_id_additional).val()
                , 'ash':$('#data_ASH_txt' + target_id_additional).val()
                , 'im':$('#data_IM_txt' + target_id_additional).val()
                , 'tm':$('#data_TM_txt' + target_id_additional).val()
        }
        , dataType: "json"
        , beforeSend: function (request){
            // Set "Token" in HTTP_Header
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data){
            if ( ! $.trim(data)){
                // empty data
                alert('empty data');
                return;
            }
            
            if ( ! data.Success){
                alert(data.Message);
                return;
            }
             
            isNew = false;
            is_Mode_Editor = false;
            
            $('#btnAdd').removeClass('mercy_button_Add_disable');

            alert('Success');
            
            Populate_DataGrid();
        },
        error: function (error){
            $(this).remove();
        }
    });
}

function processLink_Delete(p_this){
    // -- Global Flag
    if (is_Mode_Editor) return;
    
    if ( ! confirm('Are you sure to delete ?')) return;
    
    var action = 'Delete';
    
    var target_id = p_this.id;
    var target_id_additional = target_id.replace('data_link_Delete', '');
        
    // data to AJAX
    $.ajax({
        url: api_Request + '/Api/X_ROM/'+action
        , type: 'GET'
        , data: {'.id':$('#data_RecordId' + target_id_additional).val()}
        , dataType: "json"
        , beforeSend: function (request){
            // Set "Token" in HTTP_Header
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data){
            if ( ! $.trim(data)){
                // empty data
                alert('empty data');
                return;
            }
            
            if ( ! data.Success){
                alert(data.Message);
                return;
            }
            
            alert('Success Delete');
                    
            Populate_DataGrid();
        },
        error: function (error){
            $(this).remove();
        }
    });
}

function validate_numeric(x) {
    if (!isNaN(parseFloat(x)) && isFinite(x)) {
        return true; //OK
    } else {
        return false; //Not OK
    }    
}

function input_validation(id, p_param) {
    if (p_param != "") {
        p_param = p_param +"_"
        var vid =  "data_" + id.split("_")[1] + "_"+ p_param + "txt_" + id.split("_")[4] + "_" + id.split("_")[5] ;
    } else {
        var vid =  "data_" + id.split("_")[1] + "_"+ p_param + "txt_" + id.split("_")[3] + "_" + id.split("_")[4] ;
    }

    if (validate_numeric($("input[id*='" + vid + "']").val() )) {
    //if (validate_numeric("test")) {
        $("input[id*='" + vid + "']").removeClass("mercy_input_text_invalid");
        //alert("ok " + vid );
    } else {
        $("input[id*='" + vid + "']").addClass("mercy_input_text_invalid");
        //alert("NOT " + vid );
    }
}

function synchronizeProduct() {
    $('#title_text_sync').html('Please Wait, Synchronization Product In Progress...');
    $('#modal_sync').modal().appendTo('body');
    
    var formData = new FormData();
    formData.append('company', company_value);
    
    $.ajax({
        xhr: function () {
            var xhr = new window.XMLHttpRequest();
            
            // Download progress
            xhr.addEventListener('progress', function(ev) {
                if (ev.lengthComputable) {
                    // Remove `fractionDigits` to avoid long percentage text
                    var completePercentage = Number((ev.loaded / ev.total) * 100).toFixed(0);
                    $('#percentage_text_sync').html(`${completePercentage}%`);
                    $('#sync_progress').css('width', `${completePercentage}%`);
                }
            }, false);
            
            return xhr;
        },
        url: `${api_Request}/Api/Company/SynchronizeProduct`,
        type: 'POST',
        data: formData,
        contentType: false,
        processData: false,
        dataType: 'json',
        beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        },
        cache: false,
        success: function (data) {
            if (!$.trim(data)) {
                // empty data
                return;
            }
            
            if (!data.Success) {
                $('#modal_sync').modal('hide');
                alert(data.Message);
                return;
            }
            
            Populate_DataGrid_Product();
            
            // delay hide modal to avoid blinking element
            setTimeout(function () {
                $('#modal_sync').modal('hide');
            }, 2000);
        },
        error: function (error) {
            $('#modal_sync').modal('hide');
            $(this).remove();
        }
    });
}

function synchronizeRom() {
    $('#title_text_sync').html('Please Wait, Synchronization ROM In Progress...');
    $('#modal_sync').modal().appendTo('body');
        
    var formData = new FormData();
    formData.append('company', company_value);
    
    $.ajax({
        xhr: function () {
            var xhr = new window.XMLHttpRequest();
        
            // Download progress
            xhr.addEventListener('progress', function(ev) {
                if (ev.lengthComputable) {
                    // Remove `fractionDigits` to avoid long percentage text
                    var completePercentage = Number((ev.loaded / ev.total) * 100).toFixed(0);
                    $('#percentage_text_sync').html(`${completePercentage}%`);
                    $('#sync_progress').css('width', `${completePercentage}%`);
                }
            }, false);
                
            return xhr;
        },
        url: `${api_Request}/Api/Company/SynchronizeROM`,
        type: 'POST',
        data: formData,
        contentType: false,
        processData: false,
        dataType: 'json',
        beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        },
        cache: false,
        success: function (data) {
            if (!$.trim(data)) {
                // empty data
                return;
            }
                
            if (!data.Success) {
                $('#modal_sync').modal('hide');
                alert(data.Message);
                return;
            }
            
            Populate_DataGrid();
                
            // delay hide modal to avoid blinking element
            setTimeout(function () {
                $('#modal_sync').modal('hide');
            }, 2000);
        },
        error: function (error) {
            $('#modal_sync').modal('hide');
            $(this).remove();
        }
    });
}
</script>
