@using MERCY.Web.FrontEnd.Helpers;

@{
    string ui_name               = @"a-Bootstrap-v4_4_1";
    UserInterface userInterface  = new UserInterface(ui_name);
    string ui_Folder_ServerSide  = userInterface.Folder_ServerSide;
    string ui_Folder_Client_Side = userInterface.Folder_ClientSide;

    Layout = ui_Folder_ServerSide + "_Layout.cshtml";
}

<style>
#id_menu_ROMTransfer {
    background-color: #000000;
    border-radius: 4px;
    /*opacity: 0.2;*/
    background: rgba(0,0,0,0.2);
    height: 52px;
    margin: 5px 8px;
}

.filter_title {
    color: #232323;
    font-family: 'OpenSans-SemiBold';
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    opacity: 0.8700000047683716;
    text-align: left;
    height: 20px;
}


.oval {
    background-color: #FFFFFF;
    border: 1px solid #C9CDDB;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}

.no-hauling {
    color: #232323;
    font-family: 'NotoSans-Regular';
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
}

.mercy_input_text_by_textbox_blending {
    background-color: rgba(180, 178, 239, 0.18) !important;
    border: 1px solid #CBCBCB !important;
    border-radius: 4px !important;
    /*box-shadow: 0 8px 24px 0 rgba(0, 145, 255, 0.18) !important;*/
    width: 140px;
    height: 34px;
    color: #3F3F3F;
    font-family: 'OpenSans';
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
}

.mercy_input_text_by_outlook {
    color: #3F3F3F !important;
    font-family: 'OpenSans' !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 17px;
    text-align: left;
}

.mercy_target {
    color: #463191;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    opacity: 0.8700000047683716;
    text-align: left;
}

.mercy_by-outlook {
    color: #463191;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    opacity: 0.8700000047683716;
    text-align: left;
}

.mercy_line {
    border: 1px solid #D4D4D4;
}

.mercy_chk_destination {
    width: 100px;
}

#mercyTable_info, #mercyTable_length, #mercyTable_paginate, #table_ROM_Quality_info, #table_ROM_Quality_length, #table_ROM_Quality_paginate {
    display: none;
}

#table_ROM_Quality_wrapper {
    width: 100%;
}

    #table_ROM_Quality_wrapper.dataTables_wrapper.dt-bootstrap4.no-footer div.dataTables_scroll div.dataTables_scrollBody {
        border: 1px solid #ced4da;
    }

.mercy_align_right {
    text-align: right !important;
}

.mercy_cell_textbox {
    padding-top: 8px !important;
    padding-bottom: 0px !important;
}

.mercy_portion {
    background-color: #FFFFFF;
    border: 1px solid #CBCBCB;
    border-radius: 3px;
    width: 55px;
    height: 24px;
    font-family: 'NotoSans-Regular';
}

.mercy_textbox_green {
    background-color: #60C159 !important;
}

.mercy_textbox_red {
    background-color: #E73232 !important;
}

.mercy_textbox_yellow {
    background-color: #FFBD50 !important;
}

.ts_file_button {
    height: 25px;
    width: 100px;
    background: blue;
    color: white;
    border: 0;
    -webkit-appearance: none;
    
    color: #FFFFFF;
    /*font-family: 'Poppins-SemiBold';*/
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    
    background-color: #00B4A5;
    border: 1px solid #AFAFB9;
    border-radius: 4px;
    width: 79px;
    height: 17px;
}

.select2-selection--single{
    height: 34px !important;
}
.select2-selection__choice {
    height: 34px !important;
}
.select2-selection__arrow{
    height: 32px !important;
}

input[type="text"]{
	height: 34px !important;
}

.mercy_date:disabled
,.mercy_input_text:disabled
,input[type="checkbox"]:disabled {
    background-color: #eee;
    color: #6c757d;
}

input[type="checkbox"]:disabled + label {
	background-color: #eee;
}

.mercy_text_number {
    background-color: #FFFFFF;
    border: 1px solid #CBCBCB;
    border-radius: 3px;
    width: 55px;
    height: 26px;
    font-family: 'NotoSans-Regular';
    text-align:right;
}

.mercy_textbox_green {
    background-color: #60C159 !important;
}

.mercy_textbox_red {
    background-color: #E73232 !important;
}

.mercy_textbox_yellow {
    background-color: #FFBD50 !important;
}

</style>

<link href="@ui_Folder_Client_Side/css/select2.min.css" rel="stylesheet" />
<script src="@ui_Folder_Client_Side/js/select2.min.js"></script>

<div class="col margin_padding_0 mercy_box_inner">
    <div class="row margin_padding_0 mercy_page_Title">
        New Sparepart
    </div>
    <div class="row margin_padding_0 mercy_page_Title_2">
        Consumable > New Sparepart
    </div>
    <div class="row margin_padding_0 mercy_box_inner_content" style="min-height:150px !important;min-width:400px !important;padding-bottom:15px !important;">
        <div class="col-12 col-md">
            <div class="row margin_padding_0">
                <div class="col-12 col-md margin_padding_0">
                    <div class="row margin_padding_0">
                        <div class="col margin_padding_0" style="padding-top: 15px !important;">
                            <div style="width:100%" class="filter_title">Site</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <select id="ddl_Site" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row margin_padding_0">
                        <div class="col margin_padding_0" style="padding-top: 15px !important;">
                            <div style="width:100%" class="filter_title">Instrument</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <select id="ddl_Instrument" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row margin_padding_0">
                        <div class="col margin_padding_0" style="padding-top: 15px !important;">
                            <div style="width:100%" class="filter_title">Part Number</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <input type="text" class="form-control shadow-none mercy_input_text" id="txtPartNumber" placeholder="Enter number" />
                            </div>
                        </div>
                    </div>
                    <div class="row margin_padding_0">
                        <div class="col-12 col-md margin_padding_0">
                            <div style="width:100%;" class="filter_title">Current Quantity</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <input type="text" class="form-control shadow-none mercy_input_text mercy_align_right" id="txtCurrentQuantity" placeholder="Enter number" value="0" onkeyup="OnKeyUp_TextBox_Integer(this)" />
                            </div>
                        </div>
                        <div class="col-12 col-md margin_padding_0">
                            <div style="width:100%;" class="filter_title">Minimum Quantity</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <input type="text" class="form-control shadow-none mercy_input_text mercy_align_right" id="txtMinimumQuantity" placeholder="Enter number" value="0" onkeyup="OnKeyUp_TextBox_Integer(this)" />
                            </div>
                        </div>
                    </div>
                    <div class="row margin_padding_0">
                        <div class="col margin_padding_0" style="padding-top: 15px !important;">
                            <div style="width:100%" class="filter_title">Unit Measurement</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <select id="ddl_UnitType" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row margin_padding_0">
                        <div class="col margin_padding_0" style="padding-top: 15px !important;">
                            <div style="width:100%" class="filter_title">Reorder Days</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <input type="text" class="form-control shadow-none mercy_input_text mercy_align_right" id="txtReorderDays" placeholder="Enter number" value="0" onkeyup="OnKeyUp_TextBox_Integer(this)" />
                            </div>
                        </div>
                    </div>
                    <div class="row margin_padding_0">
                        <div class="col margin_padding_0" style="padding-top: 15px !important;">
                            <div style="width:100%" class="filter_title">Notes File</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <input type="text" class="form-control shadow-none mercy_input_text" id="txtNotesFile" placeholder="no file selected" />
                            </div>
                            <div style="width:100%;padding:10px 20px 10px 0px;margin-top:-50px;text-align:right;">
                                <input id="fileInput" style="display: none !important;" type="file" />
                                <input type="submit" class="ts_file_button" value="Choose file" id="btnChooseFile" style="padding: 0px 0px 2px 14px !important;" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md margin_padding_0">
                    <div class="row margin_padding_0">
                        <div class="col margin_padding_0" style="padding-top: 15px !important;">
                            <div style="width:100%" class="filter_title">Company</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <select id="ddl_Company" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row margin_padding_0">
                        <div class="col margin_padding_0" style="padding-top: 15px !important;">
                            <div style="width:100%" class="filter_title">Part Name</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <input type="text" class="form-control shadow-none mercy_input_text" id="txtPartName" placeholder="Enter name" />
                            </div>
                        </div>
                    </div>
                    <div class="row margin_padding_0">
                        <div class="col margin_padding_0" style="padding-top: 15px !important;">
                            <div style="width:100%" class="filter_title">MSDS Code</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <input type="text" class="form-control shadow-none mercy_input_text" id="txtMSDSCode" placeholder="Enter code number" />
                            </div>
                        </div>
                    </div>
                    <div class="row margin_padding_0">
                        <div class="col-12 col-md margin_padding_0">
                            <div style="width:100%;" class="filter_title">Input Quantity</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <input type="text" class="form-control shadow-none mercy_input_text mercy_align_right" id="txtInputQuantity" placeholder="Enter number" value="0" onkeyup="OnKeyUp_Input_Output(this)" />
                            </div>
                        </div>
                        <div class="col-12 col-md margin_padding_0">
                            <div style="width:100%;" class="filter_title">Output Quantity</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <input type="text" class="form-control shadow-none mercy_input_text mercy_align_right" id="txtOutputQuantity" placeholder="Enter number" value="0" onkeyup="OnKeyUp_Input_Output(this)" />
                            </div>
                        </div>
                    </div>
                    <div class="row margin_padding_0">
                        <div class="col margin_padding_0" style="padding-top: 15px !important;">
                            <div style="width:100%" class="filter_title">Price</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <input type="text" class="form-control shadow-none mercy_input_text mercy_align_right" id="txtPrice" placeholder="Enter price" value="0" onkeyup="OnKeyUp_TextBox_Integer(this)" />
                            </div>
                        </div>
                    </div>
                    <div class="row margin_padding_0">
                        <div class="col margin_padding_0" style="padding-top: 15px !important;">
                            <div style="width:100%" class="filter_title">Remark</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <input type="text" class="form-control shadow-none mercy_input_text" id="txtRemark" placeholder="Enter text" />
                            </div>
                        </div>
                    </div>
                    <div class="row margin_padding_0">
                        <div class="col margin_padding_0" style="padding-top: 15px !important;">
                            <div style="width:100%" class="filter_title">Picture File</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <input type="text" class="form-control shadow-none mercy_input_text" id="txtPictureFile" placeholder="no file selected" />
                            </div>
                            <div style="width:100%;padding:10px 20px 10px 0px;margin-top:-50px;text-align:right;">
                                <input id="fileInput2" style="display: none !important;" type="file" />
                                <input type="submit" class="ts_file_button" value="Choose file" id="btnChooseFile2" style="padding: 0px 0px 2px 14px !important;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-auto margin_padding_0" style="padding-top:45px !important;">
            <div style="width: 140px;margin:auto;">
                <div class="col col-md-auto margin_padding_0"><div class="mercy_button" style="width:100px;" id="btnSave"><div class="mercy_text_center">Save</div></div></div>
            </div>
            <div style="width: 140px;padding-top:20px;margin:auto;">
                <div class="col col-md-auto margin_padding_0"><div class="mercy_button_2" style="width:100px;" id="btnCancel"><div class="mercy_text_center">Cancel</div></div></div>
            </div>
        </div>
    </div>
    <div id="divHistory" class="row margin_padding_0 mercy_box_inner_content" style="min-height:150px !important;min-width:400px !important;padding-bottom: 20px !important;display:none;">
        <div class="col-12 col-md">
            <div style="width:100%;margin-top:20px;" class="filter_title">History</div>
            <div class="row margin_padding_0">
                <table id="mercyTable" class="display nowrap table table-striped mercy_table mercy_table_header" style="width:100%;">
                    <thead>
                        <tr>
                            <th>RecordId</th>
                            <th>No</th>
                            <th>Date</th>
                            <th>Action By</th>
                            <th>Balance</th>
                            <th>Min. Qty</th>
                            <th>In</th>
                            <th>Out</th>
                            <th>Remark</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

// some Flags for some Components
var ignore_trigger_change_ddl_Instrument = false;
var ignore_trigger_change_ddl_UnitType = false;

// DataGrid
var obj_html_Table;
var lineNumber_Data = 0;

// DropdownList
var obj_html_Instrument = null;
var obj_html_UnitType = null;
var obj_html_Site;
var obj_html_Company;

var current_Quantity = 0;

var file_NotesFile_Changed = false;
var file_PictureFile_Changed = false;

var data_Site = '';
var data_Company = '';
var data_Instrument = '';
var data_UnitType = '';
            
$(document).ready(function () {

    if (paramid == null || paramid == '') {
        $(document).attr('title', 'New Sparepart - Add');
    }else{
        $(document).attr('title', 'Edit Sparepart - Edit');
        $(".mercy_page_Title").text('Edit Sparepart');
        $(".mercy_page_Title_2").text('Consumable > Edit Sparepart');
    }
    
    $(window).resize(function (){
        // Resize Table: because the Window is Resized
        resize_Table();
    });
    
    $('#btnSave').click(function (e) {
        SaveData();
    });

    $('#btnCancel').click(function (e) {
        window.location = mercyUrl('/Consumablev');
    });
    
    $('#btnChooseFile').on('click', function () {
        btnChooseFile_Click();
    });
        
    $('#btnChooseFile2').on('click', function () {
        btnChooseFile2_Click();
    });
    
    $('#fileInput').on('change', function () {
        file_NotesFile_Changed = true;
        
        $("#txtNotesFile").val($('#fileInput')[0].files[0].name);
    });
    
    $('#fileInput2').on('change', function () {
        file_PictureFile_Changed = true;
        
        $("#txtPictureFile").val($('#fileInput2')[0].files[0].name);
    });

    Create_ddl_Site();
    Create_ddl_Company();
    Create_ddl_Instrument();
    Create_ddl_UnitType();
    
    Load_Page_Form();
});

var recordNumber = 0;

function Create_ddl_Site() {
    if (!!obj_html_Site) return;

    obj_html_Site = $('#ddl_Site').select2({
        placeholder: 'Select Site'
        , tags: false
        , multiple: false
    });

    $('#ddl_Site').change(function (e) {
        OnChange_ddl_Site();
    });
}

function OnChange_ddl_Site() {
    Populate_Data_ddl_Company();
}

function Clear_ddl_Site() {
    Create_ddl_Site();
}

function Populate_Data_ddl_Site() {
    try {
        uInfo.Relations.Sites
            .forEach(function (item) {
                obj_html_Site.append(new Option(item.SiteName, item.SiteId, true, true));
            });

        if (data_Site) {
            $('#ddl_Site').val(data_Site).trigger('change');
        } else {
            $('#ddl_Site').val($("#ddl_Site option:first").val()).trigger('change');
        }
    } catch (err) { }
}

function Create_ddl_Company() {
    if (!!obj_html_Company) return;

    obj_html_Company = $('#ddl_Company').select2({
        placeholder: 'Select Company'
        , tags: false
        , multiple: false
    });

    $('#ddl_Company').change(function (e) {
        OnChange_ddl_Company();
    });
}

function OnChange_ddl_Company() {
    Populate_Data_ddl_Instrument();
}

function Clear_ddl_Company() {
    Create_ddl_Company();
}

function Populate_Data_ddl_Company() {
    $('#ddl_Company').empty();
    try {

        var siteId = $('#ddl_Site').val();
        uInfo.Relations.Companies
            .filter((item) => Number(item.SiteId) === Number(siteId))
            .forEach(function (item) {
                obj_html_Company.append(new Option(item.CompanyName, item.CompanyCode, true, true));
            });

        if (data_Company) {
            $('#ddl_Company').val(data_Company).trigger('change');
        } else {
            $('#ddl_Company').val($("#ddl_Company option:first").val()).trigger('change');
        }
    } catch (err) { }
}

function Create_ddl_Instrument() {
    if (obj_html_Instrument != null) return;

    obj_html_Instrument = $('#ddl_Instrument').select2({
        placeholder: 'Select instrument'
        , tags: false
        , multiple: false
    });

    $('#ddl_Instrument').change(function (e) {
        OnChange_ddl_Instrument();
    });
}

function OnChange_ddl_Instrument() {
    if (ignore_trigger_change_ddl_Instrument) return;
}

function Create_ddl_UnitType() {
    if (obj_html_UnitType != null) return;

    obj_html_UnitType = $('#ddl_UnitType').select2({
        placeholder: 'Select Unit Measurement'
        , tags: false
        , multiple: false
    });

    $('#ddl_UnitType').change(function (e) {
        OnChange_ddl_UnitType();
    });
}

function OnChange_ddl_UnitType() {
    if (ignore_trigger_change_ddl_UnitType) return;
}

function Clear_ddl_Instrument() {
    obj_html_Instrument.empty()
    Create_ddl_Instrument();
}

function Clear_ddl_UnitType() {}

function Populate_Data_ddl_Instrument() {
    Clear_ddl_Instrument();

    var option = null;
    var siteId = $('#ddl_Site').val();
    var companyCode = $('#ddl_Company').val();
    // get data from AJAX
    $.ajax({
        url: api_Request + '/Api/Instruments/Get_ddl?InstrumentType=Lab Consumable'
        , type: 'GET'
        , dataType: "json"
        , data: {
            company: data_Company || companyCode,
            site: data_Site || siteId
        }
        , beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data) {
            if (!$.trim(data)) {
                // empty data
            }
            else {
                data.Items.forEach(
                    function (item) {
                        // create the option and append to Select2
                        option = new Option(item.text, item.id, true, true);
                        obj_html_Instrument.append(option);//.trigger('change');
                    }
                );
                
                // Inisial value
                $('#ddl_Instrument').val(data_Instrument).trigger('change');
            }
        },
        error: function (error) {
            $(this).remove();
        }
    });
}

function Populate_Data_ddl_UnitType() {
    Clear_ddl_UnitType();

    var option = null;

    // get data from AJAX
    $.ajax({
        url: api_Request + '/Api/UnitMeasurements/Get_ddl'
        , type: 'GET'
        , dataType: "json"
        , beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data) {
            if (!$.trim(data)) {
                // empty data
            }
            else {
                data.Items.forEach(
                    function (item) {
                        // create the option and append to Select2
                        option = new Option(item.text, item.id, true, true);
                        obj_html_UnitType.append(option);//.trigger('change');
                    }
                );
                
                // Inisial value
                $('#ddl_UnitType').val(data_UnitType).trigger('change');
            }
        },
        error: function (error) {
            $(this).remove();
        }
    });
}

function SaveData() {
    if ( ! validate_All()) return;

    $('#imgLoading').show();

    var action = 'Create';
    if (paramid == null || paramid == '') { }
    else action = 'Edit?.id=' + paramid;
    
    var formData = new FormData();

    formData.append('SiteId', $('#ddl_Site').val());
    formData.append('CompanyCode', $('#ddl_Company').val());
    formData.append('Instrument', $('#ddl_Instrument').val());
    formData.append('CurrentQuantity', $("#txtCurrentQuantity").val());
    formData.append('MinimumQuantity', $("#txtMinimumQuantity").val());
    formData.append('UnitType', $("#ddl_UnitType").val());
    formData.append('ReoderDays', $("#txtReorderDays").val());
    formData.append('PartName', $("#txtPartName").val());
    formData.append('PartNumber', $("#txtPartNumber").val());
    formData.append('MSDS_Code', $("#txtMSDSCode").val());
    formData.append('InputQuantity', $("#txtInputQuantity").val());
    formData.append('OutputQuantity', $("#txtOutputQuantity").val());
    formData.append('Price', $("#txtPrice").val());
    formData.append('Remark', $("#txtRemark").val());
    
    if (file_NotesFile_Changed){
        try{
            formData.append('file', $('#fileInput')[0].files[0]);
        }catch(err){}
    }
    
    if (file_PictureFile_Changed){
        try{
            formData.append('file2', $('#fileInput2')[0].files[0]);
        }catch(err){}
    }
    
    $.ajax({
        url: api_Request + '/Api/Consumable/' + action,
        data: formData,
        processData: false,  // tell jQuery not to process the data
        contentType: false,  // tell jQuery not to set contentType
        type: 'POST',
        dataType: "json",
        cache: false,
        beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        },
        success: function (data) {
            $('#imgLoading').hide();

            if (!$.trim(data)) {
                // empty data
            }
            else {
                if (data.Success) {
                    alert('Success Save');
                    window.location = mercyUrl('/Consumablev');
                }
                else {
                    alert('Failed Save\n\n' + data.Message);
                }
            }
        },
        error: function (error) {
            //$(this).remove();
        }
    });
}

function validate_All() {
    if (!$("#ddl_Company").val() == null
        || $("#ddl_Company").val() == '') {
        alert("Company tidak boleh kosong!");
        return false;
    }

    if ($("#ddl_Site").val() == null
        || $("#ddl_Instrument").val() == '') {
        alert("Site tidak boleh kosong");
        return false;
    }

    if ($("#ddl_Instrument").val() == null
        || $("#ddl_Instrument").val() == '') {
        alert('Instrument tidak boleh kosong!');
        return false;
    }

    if ($("#ddl_UnitType").val() == null
        || $("#ddl_UnitType").val() == '') {
        alert('Unit Measurement tidak boleh kosong!');
        return false;
    }
    
    if ($("#txtPartName").val() == null
        || $("#txtPartName").val() == '') {
        alert('PartName tidak boleh kosong!');
        return false;
    }
    
    if ($("#txtPartNumber").val() == null
        || $("#txtPartNumber").val() == '') {
        alert('PartNumber tidak boleh kosong!');
        return false;
    }
    
    if ($("#txtMSDSCode").val() == null
        || $("#txtMSDSCode").val() == '') {
        alert('MSDSCode tidak boleh kosong!');
        return false;
    }
    
    if ($("#txtCurrentQuantity").val() == null
        || $("#txtCurrentQuantity").val() == '') {
        alert('CurrentQuantity tidak boleh kosong!');
        return false;
    }
    
    if ($("#txtMinimumQuantity").val() == null
        || $("#txtMinimumQuantity").val() == '') {
        alert('MinimumQuantity tidak boleh kosong!');
        return false;
    }
    
    if ($("#txtInputQuantity").val() == null
        || $("#txtInputQuantity").val() == '') {
        alert('InputQuantity tidak boleh kosong!');
        return false;
    }
    
    if ($("#txtOutputQuantity").val() == null
        || $("#txtOutputQuantity").val() == '') {
        alert('OutputQuantity tidak boleh kosong!');
        return false;
    }
    
    var _current = parseFloat($('#txtCurrentQuantity').val());
    if (_current < 0){
        alert('CurrentQuantity tidak boleh Negatif!');
        return false;
    }
    
    if ($("#txtPrice").val() == null
        || $("#txtPrice").val() == '') {
        alert('Price tidak boleh kosong!');
        return false;
    }
    
    if ($("#txtReorderDays").val() == null
        || $("#txtReorderDays").val() == '') {
        alert('ReorderDays tidak boleh kosong!');
        return false;
    }
    
    if ($("#txtRemark").val() == null
        || $("#txtRemark").val() == '') {
        alert('Remark tidak boleh kosong!');
        return false;
    }
    
    if ( ! Validate_Is_Integer2("#txtCurrentQuantity", false)){
        alert('CurrentQuantity harus berupa Bilangan');
        return false;
    }
    
    if ( ! Validate_Is_Integer2("#txtMinimumQuantity", false)){
        alert('MinimumQuantity harus berupa Bilangan');
        return false;
    }
    
    if ( ! Validate_Is_Integer2("#txtInputQuantity", false)){
        alert('InputQuantity harus berupa Bilangan');
        return false;
    }
    
    if ( ! Validate_Is_Integer2("#txtOutputQuantity", false)){
        alert('OutputQuantity harus berupa Bilangan');
        return false;
    }
    
    if ( ! Validate_Is_Integer2("#txtPrice", false)){
        alert('Price harus berupa Bilangan');
        return false;
    }
    
    if ( ! Validate_Is_Integer2("#txtReorderDays", false)){
        alert('ReorderDays harus berupa Bilangan');
        return false;
    }
    
    return true;
}

function DisplayData() {
    $.ajax({
        url: api_Request + '/Api/Consumable/Get',
        type: 'GET',
        data: {u_menu:get_user_menu, u_relation:get_user_relation, '.id':paramid},
        dataType: "json",
        cache: false,
        beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        },
        success: function (data) {
            $('#imgLoading').hide();

            if ( ! $.trim(data)) {
                // empty data
                return;
            }
            
            if ( ! data.Success){
                // special case: Id not found
                if (data.Message.indexOf('not found') !== -1){
                    after_GetUserInfo(data.User);
                    uInfo = data.User;
                }
                
                alert(data.Message);
                
                window.location = '/NoAccess';
                return;
            }
            
            // Special Purpose, getting information of CurrentUser
            if (get_user_menu == '1'){
                after_GetUserInfo(data.User);
                uInfo = data.User;
                
                Create_Table();
                
                Populate_Data_ddl_Site();
                Populate_Data_ddl_UnitType();
            }
            
            // reset
            get_user_menu = '0';
            get_user_relation = '0';
            
            // we need "Permission" information
            permission = data.Permission;
            
            // make it "Intuitive"
            Display_Buttons();
            
            if (Mode_Create()){
                // Stop here
                // data.Item is null
                return;
            }
            
            _readOnly = true;
            
            // because "ReadOnly"
            Switch_Mode_View();
            
            // some Flags for some Components
            ignore_trigger_change_ddl_UnitType = true;

            var item = data.Item;

            //$("#ddl_Instrument").attr("disabled", true);
            //$("#ddl_UnitType").attr("disabled", true);
            $("#ddl_Site").attr("disabled", true);
            $("#ddl_Company").attr("disabled", true);

            data_Site = item.SiteId;
            data_Company = item.CompanyCode;
            data_Instrument = item.Instrument;
            data_UnitType = item.UnitType;

            $('#ddl_Site').val(data_Site).trigger('change');
            current_Quantity = item.CurrentQuantity;
            $("#txtCurrentQuantity").val(current_Quantity);
            $("#txtMinimumQuantity").val(item.MinimumQuantity);
            $("#ddl_UnitType").val(item.UnitType).trigger('change');
            $("#txtReorderDays").val(item.ReoderDays);
            $("#txtPartName").val(item.PartName);
            $("#txtPartNumber").val(item.PartNumber);
            $("#txtMSDSCode").val(item.MSDS_Code);
            $("#txtInputQuantity").val(item.InputQuantity);
            $("#txtOutputQuantity").val(item.OutputQuantity);
            $("#txtPrice").val(item.Price);
            $("#txtRemark").val(item.Remark);
            $("#txtNotesFile").val(item.NotesFile);
            $("#txtPictureFile").val(item.PictureFile);
            
            $('#divHistory').show();
            data.Histories.forEach(
                function (item){
                    // do "Counting"
                    lineNumber_Data++;
                    
                    // add to Table
                    obj_html_Table.row.add(item).draw(false);
                }
            );
            
            // Resize Table: because this DataTable is filled with new Data
            resize_Table();
            
            ignore_trigger_change_ddl_UnitType = false;
            
            // langsung ubah jadi Mode Edit
            Switch_Mode_Edit();
        },
        error: function (error) {
            //$(this).remove();
        }
    });
}

function Create_Table(){
    try {
        obj_html_Table = $('#mercyTable').DataTable({
            "bAutoWidth": false
            , "bFilter": false
            , "dom": '<"top">rt<"bottom"iflp><"clear">'
            , "scrollX": true
            , "scrollY": false //"200px"
            //, "scrollCollapse": true
            , "paging": false
            //, "ordering": false
            , "columns": [
                { "data": "RecordId", "name": "RecordId", "autoWidth": true }
                , {
                    "render": function (data, type, full, meta){
                        return (lineNumber_Data.toString() + '.');
                    }
                    , className: "mercy_text_right"
                    , orderable: false
                    , width: "20px"
                }
                , { "data": "Date_Str", "name": "Date_Str", width: "140px"}
                , { "data": "FullName", "name": "FullName"}
                , {
                    "render": function (data, type, full, meta) {
                        return addCommas(full.CurrentQuantity.toString());
                    }
                    , className: "mercy_text_right"
                    , orderable: false
                    , width: "30px"
                }
                , {
                    "render": function (data, type, full, meta) {
                        return addCommas(full.MinimumQuantity.toString());
                    }
                    , className: "mercy_text_right"
                    , orderable: false
                    , width: "30px"
                }
                , {
                    "render": function (data, type, full, meta) {
                        return addCommas(full.InputQuantity.toString());
                    }
                    , className: "mercy_text_right"
                    , orderable: false
                    , width: "30px"
                }
                , {
                    "render": function (data, type, full, meta) {
                        return addCommas(full.OutputQuantity.toString());
                    }
                    , className: "mercy_text_right"
                    , orderable: false
                    , width: "30px"
                }
                , { "data": "Remark", "name": "Remark", "autoWidth": true }
            ]
            , "columnDefs": [{
                "targets": [0],
                "visible": false,
                "searchable": false
            }
            , {
                targets: [4,5,6,7]
                , className: "mercy_align_right"
            }
            , {
                targets: [1]
                , width: "10px"
            }
            ]
            , "order": [[0, "asc"]]
        });

        obj_html_Table.on('draw', function () {});

        resize_Table();
    }catch(err){}
}

function btnChooseFile_Click(){
    $('#fileInput').click();
}

function btnChooseFile2_Click(){
    $('#fileInput2').click();
}

var _readOnly = false;

function Is_ReadOnly(){
    return (Is_Display_Data() && _readOnly);
}

function Switch_Mode_View(){
    // ubah mode
    _readOnly = true;
        
    $("#txtCurrentQuantity").attr("disabled", true);
    $("#txtMinimumQuantity").attr("disabled", true);
    $("#txtInputQuantity").attr("disabled", true);
    $("#txtOutputQuantity").attr("disabled", true);
}

function Switch_Mode_Edit(){
    // ubah mode
    _readOnly = false;
    
    $("#txtCurrentQuantity").attr("disabled", true);
    $("#txtMinimumQuantity").attr("disabled", false);
    $("#txtInputQuantity").attr("disabled", false);
    $("#txtOutputQuantity").attr("disabled", false);
    
    $("#txtInputQuantity").val(0);
    $("#txtOutputQuantity").val(0);
    
    $("#txtRemark").val('');
}

function Switch_Mode_Add(){
    // ubah mode
    _readOnly = false;
    
    $("#txtCurrentQuantity").attr("disabled", false);
    $("#txtMinimumQuantity").attr("disabled", false);
    $("#txtInputQuantity").attr("disabled", true);
    $("#txtOutputQuantity").attr("disabled", true);
    
    $("#txtCurrentQuantity").val(0);
    $("#txtMinimumQuantity").val(0);
    $("#txtInputQuantity").val(0);
    $("#txtOutputQuantity").val(0);
    $("#txtReorderDays").val(0);
    $("#txtPrice").val(0);
    
    $('#txtCurrentQuantity').addClass('mercy_textbox_yellow');
    $('#txtMinimumQuantity').addClass('mercy_textbox_yellow');
    $('#txtReorderDays').addClass('mercy_textbox_yellow');
    $('#txtPrice').addClass('mercy_textbox_yellow');
}

function OnKeyUp_TextBox_Integer(p_this) {
    Validate_Is_Integer_include_Zero(p_this);
}

function OnKeyUp_Input_Output(p_this) {
    if (Validate_Is_Integer_include_Zero(p_this)){
        var _input = parseFloat($('#txtInputQuantity').val());
        var _output = parseFloat($('#txtOutputQuantity').val());
        
        if (_input == 0 && _output == 0){
            $("#txtCurrentQuantity").val(current_Quantity);
        }else{
            var x = current_Quantity + _input - _output;
            $("#txtCurrentQuantity").val(x);
        }
    }
}

function Validate_Is_Integer(p_id) {
    return Validate_Is_Integer2(p_id, true);
}

function Validate_Is_Integer2(p_id, p_change_Class) {
    p_id = '#' + p_id;
    p_id = p_id.replace('##', '#');
    
    if (p_change_Class) $(p_id).removeClass('mercy_textbox_red');
    
    var value = $(p_id).val();
    if (value == null || value == ''){
        if (p_change_Class) $(p_id).addClass('mercy_textbox_red');
        return false;
    }
    
    // hilangkan terlebih dahulu "Formatting tanda koma"
    value = value.replace(',', '');
    
    // check menggunakan function Standard:JavaScript Number.isInteger()
    if (!$.isNumeric(value)) {
        if (p_change_Class) $(p_id).addClass('mercy_textbox_red');
        
        return false;
    }
    
    return true;
}

function Validate_Is_Integer_include_Zero(p_this) {
    var id = p_this.id;
    
    $('#'+id).removeClass('mercy_textbox_yellow');
    $('#'+id).removeClass('mercy_textbox_red');
    
    if ( ! Validate_Is_Integer(id)){
        return false;
    }
    
    var value_str = $('#'+id).val();
    var value_float = parseFloat(value_str);
    if (value_float == 0){
        $('#'+id).addClass('mercy_textbox_yellow');
        //return false;
        // we treat 0 as true
        return true;
    }else if (value_float < 0){
        $('#'+id).addClass('mercy_textbox_red');
        return false;
    }
    
    return true;
}

function addCommas(nStr) {
    try {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }

        return x1 + x2;
    }catch (err) { }

    return nStr.toString();
}

</script>
