@using MERCY.Web.FrontEnd.Helpers;

@{
    string ui_name               = @"a-Bootstrap-v4_4_1";
    UserInterface userInterface  = new UserInterface(ui_name);
    string ui_Folder_ServerSide  = userInterface.Folder_ServerSide;
    string ui_Folder_Client_Side = userInterface.Folder_ClientSide;

    Layout = ui_Folder_ServerSide + "_Layout.cshtml";
}

<style>
#id_menu_ROMTransfer {
    background-color: #000000;
    border-radius: 4px;
    /*opacity: 0.2;*/
    background: rgba(0,0,0,0.2);
    height: 52px;
    margin: 5px 8px;
}

.filter_title {
    color: #232323;
    font-family: 'OpenSans-SemiBold';
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    opacity: 0.8700000047683716;
    text-align: left;
    height: 20px;
}

.select2-selection__choice__remove {
    float: right;
    margin-left: 5px /* I added to separate a little bit */
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #00b4a5 !important;
    border: 1px solid #aaa;
    border-radius: 4px;
    /*cursor: default;*/
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
    background-color: #00b4a5 !important;
    color: #FFFFFF !important;
    font-family: 'Poppins-Regular';
    /*font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;*/
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #FFFFFF !important;
}

.add-location {
    color: #00B4A5;
    font-family: 'Poppins-Medium';
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
}

.mercy_location td, .mercy_location th {
    padding: 4px !important;
}

.select2-selection--single{
    height: 34px !important;
}
.select2-selection__choice {
    /*height: 34px !important;*/
}
.select2-selection__arrow{
    height: 32px !important;
}

.select2-selection__choice {
    background-color: #00B4A5;
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
    height: 23px;
    font-family: 'Poppins-Regular';
}

.select2-selection__choice {
    padding-top: 3px !important;
}

.select2-selection select2-selection--single {
    height: 32px !important;
}

.select2-container .select2-selection--multiple{
    min-height:80px !important;
}

</style>

<link href="@ui_Folder_Client_Side/css/select2.min.css" rel="stylesheet" />
<script src="@ui_Folder_Client_Side/js/select2.min.js"></script>

<div class="col margin_padding_0">
    <div class="row margin_padding_0 mercy_page_Title">
        Direct Shipment
    </div>
    <div class="row margin_padding_0 mercy_page_Title_2">
        Direct Shipment
    </div>
    <div class="row margin_padding_0 mercy_box_inner_content">
        <div class="col margin_padding_0" style="padding: 0px 20px !important;">
            <div class="row margin_padding_0" style="margin-bottom:20px !important;">
                <div class="col col-md margin_padding_0" style="margin:20px 10px 0px 0px !important;">
                    <div>
                        <div class="mercy_button" style="width:100px;display:none" id="btnAdd"><div class="mercy_text_center">Add New</div></div>
                    </div>
                </div>
                <div class="col col-md-auto margin_padding_0" style="margin-top:20px !important;">
                    <div style="width:250px;">
                        <div>
                            <input type="text" id="txtSearch_Name" value="" class="shadow-none mercy_text_search" style="width: 250px !important;" placeholder="Search" onkeyup="OnKeyUp_Text(this)"/>
                        </div>
                        <div style="height:20px;width:100%;padding:0px 0px 0px 5px !important;margin:-32px 0px 0px 0px !important;">
                            <img src="/images/ic-search.png"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin_padding_0">
                <table id="mercyTable" class="display nowrap table table-striped table-hover mercy_table mercy_table_header" style="width:100%;">
                    <thead>
                        <tr>
                            <th>RecordId</th>
                            <th>No_Line</th>
                            <th><div style="color:white;text-align: center !important;">Action</div></th>
                            <th>No</th>
                            <th>Name of Buyer</th>
                            <th>Destination</th>
                            <th>CV</th>
                            <th>TS</th>
                            <th>ASH</th>
                            <th>IM</th>
                            <th>TM</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

// Flag
var is_still_AJAX_dataList = false;

// DataGrid
var obj_html_Table;
var obj_html_Destination;

// row
var isNew = false;
var is_Mode_Editor = false;
var lineNumber_Data = 0;
var object_Created_Count = 0;
var object_id_additional = ''; // pattern is: '_' + object_Created_Count + '_' + lineNumber_Data;
var object_id_Created = [];
var object_id_Deleted = [];

var destinations = [];

$(document).ready(function (){
    $(document).attr('title', 'Direct Shipment - List : Mercy');

    $(window).resize(function (){
        // Resize Table: because the Window is Resized
        resize_Table();
    });

    $('#btnAdd').click(function (e){
        processLink_Add();
    });
    
    $('#btnSave').click(function (e){
        SaveData();
    });
    
    $('#btnViewData').click(function (e){
        Populate_DataGrid();
    });
    
    Load_Page_List();
});

function Clear_DataGrid_(p_id){
    try {
        $('#' + p_id).DataTable().clear().destroy();
        //$('#'+p_id).DataTable().destroy();
    }catch(err){}
    
    try {
        $('#'+p_id+' tbody').empty();
    }catch(err){}
}

function Clear_DataGrid(){
    Create_Table();
}

function Create_Table(){
    Clear_DataGrid_('mercyTable');
    try {
        obj_html_Table = $('#mercyTable').DataTable({
            "bAutoWidth": false
            , "bFilter": false
            , "dom": '<"top">rt<"bottom"iflp><"clear">'
            , "scrollX": true
            , "scrollY": false //"200px"
            //, "scrollCollapse": true
            , "paging": true
            //, "ordering": false
            , "columns": [
                { "data": "RecordId", "name": "RecordId", "autoWidth": true }
                , {
                    render: function (data, type, full, meta){
                        return lineNumber_Data;
                    }
                    , visible: false
                }
                , {
                    render: function (data, type, full, meta) {
                        return '<div style="width:50px !important;">'+
                                '<input type="hidden" id="data_RecordId' + object_id_additional + '" value="' + full.RecordId + '"/>' +
                                '<i id="data_link_Edit' + object_id_additional + '" onclick="javascript:processLink_Edit(this)" class="fa fa-edit" style="cursor: pointer;font-size: 20px;color:white;' + (isNew?'display:none;':(permission.Is_Edit?'':'display:none;')) + '" title="Edit"></i>' +
                                '<i id="data_link_Delete' + object_id_additional + '" onclick="javascript:processLink_Delete(this)" class="fa fa-trash" style="cursor: pointer;font-size: 20px;color:white;margin-left:10px;' + (isNew?'display:none;':(permission.Is_Delete?'':'display:none;')) + '" title="Delete"></i>' +
                                '<i id="data_link_Save' + object_id_additional + '" onclick="javascript:processLink_Save(this)" class="fa fa-save" style="cursor: pointer;font-size: 20px;color:white;' + (isNew?'':'display:none;') + '" title="Save"></i>' +
                                '<i id="data_link_Cancel' + object_id_additional + '" onclick="javascript:processLink_Cancel(this)" class="fa fa-times" style="cursor: pointer;font-size: 20px;color:white;margin-left:10px;' + (isNew?'':'display:none;') + '" title="Cancel"></i>'
                                '</div>'
                                ;
                    }
                    , className: "mercy_action_icon"
                    , orderable: false
                    , width: "50px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return (isNew?'':lineNumber_Data.toString() + '.');
                    }
                    , className: "mercy_text_right"
                    , orderable: false
                    , width: "20px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return '<span id="data_BuyerName_label' + object_id_additional + '" style="' + (isNew?'display:none;':'') + '">' + full.BuyerName + '</span>' +
                               '<input type="text" id="data_BuyerName_txt' + object_id_additional + '" class="shadow-none" value="' + full.BuyerName + '" ' + ' style="width:150px;' + (isNew?'':'display:none;') + '"/>'
                               ;
                    }
                    , width: "200px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return '<span id="data_Destination_label' + object_id_additional + '" style="' + (isNew?'display:none;':'') + '">' + full.Destination_Str + '</span>' +
                               '<span id="data_Destination_label_Val' + object_id_additional + '" style="display:none;">' + full.Destination + '</span>' +
                               '<div id="ddl_Destination_Outer' + object_id_additional + '" style="display:none;"><select multiple="multiple" id="ddl_Destination' + object_id_additional + '" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="height:500px;width:100%;' + (isNew?'':'display:none;') + '"></select></div>'
                               ;
                    }
                    , width: "200px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return '<span id="data_CV_label' + object_id_additional + '" style="' + (isNew?'display:none;':'') + '">' + addCommas(full.CV_Str) + '</span>' +
                               '<input type="text" id="data_CV_txt' + object_id_additional + '" class="shadow-none" value="' + full.CV + '" ' + ' style="width:50px;text-align:right;' + (isNew?'':'display:none;') + '"/>'
                               ;
                    }
                    , className: "mercy_text_right"
                    , width: "60px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return '<span id="data_TS_label' + object_id_additional + '" style="' + (isNew?'display:none;':'') + '">' + addCommas(full.TS_Str) + '</span>' +
                               '<input type="text" id="data_TS_txt' + object_id_additional + '" class="shadow-none" value="' + full.TS + '" ' + ' style="width:50px;text-align:right;' + (isNew?'':'display:none;') + '"/>'
                               ;
                    }
                    , className: "mercy_text_right"
                    , width: "60px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return '<span id="data_ASH_label' + object_id_additional + '" style="' + (isNew?'display:none;':'') + '">' + addCommas(full.ASH_Str) + '</span>' +
                               '<input type="text" id="data_ASH_txt' + object_id_additional + '" class="shadow-none" value="' + full.ASH + '" ' + ' style="width:50px;text-align:right;' + (isNew?'':'display:none;') + '"/>'
                               ;
                    }
                    , className: "mercy_text_right"
                    , width: "60px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return '<span id="data_IM_label' + object_id_additional + '" style="' + (isNew?'display:none;':'') + '">' + addCommas(full.IM_Str) + '</span>' +
                               '<input type="text" id="data_IM_txt' + object_id_additional + '" class="shadow-none" value="' + full.IM + '" ' + ' style="width:50px;text-align:right;' + (isNew?'':'display:none;') + '"/>'
                               ;
                    }
                    , className: "mercy_text_right"
                    , width: "60px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return '<span id="data_TM_label' + object_id_additional + '" style="' + (isNew?'display:none;':'') + '">' + addCommas(full.TM_Str) + '</span>' +
                               '<input type="text" id="data_TM_txt' + object_id_additional + '" class="shadow-none" value="' + full.TM + '" ' + ' style="width:50px;text-align:right;' + (isNew?'':'display:none;') + '"/>'
                               ;
                    }
                    , className: "mercy_text_right"
                    , width: "60px"
                }
            ]
            , "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }
            ]
            //, "order": [[3, 'desc'], [4, 'asc']]
            , "order": [[1, 'asc']]
        });

        obj_html_Table.on('draw', function () {});
        
        // Resize Table: because this DataTable is newly created
        resize_Table();
    }catch(err){}
}

function Populate_DataGrid(){
    if (is_still_AJAX_dataList) return;
    
    is_still_AJAX_dataList = true;
    
    Clear_DataGrid();
    
    // reset
    lineNumber_Data = 0;
    object_id_Created = [];
    object_id_Deleted = [];
    
    // data from AJAX
    $.ajax({
        'async': false
        ,url: api_Request + '/Api/DirectShipment'
        , type: 'POST'
        , data: {u_menu:get_user_menu, u_relation:get_user_relation, txt:$('#txtSearch_Name').val()}
        , dataType: "json"
        , beforeSend: function (request){
            // Set "Token" in HTTP_Header
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data){
            is_still_AJAX_dataList = false;
            
            if ( ! $.trim(data)) {
                // empty data
                return;
            }
            
            if ( ! data.Success){
                alert(data.Message);
                
                window.location = '/NoAccess';
                return;
            }
            
            // Special Purpose, getting information of CurrentUser
            if (get_user_menu == '1'){
                after_GetUserInfo(data.User);
                uInfo = data.User;
                
                Create_Table();
            }
            
            // reset
            get_user_menu = '0';
            get_user_relation = '0';
            
            // we need "Permission" information
            permission = data.Permission;
            
            // make it "Intuitive"
            Display_Buttons();
            Display_Buttons_InLine_Editing();
            
            // assign Data to Table
            /*try {
                obj_html_Table.rows.add(data.Items); // add to DataTable instance
                obj_html_Table.draw(); // always redraw
            }catch(err){}*/
            
            destinations = data.Destinations;
            
            data.Items.forEach(
                function (item){
                    isNew = false;
                    object_Created_Count++;
                    lineNumber_Data++;
                    object_id_additional = '_' + object_Created_Count.toString() + '_' + lineNumber_Data.toString();
                    
                    // save to Array
                    object_id_Created.push(object_id_additional);
                    
                    // add to Table
                    obj_html_Table.row.add(item).draw(false);
                    
                    Create_ddl_Destination('#ddl_Destination' + object_id_additional.toString());
                    $('#ddl_Destination' + object_id_additional.toString()).val(item.Destination).trigger('change');
                }
            );
            
            // Resize Table: because this DataTable is filled with new Data
            resize_Table();
        },
        error: function (error){
            is_still_AJAX_dataList = false;
            
            $(this).remove();
        }
    });
}

function processLink_Add(){
    // -- Global Flag
    if (is_Mode_Editor) return;
    
    // create "Record_Item"
    var item = {CreatedOn_Str:'', CreatedOn_Str2:'', FullName:'', IsActive:false
                , RecordId:-1, BuyerName:'', Destination:'', Destination_Str:'', CV:0, TS:0, ASH: 0, IM: 0, TM: 0
                , CV_Str:'0', TS_Str:'0', ASH_Str:'0', IM_Str:'0', TM_Str:'0'
                    , CreatedBy: 0, CreatedOn : null, LastModifiedBy : 0, LastModifiedOn : null}
    
    // flag for "New Record"
    isNew = true;
    
    // do "Counting"
    object_Created_Count++;
    lineNumber_Data++;
    object_id_additional = '_' + object_Created_Count.toString() + '_' + lineNumber_Data.toString();
    
    // save to Array
    object_id_Created.push(object_id_additional);
    
    // add to Table
    obj_html_Table.row.add(item).draw(false);
    
    is_Mode_Editor = true;
    $('#btnAdd').addClass('mercy_button_Add_disable');
    
    // Special case for "Selection: multiple"
    Create_ddl_Destination('#ddl_Destination' + object_id_additional.toString());
    $('#ddl_Destination' + object_id_additional.toString()).val(null).trigger('change');
    $('#ddl_Destination_Outer' + object_id_additional.toString()).show();
}

function processLink_Edit(p_this){
    // -- Global Flag
    if (is_Mode_Editor) return;
    
    // just reminder about Pattern
    // pattern is: {LABEL}'_' + object_Created_Count + '_' + lineNumber_Data;
    
    try {
        var target_id = p_this.id;
        var target_id_additional = target_id.replace('data_link_Edit', '');
        
        $('#data_link_Edit' + target_id_additional).hide();
        $('#data_link_Delete' + target_id_additional).hide();
        $('#data_link_Save' + target_id_additional).show();
        $('#data_link_Cancel' + target_id_additional).show();
        
        // Firstly, copy data
        $('#data_BuyerName_txt' + target_id_additional).val($('#data_BuyerName_label' + target_id_additional).text());
        
        $('#ddl_Destination' + target_id_additional.toString()).val($('#data_Destination_label_Val' + target_id_additional).text().split(',')).trigger('change');
        
        $('#data_CV_txt' + target_id_additional).val($('#data_CV_label' + target_id_additional).text());
        $('#data_TS_txt' + target_id_additional).val($('#data_TS_label' + target_id_additional).text());
        $('#data_ASH_txt' + target_id_additional).val($('#data_ASH_label' + target_id_additional).text());
        $('#data_IM_txt' + target_id_additional).val($('#data_IM_label' + target_id_additional).text());
        $('#data_TM_txt' + target_id_additional).val($('#data_TM_label' + target_id_additional).text());
        
        // Secondly, set Show/Hide
        $('#data_BuyerName_label' + target_id_additional).hide();
        $('#data_BuyerName_txt' + target_id_additional).show();
        $('#data_Destination_label' + target_id_additional).hide();
        $('#ddl_Destination_Outer' + target_id_additional.toString()).show();
        $('#data_CV_label' + target_id_additional).hide();
        $('#data_CV_txt' + target_id_additional).show();
        $('#data_TS_label' + target_id_additional).hide();
        $('#data_TS_txt' + target_id_additional).show();
        $('#data_ASH_label' + target_id_additional).hide();
        $('#data_ASH_txt' + target_id_additional).show();
        $('#data_IM_label' + target_id_additional).hide();
        $('#data_IM_txt' + target_id_additional).show();
        $('#data_TM_label' + target_id_additional).hide();
        $('#data_TM_txt' + target_id_additional).show();
    }catch(err){}
    
    is_Mode_Editor = true;
    $('#btnAdd').addClass('mercy_button_Add_disable');
}

function processLink_Cancel(p_this){
    // just reminder about Pattern
    // pattern is: {LABEL}'_' + object_Created_Count + '_' + lineNumber_Data;
    
    var target_id = p_this.id;
    var target_id_additional = target_id.replace('data_link_Cancel', '');
        
    try {
        $('#data_link_Edit' + target_id_additional).show();
        $('#data_link_Delete' + target_id_additional).show();
        $('#data_link_Save' + target_id_additional).hide();
        $('#data_link_Cancel' + target_id_additional).hide();
        
        $('#data_BuyerName_label' + target_id_additional).show();
        $('#data_BuyerName_txt' + target_id_additional).hide();
        $('#data_Destination_label' + target_id_additional).show();
        $('#ddl_Destination_Outer' + target_id_additional).hide();
        $('#data_CV_label' + target_id_additional).show();
        $('#data_CV_txt' + target_id_additional).hide();
        $('#data_TS_label' + target_id_additional).show();
        $('#data_TS_txt' + target_id_additional).hide();
        $('#data_ASH_label' + target_id_additional).show();
        $('#data_ASH_txt' + target_id_additional).hide();
        $('#data_IM_label' + target_id_additional).show();
        $('#data_IM_txt' + target_id_additional).hide();
        $('#data_TM_label' + target_id_additional).show();
        $('#data_TM_txt' + target_id_additional).hide();
    }catch(err){}
    
    isNew = false;
    is_Mode_Editor = false;
    $('#btnAdd').removeClass('mercy_button_Add_disable');
    
    var recordId = $('#data_RecordId' + target_id_additional).val();
    if (recordId == '-1'){
        action = 'Create';
    }else{
        action = 'Edit';
        return;
    }
    
    try {
        var lineFound = -1;
        var line = 0;
        $.each(object_id_Created, function( i, val ){
            line++;
            if (val == target_id_additional)
            {
                lineFound = line;
            }
        });
        
        if (lineFound >= 0){
            var $rows = $("#mercyTable tr");
            //lineFound--;
            $rows.eq(lineFound).hide();
        }
    }catch(err){}
}

function processLink_Save(p_this){
    var action = 'Create';
    
    var target_id = p_this.id;
    var target_id_additional = target_id.replace('data_link_Save', '');
    
    if ($('#data_BuyerName_txt' + target_id_additional).val() == ''){
        alert('Data is not valid (Buyer is mandatory)');
        return;
    }
    
    if ($('#ddl_Destination' + target_id_additional).val() == ''){
        alert('Data is not valid (destination is mandatory)');
        return;
    }
    
    if ( ! Is_Valid_Numeric('#data_CV_txt' + target_id_additional)){
        alert('CV must Valid Numeric value!');
        return;
    }
    
    if ( ! Is_Valid_Numeric('#data_TS_txt' + target_id_additional)){
        alert('TS must Valid Numeric value!');
        return;
    }
    
    if ( ! Is_Valid_Numeric('#data_ASH_txt' + target_id_additional)){
        alert('ASH must Valid Numeric value!');
        return;
    }
    
    if ( ! Is_Valid_Numeric('#data_IM_txt' + target_id_additional)){
        alert('IM must Valid Numeric value!');
        return;
    }
    
    if ( ! Is_Valid_Numeric('#data_TM_txt' + target_id_additional)){
        alert('TM must Valid Numeric value!');
        return;
    }
    
    var recordId = $('#data_RecordId' + target_id_additional).val();
    if (recordId == '-1'){
        action = 'Create';
    }else{
        action = 'Edit';
    }
    
    // data to AJAX
    $.ajax({
        url: api_Request + '/Api/DirectShipment/'+action
        , type: 'POST'
        , data: {'.id':recordId
                , 'name':$('#data_BuyerName_txt' + target_id_additional).val()
                , 'destination':CommaSeparated($('#ddl_Destination' + target_id_additional).val())
                , 'cv':$('#data_CV_txt' + target_id_additional).val()
                , 'ts':$('#data_TS_txt' + target_id_additional).val()
                , 'ash':$('#data_ASH_txt' + target_id_additional).val()
                , 'im':$('#data_IM_txt' + target_id_additional).val()
                , 'tm':$('#data_TM_txt' + target_id_additional).val()
        }
        , dataType: "json"
        , beforeSend: function (request){
            // Set "Token" in HTTP_Header
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data){
            if ( ! $.trim(data)){
                // empty data
                alert('empty data');
                return;
            }
            
            if ( ! data.Success){
                alert(data.Message);
                return;
            }
             
            isNew = false;
            is_Mode_Editor = false;
            
            $('#btnAdd').removeClass('mercy_button_Add_disable');

            alert('Success');
            
            Populate_DataGrid();
        },
        error: function (error){
            $(this).remove();
        }
    });
}

function processLink_Delete(p_this){
    // -- Global Flag
    if (is_Mode_Editor) return;
    
    if ( ! confirm('Are you sure to delete ?')) return;
    
    var action = 'Delete';
    
    var target_id = p_this.id;
    var target_id_additional = target_id.replace('data_link_Delete', '');
        
    // data to AJAX
    $.ajax({
        url: api_Request + '/Api/DirectShipment/'+action
        , type: 'GET'
        , data: {'.id':$('#data_RecordId' + target_id_additional).val()}
        , dataType: "json"
        , beforeSend: function (request){
            // Set "Token" in HTTP_Header
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data){
            if ( ! $.trim(data)){
                // empty data
                alert('empty data');
                return;
            }
            
            if ( ! data.Success){
                alert(data.Message);
                return;
            }
            
            alert('Success Delete');
                    
            Populate_DataGrid();
        },
        error: function (error){
            $(this).remove();
        }
    });
}

function OnKeyUp_Text(p_this){
    Populate_DataGrid();
}

function addCommas(nStr) {
    try {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }

        return x1 + x2;
    }catch (err) { }

    return nStr.toString();
}

function Is_Valid_Numeric(p_id){
    var val_x = $(p_id).val().replace(',', '');
    
    if ($.isNumeric(val_x)){
        return true;
    }
    
    return false;
}

function Create_ddl_Destination(p_id) {
    $(p_id).select2({
        placeholder: 'Select Destination'
        , tags: true
        , multiple: true
        , tokenSeparators: [',']
        //, minimumInputLength: 3
        , minimumResultsForSearch: -1
    });
    
    var option;

    destinations.forEach(
        function (item) {
            // create the option and append to Select2
            option = new Option(item, item, true, true);
            $(p_id).append(option);//.trigger('change');
        }
    );
}

function CommaSeparated(p_array){
    var result = '';
    var separator = '';
    
    p_array.forEach(
        function (item) {
            result += separator + item;
            separator = ',';
        }
    );
    
    return result;
}

</script>
