@using MERCY.Web.FrontEnd.Helpers;
@{
    string ui_name               = @"a-Bootstrap-v4_4_1";
    UserInterface userInterface  = new UserInterface(ui_name);
    string ui_Folder_ServerSide  = userInterface.Folder_ServerSide;
    string ui_Folder_Client_Side = userInterface.Folder_ClientSide;

    Layout = ui_Folder_ServerSide + "_Layout_Plain.cshtml";
}

<style>

body {
    font-size: 12px;
}

/* Rating Star Widgets Style */
.rating-stars ul {
    list-style-type:none;
    padding:0;
    padding-top: 10px;
    
    -moz-user-select:none;
    -webkit-user-select:none;
}
.rating-stars ul > li.star {
    display:inline-block;
  
}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
    font-size:2.5em; /* Change the size of the stars */
    color:#ccc; /* Color on idle state */
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
    color:#FFCC36;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
    color:#FFCC36;
}
</style>

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row margin_padding_0">
                    <div class="col margin_padding_0" style="padding-top: 15px !important;">
                        <h3><span id="titleGroupModal">Tell us what you think</span></h3>
                    </div>
                </div>
                <div class="row margin_padding_0">
                    <div class="row margin_padding_0 mercy_page_Title_2">
                        your feedback is important for our Improvement
                    </div>                    
                    <div class="col margin_padding_0" style="padding-top: 0px !important;">
                    </div>
                </div>
                <div class="row margin_padding_0">
                    <div class="col margin_padding_0" style="padding-top: 30px !important;">
                    </div>
                </div>
                <div class="row margin_padding_0" style="margin: 5px 5px 0px 0px !important;">
                    <div class="col col-md" style="padding: 5px 10px 0px 0px !important;">
                        <div style="width:100%" class="mercy_analysis-result"><strong>Accuracy</strong></div>
                        <div style="width:100%;padding:5px 0px;font-size:11px;">
                        <section class='rating-widget'>
                            <div class='rating-stars'>
                                <ul id='ratingAccuracy'>
                                <li class='star' title='Poor' data-value='1'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Fair' data-value='2'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Good' data-value='3'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Excellent' data-value='4'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='WOW!!!' data-value='5'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                </ul>
                            </div>
                        </section>
                        </div>
                    </div>                    
                    <div class="col col-md" style="padding: 5px 10px 0px 0px !important;">
                        <div style="width:100%" class="mercy_analysis-result"><strong>Objectivity</strong></div>
                        <div style="width:100%;padding:5px 0px;font-size:11px;">
                        <section class='rating-widget'>
                            <div class='rating-stars'>
                                <ul id='ratingObjectivity'>
                                <li class='star' title='Poor' data-value='1'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Fair' data-value='2'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Good' data-value='3'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Excellent' data-value='4'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='WOW!!!' data-value='5'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                </ul>
                            </div>
                        </section>
                        </div>

                    </div>                    
                </div>
                <div class="row margin_padding_0" style="margin: 5px 5px 0px 0px !important;">
                    <div class="col col-md" style="padding: 5px 10px 0px 0px !important;">
                        <div style="width:100%" class="mercy_analysis-result"><strong>Easy to Understand</strong></div>
                        <div style="width:100%;padding:5px 0px;font-size:11px;">
                        <section class='rating-widget'>
                            <div class='rating-stars'>
                                <ul id='ratingEasy'>
                                <li class='star' title='Poor' data-value='1'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Fair' data-value='2'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Good' data-value='3'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Excellent' data-value='4'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='WOW!!!' data-value='5'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                </ul>
                            </div>
                        </section>
                        </div>
                    </div>                    
                    <div class="col col-md" style="padding: 5px 10px 0px 0px !important;">
                        <div style="width:100%" class="mercy_analysis-result"><strong>Detailed</strong></div>
                        <div style="width:100%;padding:5px 0px;font-size:11px;">
                        <section class='rating-widget'>
                            <div class='rating-stars'>
                                <ul id='ratingDetailed'>
                                <li class='star' title='Poor' data-value='1'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Fair' data-value='2'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Good' data-value='3'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Excellent' data-value='4'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='WOW!!!' data-value='5'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                </ul>
                            </div>
                        </section>
                        </div>

                    </div>     
                </div>
                <div class="row margin_padding_0" style="margin: 5px 5px 0px 0px !important;">
                    <div class="col col-md" style="padding: 5px 10px 0px 0px !important;">
                        <div style="width:100%" class="mercy_analysis-result"><strong>Punctuality</strong></div>
                        <div style="width:100%;padding:5px 0px;font-size:11px">
                        <section class='rating-widget'>
                            <div class='rating-stars'>
                                <ul id='ratingPunctuality'>
                                <li class='star' title='Poor' data-value='1'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Fair' data-value='2'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Good' data-value='3'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Excellent' data-value='4'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='WOW!!!' data-value='5'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                </ul>
                            </div>
                        </section>
                        </div>
                    </div>                    
                    <div class="col col-md" style="padding: 5px 10px 0px 0px !important;">

                    </div>     
                </div>

                <div class="row margin_padding_0" style="margin: 5px 5px 0px 0px !important;">
                    <div class="margin_padding_0" style="margin: 5px 10px 0px 0px !important;">
                        <div style="width:100%; padding-bottom:10px" class="mercy_analysis-result">Remark</div>
                    </div>
                    <div class="margin_padding_0" style="width:100%">
                        <textarea class="form-control shadow-none mercy_input_text" id="txtRemark" rows="5" placeholder="remark"></textarea>
                    </div>
                </div>
                <div class="row margin_padding_0" style="margin: 20px 5px 0px 0px !important;">
                    <div class="col col-md-auto margin_padding_0"><div onclick="saveRating()" class="mercy_button" style="width:100px;" id="btnSave"><div class="mercy_text_center">Submit</div></div>&nbsp;&nbsp;<img src="/images/spinner.gif" style="padding: 0 60px 0 0;display:none;" id="imgLoading" /></div>
                    <div class="col col-md-auto margin_padding_0"><div onclick="Close_PopUp()" class="mercy_button" style="width:100px;display:none" id="btnClose"><div class="mercy_text_center">Close</div></div></div>
                    <div class="col col-md-auto margin_padding_0" style="margin-left: 20px !important;"><div onclick="Close_PopUp()" class="mercy_button_2" style="width:100px;" id="btnCancel"><div class="mercy_text_center">Cancel</div></div></div>
                </div>
            </div>
        </div>
    </div>

<script type="text/javascript">

$(document).ready(function () {

    $('#btnFilter').click(function(e) {
        OnClick_btnFilter();
    });
    
    initRating("ratingAccuracy");
    initRating("ratingObjectivity");
    initRating("ratingEasy");
    initRating("ratingDetailed");
    initRating("ratingPunctuality");
});

function initRating(ratingId) {
    /* 1. Visualizing things on Hover - See next part for action on click */
    $('#' + ratingId + ' li').on('mouseover', function(){
        var onStar = parseInt($(this).data('value'), 10); // The star currently mouse on
   
        // Now highlight all the stars that's not after the current hovered star
        $(this).parent().children('li.star').each(function(e){
            if (e < onStar) {
                $(this).addClass('hover');
            }
            else {
                $(this).removeClass('hover');
            }
        });
    
        }).on('mouseout', function(){
        $(this).parent().children('li.star').each(function(e){
            $(this).removeClass('hover');
         });
    });
  
  
    /* 2. Action to perform on click */
    $('#' + ratingId + ' li').on('click', function(){
        var onStar = parseInt($(this).data('value'), 10); // The star currently selected
        var stars = $(this).parent().children('li.star');
    
        for (i = 0; i < stars.length; i++) {
            $(stars[i]).removeClass('selected');
        }
    
        for (i = 0; i < onStar; i++) {
            $(stars[i]).addClass('selected');
        }
    
        // JUST RESPONSE (Not needed)
        /*
        var ratingValue = parseInt($('#ratingAccuracy li.selected').last().data('value'), 10);
        var msg = "";
        if (ratingValue > 1) {
            msg = "Thanks! You rated this " + ratingValue + " stars.";
        }
        else {
            msg = "We will improve ourselves. You rated this " + ratingValue + " stars.";
        }
        responseMessage(msg);
        */
    });
}


function resetRating(ratingID, ratingValue) {
    for (i = 0; i < ratingValue; i++) {
        //alert("remove selected - " + i);
        $('#' + ratingID + ' li.selected').removeClass('selected')
    }
}
function saveRating() {
    var action = 'Create';
    var ratingAccuracy = parseInt($('#ratingAccuracy li.selected').last().data('value'), 10);
    var ratingObjectivity = parseInt($('#ratingObjectivity li.selected').last().data('value'), 10);
    var ratingEasy = parseInt($('#ratingEasy li.selected').last().data('value'), 10);
    var ratingDetailed = parseInt($('#ratingDetailed li.selected').last().data('value'), 10);
    var ratingPunctuality = parseInt($('#ratingPunctuality li.selected').last().data('value'), 10);
    
    if ((ratingAccuracy <1) || (Number.isNaN(ratingAccuracy))) {
        alert ("Rating Accuracy is mandatory, please fill it first");
        return;
    }
    if ((ratingObjectivity <1) || (Number.isNaN(ratingObjectivity))) {
        alert ("Rating Objectivity is mandatory, please fill it first");
        return;
    }
    if ((ratingEasy <1) || (Number.isNaN(ratingEasy))) {
        alert ("Rating Easy to Understand is mandatory, please fill it first");
        return;
    }
    if ((ratingDetailed <1) || (Number.isNaN(ratingDetailed))) {
        alert ("Rating Detailed is mandatory, please fill it first");
        return;
    }
    if ((ratingPunctuality <1) || (Number.isNaN(ratingPunctuality))) {
        alert ("Rating Punctuality is mandatory, please fill it first");
        return;
    }

    if ($("#txtRemark").val() == null || $("#txtRemark").val() == "" || $("#txtRemark").val().length <1) {
        alert ("Remark is mandatory, please fill it first");
        return;
    }
    
    $('#btnSave').hide();
    $('#imgLoading').show();
    
    // data to AJAX
    $.ajax({
        url: api_Request + '/Api/Feedback/Create'
        , type: 'POST'
        , data: {'a': ratingAccuracy
                , 'o': ratingObjectivity
                , 'e': ratingEasy
                , 'd': ratingDetailed
                , 'p': ratingPunctuality
                , 'r': $('#txtRemark').val()
                , 'p2': getUrlParameter('fromPage')
        }
        , dataType: "json"
        , beforeSend: function (request){
            // Set "Token" in HTTP_Header
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data){
            if ( ! $.trim(data)){
                // empty data
                alert('empty data');
                return;
            }
            
            if ( ! data.Success){
                alert(data.Message);
                return;
            }
            
            $.ajax({
                url: api_Request + '/Api/Notification/send?type=Feedback&.id=' + data.Data
                , type: 'GET'
                , dataType: "json"
                , beforeSend: function (request) {
                    request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
                }
                , cache: false
                , success: function (data){
                    $('#imgLoading').hide();
                    
                    isNew = false;
                    is_Mode_Editor = false;

                    alert('Feedback has been submitted');

                    resetRating("ratingAccuracy", ratingAccuracy);
                    resetRating("ratingObjectivity", ratingObjectivity);
                    resetRating("ratingEasy", ratingEasy);
                    resetRating("ratingDetailed", ratingDetailed);
                    resetRating("ratingPunctuality", ratingPunctuality);
                    $('#txtRemark').val("");
                    
                    Close_PopUp();
                }
            });
        },
        error: function (error){
            $(this).remove();
        }
    });
}

function Close_PopUp(){
    try {
        parent.Feedback_Form_Close();
    }
    catch (err){
        window.location = '/';
    }
}

</script>