<div id="groupModalTrx" class="modal fade" role="dialog" style="font-size: 12px;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row margin_padding_0">
                    <div class="col margin_padding_0" style="padding-top: 15px !important;">
                        <h3><span id="titleGroupModal"></span></h3>
                    </div>
                </div>
                <div class="row margin_padding_0">
                    <div class="row margin_padding_0 mercy_page_Title_2">
                        your feedback is important for our Improvement
                    </div>                    
                    <div class="col margin_padding_0" style="padding-top: 0px !important;">
                    </div>
                </div>
                <div class="row margin_padding_0">
                    <div class="col margin_padding_0" style="padding-top: 30px !important;">
                    </div>
                </div>
                <div class="row margin_padding_0" style="margin: 5px 5px 0px 0px !important;">
                    <div class="col-md-6" style="padding: 5px 10px 0px 0px !important;">
                        <div style="width:100%" class="mercy_analysis-result"><strong>Accuracy</strong></div>
                        <div style="width:100%;padding:5px 0px;">
                        <section class='rating-widget'>
                            <div class='rating-stars text-center'>
                                <ul id='ratingAccuracy'>
                                <li class='star' title='Poor' data-value='1'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Fair' data-value='2'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Good' data-value='3'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Excellent' data-value='4'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='WOW!!!' data-value='5'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                </ul>
                            </div>
                        </section>
                        </div>
                    </div>                    
                    <div class="col-md-6 ml-auto" style="padding: 5px 10px 0px 0px !important;">
                        <div style="width:100%" class="mercy_analysis-result"><strong>Objectivity</strong></div>
                        <div style="width:100%;padding:5px 0px;">
                        <section class='rating-widget'>
                            <div class='rating-stars text-center'>
                                <ul id='ratingObjectivity'>
                                <li class='star' title='Poor' data-value='1'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Fair' data-value='2'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Good' data-value='3'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Excellent' data-value='4'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='WOW!!!' data-value='5'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                </ul>
                            </div>
                        </section>
                        </div>

                    </div>                    
                </div>
                <div class="row margin_padding_0" style="margin: 5px 5px 0px 0px !important;">
                    <div class="col-md-6" style="padding: 5px 10px 0px 0px !important;">
                        <div style="width:100%" class="mercy_analysis-result"><strong>Easy to Understand</strong></div>
                        <div style="width:100%;padding:5px 0px;">
                        <section class='rating-widget'>
                            <div class='rating-stars text-center'>
                                <ul id='ratingEasy'>
                                <li class='star' title='Poor' data-value='1'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Fair' data-value='2'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Good' data-value='3'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Excellent' data-value='4'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='WOW!!!' data-value='5'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                </ul>
                            </div>
                        </section>
                        </div>
                    </div>                    
                    <div class="col-md-6 ml-auto" style="padding: 5px 10px 0px 0px !important;">
                        <div style="width:100%" class="mercy_analysis-result"><strong>Detailed</strong></div>
                        <div style="width:100%;padding:5px 0px;">
                        <section class='rating-widget'>
                            <div class='rating-stars text-center'>
                                <ul id='ratingDetailed'>
                                <li class='star' title='Poor' data-value='1'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Fair' data-value='2'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Good' data-value='3'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Excellent' data-value='4'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='WOW!!!' data-value='5'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                </ul>
                            </div>
                        </section>
                        </div>

                    </div>     
                </div>
                <div class="row margin_padding_0" style="margin: 5px 5px 0px 0px !important;">
                    <div class="col-md-6" style="padding: 5px 10px 0px 0px !important;">
                        <div style="width:100%" class="mercy_analysis-result"><strong>Punctuality</strong></div>
                        <div style="width:100%;padding:5px 0px;">
                        <section class='rating-widget'>
                            <div class='rating-stars text-center'>
                                <ul id='ratingPunctuality'>
                                <li class='star' title='Poor' data-value='1'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Fair' data-value='2'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Good' data-value='3'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='Excellent' data-value='4'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                <li class='star' title='WOW!!!' data-value='5'>
                                    <i class='fa fa-star fa-fw'></i>
                                </li>
                                </ul>
                            </div>
                        </section>
                        </div>
                    </div>                    
                    <div class="col-md-6 ml-auto" style="padding: 5px 10px 0px 0px !important;">

                    </div>     
                </div>

                <div class="row margin_padding_0" style="margin: 5px 5px 0px 0px !important;">
                    <div class="col col-md-auto margin_padding_0" style="margin: 5px 10px 0px 0px !important;">
                        <div style="width:100%; padding-bottom:10px" class="mercy_analysis-result">Remark</div>
                    </div>
                    <div class="col col-md-auto margin_padding_0" style="width:100%">
                        <textarea class="form-control shadow-none mercy_input_text" id="txtRemark" rows="5" placeholder="remark"></textarea>
                    </div>
                </div>
                <div class="row margin_padding_0" style="margin: 20px 5px 0px 0px !important;">
                    <div class="col col-md-auto margin_padding_0"><div onclick="saveRating()" class="mercy_button" style="width:100px;" id="btnSave"><div class="mercy_text_center">Submit</div></div></div>
                    <div class="col col-md-auto margin_padding_0"><div onclick="$('#groupModalTrx').modal('hide');" class="mercy_button" style="width:100px;display:none" id="btnClose"><div class="mercy_text_center">Close</div></div></div>
                    <div class="col col-md-auto margin_padding_0" style="margin-left: 20px !important;"><div onclick="$('#groupModalTrx').modal('hide');" class="mercy_button_2" style="width:100px;" id="btnCancel"><div class="mercy_text_center">Cancel</div></div></div>
                </div>
            </div>
        </div>
    </div>
</div>