@using MERCY.Web.FrontEnd.Helpers;

@{
    string ui_name               = @"a-Bootstrap-v4_4_1";
    UserInterface userInterface  = new UserInterface(ui_name);
    string ui_Folder_ServerSide  = userInterface.Folder_ServerSide;
    string ui_Folder_Client_Side = userInterface.Folder_ClientSide;

    Layout = ui_Folder_ServerSide + "_Layout.cshtml";
}

<style>
#id_menu_ROMTransfer {
    background-color: #000000;
    border-radius: 4px;
    /*opacity: 0.2;*/
    background: rgba(0,0,0,0.2);
    height: 52px;
    margin: 5px 8px;
}

.filter_title {
    color: #232323;
    font-family: 'OpenSans-SemiBold';
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    opacity: 0.8700000047683716;
    text-align: left;
    height: 20px;
}

.select2-selection--single{
    height: 34px !important;
}
.select2-selection__choice {
    height: 34px !important;
}
.select2-selection__arrow{
    height: 32px !important;
}
.active {
    color: #00BDAA;
    line-height: 14px;
    text-align: left;
    font-weight: bold;
    font-style: italic;    
}
.inactive {
    color: #FD5151;
    line-height: 14px;
    text-align: left;
    font-weight: bold;
    font-style: italic;    
}
.mercy_input_text_invalid {
    border: 1px solid #DE0D0D;
}

.ts_file_button {
    height: 25px;
    width: 100px;
    background: blue;
    color: white;
    border: 0;
    -webkit-appearance: none;
    
    color: #FFFFFF;
    /*font-family: 'Poppins-SemiBold';*/
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    
    background-color: #00B4A5;
    border: 1px solid #AFAFB9;
    border-radius: 4px;
    width: 79px;
    height: 17px;
}

.input_Upload_file {
    background-color: #FFFFFF !important;
    border: 1px solid #AFAFB9 !important;
    border-radius: 4px !important;
    height: 34px !important;
}

.button_Choose_file {
    background-color: #D0D0D0 !important;
    border: 1px solid #AFAFB9 !important;
    border-radius: 2px !important;
    width: 73px !important;
    height: 18px !important;
    
    color: #FFFFFF;
    font-family: 'Poppins-SemiBold';
    font-size: 10px;
    line-height: 12px;
    text-align: center;
}

.data_cell_green {
    background-color: #60C159 !important;
}

.data_cell_red {
    background-color: #E73232 !important;
}

.data_cell_yellow {
    background-color: #FFBD50 !important;
}

#mercyTable_info,
#mercyTable_VLU_info
{display:none;}

#mercyTable.table td{
    padding: 7px 5px !important;
}

#mercyTable.table td div{
    height: 24px !important;
    width:100% !important;
    padding: 5px 5px 0px 5px !important;
}

.table_title{
    color: #4752B1;
    font-family: 'Poppins-SemiBold';
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    margin-top:20px;
}
</style>

<link href="@ui_Folder_Client_Side/css/select2.min.css" rel="stylesheet" />
<script src="@ui_Folder_Client_Side/js/select2.min.js"></script>

<div class="col margin_padding_0">
    <div class="row margin_padding_0 mercy_page_Title">
        Preview file - Barge LineUp
    </div>
    <div class="row margin_padding_0 mercy_page_Title_2">
        Preview file
    </div>
    <div class="row margin_padding_0 mercy_box_inner_content" style="min-height:100px !important;">
        <div class="col-12 col-md-auto margin_padding_0" style="padding: 0px 0px 0px 15px !important;">
            <div style="width: 90px;">                
                <div class="margin_padding_0 mercy_form_Label">Site</div>
                <div style="width:100%;padding:0px 10px 0px 0px !important;" id="div_Company"></div>
            </div>
        </div>
        <div class="col-12 col-md-auto margin_padding_0" style="padding: 0px 0px 0px 15px !important;">
            <div style="width: 160px;">                
                <div class="margin_padding_0 mercy_form_Label">Created On</div>
                <div style="width:100%;padding:0px 10px 0px 0px !important;" id="div_CreatedOn"></div>
            </div>
        </div>
        <div class="col-12 col-md margin_padding_0" style="padding: 0px 0px 0px 5px !important;">
            <div>                
                <div class="margin_padding_0 mercy_form_Label">File</div>
                <div style="width:100%;padding:0px 10px 0px 0px !important;" id="div_File"></div>
            </div>
        </div>
    </div>
    <div class="row margin_padding_0 mercy_box_inner_content" style="min-height:100px !important;">
        <div class="col margin_padding_0" style="padding: 0px 20px 40px 20px !important;">
            <div class="row margin_padding_0" style="padding-bottom:20px;">
                <div class="table_title">Port of Loading</div>
                <table id="mercyTable" class="display nowrap table table-striped table-hover mercy_table mercy_table_header" style="width:100%;">
                    <thead>
                        <tr>
                            <th>No_Line</th>
                            <th>No</th>
                            <th>Estimate<br/>Loading<br/>Date</th>
                            <th>Port of Loading</th>
                            <th>Vessel Name</th>
                            <th>Trip ID</th>
                            <th>Tug Boat</th>
                            <th>Barge</th>
                            <th>Product</th>
                            <th>Capacity</th>
                            <th>Final Destinantion</th>
                            <th>Remark</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="row margin_padding_0 mercy_box_inner_content" style="min-height:100px !important;">
        <div class="col margin_padding_0" style="padding: 0px 20px 40px 20px !important;">
            <div class="row margin_padding_0" style="padding-bottom:20px;">
                <div class="table_title">Vessel Line Up</div>
                <table id="mercyTable_VLU" class="display nowrap table table-striped table-hover mercy_table mercy_table_header" style="width:100%;">
                    <thead>
                        <tr>
                            <th>No_Line</th>
                            <th>No</th>
                            <th>Month</th>
                            <th>Shipper</th>
                            <th>NO</th>
                            <th>VESSEL</th>
                            <th>LAYCAN From</th>
                            <th>LAYCAN To</th>
                            <th>DESTINATION</th>
                            <th>BUYER</th>
                            <th>ETA</th>
                            <th>ATA</th>
                            <th>Commenced Loading</th>
                            <th>Completed Loading</th>
                            <th>PORT</th>
                            <th>DEM</th>
                            <th>STATUS</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

// Flag
var is_still_AJAX_dataList = false;

// DataGrid
var obj_html_Table;
var obj_html_Table_VLU;
var obj_html_Site;

// row
var isNew_Port_of_Loading = false;
var is_Mode_Editor_Port_of_Loading = false;
var lineNumber_Data_Port_of_Loading = 0;
var object_Created_Count_Port_of_Loading = 0;
var object_id_additional_Port_of_Loading = ''; // pattern is: '_' + object_Created_Count_Port_of_Loading + '_' + lineNumber_Data_Port_of_Loading;
var object_id_Created_Port_of_Loading = [];
var object_id_Deleted_Port_of_Loading = [];

var isNew_VLU = false;
var is_Mode_Editor_VLU = false;
var lineNumber_Data_VLU = 0;
var object_Created_Count_VLU = 0;
var object_id_additional_VLU = ''; // pattern is: '_' + object_Created_Count_VLU + '_' + lineNumber_Data_VLU;
var object_id_Created_VLU = [];
var object_id_Deleted_VLU = [];

var file_Changed = false;

var file_Physical = 0;

$(document).ready(function (){
    $(document).attr('title', 'Preview file - Barge LineUp : Mercy');

    $(window).resize(function (){
        // Resize Table: because the Window is Resized
        resize_Table();
    });
    
    get_user_menu = '1';
    get_user_relation = '1';
    
    Show_UserInformation();
});

function Clear_DataGrid_(p_id){
    try {
        $('#' + p_id).DataTable().clear().destroy();
        //$('#'+p_id).DataTable().destroy();
    }catch(err){}
    
    try {
        $('#'+p_id+' tbody').empty();
    }catch(err){}
}

function Clear_DataGrid(){
    Create_Table();
}

function Create_Table(){
    Clear_DataGrid_('mercyTable');
    Clear_DataGrid_('mercyTable_VLU');
    
    try {
        obj_html_Table = $('#mercyTable').DataTable({
            "bAutoWidth": false
            , "bFilter": false
            , "dom": '<"top">rt<"bottom"iflp><"clear">'
            , "scrollX": true
            , "scrollY": false //"200px"
            //, "scrollCollapse": true
            , "paging": false
            //, "ordering": false
            , "columns": [
                {
                    "render": function (data, type, full, meta){
                        return lineNumber_Data_Port_of_Loading;
                    }
                }
                , {
                    "render": function (data, type, full, meta){
                        return (isNew_Port_of_Loading?'':'<div>' + lineNumber_Data_Port_of_Loading.toString() + '.</div>');
                    }
                    , className: "mercy_text_right"
                    , orderable: false
                    , width: "20px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return Data_Column_Text(full.EstimateStartLoading_isvalid, full.EstimateStartLoading_Str);
                    }
                    , className: "mercy_column_right"
                    , orderable: false
                    , width: "50px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return Data_Column_Text(full.Port_of_Loading_isvalid, full.Port_of_Loading);
                    }
                    , orderable: false
                    , width: "50px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return Data_Column_Text(full.VesselName_isvalid, full.VesselName);
                    }
                    , orderable: false
                    , width: "200px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return Data_Column_Text(full.TripID_isvalid, full.TripID);
                    }
                    , orderable: false
                    , width: "50px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return Data_Column_Text(full.TugBoat_isvalid, full.TugBoat);
                    }
                    , orderable: false
                    , width: "50px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return Data_Column_Text(full.Barge_isvalid, full.Barge);
                    }
                    , orderable: false
                    , width: "50px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return Data_Column_Text(full.Product_isvalid, full.Product);
                    }
                    , orderable: false
                    , width: "50px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return Data_Column_Text(full.Capacity_isvalid, addCommas(full.Capacity_Str));
                    }
                    , orderable: false
                    , className: "mercy_column_right"
                    , width: "50px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return Data_Column_Text(full.FinalDestinantion_isvalid, full.FinalDestinantion);
                    }
                    , orderable: false
                    , width: "50px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return Data_Column_Text(full.Remark_isvalid, full.Remark);
                    }
                    , orderable: false
                    , width: "200px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return Data_Column_Status(full.Status);
                    }
                    , orderable: false
                    , width: "50px"
                }
            ]
            , "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }
            ]
            , "order": [[0, 'asc']]
        });

        obj_html_Table.on('draw', function () {});
        
        // Resize Table: because this DataTable is newly created
        resize_Table();
    }catch(err){}
    
    try {
        obj_html_Table_VLU = $('#mercyTable_VLU').DataTable({
            "bAutoWidth": false
            , "bFilter": false
            , "dom": '<"top">rt<"bottom"iflp><"clear">'
            , "scrollX": true
            , "scrollY": false //"200px"
            //, "scrollCollapse": true
            , "paging": false
            //, "ordering": false
            , "columns": [
                {
                    "render": function (data, type, full, meta){
                        return lineNumber_Data_VLU;
                    }
                }
                , {
                    "render": function (data, type, full, meta){
                        return (isNew_VLU?'':'<div>' + lineNumber_Data_VLU.toString() + '.</div>');
                    }
                    , className: "mercy_text_right"
                    , orderable: false
                    , width: "20px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return Data_Column_Text(full.Month_isvalid, full.Month);
                    }
                    , className: "mercy_column_right"
                    , orderable: false
                    , width: "50px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return Data_Column_Text(full.Shipper_isvalid, full.Shipper);
                    }
                    , orderable: false
                    , width: "50px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return Data_Column_Text(full.NO_isvalid, full.NO);
                    }
                    , orderable: false
                    , width: "200px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return Data_Column_Text(full.VESSEL_isvalid, full.VESSEL);
                    }
                    , orderable: false
                    , width: "50px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return Data_Column_Text(full.LAYCAN_isvalid, full.LAYCAN_From_Str);
                    }
                    , orderable: false
                    , width: "50px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return Data_Column_Text(full.LAYCAN_2_isvalid, full.LAYCAN_To_Str);
                    }
                    , orderable: false
                    , width: "50px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return Data_Column_Text(full.DESTINATION_isvalid, full.DESTINATION);
                    }
                    , orderable: false
                    , width: "50px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return Data_Column_Text(full.BUYER_isvalid, full.BUYER);
                    }
                    , orderable: false
                    , className: "mercy_column_right"
                    , width: "50px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return Data_Column_Text(full.ETA_isvalid, full.ETA_Str);
                    }
                    , orderable: false
                    , width: "50px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return Data_Column_Text(full.ATA_isvalid, full.ATA_Str);
                    }
                    , orderable: false
                    , width: "200px"
                }
                
                , {
                    "render": function (data, type, full, meta){
                        return Data_Column_Text(full.Commenced_Loading_isvalid, full.Commenced_Loading_Str);
                    }
                    , orderable: false
                    , width: "200px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return Data_Column_Text(full.Completed_Loading_isvalid, full.Completed_Loading_Str);
                    }
                    , orderable: false
                    , width: "200px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return Data_Column_Text(full.PORT_isvalid, full.PORT);
                    }
                    , orderable: false
                    , width: "200px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return Data_Column_Text(full.DEM_isvalid, full.DEM_Str);
                    }
                    , orderable: false
                    , width: "200px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return Data_Column_Text(full.STATUS_isvalid, full.STATUS);
                    }
                    , orderable: false
                    , width: "200px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return Data_Column_Status(full.Status_Upload);
                    }
                    , orderable: false
                    , width: "50px"
                }
            ]
            , "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }
            ]
            , "order": [[0, 'asc']]
        });

        obj_html_Table.on('draw', function () {});
        
        // Resize Table: because this DataTable is newly created
        resize_Table();
    }catch(err){}
}

function Show_UserInformation() {
    // data from AJAX
    $.ajax({
        url: api_Request + '/Api/User/Info'
        , type: 'POST'
        , data: {u_menu:get_user_menu, u_relation:get_user_relation, 'check_page': current_Page_URL.replace('/Form', '')}
        , dataType: "json"
        , beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data) {
            if ( ! $.trim(data)) {
                // empty data
                return;
            }
            
            if ( ! data.Success){
                alert(data.Message);
                
                window.location = '/NoAccess';
                return;
            }
            
            // we need "Permission" information
            permission = data.Permission;
            
            // make it "Intuitive"
            if ( ! permission.Is_View){
                alert('Permission is not enough. Read access is needed.');
                
                window.location = '/NoAccess';
                return;
            }
            
            after_GetUserInfo(data.User);
            uInfo = data.User;
            
            Create_Table();
            
            // reset
            get_user_menu = '0';
            get_user_relation = '0';
            
            DisplayContent();
            FileInfo();
        },
        error: function (error) {
            $(this).remove();
        }
    });
}

function DisplayContent(){
    $.ajax({
        url: api_Request + '/Api/BargeLineUp/DisplayContent'
        , type: 'GET'
        , data: {'.id': getUrlParameter('.id')}
        , dataType: "json"
        , beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data) {
            is_still_AJAX_dataList = false;
            
            if ( ! $.trim(data)) {
                // empty data
                return;
            }
            
            if ( ! data.Success){
                alert(data.Message);
                
                //window.location = '/NoAccess';
                return;
            }
            
            // reset
            lineNumber_Data_Port_of_Loading = 0;
            
            // proses Data
            data.Port_of_Loading.forEach(
                function (item){
                    isNew_Port_of_Loading = false;
                    object_Created_Count_Port_of_Loading++;
                    lineNumber_Data_Port_of_Loading++;
                    object_id_additional_Port_of_Loading = '_' + object_Created_Count_Port_of_Loading.toString() + '_' + lineNumber_Data_Port_of_Loading.toString();
                    
                    // save to Array
                    object_id_Created_Port_of_Loading.push(object_id_additional_Port_of_Loading);
                    
                    // add to Table
                    obj_html_Table.row.add(item).draw(false);
                }
            );
            
            // reset
            lineNumber_Data_VLU = 0;
            
            data.Vessel_Line_Up.forEach(
                function (item){
                    isNew_VLU = false;
                    object_Created_Count_VLU++;
                    lineNumber_Data_VLU++;
                    object_id_additional_VLU = '_' + object_Created_Count_VLU.toString() + '_' + lineNumber_Data_VLU.toString();
                    
                    // save to Array
                    object_id_Created_VLU.push(object_id_additional_VLU);
                    
                    // add to Table
                    obj_html_Table_VLU.row.add(item).draw(false);
                }
            );
            
            // Resize Table: because this DataTable is filled with new Data
            resize_Table();
            
            $('#imgLoading').hide();
            
            $('#btnSave_outer').show();
        },
        error: function (error) {
            is_still_AJAX_dataList = false;
            
            $(this).remove();
        }
    });
}

function Data_Column_Text(p_isValid, p_value){
    return '<div class="' + (p_isValid?'':'data_cell_red') + '">'
            + p_value
            + '</div>'
            ;
}

function Data_Column_Status(p_status){
    var xclass = 'mercy_data_new';
    
    switch(p_status){
        case 'New':
            xclass = 'mercy_data_new';
            break;
        case 'Update':
            xclass = 'mercy_data_update';
            break;
        case 'Invalid':
            xclass = 'mercy_data_invalid';
            break;
        case 'Ignored':
            xclass = 'mercy_data_invalid';
            break;
    }
    
    return '<div class="' + (xclass) + '">'
            + p_status
            + '</div>'
            ;
}

function addCommas(nStr) {
    try {
        nStr += '';
        x = nStr.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }

        return x1 + x2;
    }catch (err) { }

    return nStr.toString();
}

function FileInfo(){
    $.ajax({
        url: api_Request + '/Api/BargeLineUp/File'
        , type: 'GET'
        , data: {'.id': getUrlParameter('.id')}
        , dataType: "json"
        , beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data) {
            if ( ! $.trim(data)) {
                // empty data
                return;
            }
            
            if ( ! data.Success){
                //alert(data.Message);
                
                //window.location = '/NoAccess';
                return;
            }
            
            $('#div_Company').html(data.Data.Company);
            $('#div_CreatedOn').html(data.Data.CreatedOn);
            //$('#div_CreatedBy').html(data.Data.CreatedBy);
            $('#div_File').html('<a href="/Api/File/Download?.id=' + data.Data.Link + '" target=_blank>' + data.Data.FileName + '</a>');            
        },
        error: function (error) {
            $(this).remove();
        }
    });
}

</script>
