@using MERCY.Web.FrontEnd.Helpers;

@{
    string ui_name               = @"a-Bootstrap-v4_4_1";
    UserInterface userInterface  = new UserInterface(ui_name);
    string ui_Folder_ServerSide  = userInterface.Folder_ServerSide;
    string ui_Folder_Client_Side = userInterface.Folder_ClientSide;

    Layout = ui_Folder_ServerSide + "_Layout.cshtml";
}

<style>
#id_menu_HaulingRequest {
    background-color: #000000;
    border-radius: 4px;
    /*opacity: 0.2;*/
    background: rgba(0,0,0,0.2);
    height: 52px;
    margin: 5px 8px;
}

.data_date {
    /*padding-left: 20px;*/
}

.data_date2 {
    color: #4752B1;
    font-family: 'Poppins-SemiBold';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.data_date3 {
    color: #4752B1;
    font-family: 'Poppins-Regular';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.data_shift {
    /*padding-left: 20px;*/
}

.data_shift2 {
    color: #4752B1;
    font-family: 'Poppins-SemiBold';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.data_shift3
, .data_shift {
    color: #4752B1;
    font-family: 'Poppins-Regular';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
</style>

<link href="@ui_Folder_Client_Side/css/select2.min.css" rel="stylesheet" />
<script src="@ui_Folder_Client_Side/js/select2.min.js"></script>

<div class="col margin_padding_0 mercy_box_inner">
    <div class="row margin_padding_0 mercy_page_Title">
        Hauling Request Form
    </div>
    <div class="row margin_padding_0 mercy_page_Title_2">
        Hauling Request > Hauling Request List > Hauling Request Form
    </div>
    <div class="row margin_padding_0 mercy_box_inner_content" style="min-height:150px !important;min-width:400px !important;">
        <div style="margin:20px 20px;width:100%;">
            <div class="mercy_button_2" style="width:100px;display:none;" id="btnBack"><div class="mercy_text_center">Back</div></div>
            <div id="div_request" class="row margin_padding_0" style="display:none;">
                <div class="col col-md-auto margin_padding_0"><div class="mercy_button" style="width:170px;" id="btnSendRequest"><div class="mercy_text_center">Send Request</div></div></div>
                <div class="col col-md-auto margin_padding_0" style="margin-left: 20px !important;"><div class="mercy_button_2" style="width:100px;" id="btnCancel"><div class="mercy_text_center">Cancel</div></div></div>
                <div class="col margin_padding_0" style="padding-left:20px !important;"><img src="/images/spinner.gif" style="padding: 0 60px 0 0;display:none;" id="imgLoading" /></div>
            </div>
        </div>
        <div id="div_detail" style="width: 100%; padding-left: 20px; padding-right: 20px;margin-bottom:50px;"></div>
    </div>
</div>

<script type="text/javascript">

var dateFrom = getUrlParameter('dateFrom');
var dateTo = getUrlParameter('dateTo');
var date = getUrlParameter('date');
var siteId = getUrlParameter('siteId');

if (date == null || date == '')
{
    date = '';
}

$(document).ready(function () {

    $(document).attr('title', 'Hauling Request Form : Mercy');
    
    $('#btnBack').click(function (e) {
        window.location = mercyUrl('/Haulingv');
    });

    $('#btnCancel').click(function (e) {
        window.location = mercyUrl('/Haulingv');
    });

    $('#btnSendRequest').click(function (e) {
        sendRequest();
    });
    
    if (paramid == null || paramid == '') {
        $('#div_request').show();
        
        get_user_menu = '1';
        get_user_relation = '1';
        
        PreviewData();
    }
    else {
        $('#btnBack').show();
        
        Load_Page_Form();
    }
});

function DisplayData() {
    $('#imgLoading').show();
    
    $.ajax({
        url: api_Request + '/Api/Hauling/Get',
        type: 'GET',
        data: {
            u_menu: get_user_menu,
            u_relation: get_user_relation,
            '.id': paramid
        },
        dataType: "json",
        cache: false,
        beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        },
        success: function (data) {
            if ( ! $.trim(data)) {
                // empty data
                return;
            }
            
            if ( ! data.Success){
                // special case: Id not found
                if (data.Message.indexOf('not found') !== -1){
                    after_GetUserInfo(data.User);
                    uInfo = data.User;
                }
                
                alert(data.Message);
                
                window.location = '/NoAccess';
                return;
            }
            
            // save Record {maybe will be used in another function within this Page}
            current_Data_Form = data;
            
            // Special Purpose, getting information of CurrentUser
            if (get_user_menu == '1'){
                after_GetUserInfo(current_Data_Form.User);
                uInfo = current_Data_Form.User;
            }
            
            // reset
            get_user_menu = '0';
            get_user_relation = '0';
            
            // we need "Permission" information
            permission = current_Data_Form.Permission;
            
            // make it "Intuitive"
            Display_Buttons_Form();
            
            if (current_Data_Form.Content == ''){
                $('#btnSendRequest').addClass('mercy_button_disabled');
            }
            
            $('#div_detail').html(current_Data_Form.Content);
        },
        error: function (error) {
            //$(this).remove();
        }
    });
}

function PreviewData() {
    $('#imgLoading').show();
    
    $.ajax({
        url: api_Request + '/Api/Hauling/Preview?dateFrom=' + dateFrom + '&dateTo=' + dateTo + date,
        type: 'GET',
        data: {
            u_menu: get_user_menu,
            u_relation: get_user_relation,
            siteId: siteId
        },
        dataType: "json",
        cache: false,
        beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        },
        success: function (data) {
            $('#imgLoading').hide();

            if ( ! $.trim(data)) {
                // empty data
                return;
            }
            
            if ( ! data.Success){
                alert(data.Message);
                return;
            }
            
            // save Record {maybe will be used in another function within this Page}
            current_Data_Form = data;
            
            // Special Purpose, getting information of CurrentUser
            if (get_user_menu == '1'){
                after_GetUserInfo(current_Data_Form.User);
                uInfo = current_Data_Form.User;
            }
            
            // reset
            get_user_menu = '0';
            get_user_relation = '0';
            
            // we need "Permission" information
            permission = current_Data_Form.Permission;
            
            // make it "Intuitive"
            Display_Buttons();
            
            if (current_Data_Form.Content == ''){
                $('#btnSendRequest').addClass('mercy_button_disabled');
            }
            
            $('#div_detail').html(current_Data_Form.Content);
        },
        error: function (error) {
            //$(this).remove();
        }
    });
}

function sendRequest() {
    if (current_Data_Form.Content == ''){
        // ignore it
        return;
    }
    
    $('#imgLoading').show();
    
    // data from AJAX
    $.ajax({
        url: api_Request + '/Api/Hauling/Create?dateFrom=' + dateFrom + '&dateTo=' + dateTo
        /*, type: 'POST'
        , data: {dateFrom:dateFrom, dateTo:dateTo }*/
        , type: 'GET'
        , dataType: "json"
        , beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data) {
            if (!$.trim(data)) {
                // empty data
            }
            else {
                $.ajax({
                    url: api_Request + '/Api/Notification/send?type=Hauling&request=' + data.Data
                    , data: {
                        siteId: siteId
                    }
                    , type: 'GET'
                    , dataType: "json"
                    , beforeSend: function (request) {
                        request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
                    }
                    , cache: false
                    , success: function (data) {
                        if (!$.trim(data)) {
                            // empty data
                        }
                        else {
                            $('#imgLoading').hide();
                            
                            alert('Success');
                            window.location = mercyUrl('/Haulingv');
                        }
                    },
                    error: function (error) {
                        $(this).remove();
                    }
                });
            }
        },
        error: function (error) {
            $(this).remove();
        }
    });
}

</script>
