@using MERCY.Web.FrontEnd.Helpers;

@{
    string ui_name               = @"a-Bootstrap-v4_4_1";
    UserInterface userInterface  = new UserInterface(ui_name);
    string ui_Folder_ServerSide  = userInterface.Folder_ServerSide;
    string ui_Folder_Client_Side = userInterface.Folder_ClientSide;

    Layout = ui_Folder_ServerSide + "_Layout.cshtml";
}

<style>
#id_menu_HaulingRequest {
    background-color: #000000;
    border-radius: 4px;
    /*opacity: 0.2;*/
    background: rgba(0,0,0,0.2);
    height: 52px;
    margin: 5px 8px;
}

.filter_title {
    color: #232323;
    font-family: 'OpenSans-SemiBold';
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    opacity: 0.8700000047683716;
    text-align: left;
    height: 20px;
}

.modal-dialog {
    width: 430px !important;
}

</style>

<link href="@ui_Folder_Client_Side/css/select2.min.css" rel="stylesheet" />
<script src="@ui_Folder_Client_Side/js/select2.min.js"></script>

<div id="takeRange" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row margin_padding_0">
                    <div class="col margin_padding_0" style="padding-top: 15px !important;">
                        <div style="width:100%" class="filter_title">Date From</div>
                        <div style="width:100%;padding:10px 10px 10px 0px;">
                            <div class="input-group date">
                                <input id="txtDateFrom_Input" class="mercy_select mercy_input_text mercy_date" style="width:100% !important;" data-date-format="mm/dd/yyyy" placeholder="mm/dd/yyyy" />
                                <div class="input-group-prepend">
                                    <span class="input-group-text mercy_date_icon"> </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col margin_padding_0" style="padding-top: 15px !important;">
                        <div style="width:100%" class="filter_title">Date To</div>
                        <div style="width:100%;padding:10px 10px 10px 0px;">
                            <div class="input-group date">
                                <input id="txtDateTo_Input" class="mercy_select mercy_input_text mercy_date" style="width:100% !important;" data-date-format="mm/dd/yyyy" placeholder="mm/dd/yyyy" />
                                <div class="input-group-prepend">
                                    <span class="input-group-text mercy_date_icon"> </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row margin_padding_0" style="margin: 20px 5px 0px 0px !important;">
                    <div class="col col-md-auto margin_padding_0"><div class="mercy_button" style="width:170px;" id="btnPreview"><div class="mercy_text_center">Preview</div></div></div>
                    <div class="col col-md-auto margin_padding_0" style="margin-left: 20px !important;"><div class="mercy_button_2" style="width:100px;" id="btnCancel"><div class="mercy_text_center">Cancel</div></div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col margin_padding_0 mercy_box_inner">
    <div class="row margin_padding_0 mercy_page_Title">
        Hauling Request List
    </div>
    <div class="row margin_padding_0 mercy_page_Title_2">
        Hauling Request > Hauling Request List
    </div>
    <div class="row margin_padding_0 mercy_box_inner_content" style="min-height:100px !important;">
        <div class="col-12 col-md-auto margin_padding_0" style="padding: 15px 0px 0px 15px !important;">
            <div style="width: 160px;">
                <div style="width:100%" class="filter_title">Site</div>
                <div style="width:100%;padding:10px 10px 10px 0px;">
                    <select id="ddl_Site" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;display:none;"></select>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-auto margin_padding_0" style="padding: 15px 0px 0px 15px !important;">
            <div style="width: 160px;">
                <div style="width:100%" class="filter_title">Date From</div>
                <div style="width:100%;padding:10px 0px !important;">
                    <div class="input-group date">
                        <input id="txtDateFrom" class="mercy_select mercy_input_text mercy_date" style="width:100% !important;" data-date-format="dd-M-yyyy" placeholder="dd-M-yyyy" />
                        <div class="input-group-prepend">
                            <span class="input-group-text mercy_date_icon"> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-auto margin_padding_0" style="padding: 15px 0px 0px 15px !important;">
            <div style="width: 160px;">
                <div style="width:100%" class="filter_title">Date To</div>
                <div style="width:100%;padding:10px 0px !important;">
                    <div class="input-group date">
                        <input id="txtDateTo" class="mercy_select mercy_input_text mercy_date" style="width:100% !important;" data-date-format="dd-M-yyyy" placeholder="dd-M-yyyy" />
                        <div class="input-group-prepend">
                            <span class="input-group-text mercy_date_icon"> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md margin_padding_0">
            <div class="row margin_padding_0">
            </div>
        </div>
        <div class="col-12 col-md-auto margin_padding_0" style="padding: 15px 0px 0px 15px !important;">
            <div style="width:180px;">
                <div style="width:100%" class="filter_title"></div>
                <div style="width:100%;padding:10px 0px !important;">
                    <div>
                        <input type="text" id="txtSearch_Name" value="" class="shadow-none text_search" style="width:100%;" placeholder="Search" onkeyup="OnKeyUp_Text(this)" />
                    </div>
                    <div style="height:20px;width:100%;padding:0px 0px 0px 5px !important;margin:-32px 0px 0px 0px !important;">
                        <img src="/images/ic-search.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin_padding_0 mercy_box_inner_content">
        <div class="col margin_padding_0">
            <div class="row margin_padding_0" style="margin:20px 25px !important;">
                <div style="width: 300px;">
                    <div class="col col-md-auto margin_padding_0"><div class="mercy_button" style="width:170px;" id="btnAdd"><div class="mercy_text_center">Add Hauling Request</div></div></div>
                </div>
            </div>
            <div id="div_detail" style="width: 100%; padding-left: 0px; padding-right: 0px;margin:20px 25px !important;position: relative; overflow: auto;"></div>
            <div id="div_detail2" class="row margin_padding_0" style="margin:10px 25px !important;position: relative; overflow: auto;">
                <table id="mercyTable" class="display nowrap table table-striped mercy_table mercy_table_header" style="width:100%;">
                    <thead>
                        <tr>
                            <th>RecordId</th>
                            <th><div style="color:white;text-align: center !important;">Action</div></th>
                            <th>Date</th>
                            <th>Company</th>
                            <th>Source</th>
                            <th>Destination</th>
                            <th>Quality</th>
                            <th>Remark</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

// Flag
var first_Load = true;

// DataGrid
var obj_html_Table;
// DropdownList
var obj_html_Site = null;
var obj_html_Company = null;

// DataSource "concept"
var dataSource_Company = null;

// row
var lineNumber_Row = 0;

// for Tracking
var currentData_Company = 'TCM';
var currentData_Shift = '1';

$(document).ready(function () {

    $(document).attr('title', 'Hauling Request List : Mercy');

    $(window).resize(function () {
        // Resize Table: because the Window is Resized
        resize_Table();
        resize_Table_Hauling_Request();
    });

    $('#btnAdd').click(function (e) {
        $("#takeRange").modal().appendTo("body");
    });

    $('#btnCancel').click(function (e) {
        $("#takeRange").modal('hide');
    });

    $('#btnPreview').click(function (e) {
        preview();
    });

    $('#btnViewData').click(function (e) {
        Populate_DataGrid();
    });

    $('#btnReset').click(function (e) {
        $('#txtDateFrom').datepicker('update', new Date());
        $('#txtDateTo').datepicker('update', new Date());

        $('#ddl_Shift').val('').trigger('change');

        //Populate_DataGrid();
    });

    Create_ddl_Site();

    $("#txtDateFrom").datepicker({
        todayBtn: 1
        , autoclose: true
    }).on('changeDate', function (selected) {
        Populate_DataGrid();
    });
    $('#txtDateFrom').datepicker('update', new Date());

    $("#txtDateTo").datepicker({
        todayBtn: 1
        , autoclose: true
    }).on('changeDate', function (selected) {
        Populate_DataGrid();
    });
    $('#txtDateTo').datepicker('update', new Date());

    $("#txtDateFrom_Input").datepicker({
        todayBtn: 1
        , autoclose: true
    }).on('changeDate', function (selected) {
    });
    $('#txtDateFrom_Input').datepicker('update', new Date());

    $("#txtDateTo_Input").datepicker({
        todayBtn: 1
        , autoclose: true
    }).on('changeDate', function (selected) {
    });
    $('#txtDateTo_Input').datepicker('update', new Date());
    
    Load_Page_List();
});

    function Create_ddl_Site() {
        if (obj_html_Site != null) return;

        obj_html_Site = $('#ddl_Site').select2({
            placeholder: 'Select Site'
            , tags: false
            , multiple: false
            , minimumResultsForSearch: -1
        });

        $('#ddl_Site').change(function (e) {
            OnChange_ddl_Site();
        });
    }

    function OnChange_ddl_Site() {
        Populate_DataGrid();
    }

    function Populate_Data_ddl_Site() {
        try {
            obj_html_Site.empty();

            uInfo.Relations.Sites.forEach(
                function (item) {
                    // create the option and append to Select2
                    option = new Option(item.SiteName, item.SiteId, true, true);
                    obj_html_Site.append(option);
                }
            );

            // Initial value for "Site"
            obj_html_Site.select(0);
            $('#ddl_Site').trigger('change');
        } catch (err) { }
    }

function Clear_DataGrid_(p_id) {
    try {
        $('#' + p_id).DataTable().clear().destroy();
    }
    catch (err) {}
}

function Clear_DataGrid() {
    Create_Table();
}

function Create_Table() {
    Clear_DataGrid_('mercyTable');

    try {
        obj_html_Table = $('#mercyTable').DataTable({
            "bAutoWidth": false
            , "bFilter": false
            , "dom": '<"top">rt<"bottom"iflp><"clear">'
            , "scrollX": true
            , "scrollY": false //"200px"
            //, "scrollCollapse": true
            , "paging": false
            //, "ordering": false
            , "columns": [
                { "data": "RecordId", "name": "RecordId", "autoWidth": true }
                , {
                    render: function (data, type, full, meta) {
                        return '<div style="width:40px !important;">'+
                                '<a href="/Haulingv/Form?.id='+full.RecordId+'"><i class="fa fa-edit" style="cursor: pointer;font-size: 20px;color:white" title="Detail Hauling"></i></a>'
                                '</div>'
                                ;
                    }
                    , className: "mercy_action_icon"
                    , orderable: false
                    , width: "40px"
                }
                , { "data": "CreatedOn_Str", "name": "CreatedOn_Str", "autoWidth": true }
                , { "data": "Company", "name": "Company", "autoWidth": true }
                , { "data": "Source", "name": "Source", "autoWidth": true }
                , { "data": "Destination", "name": "Destination", "autoWidth": true }
                , { "data": "Quality", "name": "Quality", "autoWidth": true }
                , { "data": "Remark", "name": "Remark", "autoWidth": true }
            ]
            , "columnDefs": [{
                "targets": [0],
                "visible": false,
                "searchable": false
            }
                /*,{
                    "targets": [7],
                    "searchable": false,
                    "orderable": false
                }*/
            ]
            , "order": [[0, "asc"]]
        });

        obj_html_Table.on('draw', function () {
            //lineNumber_Row++;
            //console.log(lineNumber_Row);
        });
    }
    catch (err) { }
    
    // Resize Table: because this DataTable is newly created
    resize_Table();
    resize_Table_Hauling_Request();
}

function Populate_DataGrid(){
    var detail = getUrlParameter('detail');
    
    if (detail == null || detail == ''){
        $("#div_detail").show();
        $("#div_detail2").hide();
        
        Populate_DataGrid_Text();
    }else{
        $("#div_detail").hide();
        $("#div_detail2").show();
        
        Populate_DataGrid_Tabular();
    }
}

function Populate_DataGrid_Text() {
    var dateFrom = $("#txtDateFrom").val();
    var dateTo = $("#txtDateTo").val();
    var siteId = $('#ddl_Site').val();

    Clear_DataGrid();

    // tidak usah AJAX, jika belum "Siap"
    if (dateFrom == null || dateFrom == ''
        || dateTo == null || dateTo == ''
    ) {
        return;
    }

    // data from AJAX
    $.ajax({
        url: api_Request + '/Api/Hauling/GetAll'
        , type: 'GET'
        , data: {
            u_menu: get_user_menu,
            u_relation: get_user_relation,
            dateFrom: dateFrom,
            dateTo: dateTo,
            siteId: siteId
        }
        //, dataType: "json"
        , beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data) {
            if ( ! $.trim(data)) {
                // empty data
                return;
            }
            
            if ( ! data.Success){
                alert(data.Message);
                
                window.location = '/NoAccess';
                return;
            }
            
            // Special Purpose, getting information of CurrentUser
            if (get_user_menu == '1'){
                after_GetUserInfo(data.User);
                uInfo = data.User;

                Populate_Data_ddl_Site();
                Create_Table();
            }
            
            // reset
            get_user_menu = '0';
            get_user_relation = '0';
            
            // we need "Permission" information
            permission = data.Permission;
            
            // make it "Intuitive"
            Display_Buttons();
            
            $('#div_detail').html(data.Content);
            
            // Resize Table: because this DataTable is filled with new Data
            resize_Table();
            resize_Table_Hauling_Request();
        },
        error: function (error) {
            $(this).remove();
        }
    });
}

function Populate_DataGrid_Tabular() {
    var dateFrom = $("#txtDateFrom").val();
    var dateTo = $("#txtDateTo").val();

    Clear_DataGrid();

    // tidak usah AJAX, jika belum "Siap"
    if (dateFrom == null || dateFrom == ''
        || dateTo == null || dateTo == ''
    ) {
        return;
    }

    // data from AJAX
    $.ajax({
        url: api_Request + '/Api/Hauling'
        , type: 'POST'
        , data: {u_menu:get_user_menu, u_relation:get_user_relation, dateFrom: dateFrom, dateTo: dateTo }
        , dataType: "json"
        , beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data) {
            if ( ! $.trim(data)) {
                // empty data
                return;
            }
            
            if ( ! data.Success){
                alert(data.Message);
                
                window.location = '/NoAccess';
                return;
            }
            
            // Special Purpose, getting information of CurrentUser
            if (get_user_menu == '1'){
                after_GetUserInfo(data.User);
                uInfo = data.User;
            }
            
            // reset
            get_user_menu = '0';
            get_user_relation = '0';
            
            // we need "Permission" information
            permission = data.Permission;
            
            // make it "Intuitive"
            Display_Buttons();
            
            try {
                recordNumber = 0;

                obj_html_Table.rows.add(data.Items); // add to DataTable instance
                obj_html_Table.draw(); // always redraw
            } catch (err) {}
        },
        error: function (error) {
            $(this).remove();
        }
    });
}

var recordNumber = 0;

function preview() {
    var dateFrom = $("#txtDateFrom_Input").val();
    var dateTo = $("#txtDateTo_Input").val();
    var siteId = $('#ddl_Site').val();

    if (dateFrom == null || dateFrom == '') {
        alert('[Date From] must not be empty!');
        return;
    }
    if (dateTo == null || dateTo == '') {
        alert('[Date To] must not be empty!');
        return;
    }
    window.location = mercyUrl('/Haulingv/Form?dateFrom=' + dateFrom + '&dateTo=' + dateTo + '&siteId=' + siteId);
}

function resize_Table_Hauling_Request() {
    if ($.cookie(MERCY_C_HIDE) == '1'){
        $("#div_detail").width('100%');
        return;
    }
    
    if ($('.mercy-sidebar').is(":hidden")){
        $("#div_detail").width('100%');
        return;
    }
    
    var width_outer = $('.mercy-box-outer').width();
    var width_sidebar = $('.mercy-sidebar').width();

    var width_additional = 20 + 20 + 40 + 10 + resize_Table_additional;
    var width_table = width_outer - width_sidebar - width_additional;
    if (width_table <= 0) {
        width_table = '100%';
    }
    
    $("#div_detail").width(width_table);
}

</script>
