@using MERCY.Web.FrontEnd.Helpers;
@using System.Configuration;

@{
    string ui_name = @"a-Bootstrap-v4_4_1";
    UserInterface userInterface = new UserInterface(ui_name);
    string ui_Folder_ServerSide = userInterface.Folder_ServerSide;
    string ui_Folder_Client_Side = userInterface.Folder_ClientSide;

    Layout = ui_Folder_ServerSide + "_Layout.cshtml";
}

<style scoped>
    .card {
        overflow: auto !important;
    }

    tbody > tr[role="row"] {
        background-color: #f5f4f9;
    }

    .max-table {
        overflow: auto !important;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield;
    }

    table {
        width: 100% !important;
    }

    .dataTables_scrollHeadInner {
        width: 100% !important;
    }

    .dataTables_scrollBody {
        min-height: 50vh !important;
    }

    .dts_label {
        display: none;
    }

    div.dts div.dataTables_scrollBody {
        background: white;
    }

    #mercyTableParent_length {
        display: none;
    }

    #mercyTableParent_paginate {
        display: none;
    }
</style>

<script src="@ui_Folder_Client_Side/js/arrow-table.js"></script>
<script src="@ui_Folder_Client_Side/js/move-input-table.js"></script>
<script src="@ui_Folder_Client_Side/js/jquery.tabbable.min.js"></script>

<div class="col margin_padding_0 mercy_box_inner">
    <div class="row margin_padding_0 mercy_page_Title">
        Input Analysis Sample (<span id="titleInput"></span>) - <span id="jobNumbers"></span>
    </div>
    <div class="row margin_padding_0 mercy_page_Title_2">
        Analysis Sample > Input Analysis Sample
    </div>
    <div class="card mt-3 p-3">
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <button id="btnSave" type="button" class="btn btn-info px-5 mr-3" onclick="handleAction('save')">Save</button>
                <button type="button" class="btn btn-outline-info px-5" onclick="handleAction('cancel')">Close</button>
            </div>
            <div style="width:180px;">
                <div style="width:100%" class="filter_title"></div>
                <div style="width:100%;">
                    <div>
                        <input type="text" id="txtSearch_Name" value="" class="shadow-none text_search" style="width:100%;" placeholder="Search" onkeyup="OnKeyUp_Text(this)" />
                    </div>
                    <div style="height:20px;width:100%;padding:0px 0px 0px 5px !important;margin:-32px 0px 0px 0px !important;">
                        <img src="/images/ic-search.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="max-table">
           <table id="mercyTableParent" class="table table-hover mercy_table mercy_table_header py-2" style="width: 100%;"></table>
        </div>
    </div>
</div>
<div id="modalSession" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body" style="padding-top: 22px;">
                <div class="d-flex flex-column">
                    <p class="align-self-center">Your session is expired, do you want to extend the time ?</p>
                </div>
                <div class="my-3 d-flex flex-column">
                    <div class="w-50 d-flex flex-row align-self-center">
                        <button id="btnExtend" type="button" class="btn btn-info w-100 mr-1" onclick="extendSession()">Extend</button>
                        <button id="btnCloseSession" type="button" class="btn btn-outline-info w-100 mx-1" onclick="Close_Session()">Close Session</button>
                        <div id="spinnerSessionContainer" class="d-none ml-1">
                            <div id="spinnerSession" class="spinner-border text-success" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modalDataChange" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body" style="padding-top: 22px;">
                <div class="d-flex flex-column">
                    <p class="align-self-center">Data has been changed. Do you want to save?</p>
                </div>
                <div class="my-3 d-flex flex-column">
                    <div class="w-50 d-flex flex-row align-self-center">
                        <button id="btnYesDataChange" type="button" class="btn btn-info w-100 mr-1" onclick="">Yes</button>
                        <button id="btnNoDataChange" type="button" class="btn btn-outline-info w-100 mx-1" onclick="">No</button>
                        <button id="btnCancelDataChange" type="button" class="btn btn-outline-info w-100 mx-1" onclick="">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    let dataTableParent = null;
    let dataTableChild = [];
    let schemeTemplates = [];
    let dataList = [];
    let dataListBefore = [];
    let schemes = [];
    let decimalConfig = 0;
    let exceptDecimal = null;
    let foundExcept = null;
    let applyFormatting = null;
    let totalColumnInput = 0;
    let isFromButton = false;

    window.addEventListener('beforeunload', (event) => {
        if (validateChangeValue() && !isFromButton) {
            return event.returnValue = "are you sure?";
        }
    });

    $(document).ready(function () {

        $(document).attr('title', 'Input Analysis - List : Mercy');
        get_user_menu = '1';
        get_user_relation = '1';

        Show_UserInformation();
        showSessionModal();

        getAvailableSchemes();

        // Add event listener for opening and closing details
        $('#mercyTableParent tbody').on('click', 'td.details-control', function () {
            var tr = $(this).closest('tr');
            var row = dataTableParent.row(tr);

            if (row.child.isShown()) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child.show();
                tr.addClass('shown');
            }

            dataTableParent.columns.adjust().draw();
        });

        // add class for remove existing important mercy.css
        $("tr").addClass('header-css');
    });

    function Show_UserInformation() {
        // data from AJAX
        $.ajax({
            url: api_Request + '/Api/User/Info'
            , type: 'POST'
            , data: { u_menu: get_user_menu, u_relation: get_user_relation }
            , dataType: "json"
            , beforeSend: function (request) {
                request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
            }
            , cache: false
            , success: function (data) {
                if (!$.trim(data)) {
                    // empty data
                    return;
                }

                if (!data.Success) {
                    window.location('/');
                    return;
                }

                after_GetUserInfo(data.User);
                uInfo = data.User;

                // reset
                get_user_menu = '0';
                get_user_relation = '0';

                // we need "Permission" information
                permission = data.Permission;
            },
            error: function (error) {
                $(this).remove();
            }
        });
    }

    function getAvailableSchemes() {
        // get data from local storage
        dataPrevious = JSON.parse(localStorage.getItem('SampleAnalysisData'));

        schemeTemplates = dataPrevious.parameter;
        $("#titleInput").text(dataPrevious.parameter.Name);
        $("#jobNumbers").text(dataPrevious.data.map(item => item.JobNumber));

        schemeTemplates.Details = JSON.parse(schemeTemplates.Details);
        schemeTemplates.Details.rulesChild = schemeTemplates.Details.rulesChild.map(rule => ({
            ...rule,
            function: rule.fn !== null ? new Function(rule.fn.arguments, rule.fn.body) : null
        }));

        // Generate function from existing json
        schemeTemplates.Details.rules = schemeTemplates.Details.rules.map(rule => ({
            ...rule,
            function: rule.fn !== null ? new Function(rule.fn.arguments, rule.fn.body) : null
        }));

        schemes = schemeTemplates;

        // add some configuration
        decimalConfig = Get_Decimal_Config();
        exceptDecimal = Get_Except_Decimal_Config();
        foundExcept = exceptDecimal.findIndex(el => el === dataPrevious.parameter.Name);

        Create_Dynamic_Table();
        getAnalysisResult(dataPrevious.companyCode, dataPrevious.analysisJobIds, dataPrevious.parameter.Id);
    }

    function Get_Decimal_Config() {
        var num = "@ConfigurationManager.AppSettings["Decimal_Config"]";
        return Number(num);
    }

    function Get_Except_Decimal_Config() {
        var list = "@ConfigurationManager.AppSettings["Decimal_Config_Except"]";
        return list.split(",");
    }

    function getAnalysisResult(companyCode, analysisJobIds, schemeId) {
        // data from AJAX
        $.ajax({
            url: api_Request + '/Api/DataEntry/GetAnalysisResults',
            type: 'GET',
            data: { companyCode: companyCode, analysisJobIds: analysisJobIds, schemeId: schemeId },
            dataType: "json"
            , beforeSend: function (request) {
                request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
            }
            , cache: false
            , success: function (data) {
                if (!$.trim(data) || !data.Success || !data.Items.length) {
                    // empty data
                    return;
                }

                dataListBefore = data.Items;
                dataList = data.Items.map(item => ({
                    ...item,
                    ...(item.Attributes !== null ? JSON.parse(item.Attributes) : {}),
                    Attributes: null,
                    Child: item.Child.map(itemChild => ({
                        ...itemChild,
                        ...(itemChild.Attributes !== null ? JSON.parse(itemChild.Attributes) : {}),
                        Attributes: null
                    }))
                }));


                // data calculation example in child (it could be ran after fetch)
                dataList.forEach(function (dataRow) {
                    dataRow.Child = dataRow.Child.map(d => {
                        const newData = { ...d };
                        schemes.Details.rulesChild.filter(rule => rule.fn !== null).forEach(rule => {
                            newData[rule.attribute] = rule.function(newData);
                        })

                        return newData;
                    });
                })

                // data calculation example in parent(it could be ran after fetch)
                dataList = dataList.map(d => {
                    const newData = { ...d };
                    schemes.Details.rules.filter(rule => rule.fn !== null).forEach(rule => {
                        newData[rule.attribute] = rule.function(newData);
                    })

                    return newData;
                });

                Insert_Data();


                $('td.details-control').trigger('click');
                // hacky way to adjust columns after child added;
                setTimeout(() => {
                    $('td.details-control').trigger('click');
                }, 1000);
            },
            error: function (error) {
                $(this).remove();

                return null;
            }
        });
    }

    function Create_Dynamic_Table() {
        // Dynamic Column & Detect if Column is input/no
        let columnList = [];
        let column = {};
        let ISO = 0.3;

        // add icon for expand
        column = {
            className: 'details-control',
            data: null,
            defaultContent: '',
            render: function (data, type, full, meta) {
                return '<i class="fa fa-chevron-down"></i>';
            }
        }
        columnList.push(column);

        // because expand, maybe parent doesnt have something to input
        schemeTemplates.Details.rules.forEach(function (col) {
            // temporary handling repeatability
            if (col.attribute === 'Repeatability') {
                column = {
                    title: col.header,
                    data: col.attribute,
                    render: function (data, type, full, meta) {
                        applyFormatting = foundExcept === -1 || schemeTemplates.Details.externalAttributes.findIndex(attribute => attribute === col.attribute) !== -1;
                        return `<span ${repeatabilityCheck(full) ? 'class="text-danger"' : null}>${applyFormatting ? Number(parseFloat(full[col.attribute]).toFixed(decimalConfig)) : Math.round(full[col.attribute])}</span>`
                    }
                }
            } else {
                if (col.input) {
                    column = {
                        title: col.header,
                        data: col.attribute,
                        render: function (data, type, full, meta) {
                            return `<input type='number' kind='parent' id=${col.attribute}_${meta.row} val=${meta.row} name=${col.attribute} value=${full[col.attribute]}>`
                        }
                    }
                } else {
                    column = {
                        title: col.header,
                        data: col.attribute,
                        render: function (data, type, full, meta) {
                            applyFormatting = foundExcept === -1 || schemeTemplates.Details.externalAttributes.findIndex(attribute => attribute === col.attribute) !== -1;
                            return (typeof (full[col.attribute]) === "number") && (applyFormatting)
                                ? Number(parseFloat(full[col.attribute]).toFixed(decimalConfig))
                                : (typeof (full[col.attribute]) === "number")
                                    ? Math.round(full[col.attribute])
                                    : full[col.attribute];
                        }
                    }
                }
            }

            columnList.push(column);
        })

        try {
            dataTableParent = $('#mercyTableParent').DataTable({
                bAutoWidth: false,
                bFilter: false,
                bPaginate: true,
                bInfo: false,
                scrollX: true,
                scrollY: '50vh',
                scroller: true,
                scrollCollapse: true,
                deferRender: true,
                columnDefs: [{
                    targets: "_all",
                    orderable: false,
                    defaultContent: ""
                }],
                columns: columnList
            });
        } catch (err) {
            console.log(err);
        }

        $('#mercyTableParent').arrowTable({
            enabledKeys: ['up', 'down'],
            listenTarget: 'td',
            namespace: 'arrowtable',
            afterMove: function (input, targetFinder, direction) {
                if ($(targetFinder).text() !== '') {
                    if (direction === 'down') {
                        var selectables = $(':focusable');
                        var current = $(':focus');
                        var nextIndex = 0;
                        if (current.length === 1) {
                            var currentIndex = selectables.index(current);
                            if (currentIndex + totalColumnInput < selectables.length) {
                                nextIndex = currentIndex + totalColumnInput;
                            }
                        }

                        selectables.eq(nextIndex).focus().select();
                    }
                    if (direction === 'up' && ($(input).attr('rowidx') !== '0' || $(input).attr('rowchildidx') !== '0')) {
                        var selectables = $(':focusable');
                        var current = $(':focus');
                        var prevIndex = selectables.length - totalColumnInput;
                        if (current.length === 1) {
                            var currentIndex = selectables.index(current);
                            if (currentIndex > 0) {
                                prevIndex = currentIndex - totalColumnInput;
                            }
                        }

                        selectables.eq(prevIndex).focus().select();
                    }
                } else {
                    let exist = $(targetFinder).find(':input[type="number"]');
                    if (exist.length) {
                        $(exist)[0].select();
                    }
                }
            },
        });

        // move to next input when press enter key
        $('#mercyTableParent').moveInput({
            afterMove: function (input, targetFinder, direction) {
                let exist = $(targetFinder).find(':input[type="number"]');
                if (exist.length) {
                    $(exist)[0].select();
                }
            }
        });
    }

    function Insert_Data() {
        dataList.forEach(function (data) {
            dataTableParent.row.add(data).draw(false);
        })

        // Create Template for Table
        dataTableParent.rows().every(function (rowIdx) {
            this
                .child($(Format_Expand(rowIdx, dataTableParent.row(rowIdx).data(), schemeTemplates.Details.rulesChild)))
                .show();
        });

        // Bind paste
        dataTableParent.on('paste', "input[type='number']", function (e) {
            e.preventDefault();
            var pasteData = e.originalEvent.clipboardData.getData('text')
            var rows = pasteData.split("\n");
            var rowCurr = parseInt($(this).closest("tr")[0].rowIndex) - 1;
            var colCurr = parseInt($(this).parent().parent().children().index($(this).parent()));

            if (rows.length === 1) {
                $(this).val(parseFloat(rows[0].replace(/,/g, ''))).trigger('change');
                return
            }

            for (var y = 0; y < (rows.length - 1); y++) {
                y = parseInt(y);
                var cells = rows[y].split("\t");
                for (var x in cells) {
                    x = parseInt(x)
                    var tdData = $('#mercyTableParent tbody tr').eq(y + rowCurr).find('td').eq(x + colCurr);

                    if (tdData.children().length) {
                        var childId = tdData.children().attr('id');
                        var valData = cells[x].replace(/,/g, '');
                        $(`#${childId}`).val(parseFloat(valData)).trigger('change');
                    }
                }
            }
        });

        // Changes on input
        dataTableParent.on("change", "input[type='number']", function (data) {
            let kind = data.target.attributes.kind;

            if (kind) {
                let idx = data.target.attributes.val.nodeValue;
                let variableName = data.target.attributes.name.nodeValue;
                if (dataTableParent) {
                    var newData = dataTableParent.row(idx).data();
                    newData[variableName] = Number($(this).val());

                    // get all function for update data
                    schemesFuncList = schemes.Details.rules.filter(element => element.function !== null);
                    schemesFuncList.forEach(function (data) {
                        newData[data.attribute] = data.function(newData)
                    })

                    var scrollPos = dataTableParent.scroller().pixelsToRow($('.dataTables_scrollBody').scrollTop());

                    dataTableParent.rows($(this).closest("tr")).invalidate().draw(false);
                    dataTableParent.draw().scroller.toPosition(scrollPos, false);
                }
                return;
            }

            let rowIdx = data.target.attributes.rowIdx.nodeValue;
            let rowChildIdx = data.target.attributes.rowChildIdx.nodeValue;
            let nameChange = data.target.attributes.name.nodeValue;
            let newDataParent = dataTableParent.row(rowIdx).data();

            newDataParent.Child[rowChildIdx][nameChange] = $(this).val() === "" ? "" : Number($(this).val());

            // get all function on child for update data
            schemesFuncList = schemes.Details.rulesChild.filter(element => element.function !== null);
            schemesFuncList.forEach(function (data) {
                // update data child on parent
                applyFormatting = foundExcept === -1 || schemeTemplates.Details.externalAttributes.findIndex(attribute => attribute === data.attribute) !== -1;
                newDataParent.Child[rowChildIdx][data.attribute] = applyFormatting
                    ? Number(parseFloat(data.function(newDataParent.Child[rowChildIdx])).toFixed(decimalConfig))
                    : Math.round(data.function(newDataParent.Child[rowChildIdx]));

                // update text on ui
                $(`#${data.attribute}_${rowIdx}_${rowChildIdx}`).text(applyFormatting
                    ? Number(parseFloat(data.function(newDataParent.Child[rowChildIdx])).toFixed(decimalConfig))
                    : Math.round(data.function(newDataParent.Child[rowChildIdx])));
            })

            // get all function on parent for update data
            schemesFuncList = schemes.Details.rules.filter(element => element.function !== null);
            schemesFuncList.forEach(function (data) {
                newDataParent[data.attribute] = data.function(newDataParent)
            })

            var scrollPos = dataTableParent.scroller().pixelsToRow($('.dataTables_scrollBody').scrollTop());

            dataTableParent.rows(rowIdx).invalidate().draw(false);
            dataTableParent.draw().scroller.toPosition(scrollPos, false);
        })
    }

    // Function for expand the child
    function Format_Expand(index, data, rulesChild) {
        let html = '';

        for (let i = 0; i < data.Child.length; i++) {
            let keys = Object.keys(data.Child[i]);
            let keysRule = [];
            let temp = '<td></td>';

            rulesChild.forEach(function (data) {
                keysRule.push(data.attribute);
            })

            keys.sort(function (a, b) {
                return keysRule.indexOf(a) - keysRule.indexOf(b);
            });


            totalColumnInput = 0
            keys.forEach((key, idx) => {
                // find rules child is input or not
                let found = rulesChild.find(element => element.attribute === key);
                //is input or not
                if (found) {
                    if (found.input) {
                        totalColumnInput++;
                    }
                    applyFormatting = foundExcept === -1 || schemeTemplates.Details.externalAttributes.findIndex(attribute => attribute === key) !== -1;
                    let input = found.input
                        ? `<input type="number" style="max-width: 90px;" id="input_${found.attribute}_${index}_${i}" name="${found.attribute}" value=${data.Child[i][key]} data-valuebef="${data.Child[i][key]}" rowIdx="${index}" rowChildIdx="${i}">`
                        : ((typeof (data.Child[i][key]) === "number") && (applyFormatting))
                            ? Number(parseFloat(data.Child[i][key]).toFixed(decimalConfig))
                            : typeof (data.Child[i][key]) === "number"
                                ? Math.round(data.Child[i][key])
                                : data.Child[i][key];

                    temp = temp + `<td id="${found.attribute}_${index}_${i}">${input}</td>`;
                }
            })
            html = html + `<tr id="row_${index}">${temp}" rowIdx=${index}></tr>`;
        }

        return html;
    }

    function Close_Page() {
        localStorage.removeItem('SampleAnalysisData');
        localStorage.removeItem('SecuritySession');
        window.location = mercyUrl('/SampleAnalysisv');
    }

    function Save() {
        $("#btnSave").text("Loading...");

        let dataParent = dataTableParent.rows().data().toArray();
        let formData = [];
        dataParent.forEach(function (data, idx) {
            data.Child.forEach(function (dataChild, idxChild) {
                let attributes = JSON.parse(dataListBefore[idx].Child[idxChild].Attributes);
                let keys = Object.keys(attributes);
                keys.forEach(function (key) {
                    attributes[key] = dataChild[key];
                })

                let tempChild = {
                    Id: dataChild.Id,
                    Attributes: JSON.stringify(attributes),
                    Total: dataChild.Total
                }
                formData.push(tempChild);
            })

            let tempParent = {
                Id: data.Id,
                Attributes: data.Attributes,
                Total: data.Total
            }
            formData.push(tempParent);
        })

        // data from AJAX
        $.ajax({
            url: api_Request + '/Api/DataEntry/UpdateAnalysisResult',
            type: 'POST',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(formData),
            dataType: "json",
            beforeSend: function (request) {
                request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
            },
            cache: false,
            success: function (data) {
                if (!$.trim(data) || !data.Success || !data.Items.length) {
                    // empty data
                    return;
                }

                Close_Session();
            },
            error: function (error) {
                $("#btnSave").text("Save");
                alert(error);
            }
        })
    }

    function Close_Session() {
        let SecuritySession = JSON.parse(localStorage.getItem('SecuritySession'));

        $.ajax({
            url: api_Request + '/Api/Session/CloseSession',
            type: 'GET',
            data: { menus: SecuritySession },
            dataType: "json",
            cache: false,
            beforeSend: function (request) {
                request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
            },
            success: function (data) {
                $("#btnSave").text("Save");
                if (!$.trim(data)) {
                    // empty data
                    return;
                }

                alert('Success');
                localStorage.removeItem('SampleAnalysisData');
                localStorage.removeItem('SecuritySession');
                window.location = mercyUrl('/SampleAnalysisv');
            },
            error: function (error) {
                $("#btnSave").text("Save");
                alert(error);
            }
        });
    }

    function repeatabilityCheck(data) {
        if ((data.MaxRepeatability !== null) && (data.MinRepeatability !== null)) {
            return ((data.Repeatability < data.MinRepeatability) || (data.Repeatability > data.MaxRepeatability));
        }

        if ((data.MaxRepeatability !== null) && (data.MinRepeatability === null)) {
            return data.Repeatability > data.MaxRepeatability;
        }

        if ((data.MaxRepeatability === null) && (data.MinRepeatability !== null)) {
            return data.MinRepeatability < data.Repeatability;
        }

        return false;
    }

    function Close_Session_Cancel() {
        let SecuritySession = JSON.parse(localStorage.getItem('SecuritySession'));

        $.ajax({
            url: api_Request + '/Api/Session/CloseSession',
            type: 'GET',
            data: { menus: SecuritySession },
            dataType: "json",
            cache: false,
            beforeSend: function (request) {
                request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
            },
            success: function (data) {
                if (!$.trim(data)) {
                    // empty data
                    return;
                }

                Close_Page();
            },
            error: function (error) {
                $("#btnSave").text("Save");
                alert(error);
            }
        });
    }

    function showSessionModal() {
        var timeoutData = JSON.parse(localStorage.getItem('SessionTime'));
        var now = moment(new Date(), 'YYYY-MM-DD HH:mm:ss');
        var extendTime = moment(timeoutData.ExtendSessionTime, 'YYYY-MM-DD HH:mm:ssZ');
        var timeout = moment.duration(extendTime.diff(now)).asMilliseconds();
        setTimeout(() => {
            $('#modalSession').appendTo('body').modal('show');
        }, timeout);
    }

    function closeSessionModal() {
        $('#modalSession').modal('hide');
    }

    function extendSession() {
        var securitySession = JSON.parse(localStorage.getItem('SecuritySession'));

        $('#spinnerSessionContainer').removeClass('d-none');
        $('#btnExtend').prop('disabled', true);
        $('#btnCloseSession').prop('disabled', true);
        $.ajax({
            url: api_Request + '/Api/Session/ClaimSession',
            type: 'GET',
            data: { menus: securitySession },
            dataType: "json",
            cache: false,
            beforeSend: function (request) {
                request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
            },
            success: function (data) {
                if (!$.trim(data)) {
                    // empty data
                    return;
                }

                if (!data.Success) {
                    alert(data.Message);
                    return;
                }

                localStorage.setItem('SessionTime', JSON.stringify(data.Items));
                $('#spinnerSessionContainer').addClass('d-none');
                $('#btnExtend').prop('disabled', false);
                $('#btnCloseSession').prop('disabled', false);

                closeSessionModal();
                showSessionModal();
            },
            error: function (error) {
                alert(error);
                return null;
            }
        });
    }

    function validateChangeValue() {
        var isChanged = false;
        $("#mercyTableParent tr").each(function () {
            $(this).closest('tr').find("input").each(function () {
                var elem = $(this);
                if (elem.val() != "") {
                    if (elem.val() !== elem.data("valuebef")?.toString()) {
                        isChanged = true;
                    }
                } else {
                    if (elem.data("valuebef") !== null) {
                        if (elem.val() !== elem.data("valuebef").toString()) {
                            isChanged = true;
                        }
                    }
                }
            });
        });
        return isChanged;
    }

    function handleAction(action) {
        if (validateChangeValue()) {
            $('#modalDataChange').appendTo('body').modal('show');
            return;
        }

        switch (action) {
            case "save":
                Save();
                break;
            case "cancel":
                Close_Session_Cancel();
                break;
            default:
                Close_Session_Cancel();
                break;
        }
    }

    function closeModalDataChange() {
        $('#modalDataChange').modal('hide');
    }

    $("#btnCancelDataChange").click(function () {
        closeModalDataChange();
    })

    $("#btnNoDataChange").click(function () {
        isFromButton = true;
        Close_Session_Cancel();
    })

    $("#btnYesDataChange").click(function () {
        isFromButton = true;
        closeModalDataChange();
        Save();
    })
</script>