@using MERCY.Web.FrontEnd.Helpers;

@{
    string ui_name               = @"a-Bootstrap-v4_4_1";
    UserInterface userInterface  = new UserInterface(ui_name);
    string ui_Folder_ServerSide  = userInterface.Folder_ServerSide;
    string ui_Folder_Client_Side = userInterface.Folder_ClientSide;

    Layout = ui_Folder_ServerSide + "_Layout.cshtml";
}

<style>
#id_menu_ROMTransfer {
    background-color: #000000;
    border-radius: 4px;
    /*opacity: 0.2;*/
    background: rgba(0,0,0,0.2);
    height: 52px;
    margin: 5px 8px;
}

.filter_title {
    color: #232323;
    font-family: 'OpenSans-SemiBold';
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    opacity: 0.8700000047683716;
    text-align: left;
    height: 20px;
}

.select2-selection--single{
    height: 34px !important;
}
.select2-selection__choice {
    height: 34px !important;
}
.select2-selection__arrow{
    height: 32px !important;
}

.mercy_filter-title {
    color: #232323;
    font-family: 'Poppins-SemiBold';
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
}

.select-none {
    display: none !important;
}

div.dataTables_wrapper {
    width: 100% !important;
}
</style>

<link href="@ui_Folder_Client_Side/css/select2.min.css" rel="stylesheet" />
<script src="@ui_Folder_Client_Side/js/select2.min.js"></script>

<div class="col margin_padding_0">
    <div class="row margin_padding_0 mercy_page_Title">
        Instruments
    </div>
    <div class="row margin_padding_0 mercy_page_Title_2">
        Instruments
    </div>
    <div class="row margin_padding_0 mercy_box_inner_content_2" style="min-height: 100px !important">
        <div class="col margin_padding_0" style="padding: 20px !important;">
            <div class="row margin_padding_0">
                <div style="width: 33%; padding-right: 10px;">
                    <div style="width:100%" class="mercy_filter-title">Site</div>
                    <div style="width:100%;padding:10px 0px;">
                        <select id="ddl_Site" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;"></select>
                    </div>
                </div>
                <div style="width: 34%; padding: 0px 10px;">
                    <div style="width:100%" class="mercy_filter-title">Company</div>
                    <div style="width:100%;padding:10px 0px;">
                        <select id="ddl_Company" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;"></select>
                    </div>
                </div>
                <div style="width: 33%; padding-left: 10px;">
                    <input type="text" id="txtSearch_Name" value="" class="shadow-none text_search" style="width: 100% !important; margin-top: 23px;" placeholder="Search" onkeyup="OnKeyUp_Text(this)" />
                    <div style="height:20px; width:100%; padding:0px 0px 0px 5px !important;margin:-27px 0px 0px 0px !important;">
                        <img src="/images/ic-search.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin_padding_0 mercy_box_inner_content">
        <div class="col margin_padding_0" style="padding: 0px 20px !important;">
            <div class="row margin_padding_0" style="margin-bottom:20px !important;">
                <div class="col col-md margin_padding_0" style="margin:20px 10px 0px 0px !important;">
                    <div>
                        <div class="mercy_button" style="width:100px;" id="btnAdd"><div class="mercy_text_center">Add New</div></div>
                    </div>
                </div>
            </div>
            <div class="row margin_padding_0">
                <table id="mercyTable" class="display nowrap table table-striped table-hover mercy_table mercy_table_header" style="width:100%;">
                    <thead>
                        <tr>
                            <th>RecordId</th>
                            <th>No_Line</th>
                            <th><div style="color:white;text-align: center !important;">Action</div></th>
                            <th>No</th>
                            <th><div style="width: 100px !important;">Site</div></th>
                            <th><div style="width: 100px !important;">Company</div></th>
                            <th><div style="text-align: center !important;">Status</div></th>
                            <th><div style="width: 300px !important;">Instrument Name</div></th>
                            <th>Created Date</th>
                            <th>Created by</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

// Flag
var is_still_AJAX_dataList = false;
var ignore_trigger_change_ddl_Site = false;
var ignore_trigger_change_ddl_Company = false;

// DataGrid
var obj_html_Table;

// DropdownList
var obj_html_Site = null;
var obj_html_Company = null;

// row
var isNew = false;
var is_Mode_Editor = false;
var lineNumber_Data = 0;
var object_Created_Count = 0;
var object_id_additional = ''; // pattern is: '_' + object_Created_Count + '_' + lineNumber_Data;
var object_id_Created = [];
var object_id_Deleted = [];

$(document).ready(function (){
    $(document).attr('title', 'Instruments - List : Mercy');

    $(window).resize(function (){
        // Resize Table: because the Window is Resized
        resize_Table();
    });

    $('#btnAdd').click(function (e){
        processLink_Add();
    });
    
    $('#btnSave').click(function (e){
        SaveData();
    });
    
    $('#btnViewData').click(function (e){
        Populate_DataGrid();
    });
    
    Load_Page_List();
    Create_ddl_Site();
    Create_ddl_Company();

    if (getExistingFilter('txt')) {
        $('#txtSearch_Name').val(getExistingFilter('txt'));
    }
});

function Clear_DataGrid_(p_id){
    try {
        $('#' + p_id).DataTable().clear().destroy();
        //$('#'+p_id).DataTable().destroy();
    }catch(err){}
    
    try {
        $('#'+p_id+' tbody').empty();
    }catch(err){}
}

function Clear_DataGrid(){
    Create_Table();
}

function Create_Table(){
    Clear_DataGrid_('mercyTable');

    try {
        obj_html_Table = $('#mercyTable').DataTable({
            "bAutoWidth": false
            , "bFilter": false
            , "dom": '<"top">rt<"bottom"iflp><"clear">'
            , "scrollX": true
            , "scrollY": false //"200px"
            //, "scrollCollapse": true
            , "paging": false
            //, "ordering": false
            , "columns": [
                { "data": "RecordId", "name": "RecordId", "autoWidth": true }
                , {
                    "render": function (data, type, full, meta){
                        return lineNumber_Data;
                    }
                }
                , {
                    render: function (data, type, full, meta) {
                        return '<div style="width:50px !important;">'+
                                '<input type="hidden" id="data_RecordId' + object_id_additional + '" value="' + full.RecordId + '"/>' +
                                '<i id="data_link_Edit' + object_id_additional + '" onclick="javascript:processLink_Edit(this)" class="fa fa-edit" style="cursor: pointer;font-size: 20px;color:white;' + (isNew?'display:none;':(permission.Is_Edit?'':'display:none;')) + '" title="Edit"></i>' +
                                '<i id="data_link_Delete' + object_id_additional + '" onclick="javascript:processLink_Delete(this)" class="fa fa-trash" style="cursor: pointer;font-size: 20px;color:white;margin-left:10px;' + (isNew?'display:none;':(permission.Is_Delete?'':'display:none;')) + '" title="Delete"></i>' +
                                '<i id="data_link_Save' + object_id_additional + '" onclick="javascript:processLink_Save(this)" class="fa fa-save" style="cursor: pointer;font-size: 20px;color:white;' + (isNew?'':'display:none;') + '" title="Save"></i>' +
                                '<i id="data_link_Cancel' + object_id_additional + '" onclick="javascript:processLink_Cancel(this)" class="fa fa-times" style="cursor: pointer;font-size: 20px;color:white;margin-left:10px;' + (isNew?'':'display:none;') + '" title="Cancel"></i>'
                                '</div>'
                                ;
                    }
                    , className: "mercy_action_icon"
                    , orderable: false
                    , width: "50px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return (isNew?'':lineNumber_Data.toString() + '.');
                    }
                    , className: "mercy_text_right"
                    , orderable: false
                    , width: "20px"
                }
                , {
                    "render": function (data, type, full, meta) {
                        return '<span id="data_Site_label' + object_id_additional + '">' + full.SiteName + '</span>' +
                            '<select id="ddl_Site' + object_id_additional + '" class="select-none"' + ' style="width:100px !important;' + (isNew ? '' : 'display:none !important;') + '"></select>'
                            ;
                    }
                }
                , {
                    "render": function (data, type, full, meta) {
                        return '<span id="data_Company_label' + object_id_additional + '">' + full.CompanyName + '</span>' +
                            '<select id="ddl_Company' + object_id_additional + '" class="select-none"' + ' style="width:100px !important;' + (isNew ? '' : 'display:none !important;') + '"></select>'
                            ;
                    }
                }
                , {
                    "render": function (data, type, full, meta){
                        return '<span id="data_Status_label' + object_id_additional + '" style="' + (isNew?'display:none;':'') + '">' + (full.Status.toString().toUpperCase()=="TRUE"?'Active':'In-Active') + '</span>' +
                               '<input type="checkbox" id="data_Status_chk' + object_id_additional + '" class="shadow-none" ' + ' style="' + (isNew?'':'display:none;') + '"/>'
                               ;
                    }
                    , className: "mercy_column_center"
                    , orderable: false
                    , width: "50px"
                }
                , {
                    "render": function (data, type, full, meta){
                        return '<span id="data_InstrumentName_label' + object_id_additional + '">' + full.InstrumentName + '</span>' +
                               '<input type="text" id="data_InstrumentName_txt' + object_id_additional + '" class="shadow-none" value="" ' + ' style="width:300px;' + (isNew?'':'display:none;') + '"/>'
                               ;
                    }
                }
                , { "data": "CreatedOn_Str", "name": "CreatedOn_Str", width: "140px" }
                , { "data": "FullName", "name": "FullName", width: "250px" }
            ]
            , "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }
                ,{
                    "targets": [1],
                    "visible": false,
                }
                ,{
                    targets: [2]
                    , width: "100px"
                }
                    /*,{
                        "targets": [7],
                        "searchable": false,
                        "orderable": false
                    }*/
            ]
            //, "order": [[3, 'desc'], [4, 'asc']]
            , "order": [[1, 'asc']]
        });

        obj_html_Table.on('draw', function () {});
        
        // Resize Table: because this DataTable is newly created
        resize_Table();
    }catch(err){}
}

function Populate_DataGrid(){
    if (is_still_AJAX_dataList) return;
    
    is_still_AJAX_dataList = true;
    
    Clear_DataGrid();
    
    // reset
    lineNumber_Data = 0;
    object_id_Created = [];
    object_id_Deleted = [];
    
    // data from AJAX
    $.ajax({
        url: api_Request + '/Api/Instruments'
        , type: 'POST'
        , data: {
            u_menu: get_user_menu,
            u_relation: get_user_relation,
            site: $('#ddl_Site').val() ? $('#ddl_Site').val() : getExistingFilter('site') ? getExistingFilter('site') : "all",
            company: $('#ddl_Company').val() ? $('#ddl_Company').val() : getExistingFilter('company') ? getExistingFilter('company') : "all",
            txt: $('#txtSearch_Name').val() || getExistingFilter('txt')
        }
        , dataType: "json"
        , beforeSend: function (request){
            // Set "Token" in HTTP_Header
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data){
            is_still_AJAX_dataList = false;
            
            if ( ! $.trim(data)) {
                // empty data
                return;
            }
            
            if ( ! data.Success){
                alert(data.Message);
                
                window.location = '/NoAccess';
                return;
            }
            
            // Special Purpose, getting information of CurrentUser
            if (get_user_menu == '1'){
                after_GetUserInfo(data.User);
                uInfo = data.User;
                
                Create_Table();
                Populate_Data_ddl_Site();
                Populate_Data_ddl_Company();
            }
            
            // reset
            get_user_menu = '0';
            get_user_relation = '0';
            
            // we need "Permission" information
            permission = data.Permission;
            
            // make it "Intuitive"
            Display_Buttons();
            
            // assign Data to Table
            /*try {
                obj_html_Table.rows.add(data.Items); // add to DataTable instance
                obj_html_Table.draw(); // always redraw
            }catch(err){}*/
            
            data.Items.forEach(
                function (item){
                    isNew = false;
                    object_Created_Count++;
                    lineNumber_Data++;
                    object_id_additional = '_' + object_Created_Count.toString() + '_' + lineNumber_Data.toString();
                    
                    // save to Array
                    object_id_Created.push(object_id_additional);
                    
                    // add to Table
                    obj_html_Table.row.add(item).draw(false);
                }
            );
            
            // Resize Table: because this DataTable is filled with new Data
            resize_Table();
            saveFilter();
        },
        error: function (error){
            is_still_AJAX_dataList = false;
            
            $(this).remove();
        }
    });
}

function processLink_Add(){
    // -- Global Flag
    if (is_Mode_Editor) return;
    
    // create "Record_Item"
    var item = {CreatedOn_Str:'', CreatedOn_Str2:'', FullName:'', RecordId:-1, InstrumentName:'', Status:false
        , CreatedBy: 0, CreatedOn: null, LastModifiedBy: 0, LastModifiedOn: null, SiteName: '', CompanyName: ''}
    
    // flag for "New Record"
    isNew = true;
    
    // do "Counting"
    object_Created_Count++;
    lineNumber_Data++;
    object_id_additional = '_' + object_Created_Count.toString() + '_' + lineNumber_Data.toString();
    
    // save to Array
    object_id_Created.push(object_id_additional);

    // add to Table
    obj_html_Table.row.add(item).draw(false);

    // create option for site
    createOptionSite(object_id_additional, null);

    // create option for company
    createOptionCompanies(object_id_additional, null);

    is_Mode_Editor = true;
    $('#btnAdd').addClass('mercy_button_Add_disable');
    $('#ddl_Site' + object_id_additional).removeClass("select-none");
    $('#ddl_Company' + object_id_additional).removeClass("select-none");
}

function processLink_Edit(p_this){
    // -- Global Flag
    if (is_Mode_Editor) return;
    
    // just reminder about Pattern
    // pattern is: {LABEL}'_' + object_Created_Count + '_' + lineNumber_Data;
    
    try {
        var target_id = p_this.id;
        var target_id_additional = target_id.replace('data_link_Edit', '');
        
        $('#data_link_Edit' + target_id_additional).hide();
        $('#data_link_Delete' + target_id_additional).hide();
        $('#data_link_Save' + target_id_additional).show();
        $('#data_link_Cancel' + target_id_additional).show();
        
        // Firstly, copy data
        var isChecked = ($('#data_Status_label' + target_id_additional).text() == 'Active');
        $('#data_Status_chk' + target_id_additional).prop("checked", isChecked);
        $('#data_InstrumentName_txt' + target_id_additional).val($('#data_InstrumentName_label' + target_id_additional).text());

        // create option for site
        createOptionSite(target_id_additional, $('#data_Site_label' + target_id_additional).text());


        // create option for company
        createOptionCompanies(target_id_additional, $('#data_Company_label' + target_id_additional).text());

        // Secondly, set Show/Hide
        $('#data_Status_label' + target_id_additional).hide();
        $('#data_Status_chk' + target_id_additional).show();
        $('#data_InstrumentName_label' + target_id_additional).hide();
        $('#data_InstrumentName_txt' + target_id_additional).show();
        $('#data_Site_label' + target_id_additional).hide();
        $('#ddl_Site' + target_id_additional).removeClass("select-none");
        $('#ddl_Site' + target_id_additional).show();
        $('#data_Company_label' + target_id_additional).hide();
        $('#ddl_Company' + target_id_additional).removeClass("select-none");
        $('#ddl_Company' + target_id_additional).show();
        $('#ddl_Site' + target_id_additional).prop('disabled', true);
        $('#ddl_Company' + target_id_additional).prop('disabled', true);
    }catch(err){}
    
    is_Mode_Editor = true;
    $('#btnAdd').addClass('mercy_button_Add_disable');
}

function processLink_Cancel(p_this){
    // just reminder about Pattern
    // pattern is: {LABEL}'_' + object_Created_Count + '_' + lineNumber_Data;
    
    var target_id = p_this.id;
    var target_id_additional = target_id.replace('data_link_Cancel', '');
        
    try {
        $('#data_link_Edit' + target_id_additional).show();
        $('#data_link_Delete' + target_id_additional).show();
        $('#data_link_Save' + target_id_additional).hide();
        $('#data_link_Cancel' + target_id_additional).hide();
        
        $('#data_Status_label' + target_id_additional).show();
        $('#data_Status_chk' + target_id_additional).hide();
        $('#data_InstrumentName_label' + target_id_additional).show();
        $('#data_InstrumentName_txt' + target_id_additional).hide();
        $('#data_Site_label' + target_id_additional).show();
        $('#ddl_Site' + target_id_additional).addClass("select-none")
        $('#data_Company_label' + target_id_additional).show();
        $('#ddl_Company' + target_id_additional).addClass("select-none")
    }catch(err){}
    
    isNew = false;
    is_Mode_Editor = false;
    $('#btnAdd').removeClass('mercy_button_Add_disable');
    
    var recordId = $('#data_RecordId' + target_id_additional).val();
    if (recordId == '-1'){
        action = 'Create';
    }else{
        action = 'Edit';
        return;
    }
    
    try {
        var lineFound = -1;
        var line = 0;
        $.each(object_id_Created, function( i, val ){
            line++;
            if (val == target_id_additional)
            {
                lineFound = line;
            }
        });
        
        if (lineFound >= 0){
            var $rows = $("#mercyTable tr");
            //lineFound--;
            $rows.eq(lineFound).hide();
        }
    }catch(err){}
}

function processLink_Save(p_this){
    var action = 'Create';
    
    var target_id = p_this.id;
    var target_id_additional = target_id.replace('data_link_Save', '');

    if (!isValidForm(target_id_additional)) return;
    
    var recordId = $('#data_RecordId' + target_id_additional).val();
    if (recordId == '-1'){
        action = 'Create';
    }else{
        action = 'Edit';
    }
    
    // data to AJAX
    $.ajax({
        url: api_Request + '/Api/Instruments/'+action
        , type: 'POST'
        , data: {
                '.id': recordId
                , 'InstrumentName':$('#data_InstrumentName_txt' + target_id_additional).val()
                , 'Status':ValueBit('#data_Status_chk' + target_id_additional)
                , 'CompanyCode': $('#ddl_Company' + target_id_additional).val()
                , 'SiteId': $('#ddl_Site' + target_id_additional).val()
        }
        , dataType: "json"
        , beforeSend: function (request){
            // Set "Token" in HTTP_Header
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data){
            if ( ! $.trim(data)) {
                // empty data
                return;
            }
            
            if ( ! data.Success){
                alert(data.Message);
                return;
            }
            
            isNew = false;
            is_Mode_Editor = false;
            
            if ($('#ddl_Company').val() != 'all'){
                $('#btnAdd').removeClass('mercy_button_Add_disable');
            }

            alert('Success');
            
            Populate_DataGrid();
        },
        error: function (error){
            $(this).remove();
        }
    });
}

function processLink_Delete(p_this){
    // -- Global Flag
    if (is_Mode_Editor) return;
    
    if ( ! confirm('Are you sure to delete ?')) return;
    
    var action = 'Delete';
    
    var target_id = p_this.id;
    var target_id_additional = target_id.replace('data_link_Delete', '');
        
    // data to AJAX
    $.ajax({
        url: api_Request + '/Api/Instruments/'+action
        , type: 'GET'
        , data: {'.id':$('#data_RecordId' + target_id_additional).val()}
        , dataType: "json"
        , beforeSend: function (request){
            // Set "Token" in HTTP_Header
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data){
            if ( ! $.trim(data)){
                // empty data
                alert('empty data');
            }
            else {
                if (data.Success){
                    alert('Success Delete');
                    
                    Populate_DataGrid();
                }else{
                    alert('Error deleting data');
                }
            }
        },
        error: function (error){
            $(this).remove();
        }
    });
}

function isValidForm(target_id_additional) {
    var isValid = true;

    if ($('#ddl_Site' + target_id_additional).val() == '') {
        alert('Site must not be empty!');
        return false;
    }

    if ($('#ddl_Company' + target_id_additional).val() == '') {
        alert('Company must not be empty!');
        return false;
    }

    if ($('#data_InstrumentName_txt' + target_id_additional).val() == '') {
        alert('Instrument Name must not be empty!');
        return false;
    }

    return isValid;
}

function Create_ddl_Site() {
    if (obj_html_Site != null) return;

    obj_html_Site = $('#ddl_Site').select2({
        placeholder: 'Select Site'
        , tags: false
        , multiple: false
        //, tokenSeparators: [',', ' ']
        //, minimumInputLength: 3
        , minimumResultsForSearch: -1
    });

    $('#ddl_Site').change(function (e) {
        OnChange_ddl_Site();
    });
}

function OnChange_ddl_Site() {
    if (ignore_trigger_change_ddl_Site) return;

    Populate_Data_ddl_Company();
    if ($('#ddl_Site').val() != 'all') $('#ddl_Company').val("all");
    Populate_DataGrid();
}

function Clear_ddl_Site() {
    // Clear DropdownList
    //$('#ddl_Site').html('').select2({ data: { id: null, text: null } });

    Create_ddl_Site();
}

function Populate_Data_ddl_Site() {
    try {
        // add Label: "ALL"
        var option = new Option('-- ALL', 'all', true, true);
        obj_html_Site.append(option);//.trigger('change');

        uInfo.Relations.Sites.forEach(
            function (item) {
                // create the option and append to Select2
                option = new Option(item.SiteName, item.SiteId, true, true);
                obj_html_Site.append(option);//.trigger('change');
            }
        );

        // auto set filter if user only have 1 site and disable filter
        if (uInfo.Relations.Sites.length == 1) {
            $('#ddl_Site').val(uInfo.Relations.Sites[0].SiteId);
            $('#ddl_Site').prop("disabled", true);
            return;
        }

        if (getExistingFilter('site')) {
            obj_html_Site.val(getExistingFilter('site'));
            $('#ddl_Site').val(getExistingFilter('site'));
            return;
        }

        // Inisial value for "Site"
        ignore_trigger_change_ddl_Site = true;
        $('#ddl_Site').val('all');
        ignore_trigger_change_ddl_Site = false;
    } catch (err) { }
}

function Create_ddl_Company() {
    if (obj_html_Company != null) return;

    obj_html_Company = $('#ddl_Company').select2({
        placeholder: 'Select Company'
        , tags: false
        , multiple: false
        //, tokenSeparators: [',', ' ']
        //, minimumInputLength: 3
        , minimumResultsForSearch: -1
    });

    $('#ddl_Company').change(function (e) {
        OnChange_ddl_Company();
    });
}

function OnChange_ddl_Company() {
    if (ignore_trigger_change_ddl_Company) return;

    Populate_DataGrid();
}

function Clear_ddl_Company() {
    // Clear DropdownList
    $('#ddl_Company').html('').select2({ data: { id: null, text: null } });

    //Create_ddl_Company();
}

function Populate_Data_ddl_Company() {
    try {
        // add Label: "ALL"
        Clear_ddl_Company();
        var option = new Option('-- ALL', 'all', true, true);
        obj_html_Company.append(option);//.trigger('change');

        if ($('#ddl_Site').val() != "all") {
            uInfo.Relations.Companies.forEach(
                function (item) {
                    if (item.SiteId == $('#ddl_Site').val()) {
                        // create the option and append to Select2
                        option = new Option(item.CompanyName, item.CompanyCode, true, true);
                        obj_html_Company.append(option);//.trigger('change');
                    }
                }
            );
        } else {
            uInfo.Relations.Companies.forEach(
                function (item) {
                    // create the option and append to Select2
                    option = new Option(item.CompanyName, item.CompanyCode, true, true);
                    obj_html_Company.append(option);//.trigger('change');
                }
            );
        }

        // auto set filter if user only have 1 company and disable filter
        if (uInfo.Relations.Companies.length == 1) {
            $('#ddl_Company').val(uInfo.Relations.Companies[0].CompanyCode)
            $('#ddl_Company').prop("disabled", true);
            return;
        }

        if (getExistingFilter('company')) {
            obj_html_Company.val(getExistingFilter('company'));
            $('#ddl_Company').val(getExistingFilter('company'));
            return;
        }

        // Inisial value for "Company"
        ignore_trigger_change_ddl_Company = true;
        $('#ddl_Company').val('all')
        ignore_trigger_change_ddl_Company = false;
    } catch (err) { }
}

function createOptionSite(object_id_additional, label) {
    var option = [];
    $('#ddl_Site' + object_id_additional).empty();
    uInfo.Relations.Sites.forEach(
        function (item) {
            option = new Option(item.SiteName, item.SiteId, false, false);
            $('#ddl_Site' + object_id_additional).append(option);
        }
    );

    if (label) {
        uInfo.Relations.Sites.forEach(
            function (item) {
                if (item.SiteName == label) {
                    $('#ddl_Site' + object_id_additional).val(item.SiteId);
                }
            }
        );
    }
}

function createOptionCompanies(object_id_additional, label) {
    var option = [];
    $('#ddl_Company' + object_id_additional).empty();
    uInfo.Relations.Companies.forEach(
        function (item) {
            option = new Option(item.CompanyName, item.CompanyCode, false, false);
            $('#ddl_Company' + object_id_additional).append(option);
        }
    );

    if (label) {
        uInfo.Relations.Companies.forEach(
            function (item) {
                if (item.CompanyName == label) {
                    $('#ddl_Company' + object_id_additional).val(item.CompanyCode);
                }
            }
        );
    }
}

function saveFilter() {
    var filter = JSON.stringify({
        site: obj_html_Site.val(),
        company: obj_html_Company.val(),
        txt: $('#txtSearch_Name').val()
    });

    localStorage.setItem('InstrumentFilter', filter)
}

function getExistingFilter(key) {
    if (localStorage.getItem('InstrumentFilter')) {
        var existFilter = JSON.parse(localStorage.getItem('InstrumentFilter'));
        return existFilter[key];
    }
    return null;
}

function OnKeyUp_Text(p_this){
    Populate_DataGrid();
}

</script>
