@using MERCY.Web.FrontEnd.Helpers;

@{
    string ui_name               = @"a-Bootstrap-v4_4_1";
    UserInterface userInterface  = new UserInterface(ui_name);
    string ui_Folder_ServerSide  = userInterface.Folder_ServerSide;
    string ui_Folder_Client_Side = userInterface.Folder_ClientSide;

    Layout = ui_Folder_ServerSide + "_Layout.cshtml";
}

<style>
#id_menu_ROMTransfer {
    background-color: #000000;
    border-radius: 4px;
    /*opacity: 0.2;*/
    background: rgba(0,0,0,0.2);
    height: 52px;
    margin: 5px 8px;
}

.filter_title {
    color: #232323;
    font-family: 'OpenSans-SemiBold';
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    opacity: 0.8700000047683716;
    text-align: left;
    height: 20px;
}


.oval {
    background-color: #FFFFFF;
    border: 1px solid #C9CDDB;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}

.no-hauling {
    color: #232323;
    font-family: 'NotoSans-Regular';
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
}

.mercy_input_text_by_portion_blending {
    background-color: rgba(180, 178, 239, 0.18) !important;
    border: 1px solid #CBCBCB !important;
    border-radius: 4px !important;
    /*box-shadow: 0 8px 24px 0 rgba(0, 145, 255, 0.18) !important;*/
    width: 140px;
    height: 34px;
    color: #3F3F3F;
    font-family: 'OpenSans';
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
}

.mercy_input_text_by_outlook {
    color: #3F3F3F !important;
    font-family: 'OpenSans' !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 17px;
    text-align: left;
}

.mercy_target {
    color: #463191;
    font-family: 'OpenSans-Bold';
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    opacity: 0.8700000047683716;
    text-align: left;
}

.mercy_by-outlook {
    color: #463191;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    opacity: 0.8700000047683716;
    text-align: left;
}

.mercy_line {
    border: 1px solid #D4D4D4;
}

.mercy_chk_destination {
    width: 100px;
}

#mercyTable_info, #mercyTable_length, #mercyTable_paginate, #table_ROM_Quality_info, #table_ROM_Quality_length, #table_ROM_Quality_paginate {
    display: none;
}

#table_ROM_Quality_wrapper {
    width: 100%;
}

    #table_ROM_Quality_wrapper.dataTables_wrapper.dt-bootstrap4.no-footer div.dataTables_scroll div.dataTables_scrollBody {
        border: 1px solid #ced4da;
    }

.mercy_align_right {
    text-align: right !important;
}

.mercy_cell_textbox {
    padding-top: 8px !important;
    padding-bottom: 0px !important;
}

.mercy_portion {
    background-color: #FFFFFF;
    border: 1px solid #CBCBCB;
    border-radius: 3px;
    width: 55px;
    height: 24px;
    font-family: 'NotoSans-Regular';
}

.mercy_portion_green {
    background-color: #60C159 !important;
}

.mercy_portion_red {
    background-color: #E73232 !important;
}

.mercy_portion_yellow {
    background-color: #FFBD50 !important;
}

.ts_file_button {
    height: 25px;
    width: 100px;
    background: blue;
    color: white;
    border: 0;
    -webkit-appearance: none;
    
    color: #FFFFFF;
    /*font-family: 'Poppins-SemiBold';*/
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    
    background-color: #00B4A5;
    border: 1px solid #AFAFB9;
    border-radius: 4px;
    width: 79px;
    height: 17px;
}

.select2-selection--single{
    height: 34px !important;
}
.select2-selection__choice {
    height: 34px !important;
}
.select2-selection__arrow{
    height: 32px !important;
}

input[type="text"]{
	height: 34px !important;
}

</style>

<link href="@ui_Folder_Client_Side/css/select2.min.css" rel="stylesheet" />
<script src="@ui_Folder_Client_Side/js/select2.min.js"></script>

<div class="col margin_padding_0 mercy_box_inner">
    <div class="row margin_padding_0 mercy_page_Title">
        New Schedule Maintenance
    </div>
    <div class="row margin_padding_0 mercy_page_Title_2">
        Lab Maintenance > New Schedule Maintenance
    </div>
    <div class="row margin_padding_0 mercy_box_inner_content" style="min-height:150px !important;min-width:400px !important;padding-bottom:15px !important;">
        <div class="col-12 col-md">
            <div class="row margin_padding_0">
                <div class="col-12 col-md margin_padding_0">
                    <div class="row margin_padding_0">
                        <div class="col margin_padding_0" style="padding-top: 15px !important;">
                            <div style="width:100%" class="filter_title">Site</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <select id="ddl_Site" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row margin_padding_0">
                        <div class="col margin_padding_0" style="padding-top: 15px !important;">
                            <div style="width:100%" class="filter_title">Category</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <select id="ddl_MaintenanceActivity" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row margin_padding_0">
                        <div class="col margin_padding_0" style="padding-top: 15px !important;">
                            <div style="width:100%" class="filter_title">Instrument Code</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <input type="text" class="form-control shadow-none mercy_input_text" id="txtInstrumentCode" placeholder="Enter instrument code" />
                            </div>
                        </div>
                    </div>
                    <div class="row margin_padding_0">
                        <div class="col margin_padding_0" style="padding-top: 15px !important;">
                            <div style="width:100%" class="filter_title">Assigned To</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <select id="ddl_AssignedTo" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row margin_padding_0">
                        <div class="col margin_padding_0">
                            <div style="width:100%;padding:10px 10px 10px 0px;height:40px;">
                                <input type="radio" name="chkStatus" value="True" />
                                <label class="no-hauling" style="margin-left: 5px; margin-top: -3px;width:90px !important;">Active</label>
                                <input type="radio" name="chkStatus" value="False" />
                                <label class="no-hauling" style="margin-left: 5px; margin-top: -3px;width:90px !important;">Inactive</label>
                            </div>
                        </div>
                    </div>
                    <div class="row margin_padding_0">
                        <div class="col margin_padding_0" style="padding-top: 15px !important;">
                            <div style="width:100%" class="filter_title">Next Schedule</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <div class="row margin_padding_0">
                                    <div class="col-md margin_padding_0">
                                        <div class="input-group date">
                                            <input id="txtNextSchedule" class="mercy_select mercy_input_text mercy_date" style="width:100% !important;" data-date-format="dd-M-yyyy" placeholder="dd-M-yyyy" />
                                            <div class="input-group-prepend">
                                                <span class="input-group-text mercy_date_icon"> </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-auto margin_padding_0" style="margin-left:10px !important;">
                                        <div style="width: 70px;margin:auto;">
                                            <select id="ddl_Hours" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-auto margin_padding_0" style="margin-left:5px !important;">
                                        <div style="width: 5px;margin:auto;">:</div>
                                    </div>
                                    <div class="col-md-auto margin_padding_0" style="margin-left:5px !important;">
                                        <div style="width: 70px;margin:auto;">
                                            <select id="ddl_Minutes" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin_padding_0">
                        <div class="col margin_padding_0" style="padding-top: 15px !important;">
                            <div style="width:100%" class="filter_title">Notes File</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <input type="text" class="form-control shadow-none mercy_input_text" id="txtNotesFile" placeholder="no file selected" />
                            </div>
                            <div style="width:100%;padding:10px 20px 10px 0px;margin-top:-50px;text-align:right;">
                                <input id="fileInput" style="display: none !important;" type="file" />
                                <input type="submit" class="ts_file_button" value="Choose file" id="btnChooseFile" style="padding: 0px 0px 2px 14px !important;" />
                            </div>
                            <div style="width:100%;padding:10px 110px 10px 0px;margin-top:-45px;text-align:right;display:none;" id="btnDownload_NotesFile_div">
                                <input type="submit" class="ts_file_button" value="Download file" id="btnDownload_NotesFile" style="padding: 0px 0px 2px 14px !important;width:90px !important;" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md margin_padding_0">
                    <div class="row margin_padding_0">
                        <div class="col margin_padding_0" style="padding-top: 15px !important;">
                            <div style="width:100%" class="filter_title">Company</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <select id="ddl_Company" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row margin_padding_0">
                        <div class="col margin_padding_0" style="padding-top: 15px !important;">
                            <div style="width:100%" class="filter_title">Instrument</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <select id="ddl_Instrument" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row margin_padding_0">
                        <div class="col margin_padding_0" style="padding-top: 15px !important;">
                            <div style="width:100%" class="filter_title">Description</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <input type="text" class="form-control shadow-none mercy_input_text" id="txtDescription" placeholder="Enter description" />
                            </div>
                        </div>
                    </div>
                    <div class="row margin_padding_0">
                        <div class="col margin_padding_0" style="padding-top: 15px !important;">
                            <div style="width:100%" class="filter_title">Remark</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <input type="text" class="form-control shadow-none mercy_input_text" id="txtRemark" placeholder="Enter remark" />
                            </div>
                        </div>
                    </div>
                    <div class="row margin_padding_0">
                        <div class="col margin_padding_0">
                            <div style="width:100%;padding:10px 10px 10px 0px;height:40px;"></div>
                        </div>
                    </div>
                    <div class="row margin_padding_0">
                        <div class="col margin_padding_0" style="padding-top: 15px !important;">

                            <div style="width:100%;">
                                <div class="row margin_padding_0">
                                    <div class="col-md-auto margin_padding_0">
                                        <div style="width:160px;" class="filter_title">Repeat Every</div>
                                        <div style="width: 160px;margin:auto;padding:10px 10px 10px 0px !important;">
                                            <select id="ddl_RepeatEvery" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;">
                                                <option>Day</option>
                                                <option>Month</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-auto margin_padding_0" style="margin-left:5px !important;">
                                        <div style="width:160px;" class="filter_title">Repeat Count</div>
                                        <div style="width: 160px;margin:auto;padding:10px 10px 10px 0px !important;">
                                            <input type="text" class="form-control shadow-none mercy_input_text" id="txtRepeatCount" placeholder="Enter RepeatCount" value="20" style="width:100px;text-align:right;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row margin_padding_0">
                        <div class="col margin_padding_0" style="padding-top: 15px !important;">
                            <div style="width:100%" class="filter_title">Run What</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <input type="text" class="form-control shadow-none mercy_input_text" id="txtRunWhat" placeholder="no file selected" />
                            </div>
                            <div style="width:100%;padding:10px 20px 10px 0px;margin-top:-50px;text-align:right;">
                                <input id="fileInput2" style="display: none !important;" type="file" />
                                <input type="submit" class="ts_file_button" value="Choose file" id="btnChooseFile2" style="padding: 0px 0px 2px 14px !important;" />
                            </div>
                            <div style="width:100%;padding:10px 110px 10px 0px;margin-top:-45px;text-align:right;display:none;" id="btnDownload_RunWhat_div">
                                <input type="submit" class="ts_file_button" value="Download file" id="btnDownload_RunWhat" style="padding: 0px 0px 2px 14px !important;width:90px !important;" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-auto margin_padding_0" style="padding-top:45px !important;">
            <div style="width: 140px;margin:auto;">
                <div class="col col-md-auto margin_padding_0"><div class="mercy_button" style="width:100px;" id="btnSave"><div class="mercy_text_center">Save</div></div></div>
            </div>
            <div style="width: 140px;padding-top:20px;margin:auto;">
                <div class="col col-md-auto margin_padding_0"><div class="mercy_button_2" style="width:100px;" id="btnCancel"><div class="mercy_text_center">Cancel</div></div></div>
            </div>
            <div style="width: 140px;padding-top:20px;margin:auto;display:none;" id="btnComplete_div">
                <div class="col col-md-auto margin_padding_0"><div class="mercy_button" style="width:100px;" id="btnComplete"><div class="mercy_text_center">Complete</div></div></div>
            </div>
        </div>
    </div>
    <div id="divHistory" class="row margin_padding_0 mercy_box_inner_content" style="min-height:150px !important;min-width:400px !important;padding-bottom: 20px !important;display:none;">
        <div class="col-12 col-md">
            <div style="width:100%;margin-top:20px;" class="filter_title">History</div>
            <div class="row margin_padding_0">
                <table id="mercyTable2" class="display nowrap table table-striped mercy_table mercy_table_header" style="width:100%;display:none;">
                    <thead>
                        <tr>
                            <th>RecordId</th>
                            <th>No</th>
                            <th>Date</th>
                            <th>Category</th>
                            <th>Instrument</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                </table>
                <table id="mercyTable" class="display nowrap table table-striped mercy_table mercy_table_header" style="width:100%;">
                    <thead>
                        <tr>
                            <th>RecordId</th>
                            <th>No</th>
                            <th>Completed On</th>
                            <th>Action By</th>   
                            <th>Description</th>
                            <th>Notes File</th>
                            <th>Run What</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

// Flag
var first_Load = true;

// DataGrid
var obj_html_Table;
var lineNumber_Data = 0;

// DropdownList
var obj_html_Instrument = null;
var obj_html_AssignedTo = null;
var obj_html_MaintenanceActivity;
var obj_html_Site;
var obj_html_Company;

var file_NotesFile = '';
var file_RunWhat = '';

var file_NotesFile_Changed = false;
var file_RunWhat_Changed = false;

var value_Site= '';
var value_Company= '';
var value_Category = '';
var value_Instrument = '';
var value_AssignedTo = '';

$(document).ready(function () {

    if (paramid == null || paramid == '') {
        $(document).attr('title', 'New Maintenance - Add');
    }else{
        $(document).attr('title', 'Edit Maintenance - Edit');
        $(".mercy_page_Title").text('Edit Schedule Maintenance');
        $(".mercy_page_Title_2").text('Lab Maintenance > Edit Schedule Maintenance');
    }
    
    $(window).resize(function (){
        // Resize Table: because the Window is Resized
        resize_Table();
    });
    
    $('#btnSave').click(function (e) {
        SaveData();
    });

    $('#btnCancel').click(function (e) {
        window.location = mercyUrl('/LabMaintenancev');
    });
    
    $('#btnComplete').click(function (e) {
        CompleteData();
    });
    
    $('#btnChooseFile').on('click', function () {
        btnChooseFile_Click();
    });
        
    $('#btnChooseFile2').on('click', function () {
        btnChooseFile2_Click();
    });
    
    $('#fileInput').on('change', function () {
        file_NotesFile_Changed = true;
        
        $("#txtNotesFile").val($('#fileInput')[0].files[0].name);
    });
    
    $('#fileInput2').on('change', function () {
        file_RunWhat_Changed = true;
        
        $("#txtRunWhat").val($('#fileInput2')[0].files[0].name);
    });
    $("#txtNextSchedule").datepicker({
        todayBtn: 1
        , autoclose: true
    }).on('changeDate', function (selected) {
    });
    $('#txtNextSchedule').datepicker('update', new Date());

    $('#btnDownload_NotesFile').on('click', function (e) {
        e.preventDefault();  //stop the browser from following
        var url = '/Api/File/Download?.id=' + file_NotesFile;
        window.location.href = url;
    });
    
    $('#btnDownload_RunWhat').on('click', function (e) {
        e.preventDefault();  //stop the browser from following
        var url = '/Api/File/Download?.id=' + file_RunWhat;
        window.location.href = url;
    });

    Create_ddl_Site();
    Create_ddl_Company();
    Create_ddl_MaintenanceActivity();
    Create_ddl_Instrument();
    Create_ddl_AssignedTo();
    
    // reset
    $('input:radio[name=chkStatus]').attr('checked',false);
    $("input[name='chkStatus'][value='True']").prop('checked', true);
    
    Create_ddl_Hours(new Date());
    Create_ddl_Minutes(new Date());
    Create_ddl_RepeatEvery();
    
    Load_Page_Form();
});

var recordNumber = 0;

function Create_ddl_Site() {
    if (!!obj_html_Site) return;

    obj_html_Site = $('#ddl_Site').select2({
        placeholder: 'Select Site'
        , tags: false
        , multiple: false
    });

    $('#ddl_Site').change(function (e) {
        OnChange_ddl_Site();
    });
}

function OnChange_ddl_Site() {
    Populate_Data_ddl_Company();
}

function Clear_ddl_Site() {
    Create_ddl_Site();
}

function Populate_Data_ddl_Site() {
    try {
        uInfo.Relations.Sites
            .forEach(function (item) {
                obj_html_Site.append(new Option(item.SiteName, item.SiteId, true, true));
            });

        if (value_Site) {
            $('#ddl_Site').val(value_Site).trigger('change');
        } else {
            $('#ddl_Site').val($("#ddl_Site option:first").val()).trigger('change');
        }
    } catch (err) { }
}

function Create_ddl_Company() {
    if (!!obj_html_Company) return;

    obj_html_Company = $('#ddl_Company').select2({
        placeholder: 'Select Company'
        , tags: false
        , multiple: false
    });

    $('#ddl_Company').change(function (e) {
        OnChange_ddl_Company();
    });
}

function OnChange_ddl_Company() {
    Populate_Data_ddl_MaintenanceActivity();
    Populate_Data_ddl_Instrument();
}

function Clear_ddl_Company() {
    Create_ddl_Company();
}

function Populate_Data_ddl_Company() {
    $('#ddl_Company').empty();
    try {

        var siteId = $('#ddl_Site').val();
        uInfo.Relations.Companies
            .filter((item) => Number(item.SiteId) === Number(siteId))
            .forEach(function (item) {
                obj_html_Company.append(new Option(item.CompanyName, item.CompanyCode, true, true));
            });

        if (value_Company) {
            $('#ddl_Company').val(value_Company).trigger('change');
        } else {
            $('#ddl_Company').val($("#ddl_Company option:first").val()).trigger('change');
        }
    } catch (err) { }
}

function Create_ddl_Instrument() {
    if (obj_html_Instrument != null) return;

    obj_html_Instrument = $('#ddl_Instrument').select2({
        placeholder: 'Select instrument'
        , tags: false
        , multiple: false
    });

    $('#ddl_Instrument').change(function (e) {
        OnChange_ddl_Instrument();
    });
}

function OnChange_ddl_Instrument() {
    if (first_Load) return;
}

function Create_ddl_AssignedTo() {
    if (obj_html_AssignedTo != null) return;

    obj_html_AssignedTo = $('#ddl_AssignedTo').select2({
        placeholder: 'Select Assigned To'
        , tags: false
        , multiple: false
    });

    $('#ddl_AssignedTo').change(function (e) {
        OnChange_ddl_AssignedTo();
    });
}

function OnChange_ddl_AssignedTo() {
    if (first_Load) return;
}

function Clear_ddl_Instrument() {
    obj_html_Instrument.empty();
Create_ddl_Instrument();
}

function Clear_ddl_AssignedTo() {}

function Populate_Data_ddl_Instrument() {
    Clear_ddl_Instrument();

    var option = null;

    var siteId = $('#ddl_Site').val();
    var companyCode = $('#ddl_Company').val();
    // get data from AJAX
    $.ajax({
        url: api_Request + '/Api/Instruments/Get_ddl?InstrumentType=Lab Maintenance'
        , type: 'GET'
        , dataType: "json"
        , data: {
            company: value_Company || companyCode,
            site: value_Site || siteId
        }
        , beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data) {
            if ( ! $.trim(data)) {
                // empty data
                return;
            }
            
            if ( ! data.Success){
                alert(data.Message);
                return;
            }
            
            data.Items.forEach(
                function (item) {
                    // create the option and append to Select2
                    option = new Option(item.text, item.id, true, true);
                    obj_html_Instrument.append(option);//.trigger('change');
                }
            );
            
            // Inisial value for "Instrument"
            $('#ddl_Instrument').val(value_Instrument).trigger('change');
        },
        error: function (error) {
            $(this).remove();
        }
    });
}

function Populate_Data_ddl_AssignedTo() {
    Clear_ddl_AssignedTo();

    var option = null;

    // get data from AJAX
    $.ajax({
        url: api_Request + '/Api/User/GetMtn_ddl'
        , type: 'GET'
        , dataType: "json"
        , beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data) {
            if ( ! $.trim(data)) {
                // empty data
                return;
            }
            
            if ( ! data.Success){
                alert(data.Message);
                return;
            }
            
            data.Items.forEach(
                function (item) {
                    // create the option and append to Select2
                    option = new Option(item.text, item.id, true, true);
                    obj_html_AssignedTo.append(option);//.trigger('change');
                }
            );

            // Inisial value
            $('#ddl_AssignedTo').val(value_AssignedTo).trigger('change');
        },
        error: function (error) {
            $(this).remove();
        }
    });
}

function SaveData() {
    SaveAll('Save');
}

function SaveAll(p_button){
    if ( ! validate_All()) return;

    $('#imgLoading').show();

    var action = 'Create';
    if (paramid == null || paramid == '') { }
    else action = 'Edit?.id=' + paramid;
    
    if (p_button == 'Complete'){
        action = 'Complete?.id=' + paramid;
    }
    
    var formData = new FormData();
    
    formData.append('site', $('#ddl_Site').val());
    formData.append('company', $('#ddl_Company').val());
    formData.append('Category', $('#ddl_MaintenanceActivity').val());
    formData.append('Instrument', $("#ddl_Instrument").val());
    formData.append('InstrumentCode', $("#txtInstrumentCode").val());
    formData.append('AssignedTo', $("#ddl_AssignedTo").val());
    formData.append('Description', $("#txtDescription").val());
    formData.append('Remark', $("#txtRemark").val());
    formData.append('IsActive', $("input:radio[name='chkStatus']:checked").val());
    
    var hour = parseInt($("#ddl_Hours").val());
    var minute = parseInt($("#ddl_Minutes").val());
    var time = hour.toString() + ':' + minute.toString();
    formData.append('NextSchedule', $("#txtNextSchedule").data('datepicker').getFormattedDate('yyyy-mm-dd') + ' ' + time);
    formData.append('RepeatEvery', $("#ddl_RepeatEvery").val());
    formData.append('RepeatCount', $("#txtRepeatCount").val());
    
    if (file_NotesFile_Changed){
        try{
            formData.append('file', $('#fileInput')[0].files[0]);
        }catch(err){}
    }
    
    if (file_RunWhat_Changed){
        try{
            formData.append('file2', $('#fileInput2')[0].files[0]);
        }catch(err){}
    }
    
    $.ajax({
        url: api_Request + '/Api/LabMaintenance/' + action,
        data: formData,
        processData: false,  // tell jQuery not to process the data
        contentType: false,  // tell jQuery not to set contentType
        type: 'POST',
        dataType: "json",
        cache: false,
        beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        },
        success: function (data) {
            $('#imgLoading').hide();

            if ( ! $.trim(data)) {
                // empty data
                return;
            }
            
            if ( ! data.Success){
                alert(data.Message);
                return;
            }
            
            alert('Success ' + p_button);
            window.location = mercyUrl('/LabMaintenancev');
        },
        error: function (error) {
            //$(this).remove();
        }
    });
}

function validate_All() {
    if (!$("#ddl_Company").val() == null
        || $("#ddl_Company").val() == '') {
        alert("Company tidak boleh kosong!");
        return false;
    }

    if ($("#ddl_Site").val() == null
        || $("#ddl_Instrument").val() == '') {
        alert("Site tidak boleh kosong");
        return false;
    }

    if ($("#ddl_Instrument").val() == null
        || $("#ddl_Instrument").val() == '') {
        alert('Instrument tidak boleh kosong!');
        return false;
    }

    if ($("#ddl_AssignedTo").val() == null
        || $("#ddl_AssignedTo").val() == '') {
        alert('AssignedTo tidak boleh kosong!');
        return false;
    }
    
    if ($("#ddl_MaintenanceActivity").val() == null
        || $("#ddl_MaintenanceActivity").val() == '') {
        alert('Category tidak boleh kosong!');
        return false;
    }
    
    if ($("#txtInstrumentCode").val() == null
        || $("#txtInstrumentCode").val() == '') {
        alert('InstrumentCode tidak boleh kosong!');
        return false;
    }
    
    if ($("#txtDescription").val() == null
        || $("#txtDescription").val() == '') {
        alert('Description tidak boleh kosong!');
        return false;
    }
    
    if ($("#txtRemark").val() == null
        || $("#txtRemark").val() == '') {
        alert('Remark tidak boleh kosong!');
        return false;
    }
    
    return true;
}

function DisplayData() {
    $.ajax({
        url: api_Request + '/Api/LabMaintenance/Get',
        type: 'GET',
        data: {u_menu:get_user_menu, u_relation:get_user_relation, '.id':paramid},
        dataType: "json",
        cache: false,
        beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        },
        success: function (data) {
            $('#imgLoading').hide();

            if ( ! $.trim(data)) {
                // empty data
                return;
            }
            
            if ( ! data.Success){
                // special case: Id not found
                if (data.Message.indexOf('not found') !== -1){
                    after_GetUserInfo(data.User);
                    uInfo = data.User;
                }
            
                alert(data.Message);
                
                window.location = '/NoAccess';
                return;
            }
            
            // Special Purpose, getting information of CurrentUser
            if (get_user_menu == '1'){
                after_GetUserInfo(data.User);
                uInfo = data.User;
                
                Create_Table();

                Populate_Data_ddl_Site();
                Populate_Data_ddl_AssignedTo();
            }
            
            // reset
            get_user_menu = '0';
            get_user_relation = '0';
            
            // we need "Permission" information
            permission = data.Permission;
            
            // make it "Intuitive"
            //Display_Buttons_Form();
            
            if (Mode_Create()){
                // Stop here
                // data.Item is null
                return;
            }
            
            var item = data.Item;

            $("#ddl_Instrument").attr("disabled", true);
            $("#ddl_MaintenanceActivity").attr("disabled", true);
            $("#ddl_Site").attr("disabled", true);
            $("#ddl_Company").attr("disabled", true);

            value_Site = item.SiteId;
            value_Company = item.CompanyCode;
            value_Category = item.Category;
            value_Instrument = item.Instrument;
            value_AssignedTo = item.AssignedTo;
            
            $('#ddl_Site').val(value_Site).trigger('change');
            $("#txtInstrumentCode").val(item.InstrumentCode);
            $("#txtDescription").val(item.Description);
            $("#ddl_AssignedTo").val(value_AssignedTo).trigger('change');
            $("#txtRemark").val(item.Remark);
            $("#txtNotesFile").val(item.NotesFile);
            $("#txtRunWhat").val(item.RunWhat);
            
            if (item.NotesFile != ''){
                file_NotesFile = item.NotesFile2;
                $("#btnDownload_NotesFile_div").show();
            }
            if (item.RunWhat != ''){
                file_RunWhat = item.RunWhat2;
                $("#btnDownload_RunWhat_div").show();
            }
            
            var parsedDate = new Date(parseInt(item.NextSchedule.substr(6)));
            var d = new Date(parsedDate); //Date object
            //$("#txtNextSchedule").val(item.NextSchedule_Str2).trigger('change');
            $('#txtNextSchedule').datepicker('update', d);
            
            Set_Hour2(item.NextSchedule_Hour);
            Set_Minute2(item.NextSchedule_Minute);
            
            $('#ddl_RepeatEvery').val(item.RepeatEvery).trigger('change');
            $('#txtRepeatCount').val(item.RepeatCount);
            
            $('#divHistory').show();
            
            data.Completes.forEach(
                function (item){
                    // do "Counting"
                    lineNumber_Data++;
                    
                    // add to Table
                    obj_html_Table.row.add(item).draw(false);
                }
            );
            
            // Resize Table: because this DataTable is filled with new Data
            resize_Table();
            
            first_Load = false;
            
            $("#btnComplete_div").show();
        },
        error: function (error) {
            //$(this).remove();
        }
    });
}

function Create_Tableold(){
    try {
        obj_html_Table = $('#mercyTable').DataTable({
            "bAutoWidth": false
            , "bFilter": false
            , "dom": '<"top">rt<"bottom"iflp><"clear">'
            , "scrollX": true
            , "scrollY": false //"200px"
            //, "scrollCollapse": true
            , "paging": false
            //, "ordering": false
            , "columns": [
                { "data": "RecordId", "name": "RecordId", "autoWidth": true }
                , {
                    "render": function (data, type, full, meta){
                        return lineNumber_Data.toString() + '.';
                    }
                }
                , { "data": "Date_Str", "name": "Date_Str", "autoWidth": true }
                , { "data": "CategoryName", "name": "CategoryName", "autoWidth": true }
                , { "data": "InstrumentName", "name": "InstrumentName", "autoWidth": true }
                , { "data": "Description", "name": "Description", "autoWidth": true }
                
            ]
            , "columnDefs": [{
                "targets": [0],
                "visible": false,
                "searchable": false
            }
                /*,{
                    "targets": [7],
                    "searchable": false,
                    "orderable": false
                }*/
            ]
            , "order": [[0, "asc"]]
        });

        obj_html_Table.on('draw', function () {});
        
        // Resize Table: because this DataTable is newly created
        resize_Table();
    }catch(err){}
}

function Create_Table(){
    try {
        obj_html_Table = $('#mercyTable').DataTable({
            "bAutoWidth": false
            , "bFilter": false
            , "dom": '<"top">rt<"bottom"iflp><"clear">'
            , "scrollX": true
            , "scrollY": false //"200px"
            //, "scrollCollapse": true
            , "paging": false
            //, "ordering": false
            , "columns": [
                { "data": "RecordId", "name": "RecordId", "autoWidth": true }
                , {
                    "render": function (data, type, full, meta) {
                        return lineNumber_Data.toString() + '.';
                    }
                    , className: "mercy_text_right"
                    , orderable: false
                    , width: "20px"
                }
                , { "data": "Date_Str", "name": "Date_Str", width: "60px", orderable: false }
                , { "data": "FullName", "name": "FullName", width: "150px"}
                , { "data": "Description", "name": "Description", "autoWidth": true }
                , {
                    "render": function (data, type, full, meta){
                        return '<a href="/Api/File/Download?.id=' + full.NotesFile2 + '" target="_blank">' + full.NotesFile+ '</a>';
                    }
                }
                , {
                    "render": function (data, type, full, meta){
                        return '<a href="/Api/File/Download?.id=' + full.RunWhat2 + '" target="_blank">' + full.RunWhat+ '</a>';
                    }
                }
            ]
            , "columnDefs": [{
                "targets": [0],
                "visible": false,
                "searchable": false
            }
            , {
                targets: [1]
                , width: "10px"
            }
                /*,{
                    "targets": [7],
                    "searchable": false,
                    "orderable": false
                }*/
            ]
            , "order": [[0, "asc"]]
        });

        obj_html_Table.on('draw', function () {});
        
        // Resize Table: because this DataTable is newly created
        resize_Table();
    }catch(err){}
}

function btnChooseFile_Click(){
    $('#fileInput').click();
}

function btnChooseFile2_Click(){
    $('#fileInput2').click();
}

function Create_ddl_MaintenanceActivity() {
    if (obj_html_MaintenanceActivity != null) return;

    obj_html_MaintenanceActivity = $('#ddl_MaintenanceActivity').select2({
        placeholder: 'Select category'
        , tags: false
        , multiple: false
    });

    $('#ddl_MaintenanceActivity').change(function (e) {
        OnChange_ddl_MaintenanceActivity();
    });
}

function OnChange_ddl_MaintenanceActivity() {
    if (first_Load) return;
}

function Populate_Data_ddl_MaintenanceActivity() {
    Clear_ddl_MaintenanceActivity();

    var option = null;
    var companyCode = $('#ddl_Company').val();
    var siteId = $('#ddl_Site').val();
    // get data from AJAX
    $.ajax({
        url: api_Request + '/Api/MaintenanceActivity/Get_ddl'
        , type: 'GET'
        , dataType: "json"
        , data: {
            onlyActive: paramid === null || paramid === '' ? 1 : 0,
            company: value_Company || companyCode,
            site: value_Site || siteId
        }
        , beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data) {
            if ( ! $.trim(data)) {
                // empty data
                return;
            }
            
            if ( ! data.Success){
                alert(data.Message);
                return;
            }
            
            data.Items.forEach(
                function (item) {
                    // create the option and append to Select2
                    option = new Option(item.text, item.id, true, true);
                    obj_html_MaintenanceActivity.append(option);//.trigger('change');
                }
            );
            
            // Inisial value
            $('#ddl_MaintenanceActivity').val(value_Category).trigger('change');
        },
        error: function (error) {
            $(this).remove();
        }
    });
}

function Clear_ddl_MaintenanceActivity(){
    obj_html_MaintenanceActivity.empty();
    Create_ddl_MaintenanceActivity()
}

function Create_ddl_Hours(p_date) {
    var obj_html_ddl = $('#ddl_Hours').select2({
        placeholder: 'Select'
        , tags: false
        , multiple: false
        //, tokenSeparators: [',', ' ']
        //, minimumInputLength: 3
        , minimumResultsForSearch: -1
    });
    
    var option = null;
    var str = '';
    for (var i=0;i<=23;i++){    
        if (i<10){
            str = '0' + i.toString();
        }
        else str = i.toString();
        
        option = new Option(str, str, true, true);
        obj_html_ddl.append(option);//.trigger('change');
    }
    
    Set_Hour(p_date);
}

function Create_ddl_Minutes(p_date) {
    var obj_html_ddl = $('#ddl_Minutes').select2({
        placeholder: 'Select'
        , tags: false
        , multiple: false
        //, tokenSeparators: [',', ' ']
        //, minimumInputLength: 3
        , minimumResultsForSearch: -1
    });
    
    var option = null;
    var str = '';
    for (var i=0;i<=59;i++){    
        if (i<10){
            str = '0' + i.toString();
        }
        else str = i.toString();
        
        option = new Option(str, str, true, true);
        obj_html_ddl.append(option);//.trigger('change');
    }
    
    Set_Minute(p_date);
}

function Create_ddl_RepeatEvery(p_date) {
    var obj_html_ddl = $('#ddl_RepeatEvery').select2({
        placeholder: 'Select'
        , tags: false
        , multiple: false
        //, tokenSeparators: [',', ' ']
        //, minimumInputLength: 3
        , minimumResultsForSearch: -1
    });
    
    // Inisial value
    $('#ddl_RepeatEvery').val('Month').trigger('change');
}

function Set_Hour(p_date){
    var h = p_date.getHours();
    
    //h = h % 12;
    
    var str = '';
    if (h<10){
        str = '0' + h.toString();
    }
    else str = h.toString();
    
    Set_Hour2(str);
}

function Set_Hour2(p_str){
    $('#ddl_Hours').val(p_str).trigger('change');
}

function Set_Minute(p_date){
    var m = p_date.getMinutes();
    
    var str = '';
    if (m<10){
        str = '0' + m.toString();
    }
    else str = m.toString();
        
    Set_Minute2(str);
}

function Set_Minute2(p_str){
    $('#ddl_Minutes').val(p_str).trigger('change');
}

function CompleteData() {

    if ($("#txtNotesFile").val() == '') {
        alert('For Complete, NotesFile must not be empty!.');
        return false;
    }
    
    if ($("#txtRunWhat").val() == '') {
        alert('For Complete, RunWhat must not be empty!.');
        return false;
    }

    SaveAll('Complete');
}

</script>
