@using MERCY.Web.FrontEnd.Helpers;

@{
    string ui_name               = @"a-Bootstrap-v4_4_1";
    UserInterface userInterface  = new UserInterface(ui_name);
    string ui_Folder_ServerSide  = userInterface.Folder_ServerSide;
    string ui_Folder_Client_Side = userInterface.Folder_ClientSide;

    Layout = ui_Folder_ServerSide + "_Layout.cshtml";
}

<style>
#id_menu_PortionBlending {
    background-color: #000000;
    border-radius: 4px;
    /*opacity: 0.2;*/
    background: rgba(0,0,0,0.2);
    height: 52px;
    margin: 5px 8px;
}

.filter_title {
    color: #232323;
    font-family: 'OpenSans-SemiBold';
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    opacity: 0.8700000047683716;
    text-align: left;
    height: 20px;
}

.select2-selection--single{
    height: 34px !important;
}
.select2-selection__choice {
    height: 34px !important;
}
.select2-selection__arrow{
    height: 32px !important;
}
.mercy_actual_loading_status_draft {
  color: #FF7301;
  font-family: 'Poppins-SemiBoldItalic';
  font-size: 12px;
  line-height: 14px;
  text-align: left;
}

.mercy_actual_loading_status_finalize {
  color: #00BDAA;
  font-family: 'Poppins-SemiBoldItalic';
  /*font-family: 'NotoSans-SemiBoldItalic';*/
  font-size: 12px;
  line-height: 14px;
  text-align: left;
}
</style>

<link href="@ui_Folder_Client_Side/css/select2.min.css" rel="stylesheet" />
<script src="@ui_Folder_Client_Side/js/select2.min.js"></script>

<div class="col margin_padding_0 mercy_box_inner">
    <div class="row margin_padding_0 mercy_page_Title">
        Actual Loading List
    </div>
    <div class="row margin_padding_0 mercy_page_Title_2">
        Actual Loading
    </div>
    <div class="row margin_padding_0 mercy_box_inner_content" style="min-height:100px !important;">
        <div class="col-12 col-md-auto margin_padding_0" style="padding: 15px 0px 0px 15px !important;">
            <div style="width: 100px;">                
                <div style="width:100%" class="filter_title">Site</div>
                <div style="width:100%;padding:10px 0px !important;">
                    <select id="ddl_Site" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;"></select>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-auto margin_padding_0" style="padding: 15px 0px 0px 15px !important;">
            <div style="width: 160px;">
                <div style="width:100%" class="filter_title">Loading Date</div>
                <div style="width:100%;padding:10px 0px !important;">
                    <div class="input-group date">
                        <input id="txtDateFrom" class="mercy_select mercy_input_text mercy_date" style="width:100% !important;" data-date-format="dd-M-yyyy" placeholder="dd-M-yyyy" />
                        <div class="input-group-prepend">
                            <span class="input-group-text mercy_date_icon"> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-auto margin_padding_0" style="padding: 15px 0px 0px 15px !important;display:none;" id="txtDateTo_outer">
            <div style="width: 160px;">
                <div style="width:100%" class="filter_title">To</div>
                <div style="width:100%;padding:10px 0px !important;">
                    <div class="input-group date">
                        <input id="txtDateTo" class="mercy_select mercy_input_text mercy_date" style="width:100% !important;" data-date-format="dd-M-yyyy" placeholder="dd-M-yyyy" />
                        <div class="input-group-prepend">
                            <span class="input-group-text mercy_date_icon"> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-auto margin_padding_0" style="padding: 15px 0px 0px 15px !important;">
            <div style="width: 120px;">
                <div style="width:100%" class="filter_title">Shipment Type</div>
                <div style="width:100%;padding:10px 0px !important;">
                    <select id="ddl_Shipment_Type" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;">
                        <option value="all">-- ALL</option>
                        <option value="@OurUtility.Shipment_Type_Vessel">Vessel</option>
                        <option value="@OurUtility.Shipment_Type_Direct">Direct</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-12 col-md margin_padding_0">
            <div class="row margin_padding_0">
            </div>
        </div>
        <div class="col-12 col-md-auto margin_padding_0" style="padding: 15px 15px 0px 15px !important;">
            <div style="width:250px;">
                <div style="width:100%" class="filter_title"></div>
                <div>
                    <input type="text" id="txtSearch_Name" value="" class="shadow-none mercy_text_search" style="width: 250px !important;" placeholder="Search" onkeyup="OnKeyUp_Text(this)"/>
                </div>
                <div style="height:20px;width:100%;padding:0px 0px 0px 5px !important;margin:-32px 0px 0px 0px !important;">
                    <img src="/images/ic-search.png"/>
                </div>
            </div>
        </div>
    </div>
    <div class="row margin_padding_0 mercy_box_inner_content">
        <div class="col margin_padding_0" style="padding: 0px 15px !important;">
            <div class="row margin_padding_0" style="margin-bottom:20px !important;">
                <div class="col-12 col-md-auto margin_padding_0" style="margin:20px 10px 0px 0px !important;">
                    <div style="width: 130px;">
                        <div class="col col-md-auto margin_padding_0"><div class="mercy_button" style="width:120px;" id="btnAdd"><div class="mercy_text_center">Add New</div></div></div>
                    </div>
                </div>
                <div class="col-12 col-md-auto margin_padding_0" style="margin:20px 10px 0px 0px !important;">
                    <div style="width: 300px;">
                        <div class="col col-md-auto margin_padding_0"><div class="mercy_button_2" style="width:290px;display:none;" id="btnFinalize"><div class="mercy_text_center">Finalize and Send Daily Barge Report</div></div></div>
                    </div>
                </div>
                <div class="col-12 col-md-auto margin_padding_0" style="margin:20px 10px 0px 0px !important;">
                    <div style="width: 20px;">
                        <img src="/images/spinner.gif" style="padding: 0 60px 0 0;display:none;" id="imgLoading" />
                    </div>
                </div>
            </div>
            <div class="row margin_padding_0">
                <table id="mercyTable" class="display nowrap table table-striped table-hover mercy_table mercy_table_header" style="width:100%;">
                    <thead>
                        <tr>
                            <th>RecordId</th>
                            <th><div style="color:white;text-align: center !important;">Action</div></th>
                            <th>Requested On</th>
                            <th>Status</th>
                            <th>Site</th>
                            <th>Ref Report</th>
                            <th>Services Trip</th>
                            <th>Tug Name</th>
                            <th>Barge Name</th>
                            <th>Route</th>
                            <th>Load Type</th>
                            <th>Arrival</th>
                            <th>Departure</th>
                            <th>Coal Quality/Spec</th>
                            <th>Cargo Loaded</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

// Flag
var is_still_AJAX_dataList = false;

// DataGrid
var obj_html_Table;

// DropdownList
var obj_html_Site = null;

// for DropdownList
var ignore_trigger_change_ddl_Site = false;
var ignore_trigger_change_ddl_Shipment_Type = false;

// row
var lineNumber_Row = 0;

// for Tracking
var currentData_Shift = '1';

var detail = getUrlParameter('detail');

$(document).ready(function () {

    $(document).attr('title', 'Portion Blending & Tunneling - List : Mercy');

    $(window).resize(function () {
        // Resize Table: because the Window is Resized
        resize_Table();
    });

    $('#btnAdd').click(function (e) {
        window.location = mercyUrl('/LoadingActualv/Form');
    });

    $('#btnFinalize').click(function (e) {
        btnFinalize_Click();
    });

    $("#txtDateFrom").datepicker({
        todayBtn: 1
        , autoclose: true
    }).on('changeDate', function (selected) {
        Populate_DataGrid();
    });
    $('#txtDateFrom').datepicker('update', new Date());

    $("#txtDateTo").datepicker({
        todayBtn: 1
        , autoclose: true
    }).on('changeDate', function (selected) {
        Populate_DataGrid();
    });
    $('#txtDateTo').datepicker('update', new Date());
    
    if (detail=='1'){
        $('#txtDateTo_outer').show();
    }
    
    Create_ddl_Site();
    Create_ddl_Shipment_Type();
    
    Load_Page_List();
});

function Clear_DataGrid_(p_id) {
    try {
        $('#' + p_id).DataTable().clear().destroy();
        //$('#'+p_id).DataTable().destroy();
        //$('#'+p_id+' tbody').empty();
    }
    catch (err) { }
}

function Clear_DataGrid() {
    Create_Table();
}

function Create_Table() {
    Clear_DataGrid_('mercyTable');

    try {
        obj_html_Table = $('#mercyTable').DataTable({
            "bAutoWidth": false
            , "bFilter": false
            , "dom": '<"top">rt<"bottom"iflp><"clear">'
            , "scrollX": true
            , "scrollY": false //"200px"
            //, "scrollCollapse": true
            , "paging": true
            //, "ordering": false
            , "columns": [
                { "data": "RecordId", "name": "RecordId", "autoWidth": true }
                , {
                    render: function (data, type, full, meta) {
                        return '<div style="width:40px !important;">'+
                                '<a href="/LoadingActualv/Form?.id='+full.RecordId+'"><i class="fa fa-edit" style="cursor: pointer;font-size: 20px;color:white" title="Detail ROM Transfer"></i></a>'
                                '</div>'
                                ;
                    }
                    , className: "mercy_action_icon"
                    , orderable: false
                    , width: "40px"
                }
                , { "data": "RequestedOn_Str", "name": "RequestedOn_Str", "autoWidth": true }
                , {
                    "render": function (data, type, full, meta){
                        return Data_Column_Status(full.Status);
                    }
                    , orderable: false
                    , width: "50px"
                }
                , { "data": "SiteName", "name": "SiteName", "autoWidth": true}
                , { "data": "No_Ref_Report", "name": "No_Ref_Report", "autoWidth": true }
                , { "data": "No_Services_Trip", "name": "No_Services_Trip", "autoWidth": true}
                , { "data": "TugName", "name": "TugName", "autoWidth": true }
                , { "data": "Barge_Name", "name": "Barge_Name", "autoWidth": true }
                , { "data": "Route", "name": "Route", "autoWidth": true }
                , { "data": "Load_Type", "name": "Load_Type", "autoWidth": true }
                , { "data": "Arrival_Str", "name": "Arrival_Str", "autoWidth": true }
                , { "data": "Departure_Str", "name": "Departure_Str", "autoWidth": true }
                , { "data": "Coal_Quality_Spec", "name": "Coal_Quality_Spec", "autoWidth": true }
                , { "data": "Cargo_Loaded", "name": "Cargo_Loaded", "autoWidth": true }
            ]
            , "columnDefs": [{
                "targets": [0],
                "visible": false,
                "searchable": false
            }
                /*,{
                    "targets": [7],
                    "searchable": false,
                    "orderable": false
                }*/
            ]
            , "order": [[2, "asc"]]
        });

        obj_html_Table.on('draw', function () {
            //lineNumber_Row++;
            //console.log(lineNumber_Row);
        });
    }
    catch (err) {}
    
    // Resize Table: because this DataTable is newly created
    resize_Table();
}

function Populate_DataGrid() {
    if (is_still_AJAX_dataList) return;

    is_still_AJAX_dataList = true;
    
    var site = $("#ddl_Site").val();
    var shipmentType = $("#ddl_Shipment_Type").val();
    
    // -- Date
    var dateFrom = $("#txtDateFrom").data('datepicker').getFormattedDate('yyyy-mm-dd');
    var dateTo = $("#txtDateTo").data('datepicker').getFormattedDate('yyyy-mm-dd');
    
    Clear_DataGrid();

    // data from AJAX
    $.ajax({
        url: api_Request + '/Api/LoadingActual'
        , type: 'POST'
        , data: {u_menu:get_user_menu, u_relation:get_user_relation
                    , dateFrom: dateFrom, dateTo: dateTo, txt:$('#txtSearch_Name').val()
                    , site:site, shipmentType:shipmentType}
        , dataType: "json"
        , beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data) {
            is_still_AJAX_dataList = false;
            
            if ( ! $.trim(data)) {
                // empty data
                return;
            }
            
            if ( ! data.Success){
                alert(data.Message);
                
                window.location = '/NoAccess';
                return;
            }
            
            // we need "Permission" information
            permission = data.Permission;
            
            // Special Purpose, getting information of CurrentUser
            if (get_user_menu == '1'){
                after_GetUserInfo(data.User);
                uInfo = data.User;
                
                Create_Table();
    
                Populate_Data_ddl_Site();
            }
            
            // reset
            get_user_menu = '0';
            get_user_relation = '0';
            
            // make it "Intuitive"
            Display_Buttons();
            if (permission.Is_Active)
            {
                $('#btnFinalize').show();
            }
            
            try {
                recordNumber = 0;

                obj_html_Table.rows.add(data.Items); // add to DataTable instance
                obj_html_Table.draw(); // always redraw
            } catch (err) {}
            
            // Resize Table: because this DataTable is filled with new Data
            resize_Table();
        },
        error: function (error) {
            is_still_AJAX_dataList = false;
            
            $(this).remove();
        }
    });
}

var recordNumber = 0;

function Create_ddl_Site() {
    if (obj_html_Site != null) return;

    obj_html_Site = $('#ddl_Site').select2({
        placeholder: 'Select Site'
        , tags: false
        , multiple: false
        //, tokenSeparators: [',', ' ']
        //, minimumInputLength: 3
        , minimumResultsForSearch: -1
    });

    $('#ddl_Site').change(function (e) {
        OnChange_ddl_Site();
    });
}

function OnChange_ddl_Site() {
    if (ignore_trigger_change_ddl_Site) return;

    Populate_DataGrid();
}

function Clear_ddl_Site() {
    // Clear DropdownList
    //$('#ddl_Site').html('').select2({ data: { id: null, text: null } });

    Create_ddl_Site();
}

function Populate_Data_ddl_Site() {
    try {
        // add Label: "ALL"
        var option = new Option('-- ALL', 'all', true, true);
        obj_html_Site.append(option);//.trigger('change');
        
        var first = '';
        
        uInfo.Relations.Sites.forEach(
            function (item) {
                // create the option and append to Select2
                option = new Option(item.SiteName, item.SiteId, true, true);
                obj_html_Site.append(option);//.trigger('change');
                
                if (first == '') first = item.SiteId;
            }
        );
        
        if (first == '') first = 'all';
        
        // Inisial value for "Site"
        ignore_trigger_change_ddl_Site = true;
        $('#ddl_Site').val(first).trigger('change');
        ignore_trigger_change_ddl_Site = false;
    }catch(err){}
}

function Create_ddl_Shipment_Type() {
    $('#ddl_Shipment_Type').select2({
        placeholder: 'Select'
        , tags: false
        , multiple: false
        //, tokenSeparators: [',', ' ']
        //, minimumInputLength: 3
        , minimumResultsForSearch: -1
    });

    $('#ddl_Shipment_Type').change(function (e) {
        OnChange_ddl_Shipment_Type();
    });

    // Inisial value
    //$('#ddl_Shipment_Type').val(currentData_Shift).trigger('change');
}

function OnChange_ddl_Shipment_Type() {
    if (ignore_trigger_change_ddl_Shipment_Type) return;

    Populate_DataGrid();
}

function Data_Column_Status(p_status){
    var xclass = 'mercy_actual_loading_status_draft';
    
    switch(p_status){
        case 'Draft':
            xclass = 'mercy_actual_loading_status_draft';
            break;
        case 'Finalized':
            xclass = 'mercy_actual_loading_status_finalize';
            break;
    }
    
    return '<div class="' + (xclass) + '">'
            + p_status
            + '</div>'
            ;
}

function OnKeyUp_Text(p_this){
    Populate_DataGrid();
}

function btnFinalize_Click(){
    if (is_still_AJAX_dataList) return;

    is_still_AJAX_dataList = true;
    
    $('#imgLoading').show();
    
    var site = $('#ddl_Site').select2('data');
    var shipmentType = $("#ddl_Shipment_Type").val();
    
    // -- Date
    var dateFrom = $("#txtDateFrom").data('datepicker').getFormattedDate('yyyy-mm-dd');
    var dateTo = $("#txtDateTo").data('datepicker').getFormattedDate('yyyy-mm-dd');
    
    // data from AJAX
    $.ajax({
        url: api_Request + '/Api/Notification/ActualLoading_Finalize'
        , type: 'POST'
        , data: {u_menu:get_user_menu, u_relation:get_user_relation
                    , dateFrom: dateFrom, dateTo: dateTo, txt:$('#txtSearch_Name').val()
                    , site:site[0].id, site_text:site[0].text, shipmentType:shipmentType}
        , dataType: "json"
        , beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data) {
            is_still_AJAX_dataList = false;
            
            $('#imgLoading').hide();
            
            if ( ! $.trim(data)) {
                // empty data
                return;
            }
            
            if ( ! data.Success){
                alert(data.Message);
                
                //window.location = '/NoAccess';
                return;
            }
            
            alert(data.Message);
            Populate_DataGrid();
        },
        error: function (error) {
            is_still_AJAX_dataList = false;
            
            $('#imgLoading').hide();
            
            $(this).remove();
        }
    });
}
</script>
