@using MERCY.Web.FrontEnd.Helpers;

@{
    string ui_name = @"a-Bootstrap-v4_4_1";
    UserInterface userInterface = new UserInterface(ui_name);
    string ui_Folder_ServerSide = userInterface.Folder_ServerSide;
    string ui_Folder_Client_Side = userInterface.Folder_ClientSide;

    Layout = ui_Folder_ServerSide + "_Layout.cshtml";
}

<style>
    div.dataTables_wrapper {
        width: 100% !important;
    }
</style>

<div class="col margin_padding_0">
    <div class="row margin_padding_0 mercy_page_Title">
        Map Barge & Vessel
    </div>
    <div class="row margin_padding_0 mercy_page_Title_2">
        Map Barge & Vessel
    </div>
    <div class="row margin_padding_0 mercy_box_inner_content" style="min-height:100px !important;">
        <div class="col-12 col-md-auto margin_padding_0" style="padding: 15px 0px 0px 15px !important;">
            <div style="width: 150px;">
                <div style="width:100%" class="filter_title">Sheet Type</div>
                <div style="width:100%;padding:10px 0px !important;">
                    <select id="ddl_Sheet_Type" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;"></select>
                </div>
            </div>
        </div>
    </div>
    <div id="barge_container" class="row margin_padding_0 mb-1 mercy_box_inner_content">
        <div class="col margin_padding_0" style="padding: 20px !important;">
            <h5 class="font-weight-bold mb-2">Barge Line Up</h5>
            <div class="row margin_padding_0">
                <table id="bargeTable" class="display nowrap table table-striped mercy_table mercy_table_header" style="width:100%;">
                    <thead>
                        <tr>
                            <th><div style="color:white;text-align: center !important;">Action</div></th>
                            <th>Data Required</th>
                            <th>Template Column</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div id="vessel_container" class="row margin_padding_0 mt-1 mercy_box_inner_content">
        <div class="col margin_padding_0" style="padding: 20px !important;">
            <h5 class="font-weight-bold mb-2">Vessel Line Up</h5>
            <div class="row margin_padding_0">
                <table id="vesselTable" class="display nowrap table table-striped mercy_table mercy_table_header" style="width:100%;">
                    <thead>
                        <tr>
                            <th><div style="color:white;text-align: center !important;">Action</div></th>
                            <th>Data Required</th>
                            <th>Template Column</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var bargeTable = null;
    var vesselTable = null;
    
    $(document).ready(function () {
        $(document).attr('title', 'Master Data - Map Barge & Vessel');
        
        get_user_menu = '1';
        get_user_relation = '1';

        generateSheetTypes();
        createTables();

        showUserInformation();
    });
    
    function showUserInformation() {
        // data from AJAX
        $.ajax({
            url: api_Request + '/Api/User/Info'
            , type: 'POST'
            , data: { u_menu: get_user_menu, u_relation: get_user_relation }
            , dataType: "json"
            , beforeSend: function (request) {
                request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
            }
            , cache: false
            , success: function (data) {
                if (!$.trim(data)) {
                    // empty data
                    return;
                }

                if (!data.Success) {
                    window.location('/');
                    return;
                }

                after_GetUserInfo(data.User);
                uInfo = data.User;

                // reset
                get_user_menu = '0';
                get_user_relation = '0';

                // we need "Permission" information
                permission = data.Permission;

                fetchSheetTypes();
            },
            error: function (error) {
                $(this).remove();
            }
        });
    }

    function fetchSheetTypes() {
        $.ajax({
            url: api_Request + '/Api/BargeLineUpMapping'
            , type: 'GET'
            , data: { sheet: $('#ddl_Sheet_Type').val() }
            , dataType: "json"
            , beforeSend: function (request) {
                request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
            }
            , cache: false
            , success: function (data) {
                if (!$.trim(data)) {
                    // empty data
                    return;
                }

                if (!data.Success) {
                    window.location('/');
                    return;
                }

                generateTableData(data.Items);
            },
            error: function (error) {
                $(this).remove();
            }
        });
    }

    function generateSheetTypes() {
        var sheetTypes = [{ name: 'BLU', value: 'BLU' }, { name: 'VLU', value: 'VLU' }];
        sheetTypes.forEach(function (item) {
            $('#ddl_Sheet_Type').append(new Option(item.name, item.value, item.value === 'BLU', item.value === 'BLU'));
        })

        $('#ddl_Sheet_Type').change(function (ev) {
            fetchSheetTypes();
        })
    }

    function generateTableData(data) {
        if ($('#ddl_Sheet_Type option:selected').text() === 'BLU') {
            $('#barge_container').show();
            $('#vessel_container').hide();
            bargeTable.clear().draw();

            data.forEach(function (item) {
                bargeTable.row.add(item).draw(false);
            });

            initiateTableComps('barge', data);
        } else {
            $('#barge_container').hide();
            $('#vessel_container').show();
            vesselTable.clear().draw();

            data.forEach(function (item) {
                vesselTable.row.add(item).draw(false);
            });

            initiateTableComps('vessel', data);
        }
    }
    
    function createTables() {
        bargeTable = $("#bargeTable").DataTable({
            responsive: true,
            searching: false,
            bPaginate: false,
            bInfo: false,
            scrollX: false,
            columns: [
                {
                    "render": function (data, type, full, meta) {
                        return '<div>' +
                            `<i id="data_barge_${full.Id}" class="fa fa-edit" style="cursor: pointer;font-size: 20px; color:white; margin-right: 10px;" title="Edit Barge and Vessel" onclick="editRow('barge', ${full.Id})"></i>` +
                            `<i id="data_barge_submit_${full.Id}" onclick="updateRow('barge', ${full.Id})" class="fa fa-check" style="cursor: pointer;font-size: 20px;color:white;margin-left:10px;" title="Submit"></i>` +
                            `<i id="data_barge_cancel_${full.Id}" onclick="cancelRow('barge', ${full.Id})" class="fa fa-times" style="cursor: pointer;font-size: 20px;color:white;margin-left:10px;" title="Cancel"></i>` +
                            '</div>'
                            ;
                    }
                    , "className": "mercy_action_icon"
                    , "orderable": false
                    , "autoWidth": true
                },
                { "data": "DataRequired", "name": "DataRequired", "autoWidth": true, "defaultContent": "" },
                {
                    "render": function (data, type, full, meta) {
                        return `<span id="template_barge_column_${full.Id}">` + full.TemplateColumn + '</span>' +
                            `<input type="text" id="template_barge_column_txt_${full.Id}" class="shadow-none" value="" />`
                            ;
                    }
                }
            ],
            order: [[1, 'asc']]
        });
        
        vesselTable = $("#vesselTable").DataTable({
            responsive: true,
            searching: false,
            bPaginate: false,
            bInfo: false,
            scrollX: false,
            columns: [
                {
                    "render": function (data, type, full, meta) {
                        return '<div>' +
                            `<i id="data_vessel_${full.Id}" class="fa fa-edit" style="cursor: pointer;font-size: 20px; color:white; margin-right: 10px;" title="Edit Barge and Vessel" onclick="editRow('vessel', ${full.Id})"></i>` +
                            `<i id="data_vessel_submit_${full.Id}" onclick="updateRow('vessel', ${full.Id})" class="fa fa-check" style="cursor: pointer;font-size: 20px;color:white;margin-left:10px;" title="Submit"></i>` +
                            `<i id="data_vessel_cancel_${full.Id}" onclick="cancelRow('vessel', ${full.Id})" class="fa fa-times" style="cursor: pointer;font-size: 20px;color:white;margin-left:10px;" title="Cancel"></i>` +
                            '</div>'
                        ;
                    }
                    , "className": "mercy_action_icon"
                    , "orderable": false
                    , "autoWidth": true
                },
                { "data": "DataRequired", "name": "DataRequired", "autoWidth": true, "defaultContent": "" },
                {
                    "render": function (data, type, full, meta) {
                        return `<span id="template_vessel_column_${full.Id}">` + full.TemplateColumn + '</span>' +
                        `<input type="text" id="template_vessel_column_txt_${full.Id}" class="shadow-none" value="" />`
                        ;
                    }
                }
            ],
            order: [[1, 'asc']]
        });

        bargeTable.on('draw', function () { });
        vesselTable.on('draw', function () { });

        bargeTable.columns.adjust().draw();
        vesselTable.columns.adjust().draw();        
    }
    
    function initiateTableComps(type, data) {
        switch (type) {
            case 'barge':
                data.forEach(function (item) {
                    $('#data_barge_' + item.Id).show();
                    $('#data_barge_submit_' + item.Id).hide();
                    $('#data_barge_cancel_' + item.Id).hide();
            
                    $('#template_barge_column_' + item.Id).show();
                    $('#template_barge_column_txt_' + item.Id).hide();
                })
                break;
            case 'vessel':
                data.forEach(function (item) {
                    $('#data_vessel_' + item.Id).show();
                    $('#data_vessel_submit_' + item.Id).hide();
                    $('#data_vessel_cancel_' + item.Id).hide();
            
                    $('#template_vessel_column_' + item.Id).show();
                    $('#template_vessel_column_txt_' + item.Id).hide();
                })
                break;
            default:
                break;
        }
    }

    function editRow(type, id) {
        switch (type) {
            case 'barge':
                $('#data_barge_' + id).hide();
                $('#data_barge_submit_' + id).show();
                $('#data_barge_cancel_' + id).show();
                
                var templateSpan = $('#template_barge_column_' + id);
                var templateInput = $('#template_barge_column_txt_' + id); 
                
                var templateValue = templateSpan.text();
                templateSpan.hide();
                
                templateInput.val(templateValue);
                templateInput.show();
                break;
            case 'vessel':
                $('#data_vessel_' + id).hide();
                $('#data_vessel_submit_' + id).show();
                $('#data_vessel_cancel_' + id).show();
                                
                var templateSpan = $('#template_vessel_column_' + id);
                var templateInput = $('#template_vessel_column_txt_' + id);
                
                var templateValue = templateSpan.text();
                templateSpan.hide();
                
                templateInput.val(templateValue);
                templateInput.show();
                break;
            default:
                break;
        }
    }

    function cancelRow(type, id) {
        switch (type) {
            case 'barge':
                $('#data_barge_' + id).show();
                $('#data_barge_submit_' + id).hide();
                $('#data_barge_cancel_' + id).hide();
                
                var templateSpan = $('#template_barge_column_' + id);
                var templateInput = $('#template_barge_column_txt_' + id); 
                
                var templateValue = templateInput.val();
                templateSpan.text(templateValue);
                templateSpan.show();
                
                templateInput.val(templateValue);
                templateInput.hide();
                break;
            case 'vessel':
                $('#data_vessel_' + id).show();
                $('#data_vessel_submit_' + id).hide();
                $('#data_vessel_cancel_' + id).hide();
                                
                var templateSpan = $('#template_vessel_column_' + id);
                var templateInput = $('#template_vessel_column_txt_' + id);
                
                var templateValue = templateInput.val();
                templateSpan.text(templateValue);
                templateSpan.show();
                
                templateInput.val(templateValue);
                templateInput.hide();
                break;
            default:
                break;
        }
    }

    function updateRow(type, id) {
        var templateInput = $(`#template_${type}_column_txt_` + id).val();
        var bodyToPost = null;
        $.each(bargeTable.rows().data(), function (key, value) {
            if (value.Id === id) {
                bodyToPost = value;
            }
        })

        $.ajax({
            url: api_Request + '/Api/BargeLineUpMapping/Edit'
            , type: 'POST'
            , contentType: 'application/json'
            , data: JSON.stringify([{ ...bodyToPost, TemplateColumn: templateInput }])
            , dataType: "application/json"
            , processData: false
            , beforeSend: function (request) {
                request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
            }
            , cache: false
            , success: function (data) {
                if (!$.trim(data)) {
                    // empty data
                    return;
                }

                if (!data.Success) {
                    window.location('/');
                    return;
                }

                fetchSheetTypes();
            },
            error: function (error) {
                $(this).remove();
            }
        });
    }
</script>