@using MERCY.Web.FrontEnd.Helpers;

@{
    string ui_name = @"a-Bootstrap-v4_4_1";
    UserInterface userInterface = new UserInterface(ui_name);
    string ui_Folder_ServerSide = userInterface.Folder_ServerSide;
    string ui_Folder_Client_Side = userInterface.Folder_ClientSide;

    Layout = ui_Folder_ServerSide + "_Layout.cshtml";
}

<style>
    #id_menu_sampling {
        background-color: #000000;
        border-radius: 4px;
        /*opacity: 0.2;*/
        background: rgba(0,0,0,0.2);
        height: 52px;
        margin: 5px 8px;
    }

    .text_search {
        background-color: #FFFFFF !important;
        border: 1px solid #CBCBCB !important;
        border-radius: 4px !important;
        height: 34px !important;
        padding-left: 27px !important;
    }

    .mercy_edit_picture {
        background-image: url(/images/ic-edit.png);
        background-size: 100%;
        border-radius: 100%;
        width: 18px;
        height: 18px;
        background-color: #463191;
    }

    #uEdit {
        width: 24px;
        height: 24px;
    }

    .filter_title {
        font-weight: bold;
    }

    .line_conten {
        height: 2px;
        border-width: 0;
        color: #463191;
        background-color: #463191;
    }

    .td-permission {
        width: 40%;
    }

    #permission-table-tbody tr td {
        border-bottom: solid 1px #dee2e6;
    }

    .hidden {
        opacity: 0;
        /*  OR   */
        position: absolute;
        left: -999px;
    }

    .select2-selection--single {
        height: 34px !important;
    }

    .select2-selection__choice {
        height: 34px !important;
    }

    .select2-selection__arrow {
        height: 32px !important;
    }
    body {
        font-size: 12px;
    }
</style>

<link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="@ui_Folder_Client_Side/css/select2.min.css" rel="stylesheet" />
<script src="@ui_Folder_Client_Side/js/select2.min.js"></script>

<div class="container margin_padding_0 mercy_box_inner">
    <div class="row margin_padding_0 mercy_page_Title">
        Permission
    </div>
    <div class="row margin_padding_0 mercy_page_Title_2">
        Permission
    </div>
    <div class="row margin_padding_0 mercy_page_Title_2">
    </div>


    <div class="row margin_padding_0" style="margin-bottom:20px !important;">
        <div class="col-12 col-md-auto margin_padding_0" style="margin:20px 10px 0px 0px !important;">
            <div style="width: 80px;">
                Group
            </div>
        </div>
        <div class="col-12 col-md-auto margin_padding_0" style="margin:20px 10px 0px 0px !important;">
            <div style="width: 230px;">
                <select id="ddl_Group" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;"></select>
            </div>
        </div>
        <div class="col-12 col-md-auto margin_padding_0" style="margin:20px 10px 0px 0px !important;display:none;" id="btnEdit_outer">
            <div>
                <button onclick="openModalGroup('Edit')" title="Edit Group" class="btn btn-info" style="padding:4px 10px 4px 10px;">
                    <i class="fa fa-edit"></i>
                </button>
            </div>
        </div>
        <div class="col-12 col-md-auto margin_padding_0" style="margin:20px 10px 0px 0px !important;display:none;" id="btnAdd_outer">
            <div>
                <button onclick="openModalGroup('Add New')" title="Add New Group" class="btn btn-info" style="padding:4px 10px 4px 10px;">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="col-12 col-md-auto margin_padding_0" style="margin:20px 10px 0px 0px !important;display:none;" id="btnSave_outer">
            <div>
                <button onclick="Consume_Data_Permission()" title="Save" class="btn btn-info" style="padding:4px 10px 4px 10px;">
                    <i class="icon-ok-sign"></i>Save
                </button>
            </div>
        </div>
    </div>

    <div class="row margin_padding_0 mercy_box_inner_content" style="min-height:50px;">
        <div class="col margin_padding_0" style="padding: 0px 20px !important;">
            <div class="row margin_padding_0" style="margin-top:20px !important;">
                <div class="col-12 col-md margin_padding_0">
                    <table id="permission-table" style="border-collapse:separate;border-spacing:0 10px;" class="table table-striped table-hover">
                        <tbody id="permission-table-tbody"></tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="groupModalTrx" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row margin_padding_0">
                    <div class="col margin_padding_0" style="padding-top: 15px !important;">
                        <h3><span id="titleGroupModal"></span> Group</h3>
                    </div>
                </div>
                <div class="row margin_padding_0" style="margin: 20px 5px 0px 0px !important;">
                    <div class="col col-md-auto margin_padding_0" style="width:100%">
                        <div class="filter_title">Group</div>
                        <div>
                            <input id="txtGroup" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row margin_padding_0" style="margin: 20px 5px 0px 0px !important;">
                    <div class="col col-md-auto margin_padding_0" style="width:100%">
                        <div class="filter_title">Availability Status</div>
                        <div>
                            <input type="checkbox" id="cbGroup" name="cbGroup" checked />
                            <label for="cbGroup">Active</label>
                        </div>
                    </div>
                </div>
                <div class="row margin_padding_0" style="margin: 20px 5px 0px 0px !important;">
                    <div class="col col-md-auto margin_padding_0"><div onclick="saveGroup()" class="mercy_button" style="width:100px;" id="btnSave"><div class="mercy_text_center">Save</div></div></div>
                    <div class="col col-md-auto margin_padding_0" style="margin-left: 20px !important;"><div onclick="$('#groupModalTrx').modal('hide');" class="mercy_button_2" style="width:100px;" id="btnCancel"><div class="mercy_text_center">Cancel</div></div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    // Flag
    var is_still_AJAX_dataList = false;
    var gridData;
    var roleTrxTable;
    var GLOB_GROUP = [];

    var obj_html_Group = null;

    var paramTRX = "";
    $(document).ready(function () {

        $(document).attr('title', 'Permission : Mercy');

        Create_ddl_Group();
        
        Load_Page_List_Custom();
    });
    
    function Load_Page_List_Custom(){
        get_user_menu = '1';
        get_user_relation = '1';
        
        Populate_Data_ddl_Group();
    }

    function adjustCheckbok(id) {
        var p = ["View", "Add", "Delete", "Update", "Active", "Acknowledge", "Approve", "Email"];
        if (id.split("_")[0] == "hdr1") {
            $("input[id*='" + "hdr2_" + id.split("_")[1] + "']").prop("checked", $("#" + id + "").prop("checked"));
            $("input[id*='" + "View_" + id.split("_")[1] + "_" + id.split("_")[2] + "_']").prop("checked", $("#" + id + "").prop("checked"));
            $("input[id*='" + "Add_" + id.split("_")[1] + "_" + id.split("_")[2] + "_']").prop("checked", $("#" + id + "").prop("checked"));
            $("input[id*='" + "Delete_" + id.split("_")[1] + "_" + id.split("_")[2] + "_']").prop("checked", $("#" + id + "").prop("checked"));
            $("input[id*='" + "Update_" + id.split("_")[1] + "_" + id.split("_")[2] + "_']").prop("checked", $("#" + id + "").prop("checked"));
            $("input[id*='" + "Active_" + id.split("_")[1] + "_" + id.split("_")[2] + "_']").prop("checked", $("#" + id + "").prop("checked"));
            $("input[id*='" + "Acknowledge_" + id.split("_")[1] + "_" + id.split("_")[2] + "_']").prop("checked", $("#" + id + "").prop("checked"));
            $("input[id*='" + "Approve_" + id.split("_")[1] + "_" + id.split("_")[2] + "_']").prop("checked", $("#" + id + "").prop("checked"));
            $("input[id*='" + "Email_" + id.split("_")[1] + "_" + id.split("_")[2] + "_']").prop("checked", $("#" + id + "").prop("checked"));

        } else if (id.split("_")[0] == "hdr2") {
            $("input[id*='" + "View_" + id.split("_")[1] + "_" + id.split("_")[2] + "_" + id.split("_")[3] + "_']").prop("checked", $("#" + id + "").prop("checked"));
            $("input[id*='" + "Add_" + id.split("_")[1] + "_" + id.split("_")[2] + "_" + id.split("_")[3] + "_']").prop("checked", $("#" + id + "").prop("checked"));
            $("input[id*='" + "Delete_" + id.split("_")[1] + "_" + id.split("_")[2] + "_" + id.split("_")[3] + "_']").prop("checked", $("#" + id + "").prop("checked"));
            $("input[id*='" + "Update_" + id.split("_")[1] + "_" + id.split("_")[2] + "_" + id.split("_")[3] + "_']").prop("checked", $("#" + id + "").prop("checked"));
            $("input[id*='" + "Active_" + id.split("_")[1] + "_" + id.split("_")[2] + "_" + id.split("_")[3] + "_']").prop("checked", $("#" + id + "").prop("checked"));
            $("input[id*='" + "Acknowledge_" + id.split("_")[1] + "_" + id.split("_")[2] + "_']").prop("checked", $("#" + id + "").prop("checked"));
            $("input[id*='" + "Approve_" + id.split("_")[1] + "_" + id.split("_")[2] + "_']").prop("checked", $("#" + id + "").prop("checked"));
            $("input[id*='" + "Email_" + id.split("_")[1] + "_" + id.split("_")[2] + "_']").prop("checked", $("#" + id + "").prop("checked"));

            if ($("input[id*='" + id).prop("checked") == false) {
                $("input[id*='" + "hdr1_" + id.split("_")[1] + "_']").prop("checked", $("#" + id + "").prop("checked"));
                $("input[id='" + id.split(" ")[0] + "_" + id.split("_")[1] + "_']").prop("checked", $("#" + id + "").prop("checked"));
                for (var i = 0; i < 5; i++) {
                    $("input[id='" + p[i] + "_" + id.split("_")[1] + "_" + id.split("_")[2] + "_']").prop("checked", false);
                }
            }


        } else if (p.includes(id.split("_")[0])) {
            //hdr2
            if ($("input[id*=" + id).prop("checked") == true &&
                $("input[id*='" + "View_" + id.split("_")[1] + "_" + id.split("_")[2] + "_" + id.split("_")[3] + "_']").prop("checked") == true &&
                $("input[id*='" + "Add_" + id.split("_")[1] + "_" + id.split("_")[2] + "_" + id.split("_")[3] + "_']").prop("checked") == true &&
                $("input[id*='" + "Delete_" + id.split("_")[1] + "_" + id.split("_")[2] + "_" + id.split("_")[3] + "_']").prop("checked") == true &&
                $("input[id*='" + "Update_" + id.split("_")[1] + "_" + id.split("_")[2] + "_" + id.split("_")[3] + "_']").prop("checked") == true &&
                $("input[id*='" + "Active_" + id.split("_")[1] + "_" + id.split("_")[2] + "_" + id.split("_")[3] + "_']").prop("checked") == true &&
                $("input[id*='" + "Acknowledge_" + id.split("_")[1] + "_" + id.split("_")[2] + "_" + id.split("_")[3] + "_']").prop("checked") == true &&
                $("input[id*='" + "Approve_" + id.split("_")[1] + "_" + id.split("_")[2] + "_" + id.split("_")[3] + "_']").prop("checked") == true &&
                $("input[id*='" + "Email_" + id.split("_")[1] + "_" + id.split("_")[2] + "_" + id.split("_")[3] + "_']").prop("checked") == true) {
                $("input[id*='" + "hdr2_" + id.split("_")[1] + "_" + id.split("_")[2] + "_" + id.split("_")[3] + "_']").prop("checked", true);
            }

            //hdr2
            if ($("input[id*='" + id).prop("checked") == false) {
                var chkHdr = true;
                var totCB2 = $("input[id*='" + p[i] + "_" + id.split("_")[1] + "_" + id.split("_")[2] + "_" + id.split("_")[3] + "_']");
                for (var i = 0; i < 5; i++) {
                    //console.log('Action: ' + p[i])
                    if ($("input[id*='" + p[i] + "_" + id.split("_")[1] + "_" + id.split("_")[2] + "_" + id.split("_")[3] + "_']").prop("checked") == false) {
                        chkHdr = false;
                    }
                }
                $("input[id*='" + "hdr1_" + id.split("_")[1] + "_']").prop("checked", $("#" + id + "").prop("checked"));
                $("input[id*='" + "hdr2_" + id.split("_")[1] + "_" + id.split("_")[2] + "_" + id.split("_")[3] + "_']").prop("checked", chkHdr);
                $("input[id='" + id.split("_")[0] + "_" + id.split("_")[1] + "_" + id.split("_")[2] + "_']").prop("checked", $("#" + id + "").prop("checked"));

            } else {
                var chkHdr = false;
                var totCB2 = $("input[id*='" + p[i] + "_" + id.split("_")[1] + "_" + id.split("_")[2] + "_" + id.split("_")[3] + "_']");
                for (var i = 0; i < 5; i++) {
                    //console.log('Action: ' + p[i])
                    if ($("input[id*='" + p[i] + "_" + id.split("_")[1] + "_" + id.split("_")[2] + "_" + id.split("_")[3] + "_']").prop("checked") == true) {
                        chkHdr = true;
                    }
                }
                $("input[id='" + id.split("_")[0] + "_" + id.split("_")[1] + "_" + id.split("_")[2] + "_']").prop("checked", $("#" + id + "").prop("checked"));


            }
        }

        //hdr1
        if ($("input[id*='" + id).prop("checked") == false) {
            $("input[id*='" + "hdr1_" + id.split("_")[1] + "_']").prop("checked", $("#" + id + "").prop("checked"));
            $("input[id='" + id.split(" ")[0] + "_" + id.split("_")[1] + "_']").prop("checked", $("#" + id + "").prop("checked"));
        } else {
            var chkHdr = true;
            var totCB2 = $("input[id*='hdr2_" + id.split("_")[1] + "_" + id.split("_")[2] + "_']");
            //console.log(totCB2)
            for (var i = 0; i < totCB2.length; i++) {
                //console.log(totCB2[i].toString())
                if (totCB2[i].checked == false) {
                    chkHdr = false;
                }
            }
            $("input[id*='" + "hdr1_" + id.split("_")[1] + "_']").prop("checked", chkHdr);
            if (chkHdr == true) {
                for (var i = 0; i < 5; i++) {
                    $("input[id='" + p[i] + "_" + id.split("_")[1] + "_" + id.split("_")[2] + "_']").prop("checked", chkHdr);
                }
            }
            /*
            var chkHdr=false;
            if (chkHdr==true) {
                for (var i = 0; i < 5; i++) {
                    console.log('Action: ' + p[i])
                    $("input[id='" + p[i]+ "_"  + id.split("_")[1] + "_" + id.split("_")[2] + "_']").prop("checked", false);
                }
            }
            */
        }
    }

    function openModalGroup(param) {
        paramTRX = param;
        if (paramTRX == "Edit") {
            var slc = GLOB_GROUP.filter(x => x.id == $("#ddl_Group").val())[0];

            $("#txtGroup").val(slc.text);
            $("#cbGroup").prop("checked", true);
        } else {
            $("#txtGroup").val("");
            $("#cbGroup").prop("checked", true);
        }
        $("#titleGroupModal").text(param);
        $("#groupModalTrx").modal().appendTo("body");

    }

    function saveGroup() {
        var action = 'Create';
        var ava = 1;
        if ($("#cbGroup").prop("checked") == false) {
            ava = 0;
        }

        var group = {
            name: $("#txtGroup").val(),
            availability: ava
        };
        if (paramTRX == "Edit") {
            action = 'Edit';
        } else {
            action = 'Create';
        }

        // data to AJAX
        $.ajax({
            url: api_Request + '/Api/Permission/Group_' + action
            , type: 'POST'
            , data: {
                '.id': $("#ddl_Group").val()
                , 'name': group.name
                , 'isactive': ava
            }
            , dataType: "json"
            , beforeSend: function (request) {
                // Set "Token" in HTTP_Header
                request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
            }
            , cache: false
            , success: function (data) {
                if (!$.trim(data)) {
                    // empty data
                    return;
                }
                
                if ( ! data.Success){
                    alert(data.Message);
                
                    window.location = '/NoAccess';
                    return;
                }
                    
                isNew = false;
                is_Mode_Editor = false;

                alert('Success');
                Create_ddl_Group();

                $('#groupModalTrx').modal('hide');
            },
            error: function (error) {
                $(this).remove();
            }
        });

        //alert(paramTRX + ' ' + group.name + ' ' + group.availability);
    }

    function OnKeyUp_Text(p_this) {
        Populate_DataGrid();
    }

    function Create_ddl_Group() {
        if (obj_html_Group != null) return;

        obj_html_Group = $('#ddl_Group').select2({
            placeholder: 'Select Group'
            , tags: false
            , multiple: false
            //, tokenSeparators: [',', ' ']
            //, minimumInputLength: 3
            , minimumResultsForSearch: -1
        });

        $('#ddl_Group').change(function (e) {
            OnChange_ddl_Group();
        });
    }

    function OnChange_ddl_Group() {
        Populate_DataGrid();
    }

    function Clear_ddl_Group() {
        // Clear DropdownList
        $('#ddl_Group').html('').select2({ data: { id: null, text: null } });

        Create_ddl_Group();
    }

    function Populate_Data_ddl_Group() {
        Clear_ddl_Group();

        // add Label: "ALL"
        var option = null;
        var vid = $("#groupSelect").val();
        var GLOB_GROUP_temp = [];

        // get data from AJAX
        $.ajax({
            url: api_Request + '/Api/Permission/Group_ddl'
            , type: 'GET'
            , data: {u_menu:get_user_menu, u_relation:get_user_relation}
            , dataType: "json"
            , beforeSend: function (request) {
                request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
            }
            , cache: false
            , success: function (data) {
                if (!$.trim(data)) {
                    // empty data
                    
                    return;
                }
                
                if ( ! data.Success){
                    alert(data.Message);
                    return;
                }
                
                // Special Purpose, getting information of CurrentUser
                if (get_user_menu == '1'){
                    after_GetUserInfo(data.User);
                    uInfo = data.User;
                }
                
                // reset
                get_user_menu = '0';
                get_user_relation = '0';
                
                // we need "Permission" information
                permission = data.Permission;
                
                // make it "Intuitive"
                Display_Buttons_Custom();
                
                var first = -1;

                data.Items.forEach(
                    function (item) {
                        // create the option and append to Select2
                        GLOB_GROUP_temp.push(item);
                        option = new Option(item.text, item.id, true, true);
                        obj_html_Group.append(option);//.trigger('change');

                        if (first == -1) first = item.id;
                    }
                );

                // Inisial value for "Group"
                $('#ddl_Group').val(first).trigger('change');
            },
            error: function (error) {
                $(this).remove();
            }
        }
        );
        GLOB_GROUP = GLOB_GROUP_temp
    }

    function Clear_DataGrid_(p_id) {
        try {
            $('#' + p_id).DataTable().clear().destroy();
            //$('#'+p_id).DataTable().destroy();
        } catch (err) { }

        try {
            $('#' + p_id + ' tbody').empty();
        } catch (err) { }
    }

    var GLOBE_PERMISSION = [];
    function Populate_DataGrid() {
        $.ajax({
            url: api_Request + '/Api/Permission'
            , type: 'POST'
            , data: {u_menu:get_user_menu, u_relation:get_user_relation, groupid: $("#ddl_Group").val() }
            , dataType: "json"
            , beforeSend: function (request) {
                // Set "Token" in HTTP_Header
                request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
            }
            , cache: false
            , success: function (data) {
                if ( ! $.trim(data)) {
                    // empty data
                    return;
                }
                
                if ( ! data.Success){
                    alert(data.Message);
                    return;
                }
                
                GLOBE_PERMISSION = [];
                GLOBE_PERMISSION = data.Items;
                $("#permission-table-tbody").empty();
                var varHeader = "";
                var varMenuHeader = 0;

                for (var i = 0; i < data.Items.length; i++) {
                    if (data.Items[i].hdr == 'hdr1') {
                        varMenuHeader++;
                    }
                    //varHeader = (data.Items[i].hdr == 'hdr1' ? (data.Items[i].MenuId.replace(' ', '') + varMenuHeader.toString()) : varHeader);
                    varHeader = (data.Items[i].hdr == 'hdr1' ? (varMenuHeader.toString() + '_' + data.Items[i].MenuId.toString()) : varHeader);
                    var id = data.Items[i].hdr == 'hdr1' ? "hdr1_" + varMenuHeader.toString() + '_' + data.Items[i].MenuId.toString() + '_' :
                        `hdr2_${varHeader}_${data.Items[i].MenuId.toString() + '_'}`;

                    var idTrxV = data.Items[i].hdr == 'hdr1' ? `View_${varHeader + '_'}` : `View_${varHeader}_${data.Items[i].MenuId.toString() + '_'}`;
                    var idTrxA = data.Items[i].hdr == 'hdr1' ? `Add_${varHeader + '_'}` : `Add_${varHeader}_${data.Items[i].MenuId.toString() + '_'}`;
                    var idTrxD = data.Items[i].hdr == 'hdr1' ? `Delete_${varHeader + '_'}` : `Delete_${varHeader}_${data.Items[i].MenuId.toString() + '_'}`;
                    var idTrxU = data.Items[i].hdr == 'hdr1' ? `Update_${varHeader + '_'}` : `Update_${varHeader}_${data.Items[i].MenuId.toString() + '_'}`;
                    var idTrxC = data.Items[i].hdr == 'hdr1' ? `Active_${varHeader + '_'}` : `Active_${varHeader}_${data.Items[i].MenuId.toString() + '_'}`;
                    var idTrxAck = data.Items[i].hdr == 'hdr1' ? `Acknowledge_${varHeader + '_'}` : `Acknowledge_${varHeader}_${data.Items[i].MenuId.toString() + '_'}`;
                    var idTrxApp = data.Items[i].hdr == 'hdr1' ? `Approve_${varHeader + '_'}` : `Approve_${varHeader}_${data.Items[i].MenuId.toString() + '_'}`;
                    var idTrxE = data.Items[i].hdr == 'hdr1' ? `Email_${varHeader + '_'}` : `Email_${varHeader}_${data.Items[i].MenuId.toString() + '_'}`;
                    var chkAll = false;
                    var chkHdr1 = false
                    if (data.Items[i].isview === true
                    && data.Items[i].isadd === true
                    && data.Items[i].isdelete === true
                    && data.Items[i].isupdate === true
                    && data.Items[i].isactive === true
                    && data.Items[i].isacknowledge === true 
                    && data.Items[i].isapprove === true
                    && data.Items[i].isemail === true) {
                        chkAll = true;
                    }
                    if (data.Items[i].hdr == 'hdr1') {
                        chkHdr1 = true;
                    }

                    if (data.Items[i].hdr == 'hdr1') {

                        var row =
                            `<tr>
                                <td class ="td-permission" style="border-left: solid 4px #1137d6;">
                                    <div class ="checkbox" ${data.Items[i].hdr == 'hdr1' ? '' : 'style="padding-left: 40px;"'}>
                                        <label>
                                            <input type="checkbox" id="${id}" ${chkAll ? 'checked' : ''}>
                                            <span style="${data.Items[i].hdr == 'hdr1' ? 'font-weight:bold' : ''}">${data.Items[i].MenuName}</span>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <label>
                                        <input class="hidden" id="${idTrxV}" type="checkbox" ${data.Items[i].isview ? 'checked' : ''}>
                                        <span></span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input class="hidden" id="${idTrxA}" type="checkbox" ${data.Items[i].isadd ? 'checked' : ''}>
                                        <span></span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input class="hidden" id="${idTrxD}" type="checkbox" ${data.Items[i].isdelete ? 'checked' : ''}>
                                        <span></span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input class="hidden" id="${idTrxU}" type="checkbox" ${data.Items[i].isupdate ? 'checked' : ''}>
                                        <span></span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input class="hidden" id="${idTrxC}" type="checkbox" ${data.Items[i].isactive ? 'checked' : ''}>
                                        <span></span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input class="hidden" id="${idTrxAck}" type="checkbox" ${data.Items[i].isacknowledge ? 'checked' : ''}>
                                        <span></span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input class="hidden" id="${idTrxApp}" type="checkbox" ${data.Items[i].isapprove ? 'checked' : ''}>
                                        <span></span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input class="hidden" id="${idTrxE}" type="checkbox" ${data.Items[i].isemail ? 'checked' : ''}>
                                        <span></span>
                                    </label>
                                </td>
                            </tr>`;
                    }
                    else {
                        var row =
                            `<tr>
                                <td class ="td-permission" style="border-left: solid 4px #1137d6;">
                                    <div class ="checkbox" ${data.Items[i].hdr == 'hdr1' ? '' : 'style="padding-left: 40px;"'}>
                                        <label>
                                            <input type="checkbox" id="${id}" ${chkAll ? 'checked' : ''}>
                                            <span style="${data.Items[i].hdr == 'hdr1' ? 'font-weight:bold' : ''}">${data.Items[i].MenuName}</span>
                                        </label>
                                    </div>
                                </td>
                                <td>
                                    <label>
                                        <input id="${idTrxV}" type="checkbox" ${data.Items[i].isview ? 'checked' : ''} >
                                        <span>View</span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input id="${idTrxA}" type="checkbox" ${data.Items[i].isadd ? 'checked' : ''}>
                                        <span>Add</span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input id="${idTrxD}" type="checkbox" ${data.Items[i].isdelete ? 'checked' : ''}>
                                        <span>Delete</span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input id="${idTrxU}" type="checkbox" ${data.Items[i].isupdate ? 'checked' : ''}>
                                        <span>Edit</span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input id="${idTrxAck}" type="checkbox" ${data.Items[i].isacknowledge ? 'checked' : ''}>
                                        <span>Acknowledge</span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input id="${idTrxApp}" type="checkbox" ${data.Items[i].isapprove ? 'checked' : ''}>
                                        <span>Approve</span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input id="${idTrxE}" type="checkbox" ${data.Items[i].isemail ? 'checked' : ''}>
                                        <span>Email</span>
                                    </label>
                                </td>
                                <td>
                                    <label>
                                        <input id="${idTrxC}" type="checkbox" ${data.Items[i].isactive ? 'checked' : ''}>
                                        <span>Is Active</span>
                                    </label>
                                </td>
                            </tr>`;

                    }
                    $("#permission-table-tbody").append(row);
                }
                $("input[type='checkbox']").on("change", function (e) {
                    //console.log(e);
                    adjustCheckbok(e.currentTarget.id);
                });

            },
            error: function (error) {
            }
        });
    }

    function Consume_Data_Permission() {
        var GLOBE_PERMISSION_DATA_POST = [];
        var varHeader = "";
        var url = "p_groupid=" + $("#ddl_Group").val().toString();
        var varMenuHeader = 0;

        var formData = new FormData();
        formData.append('p_groupid', $("#ddl_Group").val());

        for (var i = 0; i < GLOBE_PERMISSION.length; i++) {
            if (GLOBE_PERMISSION[i].hdr == 'hdr1') {
                varMenuHeader++;
            }
            //varHeader = GLOBE_PERMISSION[i].hdr == 'hdr1' ? (GLOBE_PERMISSION[i].MenuName.replace(' ', '') + varMenuHeader.toString()) : varHeader;
            //varHeader = GLOBE_PERMISSION[i].hdr == 'hdr1' ? (GLOBE_PERMISSION[i].MenuName.replace(/ /g, '') + varMenuHeader.toString()) : varHeader;
            varHeader = GLOBE_PERMISSION[i].hdr == 'hdr1' ? (varMenuHeader.toString() + '_' + GLOBE_PERMISSION[i].MenuId.toString()) : varHeader;
            var id = GLOBE_PERMISSION[i].hdr == 'hdr1' ? "hdr1_" + varMenuHeader.toString() + '_' + GLOBE_PERMISSION[i].MenuId.toString() :
                `hdr2_${varHeader}_${GLOBE_PERMISSION[i].MenuId.toString() + '_'}`;
            var idTrxV = GLOBE_PERMISSION[i].hdr == 'hdr1' ? `View_${varHeader + '_'}` : `View_${varHeader}_${GLOBE_PERMISSION[i].MenuId.toString() + '_'}`;
            var idTrxA = GLOBE_PERMISSION[i].hdr == 'hdr1' ? `Add_${varHeader + '_'}` : `Add_${varHeader}_${GLOBE_PERMISSION[i].MenuId.toString() + '_'}`;
            var idTrxD = GLOBE_PERMISSION[i].hdr == 'hdr1' ? `Delete_${varHeader + '_'}` : `Delete_${varHeader}_${GLOBE_PERMISSION[i].MenuId.toString() + '_'}`;
            var idTrxU = GLOBE_PERMISSION[i].hdr == 'hdr1' ? `Update_${varHeader + '_'}` : `Update_${varHeader}_${GLOBE_PERMISSION[i].MenuId.toString() + '_'}`;
            var idTrxC = GLOBE_PERMISSION[i].hdr == 'hdr1' ? `Active_${varHeader + '_'}` : `Active_${varHeader}_${GLOBE_PERMISSION[i].MenuId.toString() + '_'}`;
            var idTrxAck = GLOBE_PERMISSION[i].hdr == 'hdr1' ? `Acknowledge_${varHeader + '_'}` : `Acknowledge_${varHeader}_${GLOBE_PERMISSION[i].MenuId.toString() + '_'}`;
            var idTrxApp = GLOBE_PERMISSION[i].hdr == 'hdr1' ? `Approve_${varHeader + '_'}` : `Approve_${varHeader}_${GLOBE_PERMISSION[i].MenuId.toString() + '_'}`;
            var idTrxE = GLOBE_PERMISSION[i].hdr == 'hdr1' ? `Email_${varHeader + '_'}` : `Email_${varHeader}_${GLOBE_PERMISSION[i].MenuId.toString() + '_'}`;

            formData.append('parentId' + i.toString(), GLOBE_PERMISSION[i].ParentId);
            formData.append('chkMenu' + i.toString(), GLOBE_PERMISSION[i].MenuId);
            formData.append("chkItem" + i.toString() + "View", ($(`#${idTrxV}`)[0].checked ? "1" : "0"));
            formData.append("chkItem" + i.toString() + "Add", ($(`#${idTrxA}`)[0].checked ? "1" : "0"));
            formData.append("chkItem" + i.toString() + "Delete", ($(`#${idTrxD}`)[0].checked ? "1" : "0"));
            formData.append("chkItem" + i.toString() + "Edit", ($(`#${idTrxU}`)[0].checked ? "1" : "0"));
            formData.append("chkItem" + i.toString() + "IsActive", ($(`#${idTrxC}`)[0].checked ? "1" : "0"));
            formData.append("chkItem" + i.toString() + "Acknowledge", ($(`#${idTrxAck}`)[0].checked ? "1" : "0"));
            formData.append("chkItem" + i.toString() + "Approve", ($(`#${idTrxApp}`)[0].checked ? "1" : "0"));
            formData.append("chkItem" + i.toString() + "Email", ($(`#${idTrxE}`)[0].checked ? "1" : "0"));

        }

        $.ajax({
            url: api_Request + '/Api/Permission/Save',
            data: formData,
            processData: false,  // tell jQuery not to process the data
            contentType: false,  // tell jQuery not to set contentType
            type: 'POST',
            dataType: "json",
            cache: false
            , beforeSend: function (request) {
                // Set "Token" in HTTP_Header
                request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
            }
            , cache: false
            , success: function (data) {
                if ( ! $.trim(data)) {
                    // empty data
                    return;
                }
                
                if ( ! data.Success){
                    alert(data.Message);
                    return;
                }
                
                Populate_DataGrid();
                alert("Success")
            }
        });
    }

    function Display_Buttons_Custom(){
        // always reset
        $('#btnAdd_outer').hide();
        $('#btnEdit_outer').hide();
        $('#btnSave_outer').hide();
        
        try {
            
            // check based on Permission
            if (permission.Is_Add) $('#btnAdd_outer').show();
            
            if (permission.Is_Edit){
                $('#btnEdit_outer').show();
                $('#btnSave_outer').show();
            }
        }catch(err){}
    }
</script>
