@using MERCY.Web.FrontEnd.Helpers;

@{
    string ui_name               = @"a-Bootstrap-v4_4_1";
    UserInterface userInterface  = new UserInterface(ui_name);
    string ui_Folder_ServerSide  = userInterface.Folder_ServerSide;
    string ui_Folder_Client_Side = userInterface.Folder_ClientSide;

    Layout = ui_Folder_ServerSide + "_Layout.cshtml";
}

<style>
#id_menu_ROMTransfer {
    background-color: #000000;
    border-radius: 4px;
    /*opacity: 0.2;*/
    background: rgba(0,0,0,0.2);
    height: 52px;
    margin: 5px 8px;
}

.filter_title {
    color: #232323;
    font-family: 'OpenSans-SemiBold';
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    opacity: 0.8700000047683716;
    text-align: left;
    height: 20px;
}

.select2-selection--single{
    height: 34px !important;
}
.select2-selection__choice {
    height: 34px !important;
}
.select2-selection__arrow{
    height: 32px !important;
}

</style>

<link href="@ui_Folder_Client_Side/css/select2.min.css" rel="stylesheet" />
<script src="@ui_Folder_Client_Side/js/select2.min.js"></script>

<div class="col margin_padding_0 mercy_box_inner">
    <div class="row margin_padding_0 mercy_page_Title">
        ROM Transfer Request
    </div>
    <div class="row margin_padding_0 mercy_page_Title_2">
        ROM Transfer Request
    </div>
    <div class="row margin_padding_0 mercy_box_inner_content" style="min-height:100px !important;">
        <div class="col-12 col-md-auto margin_padding_0" style="padding: 15px 0px 0px 15px !important;">
            <div style="width: 100px;">                
                <div style="width:100%" class="filter_title">Site</div>
                <div style="width:100%;padding:10px 0px !important;">
                    <select id="ddl_Site" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;"></select>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-auto margin_padding_0" style="padding: 15px 0px 0px 15px !important;">
            <div style="width: 100px;">
                <div style="width:100%" class="filter_title">Company</div>
                <div style="width:100%;padding:10px 0px !important;">
                    <select id="ddl_Company" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;"></select>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-auto margin_padding_0" style="padding: 15px 0px 0px 15px !important;">
            <div style="width: 160px;">
                <div style="width:100%" class="filter_title">Transfer Date From</div>
                <div style="width:100%;padding:10px 0px !important;">
                    <div class="input-group date">
                        <input id="txtDateFrom" class="mercy_select mercy_input_text mercy_date" style="width:100% !important;" data-date-format="dd-M-yyyy" placeholder="dd-M-yyyy" />
                        <div class="input-group-prepend">
                            <span class="input-group-text mercy_date_icon"> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-auto margin_padding_0" style="padding: 15px 0px 0px 15px !important;">
            <div style="width: 160px;">
                <div style="width:100%" class="filter_title">Transfer Date To</div>
                <div style="width:100%;padding:10px 0px !important;">
                    <div class="input-group date">
                        <input id="txtDateTo" class="mercy_select mercy_input_text mercy_date" style="width:100% !important;" data-date-format="dd-M-yyyy" placeholder="dd-M-yyyy" />
                        <div class="input-group-prepend">
                            <span class="input-group-text mercy_date_icon"> </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-auto margin_padding_0" style="padding: 15px 0px 0px 15px !important;">
            <div style="width: 120px;">
                <div style="width:100%" class="filter_title">Shift</div>
                <div style="width:100%;padding:10px 0px !important;">
                    <select id="ddl_Shift" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;">
                        <option value="all">-- ALL</option>
                        <option value="1">Shift 1</option>
                        <option value="2">Shift 2</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-auto margin_padding_0" style="padding: 15px 0px 0px 15px !important;">
            <div style="width:180px;">
                <div style="width:100%" class="filter_title"></div>
                <div style="width:100%;padding:10px 0px !important;">
                    <div>
                        <input type="text" id="txtSearch_Name" value="" class="shadow-none text_search" style="width:100%;" placeholder="Search" onkeyup="OnKeyUp_Text(this)"/>
                    </div>
                    <div style="height:20px;width:100%;padding:0px 0px 0px 5px !important;margin:-32px 0px 0px 0px !important;">
                        <img src="/images/ic-search.png"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md margin_padding_0">
            <div class="row margin_padding_0">
            </div>
        </div>
    </div>
    <div class="row margin_padding_0 mercy_box_inner_content">
        <div class="col margin_padding_0">
            <div class="row margin_padding_0" style="margin:20px 25px !important;">
                <div style="width: 300px;">
                    <div class="col col-md-auto margin_padding_0"><div class="mercy_button" style="width:170px;" id="btnAdd"><div class="mercy_text_center">Add ROM Transfer</div></div></div>
                </div>
            </div>
            <div class="row margin_padding_0" style="margin:10px 25px !important;">
                <table id="mercyTable" class="display nowrap table table-striped table-hover mercy_table mercy_table_header" style="width:100%;">
                    <thead>
                        <tr>
                            <th>RecordId</th>
                            <th><div style="color:white;text-align: center !important;">Action</div></th>
                            <th>Company</th>
                            <th>Date</th>
                            <th>Shift</th>
                            <th>Source</th>
                            <th>Destination</th>
                            <th>Remark</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

// Flag
var ignore_trigger_change_ddl_Site = false;
var ignore_trigger_change_ddl_Company = false;
var ignore_trigger_change_ddl_SHIFT = false;

// DataGrid
var obj_html_Table;

// DropdownList
var obj_html_Site = null;
var obj_html_Company = null;

// row
var lineNumber_Row = 0;

// for Tracking
var currentData_Company = 'all';
var currentData_Shift = '1';

$(document).ready(function () {

    $(document).attr('title', 'ROM Transfer - List : Mercy');

    $(window).resize(function () {
        // Resize Table: because the Window is Resized
        resize_Table();
    });

    $('#btnAdd').click(function (e) {
        window.location = mercyUrl('/RomTransferv/Form');
    });

    $("#txtDateFrom").datepicker({
        todayBtn: 1
        , autoclose: true
    }).on('changeDate', function (selected) {
        Populate_DataGrid();
    });
    $('#txtDateFrom').datepicker('update', new Date());

    $("#txtDateTo").datepicker({
        todayBtn: 1
        , autoclose: true
    }).on('changeDate', function (selected) {
        Populate_DataGrid();
    });
    $('#txtDateTo').datepicker('update', new Date());
    
    Create_ddl_Site();
    Create_ddl_Company();
    Create_ddl_Shift();
    
    Load_Page_List();
});

function Clear_DataGrid_(p_id) {
    try {
        $('#' + p_id).DataTable().clear().destroy();
        //$('#'+p_id).DataTable().destroy();
        //$('#'+p_id+' tbody').empty();
    }
    catch (err) { }
}

function Clear_DataGrid() {
    Create_Table();
}

function Create_Table() {
    Clear_DataGrid_('mercyTable');

    try {
        obj_html_Table = $('#mercyTable').DataTable({
            "bAutoWidth": false
            , "bFilter": false
            , "dom": '<"top">rt<"bottom"iflp><"clear">'
            , "scrollX": true
            , "scrollY": false //"200px"
            //, "scrollCollapse": true
            , "paging": false
            //, "ordering": false
            , "columns": [
                { "data": "RecordId", "name": "RecordId", "autoWidth": true }
                , {
                    render: function (data, type, full, meta) {
                        return '<div style="width:40px !important;">'+
                                '<a href="/RomTransferv/Form?.id='+full.RecordId+'"><i class="fa fa-edit" style="cursor: pointer;font-size: 20px;color:white" title="Detail ROM Transfer"></i></a>'
                                '</div>'
                                ;
                    }
                    , className: "mercy_action_icon"
                    , orderable: false
                    , width: "40px"
                }
                , { "data": "Company", "name": "Company", "autoWidth": true }
                , { "data": "TransferDate_Str", "name": "TransferDate_Str", "autoWidth": true }
                , { "data": "Shift", "name": "Shift", "autoWidth": true, className: "mercy_column_center" }
                , { "data": "Source", "name": "Source", "autoWidth": true }
                , { "data": "Destination", "name": "Destination", "autoWidth": true }
                , { "data": "Remark", "name": "Remark", "autoWidth": true }
            ]
            , "columnDefs": [{
                "targets": [0],
                "visible": false,
                "searchable": false
            }
                /*,{
                    "targets": [7],
                    "searchable": false,
                    "orderable": false
                }*/
            ]
            , "order": [[2, "asc"]]
        });

        obj_html_Table.on('draw', function () {
            //lineNumber_Row++;
            //console.log(lineNumber_Row);
        });
    }
    catch (err) {}
    
    // Resize Table: because this DataTable is newly created
    resize_Table();
}

var recordNumber = 0;

function Populate_DataGrid() {
    var company = $("#ddl_Company").val();
    var shift = $("#ddl_Shift").val();
    
    // -- Date
    var dateFrom = $("#txtDateFrom").data('datepicker').getFormattedDate('yyyy-mm-dd')
    var dateTo = $("#txtDateTo").data('datepicker').getFormattedDate('yyyy-mm-dd')
    
    Clear_DataGrid();

    // tidak usah AJAX, jika belum "Siap"
    if (company == null || company == ''){
        company = 'all';
    }

    // data from AJAX
    $.ajax({
        url: api_Request + '/Api/RomTransfer'
        , type: 'POST'
        , data: {u_menu:get_user_menu, u_relation:get_user_relation, company: company, shift: shift, dateFrom: dateFrom, dateTo: dateTo }
        , dataType: "json"
        , beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data) {
           if ( ! $.trim(data)) {
                // empty data
                return;
            }
            
            if ( ! data.Success){
                alert(data.Message);
                
                window.location = '/NoAccess';
                return;
            }
            
            // Special Purpose, getting information of CurrentUser
            if (get_user_menu == '1'){
                after_GetUserInfo(data.User);
                uInfo = data.User;
                
                Create_Table();
    
                Populate_Data_ddl_Site();
                Populate_Data_ddl_Company();
            }
            
            // reset
            get_user_menu = '0';
            get_user_relation = '0';
            
            // we need "Permission" information
            permission = data.Permission;
            
            // make it "Intuitive"
            Display_Buttons();
            
            try {
                recordNumber = 0;

                obj_html_Table.rows.add(data.Items); // add to DataTable instance
                obj_html_Table.draw(); // always redraw
            } catch (err) {}
            
            // Resize Table: because this DataTable is filled with new Data
            resize_Table();
        },
        error: function (error) {
            $(this).remove();
        }
    });
}

function Create_ddl_Site() {
    if (obj_html_Site != null) return;

    obj_html_Site = $('#ddl_Site').select2({
        placeholder: 'Select Site'
        , tags: false
        , multiple: false
        //, tokenSeparators: [',', ' ']
        //, minimumInputLength: 3
        , minimumResultsForSearch: -1
    });

    $('#ddl_Site').change(function (e) {
        OnChange_ddl_Site();
    });
}

function OnChange_ddl_Site() {
    if (ignore_trigger_change_ddl_Site) return;

    Populate_DataGrid();
}

function Clear_ddl_Site() {
    // Clear DropdownList
    //$('#ddl_Site').html('').select2({ data: { id: null, text: null } });

    Create_ddl_Site();
}

function Populate_Data_ddl_Site() {
    try {
        // add Label: "ALL"
        var option = new Option('-- ALL', 'all', true, true);
        obj_html_Site.append(option);//.trigger('change');

        uInfo.Relations.Sites.forEach(
            function (item) {
                // create the option and append to Select2
                option = new Option(item.SiteName, item.SiteId, true, true);
                obj_html_Site.append(option);//.trigger('change');
            }
        );

        // Inisial value for "Site"
        ignore_trigger_change_ddl_Site = true;
        $('#ddl_Site').val('all').trigger('change');
        ignore_trigger_change_ddl_Site = false;
    }catch(err){}
}

function Create_ddl_Company() {
    if (obj_html_Company != null) return;

    obj_html_Company = $('#ddl_Company').select2({
        placeholder: 'Select Company'
        , tags: false
        , multiple: false
        //, tokenSeparators: [',', ' ']
        //, minimumInputLength: 3
        , minimumResultsForSearch: -1
    });

    $('#ddl_Company').change(function (e) {
        OnChange_ddl_Company();
    });
}

function OnChange_ddl_Company() {
    if (ignore_trigger_change_ddl_Company) return;

    Populate_DataGrid();
}

function Clear_ddl_Company() {
    // Clear DropdownList
    //$('#ddl_Company').html('').select2({ data: { id: null, text: null } });

    Create_ddl_Company();
}

function Populate_Data_ddl_Company() {
    try {
        // add Label: "ALL"
        var option = new Option('-- ALL', 'all', true, true);
        obj_html_Company.append(option);//.trigger('change');

        uInfo.Relations.Companies.forEach(
            function (item) {
                // create the option and append to Select2
                option = new Option(item.CompanyCode, item.CompanyCode, true, true);
                obj_html_Company.append(option);//.trigger('change');
            }
        );

        // Inisial value for "Company"
        ignore_trigger_change_ddl_Company = true;
        $('#ddl_Company').val('all').trigger('change');
        ignore_trigger_change_ddl_Company = false;
    }catch(err){}
}

function Create_ddl_Shift() {
    $('#ddl_Shift').select2({
        placeholder: 'Select Shift'
        , tags: false
        , multiple: false
        //, tokenSeparators: [',', ' ']
        //, minimumInputLength: 3
        , minimumResultsForSearch: -1
    });

    $('#ddl_Shift').change(function (e) {
        OnChange_ddl_Shift();
    });

    // Inisial value
    //$('#ddl_Shift').val(currentData_Shift).trigger('change');
}

function OnChange_ddl_Shift() {
    if (ignore_trigger_change_ddl_SHIFT) return;

    Populate_DataGrid();
}

</script>
