@using MERCY.Web.FrontEnd.Helpers;

@{
    string ui_name               = @"a-Bootstrap-v4_4_1";
    UserInterface userInterface  = new UserInterface(ui_name);
    string ui_Folder_ServerSide  = userInterface.Folder_ServerSide;
    string ui_Folder_Client_Side = userInterface.Folder_ClientSide;

    Layout = ui_Folder_ServerSide + "_Layout.cshtml";
}

<style>
#id_menu_sampling {
    background-color: #000000;
    border-radius: 4px;
    /*opacity: 0.2;*/
    background: rgba(0,0,0,0.2);
    height: 52px;
    margin: 5px 8px;
}

#mercyTable_info, #mercyTable_length, #mercyTable_paginate, #table_location_PIT_Sampling_info, #table_location_PIT_Sampling_length, #table_location_PIT_Sampling_paginate {
    display: none;
}

#table_location_PIT_Sampling_wrapper {
    width: 100%;
}

.select2-selection__choice__remove {
    float: right;
    margin-left: 5px /* I added to separate a little bit */
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #00b4a5 !important;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px;
    background-color: #00b4a5 !important;
    color: #FFFFFF !important;
    font-family: 'Poppins-Regular';
    /*font-size: 10px;
font-weight: 400;
line-height: 12px;
text-align: left;*/
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #FFFFFF !important;
}

.add-location {
    color: #00B4A5;
    font-family: 'Poppins-Medium';
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
}

.mercy_location td, .mercy_location th {
    padding: 4px !important;
}

.select2-selection--single{
    height: 34px !important;
}
.select2-selection__choice {
    /*height: 34px !important;*/
}
.select2-selection__arrow{
    height: 32px !important;
}

.select2-selection__choice {
    background-color: #00B4A5;
    border-radius: 4px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
    height: 23px;
    font-family: 'Poppins-Regular';
}

.select2-selection__choice {
    padding-top: 3px !important;
}

.select2-selection select2-selection--single {
    height: 32px !important;
}

#table_location_PIT_Sampling_wrapper.dataTables_wrapper.dt-bootstrap4.no-footer div.dataTables_scroll div.dataTables_scrollBody {
    border: 1px solid #ced4da;
}

#table_ROM.table td
{
    padding:0px !important;
}

.mercy_history_oval_vertical{
    height:80px !important;
}
</style>

<link href="@ui_Folder_Client_Side/css/select2.min.css" rel="stylesheet" />
<script src="@ui_Folder_Client_Side/js/select2.min.js"></script>

<div class="col margin_padding_0 mercy_box_inner">
    <div class="row margin_padding_0 mercy_page_Title">
        Sampling Request Form
    </div>
    <div class="row margin_padding_0 mercy_page_Title_2">
        Sampling Request > Sampling Request List > Sampling Request Form
    </div>
    <div id="partMain_Loading" class="row margin_padding_0 mercy_box_inner_content" style="min-height:100px !important;">
        <div style="width:50px;margin:auto;">
            <img src="/images/spinner.gif" />
        </div>
    </div>
    <div id="partMain" class="row margin_padding_0 mercy_box_inner_content" style="display:none;">
        <div class="col margin_padding_0">
            <div class="row margin_padding_0" style="margin:40px 10px !important;">
                <div class="col-md-4">
                    <div class="margin_padding_0">
                        <div class="row margin_padding_0 mercy_form_Label" style="padding-top:0px !important;">Company Name</div>
                        <div class="row margin_padding_0">
                            <select id="ddl_Company" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;"></select>
                        </div>
                        <div class="row margin_padding_0 mercy_form_Label">Sampling Type</div>
                        <div class="row margin_padding_0">
                            <select class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" id="ddl_SamplingType" style="width:100%;">
                                <option>HAC</option>
                                <option>ROM</option>
                                <option>PIT Sampling</option>
                                <option>DT Sampling</option>
                            </select>
                        </div>
                        <div class="row margin_padding_0 mercy_form_Label">Request Date</div>
                        <div class="row margin_padding_0">
                            <div class="input-group date">
                                <input id="txtDate" class="mercy_select mercy_input_text mercy_date" style="width:120px;" data-date-format="mm/dd/yyyy" placeholder="mm/dd/yyyy" />
                                <div class="input-group-prepend">
                                    <span class="input-group-text mercy_date_icon"> </span>
                                </div>
                            </div>
                        </div>
                        <div class="row margin_padding_0 mercy_form_Label">Requestor</div>
                        <div class="row margin_padding_0">
                            <input type="text" class="form-control shadow-none mercy_input_text" id="txtRequestor" disabled="false" />
                        </div>
                        <div class="row margin_padding_0 mercy_form_Label">Department</div>
                        <div class="row margin_padding_0">
                            <input type="text" class="form-control shadow-none mercy_input_text" id="txtDepartment" disabled="false" />
                        </div>
                        <div class="row margin_padding_0 mercy_form_Label">Email</div>
                        <div class="row margin_padding_0">
                            <input type="text" class="form-control shadow-none mercy_input_text" id="txtEmail" disabled="false" />
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="margin_padding_0" style="width:100%;">
                        <div class="row margin_padding_0 mercy_request-detail">Request Detail</div>
                        <div class="row margin_padding_0 mercy_form_Label" style="line-height:16px !important;">
                            <div class="col-md-8" style="padding-left:0px !important;">Location</div>
                            <div class="col-md-4 add-location" style="background-image:url('/images/add-mdpi.png');background-repeat: no-repeat;padding-left:20px !important;display:none;" id="btnAddLocation_PIT_Sampling">Add Location</div>
                        </div>
                        <div class="row margin_padding_0">
                            <div class="row margin_padding_0" id="location_HAC" style="display:none;width:100%;">
                                <input type="text" class="form-control shadow-none mercy_input_text" id="txtLocation_HAC" placeholder="Enter HAC" />
                            </div>
                            <div class="row margin_padding_0" id="location_ROM" style="display:none;width:100%;">
                                <table id="table_ROM" class="table table-striped mercy_table mercy_table_header display nowrap" style="width:100%;">
                                    <tr><td><select id="txtLocation_ROM" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;"></select></td></tr>
                                </table>
                            </div>
                            <div class="row margin_padding_0" id="location_PIT_Sampling" style="display:none;width:100%;">
                                <table id="table_location_PIT_Sampling" class="display nowrap table table-striped mercy_table mercy_table_header display nowrap" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Pit</th>
                                            <th>Seam</th>
                                        </tr>
                                    </thead>
                                </table>
                                <!--
                                    <tbody>
                                    <tr role="row" class="odd">
                                        <td><img id="mercyPIT_Image_Delete_" src="/images/ic-trash.png" style="padding:6px 0px 0px 6px;"/></td>
                                        <td><select id="mercyPIT_Pit_1" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;"></select></td>
                                        <td><select id="mercyPIT_Seam_1" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;"></select></td>
                                    </tr>
                                    </tbody>
                                -->
                            </div>
                            <div class="row margin_padding_0" id="location_DT_Sampling" style="display:none;width:100%;">
                                <input type="text" class="form-control shadow-none mercy_input_text" id="txtLocation_DT_Sampling" placeholder="Enter DT Sampling" />
                            </div>
                        </div>
                        <div class="row margin_padding_0 mercy_form_Label">Tonnage</div>
                        <div class="row margin_padding_0">
                            <input type="text" class="form-control shadow-none mercy_input_text" id="txtTonnage" placeholder="Enter tonnage" />
                        </div>
                        <div class="row margin_padding_0 mercy_form_Label">PIC Area</div>
                        <div class="row margin_padding_0">
                            <input type="text" class="form-control shadow-none mercy_input_text" id="txtPICArea" placeholder="Enter PIC area" />
                        </div>
                        <div class="row margin_padding_0 mercy_form_Label">Remark</div>
                        <div class="row margin_padding_0">
                            <textarea rows="2" cols="50" class="form-control shadow-none mercy_input_text" id="txtRemark" placeholder="Enter remark"></textarea>
                        </div>
                        <div class="row margin_padding_0 mercy_form_Label">Parameter Analysis Request</div>
                        <div class="row margin_padding_0 mercy_checkbox">
                            <input type="checkbox" id="chkCV" /><span>CV</span>
                            <input type="checkbox" id="chkTS" /><span>TS</span>
                            <input type="checkbox" id="chkTM" /><span>TM</span>
                            <input type="checkbox" id="chkProx" /><span>Prox</span>
                            <input type="checkbox" id="chkRD" /><span>RD</span>
                            <input type="checkbox" id="chkSize" /><span>Size</span>
                            <input type="checkbox" id="chkFlow" /><span>Flow</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="partLabsId" class="row margin_padding_0 mercy_box_inner_content_2" style="display:none;padding-bottom:20px !important;">
        <div class="col margin_padding_0" style="margin-left: 20px !important; margin-top: 20px !important;">
            <div class="row margin_padding_0 mercy_request-detail">
                <div class="col">Register Lab ID</div>
                <div style="width:100px;margin-right:100px;display:none;" class="mercy_button" id="btnAddLabID_Outer"><div class="mercy_text_center" id="btnAddLabID">Add Lab ID</div></div>
            </div>
            <div class="row margin_padding_0">
                <table id="mercyTable" class="display nowrap table table-striped mercy_table mercy_table_header" style="width:100%;">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Lab ID</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="row margin_padding_0 mercy_box_inner_content_2" id="divHistory" style="display:none;">
        <div class="col margin_padding_0" style="margin:16px 24px !important;">
            <div class="row margin_padding_0 mercy_history">History</div>
            <div class="row margin_padding_0 mercy_history_line" style="margin-bottom: 10px !important;"></div>
            <div id="divHistory_Detail"></div>
        </div>
    </div>
    <div id="partButtons" class="row margin_padding_0 text-right" style="padding: 40px 0 20px 0px !important;display:none;">
        <div class="col"></div>
        <div class="col col-md-auto">
            <div style="width: 100px;margin:auto;">
                <div class="mercy_button_3" style="width:78px;"><div class="mercy_text_center" id="btnCancel">Cancel</div></div>
            </div>
        </div>
        <div class="col col-md-auto">
            <div style="width: 100px;margin:auto;">
                <div class="mercy_button" style="width:78px;display:none;" id="btnSave_outer"><div class="mercy_text_center" id="btnSave">Save</div></div>
            </div>
        </div>
        <div class="col col-md-auto">
            <div style="width: 10px;margin:auto;">
                <img src="/images/spinner.gif" style="padding: 0 60px 0 0;display:none;" id="imgLoading" />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

// Flag
var ignore_trigger_change_ddl_Company = false;
var ignore_trigger_change_ddl_SamplingType = false;

var labsId;

var dataSource_Company = null;
var dataSource_PIT = null;
var dataSource_ROM = null;

var obj_html_Company = null;
var location_PIT_Sampling;

var currentData_Company = 'TCM';

// row
var lineNumber_Data = 0;

$(document).ready(function () {

    $(document).attr('title', 'Sampling Request - Form : Mercy');

    $(window).resize(function () {
        // Resize Table: because the Window is Resized
        resize_Table();
    });

    $("#txtDate").datepicker({
        todayBtn: 1
        , autoclose: true
    });
    $('#txtDate').datepicker('update', new Date());

    labsId = $('#mercyTable').DataTable({
        "autoWidth": false
        , "bFilter": false
        , "dom": '<"top">rt<"bottom"iflp><"clear">'
        , "scrollX": true
        , "paging": false
        , "columns": [
            {
                "render": function (data, type, full, meta) { return recordNumber + '.'; }
                , className: "mercy_text_right"
                , orderable: false
                , width: "20px"
            }
            , {
                "render": function (data, type, full, meta) { return '<input type="hidden" id="labIdx_' + recordNumber + '" value="' + record_Id + '"/><input type="text" class="form-control shadow-none mercy_input_text" id="labId_' + recordNumber + '" value="' + record_Text + '" style="width:500px;"/>'; }
            }
            , {
                "render": function (data, type, full, meta) { return record_createdOn; }
            }
        ]
    });
    
    // Resize Table: because this DataTable is newly created
    resize_Table();
    
    $('#btnCancel').click(function (e) {
        window.location = mercyUrl('/SamplingRequestv');
    });

    $('#btnSave').click(function (e) {
        Save();
    });

    $('#btnAddLabID').click(function (e) {
        addLabId();
    });

    $('#btnAddLocation_PIT_Sampling').click(function (e) {
        add_Location_PIT_Sampling();
    });

    Create_ddl_Company();
    Create_SamplingType();
    Create_Table_location_PIT_Sampling();

    Load_Page_Form();
});

function Save() {
    if (!validate_All()) return;

    $('#imgLoading').show();

    var action = 'Create';
    if (Mode_View()) action = 'Edit?.id=' + paramid;
    
    var formData = new FormData();
    
    formData.append('company', $("#ddl_Company").val());
    formData.append('samplingType', $("#ddl_SamplingType").val());
    formData.append('requestDate', $("#txtDate").val());
    formData.append('location', $("#txtLocation_HAC").val());
    formData.append('tonnage', $("#txtTonnage").val());
    formData.append('picarea', $("#txtPICArea").val());
    formData.append('remark', $("#txtRemark").val());
    
    formData.append('cv', ValueBit('chkCV'));
    formData.append('ts', ValueBit('chkTS'));
    formData.append('tm', ValueBit('chkTM'));
    formData.append('prox', ValueBit('chkProx'));
    formData.append('rd', ValueBit('chkRD'));
    formData.append('size', ValueBit('chkSize'));
    formData.append('flow', ValueBit('chkFlow'));
    
    for(var i=1;i<=recordNumber;i++)
    {
        formData.append('lab'+i.toString(), $('#labId_'+i.toString()).val());
        formData.append('labIdx_'+i.toString(), $('#labIdx_'+i.toString()).val());
    }
    
    formData.append('pit_seam', Get_Pit_Seam());
    formData.append('roms', ('' + $('#txtLocation_ROM').val()));
    formData.append('recordNumber', recordNumber);
    
    $.ajax({
        url: api_Request + '/Api/SamplingRequest/' + action,
        data: formData,
        processData: false,  // tell jQuery not to process the data
        contentType: false,  // tell jQuery not to set contentType
        type: 'POST',
        dataType: "json",
        cache: false,
        beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        },
        success: function (data) {
            $('#imgLoading').hide();

            if ( ! $.trim(data)) {
                // empty data
                return;
            }
            
            if ( ! data.Success){
                alert(data.Message);
                return;
            }
            
            alert('Success Save');
            
            var email_parameter = '';
            if (Mode_Create()){
                email_parameter = '?send=' + data.Data
            }
            window.location = mercyUrl('/SamplingRequestv' + email_parameter);
        },
        error: function (error) {
            //$(this).remove();
        }
    });
}

function ValueBit(p_id) {
    var result = 0;

    if ($('#' + p_id).is(':checked')) result = 1;

    return result;
}

function validate_All() {
    var result = false;

    if ($('#ddl_Company').val() == '') {
        alert('Company tidak boleh kosong');
        return result;
    }
    if ($("#ddl_SamplingType").val() == '') {
        alert('Sampling Type tidak boleh kosong');
        return result;
    }
    if ($("#txtDate").val() == '') {
        alert('Request Date tidak boleh kosong');
        return result;
    }
    if ($("#txtTonnage").val() == '') {
        alert('Tonnage tidak boleh kosong');
        return result;
    }
    if ($("#txtPICArea").val() == '') {
        alert('PIC Area tidak boleh kosong');
        return result;
    }
    
    var check_cv = ValueBit('chkCV');
    var check_ts = ValueBit('chkTS')
    var check_tm = ValueBit('chkTM')
    var check_prox = ValueBit('chkProx')
    var check_rd = ValueBit('chkRD')
    var check_size = ValueBit('chkSize')
    var check_flow = ValueBit('chkFlow')
    
    if (check_cv == 1
        || check_ts == 1
        || check_tm == 1
        || check_prox == 1
        || check_rd == 1
        || check_size == 1
        || check_flow == 1
        )
    {
        // Aman
    }
    else
    {
        alert('Parameter tidak boleh kosong');
        return result;
    }
    
    switch ($("#ddl_SamplingType").val())
    {
        case 'HAC':
            if ($('#txtLocation_HAC').val() == '') {
                alert('Location - HAC, tidak boleh kosong');
                return result;
            }
            break;
        case 'ROM':
            if ($('#txtLocation_ROM').val() == '') {
                alert('Location - ROM, tidak boleh kosong');
                return result;
            }
            break;
        case 'PIT Sampling':
            if (Get_Pit_Seam_Check() == '') {
                alert('Location - SEAM, tidak boleh kosong');
                return result;
            }
            break;
        case 'DT Sampling':
            if (Get_Pit_Seam_Check() == '') {
                alert('Location - SEAM, tidak boleh kosong');
                return result;
            }
            break;
    }

    result = true;

    return result;
}

var data_SamplingRequest = null;
var data_Company_current = 'TCM';
var data_SamplingType_current = 'PIT Sampling';

var record_createdOn = '';

function DisplayData() {
    $('#imgLoading').show();

    $.ajax({
        url: api_Request + '/Api/SamplingRequest/Get',
        type: 'GET',
        data: {u_menu:get_user_menu, u_relation:get_user_relation, '.id':paramid},
        dataType: "json",
        cache: false,
        beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        },
        success: function (data) {
            $('#imgLoading').hide();

            if ( ! $.trim(data)) {
                // empty data
                return;
            }
            
            if ( ! data.Success){
                // special case: Id not found
                if (data.Message.indexOf('not found') !== -1){
                    after_GetUserInfo(data.User);
                    uInfo = data.User;
                }
            
                alert(data.Message);
                
                window.location = '/NoAccess';
                return;
            }
            
            // Special Purpose, getting information of CurrentUser
            if (get_user_menu == '1'){
                after_GetUserInfo(data.User);
                uInfo = data.User;
                
                $('#txtRequestor').val(uInfo.Name);
                $('#txtDepartment').val(uInfo.Department);
                $('#txtEmail').val(uInfo.Email);
            }
            
            // reset
            get_user_menu = '0';
            get_user_relation = '0';
            
            // we need "Permission" information
            permission = data.Permission;
            
            // make it "Intuitive"
            Display_Buttons_Form_SamplingRequest();
            
            $('#partMain').show();
            //$('#partLabsId').show();
            $('#partHistory').show();
            $('#partButtons').show();
            $('#partMain_Loading').hide();
            
            if (Mode_Create()){
                // Stop here
                // data.Item is null
                return;
            }
            
            try {
                data_SamplingRequest = data;
                
                var item = data.Item;
                
                $("#ddl_Company").attr("disabled", true);
                $("#ddl_SamplingType").attr("disabled", true);
                $("#txtDate").attr("disabled", true);
                
                $("#txtDate").val(item.RequestDate_Str2);
                $("#txtRequestor").val(item.Requestor);
                $("#txtDepartment").val(item.Department);
                $("#txtEmail").val(item.Email);
                $("#txtLocation_HAC").val(item.Location);
                $("#txtPICArea").val(item.PICArea);
                $("#txtRemark").val(item.Remark);
                $("#txtTonnage").val(item.Tonnage);
                
                data_Company_current = item.Company;
                ignore_trigger_change_ddl_Company = true;
                $('#ddl_Company').val(data_Company_current).trigger('change');
                ignore_trigger_change_ddl_Company = false;
                
                ignore_trigger_change_ddl_SamplingType = false;
                $("#ddl_SamplingType").val(item.SamplingType).trigger('change');
                ignore_trigger_change_ddl_SamplingType = false;
                
                recordNumber = 0;
                var i = 1;
                data.Labs.forEach(
                    function (item_Lab) {
                        //$('#labId_'+i.toString()).val(item_Lab.LabId);

                        record_Id = item_Lab.RecordId;
                        record_Text = item_Lab.LabId;
                        record_createdOn = item_Lab.CreatedOn_Str;
                        recordNumber++;
                        labsId.row.add([RecordId = recordNumber, '', '']).draw(false);
                    }
                );
                
                // "Print History"
                i = 0;
                var hist = '';
                data.Histories.forEach(
                    function (item_History) {
                        i++;
                        hist +=
                                '<div class="row margin_padding_0">' +
                                '    <div class="col" style="flex: 0 0 50px;">' +
                                (i<=1?'  <div class="mercy_history_oval"></div>':'') +
                                '        <div class="mercy_history_oval_vertical"></div>' +
                                '        <div class="mercy_history_oval"></div>' +
                                '    </div>' +
                                '    <div class="col">' +
                                '        <div>' +
                                '            <div class="mercy_history_date">' + item_History.CreatedOn_Str + '</div>' +
                                '            <div class="mercy_history_text_box">' +
                                '                <div class="mercy_history_text">' + item_History.Description + ' by ' + item_History.FullName + '</div>' +
                                '            </div>' +
                                '        </div>' +
                                '    </div>' +
                                '</div>';
                    }
                );
                
                $("#divHistory_Detail").html(hist);
                $("#divHistory").show();
                
                if (item.CV) {
                    $('#chkCV').prop("checked", true);
                }
                if (item.TS) {
                    $('#chkTS').prop("checked", true);
                }
                if (item.TM) {
                    $('#chkTM').prop("checked", true);
                }
                if (item.PROX) {
                    $('#chkProx').prop("checked", true);
                }
                if (item.RD) {
                    $('#chkRD').prop("checked", true);
                }
                if (item.SIZE) {
                    $('#chkSize').prop("checked", true);
                }
                if (item.FLOW) {
                    $('#chkFlow').prop("checked", true);
                }
                
                // Ignore it
                //add_Location_PIT_Sampling_DisplayData(data.data[0].Company, data.Seams);
                //$('#txtLocation_ROM').val(data.data[0].ROMs).trigger('change');
            }
            catch (err) {}
            
            // Resize Table: because this DataTable is filled with new Data
            resize_Table();
        },
        error: function (error) {
            //$(this).remove();
        }
    });
}

var recordNumber = 0;
var record_Text = '';
var record_Id = '';

function addLabId() {
    record_Text = '';
    record_Id = '';
    record_createdOn = '';
    
    recordNumber++;
    labsId.row.add([RecordId = recordNumber, '', '']).draw(false);
}

function readRequest(p_id) {
    $.ajax({
        url: api_Request + '/Api/Notification/ReadRequest?type=Sampling&request=' + p_id
        , type: 'GET'
        , dataType: "json"
        , beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data) {
            if ( ! $.trim(data)) {
                // empty data
                return;
            }
            
            if ( ! data.Success){
                //alert(data.Message);
                return;
            }
        },
        error: function (error) {
            $(this).remove();
        }
    });
}

function OnChange_ddl_Company() {
    if (ignore_trigger_change_ddl_Company) return;

    dataSource_PIT = null;
    dataSource_ROM = null;

    // Event Cascade
    ddl_SamplingType_Change();
}

function ddl_SamplingType_Change() {
    if (ignore_trigger_change_ddl_SamplingType) return;
    
    // first, make sure All Locations are hidden
    $('#location_HAC').hide();
    $('#location_ROM').hide();
    $('#location_PIT_Sampling').hide();
    $('#btnAddLocation_PIT_Sampling').hide();
    $('#location_DT_Sampling').hide();

    // show based on SamplingType
    switch ($("#ddl_SamplingType").val()) {
        case 'HAC':
            $('#location_HAC').show();
            break;
        case 'ROM':
            $('#location_ROM').show();

            Create_Location_ROM();
            break;
        case 'PIT Sampling':
            $('#location_PIT_Sampling').show();
            
            if (Mode_Create()){
                if (permission.Is_Add){
                    $('#btnAddLocation_PIT_Sampling').show();
                }
            }
            
            if (Mode_View()){
                if (permission.Is_Edit){
                    $('#btnAddLocation_PIT_Sampling').show();
                }
            }
            
            Create_Table_location_PIT_Sampling();
            break;
        case 'DT Sampling':
            $('#location_PIT_Sampling').show();
            $('#btnAddLocation_PIT_Sampling').show();

            Create_Table_location_PIT_Sampling();
            break;
    }
}

function Create_ddl_Company() {
    obj_html_Company = $('#ddl_Company').select2({
        placeholder: 'Select Company'
        , tags: false
        , multiple: false
        //, tokenSeparators: [',', ' ']
        //, minimumInputLength: 3
        , minimumResultsForSearch: -1
    });

    $('#ddl_Company').change(function (e) {
        OnChange_ddl_Company();
    });
}

function Create_SamplingType() {
    $('#ddl_SamplingType').select2({
        placeholder: 'Select Sampling Type'
        , tags: false
        , multiple: false
        //, tokenSeparators: [',', ' ']
        //, minimumInputLength: 3
        , minimumResultsForSearch: -1
    });
    
    $('#ddl_SamplingType').change(function (e) {
        ddl_SamplingType_Change();
    });

    // Inisial value for "Sampling Type"
    ignore_trigger_change_ddl_SamplingType = true;
    $('#ddl_SamplingType').val(data_SamplingType_current).trigger('change');
    ignore_trigger_change_ddl_SamplingType = false;
}

function Create_Location_Pit(p_lineNumber) {
    var obj_html_Pit = $('#mercyPIT_Pit_' + p_lineNumber).select2({
        placeholder: 'Select Pit'
        , tags: false
        , multiple: false
        //, tokenSeparators: [',', ' ']
        //, minimumInputLength: 3
        //, minimumResultsForSearch: 10
    });

    $('#mercyPIT_Pit_' + p_lineNumber).on('select2:select', function (e) {
        var data = e.params.data;

        // Clear DropdownList
        $('#mercyPIT_Seam_' + p_lineNumber).html('').select2({ data: { id: null, text: null } });
        //$('#mercyPIT_Seam_' + p_lineNumber).val(null).trigger('change');
        //$('#mercyPIT_Seam_' + p_lineNumber).select2('destroy');

        Create_Location_Seam(p_lineNumber);
    });

    if ($('#ddl_Company').val() == null || $('#ddl_Company').val() == '') {
        dataSource_PIT = null;
        return;
    }

    if (dataSource_PIT != null) {
        var option = null;

        dataSource_PIT.Items.forEach(
            function (item) {
                // create the option and append to Select2
                option = new Option(item.pit, item.pit, true, true);
                obj_html_Pit.append(option);//.trigger('change');
            }
        );

        // Inisial value for "Pit"
        $('#mercyPIT_Pit_' + p_lineNumber).val('').trigger('change');
        return;
    }

    // get data from AJAX
    $.ajax({
        url: api_Request + '/Api/Pit/Get_ddl?company=' + $('#ddl_Company').val()
        , type: 'GET'
        , dataType: "json"
        , beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data) {
            if ( ! $.trim(data)) {
                // empty data
                return;
            }
            
            if ( ! data.Success){
                alert(data.Message);
                return;
            }
            
            dataSource_PIT = data;

            var option = null;

            dataSource_PIT.Items.forEach(
                function (item) {
                    // create the option and append to Select2
                    option = new Option(item.pit, item.pit, true, true);
                    obj_html_Pit.append(option);//.trigger('change');
                }
            );

            // Inisial value for "Pit"
            $('#mercyPIT_Pit_' + p_lineNumber).val('').trigger('change');
        },
        error: function (error) {
            $(this).remove();
        }
    });
}

function Create_Location_Seam(p_lineNumber, p_seam_value) {
    var obj_html_Seam = $('#mercyPIT_Seam_' + p_lineNumber).select2({
        placeholder: 'Select Seam'
        , tags: false
        , multiple: true
        //, tokenSeparators: [',', ' ']
        //, minimumInputLength: 3
        //, minimumResultsForSearch: 10
    });

    if ($('#mercyPIT_Pit_' + p_lineNumber).val() == null
        || $('#mercyPIT_Pit_' + p_lineNumber).val() == '') {
        return;
    }

    // get data from AJAX
    $.ajax({
        url: api_Request + '/Api/Seam/Get_ddl?company=' + $('#ddl_Company').val() + '&pit=' + $('#mercyPIT_Pit_' + p_lineNumber).val()
        , type: 'GET'
        , dataType: "json"
        , beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data) {
            if ( ! $.trim(data)) {
                // empty data
                return;
            }
            
            if ( ! data.Success){
                alert(data.Message);
                return;
            }
            
            // Clear DropdownList
            $('#mercyPIT_Seam_' + p_lineNumber).html('').select2({ data: { id: null, text: null } });
            //$('#mercyPIT_Seam_' + p_lineNumber).val(null);//.trigger('change');
            //$('#mercyPIT_Seam_').select2('destroy');

            var dataSource_SEAM = data;

            var option = null;

            dataSource_SEAM.Items.forEach(
                function (item) {
                    // create the option and append to Select2
                    option = new Option(item.seam, item.Names, true, true);
                    obj_html_Seam.append(option);//.trigger('change');
                }
            );

            // Inisial value for "Seam"
            $('#mercyPIT_Seam_' + p_lineNumber).val(p_seam_value).trigger('change');
        },
        error: function (error) {
            $(this).remove();
        }
    });
}

var pit_recordId = '0';
var pit_LineNumber = 0;
var pit_LineNumber_Left = 0;

function add_Location_PIT_Sampling() {
    pit_LineNumber++;
    pit_LineNumber_Left++;
    location_PIT_Sampling.row.add(['', '', '']).draw(false);

    Create_Location_Pit(pit_LineNumber.toString());
    Create_Location_Seam(pit_LineNumber.toString(), '');

    $('#mercyPIT_Image_Delete_' + pit_LineNumber.toString()).click(function (e) {
        if (pit_LineNumber_Left <= 1) {
            alert('Data tinggal 1. Tidak bisa lagi di hapus');
            return;
        }

        try {
            //alert(e.target.id);
            var currentId_str = e.target.id.replace('mercyPIT_Image_Delete_', '');
            var currentId = parseInt(currentId_str);

            var $rows = $("#table_location_PIT_Sampling tr");
            //currentId--;
            $rows.eq(currentId).hide();

            // Marking -- Deleted row
            $('#mercyPIT_Is_Deleted_' + currentId_str).val('1');

            // counter
            pit_LineNumber_Left--;
        } catch (err) { }
    });
}

function Get_Pit_Seam() {
    var pit_deleted = 'pit_deleted=';
    var pit_deleted_count = 0;
    var pit_data = 'pit=';
    var pit_count = 0;
    var seam_data = 'seam=';
    var seam_count = 0;

    var j = 0;
    for (var i = 1; i <= pit_LineNumber; i++) {
        if ($('#mercyPIT_Is_Deleted_' + i.toString()).val() != '0') {
            pit_deleted_count++;
            if (pit_deleted_count > 1) pit_deleted += ',';
            pit_deleted += $('#mercyPIT_Id_' + i.toString()).val();

            continue;
        }

        if ($('#mercyPIT_Pit_' + i.toString()).val() != '') {
            pit_count++;
            if (pit_count > 1) pit_data += ',';
            pit_data += $('#mercyPIT_Pit_' + i.toString()).val();
        }

        if ($('#mercyPIT_Seam_' + i.toString()).val() != '') {
            seam_count++;
            if (seam_count > 1) seam_data += ',';
            seam_data += $('#mercyPIT_Seam_' + i.toString()).val();
        }
    }

    return pit_deleted + '&' + pit_data + '&' + seam_data;
}

function Get_Pit_Seam_Check() {
    var pit_deleted = 'pit_deleted=';
    var pit_deleted_count = 0;
    var pit_data = 'pit=';
    var pit_count = 0;
    var seam_data = ''; //'seam=';
    var seam_count = 0;

    var j = 0;
    for (var i = 1; i <= pit_LineNumber; i++) {
        if ($('#mercyPIT_Is_Deleted_' + i.toString()).val() != '0') {
            pit_deleted_count++;
            if (pit_deleted_count > 1) pit_deleted += ',';
            pit_deleted += $('#mercyPIT_Id_' + i.toString()).val();

            continue;
        }

        if ($('#mercyPIT_Pit_' + i.toString()).val() != '') {
            pit_count++;
            if (pit_count > 1) pit_data += ',';
            pit_data += $('#mercyPIT_Pit_' + i.toString()).val();
        }

        if ($('#mercyPIT_Seam_' + i.toString()).val() != '') {
            seam_count++;
            if (seam_count > 1) seam_data += ',';
            seam_data += $('#mercyPIT_Seam_' + i.toString()).val();
        }
    }

    return seam_data;
}

function add_Location_PIT_Sampling_DisplayData(p_company, p_seams) {
    // get data from AJAX
    $.ajax({
        url: api_Request + '/Api/Pit/Get_ddl?company=' + p_company
        , type: 'GET'
        , dataType: "json"
        , beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data) {
            if ( ! $.trim(data)) {
                // empty data
                return;
            }
            
            if ( ! data.Success){
                alert(data.Message);
                return;
            }
            
            dataSource_PIT = data;

            var option = null;

            var pit_previous = '';
            var pit_current = '';

            var seams = [];

            p_seams.forEach(
                function (item) {
                    pit_current = getPit(item.COMPANY_PIT_SEAM);

                    if (pit_current != pit_previous && pit_previous != '') {
                        pit_LineNumber++;
                        pit_LineNumber_Left++;
                        location_PIT_Sampling.row.add(['', '', '']).draw(false);

                        assign_DeleteButton(pit_LineNumber);

                        Create_Location_Pit_DisplayData(pit_LineNumber.toString(), pit_previous, seams);
                        seams = [];
                    }

                    seams.push(item.COMPANY_PIT_SEAM);

                    pit_previous = pit_current;
                }
            );

            pit_LineNumber++;
            pit_LineNumber_Left++;
            location_PIT_Sampling.row.add(['', '', '']).draw(false);

            assign_DeleteButton(pit_LineNumber);

            Create_Location_Pit_DisplayData(pit_LineNumber.toString(), pit_previous, seams);
        },
        error: function (error) {
            $(this).remove();
        }
    });
}

function Create_Location_Pit_DisplayData(p_lineNumber, p_pit_value, p_seam_value) {
    var obj_html_Pit = $('#mercyPIT_Pit_' + p_lineNumber).select2({
        placeholder: 'Select Pit'
        , tags: false
        , multiple: false
        //, tokenSeparators: [',', ' ']
        //, minimumInputLength: 3
        //, minimumResultsForSearch: 10
    });

    $('#mercyPIT_Pit_' + p_lineNumber).on('select2:select', function (e) {
        var data = e.params.data;

        // Clear DropdownList
        $('#mercyPIT_Seam_' + p_lineNumber).html('').select2({ data: { id: null, text: null } });
        //$('#mercyPIT_Seam_' + p_lineNumber).val(null);//.trigger('change');
        //$('#mercyPIT_Seam_' + p_lineNumber).select2('destroy');

        Create_Location_Seam(p_lineNumber, '');
    });

    if (dataSource_PIT != null) {
        var option = null;

        dataSource_PIT.Items.forEach(
            function (item) {
                // create the option and append to Select2
                option = new Option(item.pit, item.pit, true, true);
                obj_html_Pit.append(option);//.trigger('change');
            }
        );

        // Inisial value for "Pit"
        $('#mercyPIT_Pit_' + p_lineNumber).val(p_pit_value);//.trigger('change');

        Create_Location_Seam(p_lineNumber.toString(), p_seam_value);
        return;
    }
}

function assign_DeleteButton(p_lineNumber) {
    $('#mercyPIT_Image_Delete_' + p_lineNumber.toString()).click(function (e) {
        if (pit_LineNumber_Left <= 1) {
            alert('Data tinggal 1. Tidak bisa lagi di hapus');
            return;
        }

        try {
            //alert(e.target.id);
            var currentId_str = e.target.id.replace('mercyPIT_Image_Delete_', '');
            var currentId = parseInt(currentId_str);

            var $rows = $("#table_location_PIT_Sampling tr");
            //currentId--;
            $rows.eq(currentId).hide();

            // Marking -- Deleted row
            $('#mercyPIT_Is_Deleted_' + currentId_str).val('1');

            // counter
            pit_LineNumber_Left--;
        } catch (err) { }
    });
}

function clearData(p_dataTable) {
    try {
        $('#' + p_dataTable).DataTable().clear().destroy();
        //$('#'+p_dataTable).DataTable().destroy();
        //$('#'+p_dataTable+' tbody').empty();
    }
    catch (err) { }
}

function Create_Table_location_PIT_Sampling() {

    clearData('table_location_PIT_Sampling');
    // Reset "Counter"
    pit_recordId = '0';
    pit_LineNumber = 0;
    pit_LineNumber_Left = 0;

    try {
        location_PIT_Sampling = $('#table_location_PIT_Sampling').DataTable({
            "autoWidth": false
            , "bFilter": false
            , "dom": '<"top">rt<"bottom"iflp><"clear">'
            , "scrollX": true
            , "scrollY": "200px"
            //, "scrollCollapse": true
            , "paging": false
            //, "ordering": false
            , "columns": [
                {
                    width: 10
                    , "render": function (data, type, full, meta) { return '<img id="mercyPIT_Image_Delete_' + pit_LineNumber.toString() + '" src="/images/ic-trash.png" style="padding:6px 0px 0px 6px;"/><input type="hidden" id="mercyPIT_Id_' + pit_LineNumber.toString() + '" value="' + pit_recordId + '"/><input type="hidden" id="mercyPIT_Is_Deleted_' + pit_LineNumber.toString() + '" value="0"/>'; }
                }
                , {
                    width: 150
                    , "render": function (data, type, full, meta) { return '<select id="mercyPIT_Pit_' + pit_LineNumber.toString() + '" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;"></select>'; }
                }
                , {
                    "render": function (data, type, full, meta) { return '<select id="mercyPIT_Seam_' + pit_LineNumber.toString() + '" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;"></select>'; }
                }
            ]
        });
    }
    catch (err) { }

    try {
        if (paramid == null || paramid == '') {
            // Add Data

            // show Default
            add_Location_PIT_Sampling();
        }
        else {
            if (data_Company_current == $('#ddl_Company').val()) {
                add_Location_PIT_Sampling_DisplayData($('#ddl_Company').val(), data_SamplingRequest.Seams);
            }
            else {
                // show Default
                add_Location_PIT_Sampling();
            }
        }
    }
    catch (err) { }
}

function Create_Location_ROM() {
    var obj_html_ROM = $('#txtLocation_ROM').select2({
        placeholder: 'Select ROM'
        , tags: false
        , multiple: true
        //, tokenSeparators: [',', ' ']
        //, minimumInputLength: 3
        //, minimumResultsForSearch: 10
    });

    if ($('#ddl_Company').val() == null || $('#ddl_Company').val() == '') {
        dataSource_ROM = null;
        return;
    }

    // Clear DropdownList
    $('#txtLocation_ROM').html('').select2({ data: { id: null, text: null } });
    $('#txtLocation_ROM').val(null).trigger('change');
    //$('#txtLocation_ROM').select2('destroy');

    if (dataSource_ROM != null) {
        var option = null;

        dataSource_ROM.Items.forEach(
            function (item) {
                // create the option and append to Select2
                option = new Option(item.Names, item.ROM_id, true, true);
                obj_html_ROM.append(option);//.trigger('change');
            }
        );

        // Inisial value for "ROM"
        if (paramid == null || paramid == '') {
            $('#txtLocation_ROM').val('').trigger('change');
        }
        else {
            Assign_ROMs();
        }
        return;
    }

    // get data from AJAX
    $.ajax({
        url: api_Request + '/Api/ROM/Get_ddl?company=' + $('#ddl_Company').val()
        , type: 'GET'
        , dataType: "json"
        , beforeSend: function (request) {
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data) {
            if ( ! $.trim(data)) {
                // empty data
                return;
            }
            
            if ( ! data.Success){
                //alert(data.Message);
                return;
            }
            
            dataSource_ROM = data;

            var option = null;

            dataSource_ROM.Items.forEach(
                function (item) {
                    // create the option and append to Select2
                    option = new Option(item.Names, item.ROM_id, true, true);
                    obj_html_ROM.append(option);//.trigger('change');
                }
            );

            // Inisial value for "ROM"
            if (paramid == null || paramid == '') {
                $('#txtLocation_ROM').val('').trigger('change');
            }
            else {
                Assign_ROMs();
            }
        },
        error: function (error) {
            $(this).remove();
        }
    });
}

function Assign_ROMs() {
    try {
        if (paramid == null || paramid == '') return;

        var roms = [];

        data_SamplingRequest.ROMs.forEach(
            function (item) {
                roms.push(item.ROM_ID);
            }
        );

        $('#txtLocation_ROM').val(roms).trigger('change');
    } catch (err) { }
}

function getPit(p_companyPitSeam) {
    var result = '';
    try {
        var array = p_companyPitSeam.split("__");
        result = array[1];
    } catch (err) { }

    return result;
}

function Populate_Data_ddl_Company() {
    try {
        var option = null;
        var firstCompany = '';
        
        uInfo.Relations.Companies.forEach(
            function (item) {
                // create the option and append to Select2
                option = new Option(item.CompanyCode, item.CompanyCode, true, true);
                obj_html_Company.append(option);//.trigger('change');
                
                if (firstCompany == ''){
                    firstCompany = item.CompanyCode;
                }
            }
        );
        
        currentData_Company = firstCompany;
        
        // Inisial value for "Company"
        ignore_trigger_change_ddl_Company = false;
        $('#ddl_Company').val(currentData_Company).trigger('change');
        ignore_trigger_change_ddl_Company = false;
    }catch(err){}
}

function Display_Buttons_Form_SamplingRequest(){
    
    $('#btnCancel').html('Back');
    
    Populate_Data_ddl_Company();
    
    if (Mode_Create()){
        // check based on Permission
        if (permission.Is_Add){
            $('#btnSave_outer').show();
            
            $('#btnSave').html('Submit');
            $('#btnCancel').html('Cancel');
            
            //return;
        }
    }
    
    if (Mode_View()){
        $('#partLabsId').show();
        
        // check based on Permission
        if (permission.Is_Edit){
            $('#btnSave_outer').show();
            
            $('#btnSave').html('Save');
            $('#btnCancel').html('Cancel');
            
            $('#btnAddLabID_Outer').show();
            
            //return;
        }
    }
}

</script>
