@using MERCY.Web.FrontEnd.Helpers;

@{
    string ui_name = @"a-Bootstrap-v4_4_1";
    UserInterface userInterface = new UserInterface(ui_name);
    string ui_Folder_ServerSide = userInterface.Folder_ServerSide;
    string ui_Folder_Client_Side = userInterface.Folder_ClientSide;

    Layout = ui_Folder_ServerSide + "_Layout.cshtml";
}

<style>
    #id_menu_ROMTransfer {
        background-color: #000000;
        border-radius: 4px;
        /*opacity: 0.2;*/
        background: rgba(0,0,0,0.2);
        height: 52px;
        margin: 5px 8px;
    }

    .filter_title {
        color: #232323;
        font-family: 'OpenSans-SemiBold';
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        opacity: 0.8700000047683716;
        text-align: left;
        height: 20px;
    }

    .text_search {
        background-color: #FFFFFF !important;
        border: 1px solid #CBCBCB !important;
        border-radius: 4px !important;
        width: 250px !important;
        height: 34px !important;
        padding-left: 27px !important;
    }

    .select2-selection--single {
        height: 34px !important;
    }

    .select2-selection__choice {
        height: 34px !important;
    }

    .select2-selection__arrow {
        height: 32px !important;
    }

    .dt-avail {
        color: #00BDAA;
        font-family: NotoSans;
        font-size: 12px;
        line-height: 16.34px;
        text-align: left;
    }

    .icon_action {
        background-color: #463191;
        text-align: center !important;
        border-top:0px !important;
    }
</style>

<link href="@ui_Folder_Client_Side/css/select2.min.css" rel="stylesheet" />
<script src="@ui_Folder_Client_Side/js/select2.min.js"></script>

<div class="col margin_padding_0">
    <div class="row margin_padding_0 mercy_page_Title">
        User List
    </div>
    <div class="row margin_padding_0 mercy_page_Title_2">
        User List
    </div>
    <div>
        <div class="row margin_padding_0" style="margin-bottom:20px !important;">
            <div class="col-12 col-md-auto margin_padding_0" style="margin-top:20px !important;">
                <div style="width: 190px;">
                    <div class="mercy_button" style="width:170px;display:none" id="btnAdd"><div class="mercy_text_center">Add New User</div></div>
                </div>
            </div>
            <div class="col-12 col-md margin_padding_0"></div>
        </div>
    </div>
    <div class="row margin_padding_0 mercy_box_inner_content">
        <div class="col margin_padding_0" style="padding: 0px 20px !important;">
            <div class="row margin_padding_0" style="margin-bottom:20px !important;">
                <div class="col col-md margin_padding_0">
                    <div class="row margin_padding_0">
                    </div>
                </div>
                <div class="col col-md-auto margin_padding_0" style="margin-top:20px !important;">
                    <div style="width:250px;">
                        <div style="width:100%;height:25px !important;"></div>
                        <div>
                            <input type="text" id="txtSearch_Name" value="" class="shadow-none text_search" style="width: 250px !important;" placeholder="Search" onkeyup="OnKeyUp_Text(this)" />
                        </div>
                        <div style="height:20px;width:100%;padding:0px 0px 0px 5px !important;margin:-32px 0px 0px 0px !important;">
                            <img src="/images/ic-search.png" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row margin_padding_0">
                <table id="mercyTable" class="display nowrap table table-striped mercy_table mercy_table_header" style="width:100%;">
                    <thead>
                        <tr>
                            <th>UserId</th>
                            <th><div style="color:white;text-align: center !important;">Action</div></th>
                            <th>Login Name</th>
                            <th>Active Directory</th>
                            <th>Name</th>
                            <th>Title</th>
                            <th>Site</th>
                            <th>Company</th>
                            <th>Groups</th>
                            <th>Availability Status</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    // Flag
    var ignore_trigger_change_ddl_Instrument = false;
    var ignore_trigger_change_ddl_MaintenanceActivity = false;

    var is_still_AJAX_dataList = false;

    // DataGrid
    var obj_html_Table;
    var obj_html_Instrument;
    var obj_html_MaintenanceActivity;

    // row
    var isNew = false;
    var lineNumber_Data = 0;
    var object_Created_Count = 0;
    var object_id_additional = ''; // pattern is: '_' + object_Created_Count + '_' + lineNumber_Data;
    var object_id_Created = [];

    $(document).ready(function () {
        $(document).attr('title', 'User - List : Mercy');

        $(window).resize(function () {
            // Resize Table: because the Window is Resized
            resize_Table();
        });

        $('#btnAdd').click(function (e) {
            window.location = '/Userv/Form';
        });

        $('#btnFilter').click(function (e) {
            filterData('mercyTable');
        });
        
        Load_Page_List();
    });

    function Clear_DataGrid_(p_id) {
        try {
            $('#' + p_id).DataTable().clear().destroy();
            //$('#'+p_id).DataTable().destroy();
        } catch (err) { }

        try {
            $('#' + p_id + ' tbody').empty();
        } catch (err) { }
    }

    function Clear_DataGrid() {
        Create_Table();
    }

    function Create_Table() {
        Clear_DataGrid_('mercyTable');

        try {
            obj_html_Table = $('#mercyTable').DataTable({
                "bAutoWidth": false
                , "bFilter": false
                //,"processing": true
                , "dom": '<"top">rt<"bottom"iflp><"clear">'
                , "scrollX": true
                , "scrollY": false //"200px"
                //, "scrollCollapse": true
                , "paging": true
                //, "ordering": false
                , "columns": [
                    { "data": "UserId", "name": "UserId", "autoWidth": true }
                    , {
                        render: function (data, type, full, meta) {
                            return '<div style="width:40px !important;">'+
                                    '<a href="/Userv/Form?.id='+full.UserId+'"><i class="fa fa-edit" style="cursor: pointer;font-size: 20px;color:white" title="Detail User"></i></a>'
                                    '</div>'
                                    ;
                        }
                        , className: "mercy_action_icon"
                        , orderable: false
                        , width: "40px"
                    }
                    , { "data": "LoginName", "name": "LoginName", "autoWidth": true }
                    , {
                        "render": function (data, type, full, meta) { return (full.Is_ActiveDirectory ? 'Yes' : 'No'); }
                    }
                    , { "data": "FullName", "name": "FullName", "autoWidth": true }
                    , { "data": "Title", "name": "Title", "autoWidth": true }
                    , { "data": "Sites", "name": "Sites", "autoWidth": true }
                    , { "data": "Companies", "name": "Companies", "autoWidth": true }
                    , { "data": "Groups", "name": "Groups", "autoWidth": true }
                    , {
                        className: "dt-avail", "render": function (data, type, full, meta) { return (full.IsActive ? 'Active' : 'In-Active'); }
                    }

                ]
                , "columnDefs": [
                    {
                        "targets": [0],
                        "visible": false,
                        "searchable": false
                    }
                    , {
                        "targets": [1],
                        "orderable": false
                    }
                    , {
                        "targets": [1],
                        width: "50px"
                    }
                ]
                , "order": [[2, "asc"]]
            });

            obj_html_Table.on('draw', function () { });
            
            // Resize Table: because this DataTable is newly created
            resize_Table();
        } catch (err) { }
    }

    function linkEdit(v) {
        window.location = mercyUrl('/Userv/Form') + "?.id=" + v;
    }

    function filterData(p_dataTable) {
        try {
            $('#' + p_dataTable).DataTable().clear().destroy();
            //$('#'+p_dataTable).DataTable().destroy();
            //$('#'+p_dataTable+' tbody').empty();
        }
        catch (err) { }

        showData();
    }

    function Populate_DataGrid() {
        if (is_still_AJAX_dataList) return;

        is_still_AJAX_dataList = true;

        Clear_DataGrid();

        // reset
        lineNumber_Data = 0;
        object_id_Created = [];

        // data from AJAX
        $.ajax({
            url: api_Request + '/Api/User'
            , type: 'POST'
            , data: {u_menu:get_user_menu, u_relation:get_user_relation, txt: $('#txtSearch_Name').val() }
            , dataType: "json"
            , beforeSend: function (request) {
                // Set "Token" in HTTP_Header
                request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
            }
            , cache: false
            , success: function (data) {
                is_still_AJAX_dataList = false;

                if (!$.trim(data)) {
                    // empty data
                    return;
                }
                
                if ( ! data.Success){
                    alert(data.Message);
                
                    window.location = '/NoAccess';
                    return;
                }
                
                // Special Purpose, getting information of CurrentUser
                if (get_user_menu == '1'){
                    after_GetUserInfo(data.User);
                    uInfo = data.User;
                    
                    Create_Table();
                }
                
                // reset
                get_user_menu = '0';
                get_user_relation = '0';
                
                // we need "Permission" information
                permission = data.Permission;
                
                // make it "Intuitive"
                Display_Buttons();
                
                // assign Data to Table
                /*try {
                    obj_html_Table.rows.add(data.Items); // add to DataTable instance
                    obj_html_Table.draw(); // always redraw
                }catch(err){}*/

                data.Items.forEach(
                    function (item) {
                        isNew = false;
                        object_Created_Count++;
                        lineNumber_Data++;
                        object_id_additional = '_' + object_Created_Count.toString() + '_' + lineNumber_Data.toString();

                        // save to Array
                        object_id_Created.push(object_id_additional);

                        // add to Table
                        obj_html_Table.row.add(item).draw(false);
                    }
                );
                
                // Resize Table: because this DataTable is filled with new Data
                resize_Table();
            },
            error: function (error) {
                is_still_AJAX_dataList = false;

                $(this).remove();
            }
        });
    }
    
    function OnKeyUp_Text(p_this) {
        Populate_DataGrid();
    }

</script>
