@using MERCY.Web.FrontEnd.Helpers;

@{
    string ui_name = @"a-Bootstrap-v4_4_1";
    UserInterface userInterface = new UserInterface(ui_name);
    string ui_Folder_ServerSide = userInterface.Folder_ServerSide;
    string ui_Folder_Client_Side = userInterface.Folder_ClientSide;

    Layout = ui_Folder_ServerSide + "_Layout.cshtml";
}

<style>
    #id_menu_ROMTransfer {
        background-color: #000000;
        border-radius: 4px;
        /*opacity: 0.2;*/
        background: rgba(0,0,0,0.2);
        height: 52px;
        margin: 5px 8px;
    }

    .filter_title {
        color: #232323;
        font-family: 'OpenSans-SemiBold';
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        opacity: 0.8700000047683716;
        text-align: left;
        height: 20px;
    }

    .fake-input {
        position: relative;
        width: 100%;
        padding: 10px 10px 10px 0px
    }

        .fake-input input {
            border: none: background:#fff;
            display: block;
            width: 100%;
            box-sizing: border-box
        }

        .fake-input img {
            position: absolute;
            top: 20px;
            right: 20px
        }


    .oval {
        background-color: #FFFFFF;
        border: 1px solid #C9CDDB;
        border-radius: 100%;
        width: 20px;
        height: 20px;
    }

    .no-hauling {
        color: #232323;
        font-family: 'NotoSans-Regular';
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align: left;
    }

    .mercy_input_text_by_portion_blending {
        background-color: rgba(180, 178, 239, 0.18) !important;
        border: 1px solid #CBCBCB !important;
        border-radius: 4px !important;
        /*box-shadow: 0 8px 24px 0 rgba(0, 145, 255, 0.18) !important;*/
        width: 140px;
        height: 34px;
        color: #3F3F3F;
        font-family: 'OpenSans';
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        text-align: left;
    }

    .mercy_input_text_by_outlook {
        color: #3F3F3F !important;
        font-family: 'OpenSans' !important;
        font-size: 14px !important;
        font-weight: 400 !important;
        line-height: 17px;
        text-align: left;
    }

    .mercy_target {
        color: #463191;
        font-family: 'OpenSans-Bold';
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
        opacity: 0.8700000047683716;
        text-align: left;
    }

    .mercy_by-outlook {
        color: #463191;
        font-family: OpenSans;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        opacity: 0.8700000047683716;
        text-align: left;
    }

    .mercy_line {
        border: 1px solid #D4D4D4;
    }

    .mercy_chk_destination {
        width: 100px;
    }

    #mercyTable_info, #mercyTable_length, #mercyTable_paginate, #table_ROM_Quality_info, #table_ROM_Quality_length, #table_ROM_Quality_paginate {
        display: none;
    }

    #table_ROM_Quality_wrapper {
        width: 100%;
    }

        #table_ROM_Quality_wrapper.dataTables_wrapper.dt-bootstrap4.no-footer div.dataTables_scroll div.dataTables_scrollBody {
            border: 1px solid #ced4da;
        }

    .mercy_align_right {
        text-align: right !important;
    }

    .mercy_cell_textbox {
        padding-top: 8px !important;
        padding-bottom: 0px !important;
    }

    .mercy_portion {
        background-color: #FFFFFF;
        border: 1px solid #CBCBCB;
        border-radius: 3px;
        width: 55px;
        height: 24px;
        font-family: 'NotoSans-Regular';
    }

    .mercy_portion_green {
        background-color: #60C159 !important;
    }

    .mercy_portion_red {
        background-color: #E73232 !important;
    }

    .mercy_portion_yellow {
        background-color: #FFBD50 !important;
    }

    .select2-selection--single {
        height: 34px !important;
    }

    .select2-selection__choice {
        height: 34px !important;
        font-size: 12px;
        font-family: 'Poppins-Regular';
    }

    .select2-selection__arrow {
        height: 32px !important;
    }

    .select2-selection select2-selection--single {
        height: 24px !important;
        font-size: 12px;
        font-family: 'Poppins-Regular';
    }

    .select2-selection__choice__remove {
        float: right;
        margin-left: 5px /* I added to separate a little bit */
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background-color: #00b4a5 !important;
        border: 1px solid #aaa;
        border-radius: 4px;
        cursor: default;
        float: left;
        margin-right: 5px;
        margin-top: 5px;
        padding: 0 5px;
        background-color: #00b4a5 !important;
        color: #FFFFFF !important;
        font-family: 'Poppins-Regular';
        /*font-size: 10px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;*/
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        color: #FFFFFF !important;
        font-size: 12px;
    }


    .select2-selection__choice {
        background-color: #00B4A5;
        border-radius: 4px;
        box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
        height: 23px;
        font-family: 'Poppins-Regular';
    }

    .select2-selection__choice {
        padding-top: 3px !important;
    }

    .select2-selection select2-selection--single {
        height: 32px !important;
    }

    .select2-selection--single {
        height: 24px !important;
    }

    .select2-selection__choice {
        height: 24px !important;
    }

    .select2-selection__arrow {
        height: 24px !important;
    }

    .select2-container--default .select2-results > .select2-results__options {
        max-height: 200px;
        overflow-y: auto;
        font-size: 12px;
        font-family: 'Poppins-Regular';
    }
    
.mercy_date:disabled
,.mercy_input_text:disabled
,input[type="checkbox"]:disabled {
    background-color: #eee;
    color: #6c757d;
}

</style>

<link href="@ui_Folder_Client_Side/css/select2.min.css" rel="stylesheet" />
<script src="@ui_Folder_Client_Side/js/select2.min.js"></script>
<div class="col margin_padding_0 mercy_box_inner">
    <div class="row margin_padding_0 mercy_page_Title">
        <span class="pUrl">Add New User</span>
    </div>
    <div class="row margin_padding_0 mercy_page_Title_2">
        User List > <span class="pUrl">Add New User</span>
    </div>
    <div class="row margin_padding_0 mercy_box_inner_content" style="min-height:150px !important;min-width:400px !important;">
        <div class="col-12 col-md">
            <div class="row margin_padding_0">
                <div class="col-12 col-md margin_padding_0" style="padding: 15px 0px !important;">
                    <div style="width:100%" class="filter_title">Window Login</div>
                    <div style="width:100%;padding:5px 5px 5px 0px;">
                        <input type="checkbox" id="chkWindowsLogin" checked /><span>  Yes</span>
                    </div>
                </div>
            </div>
            <div class="row margin_padding_0">
                <div class="col-12 col-md margin_padding_0">
                    <div class="row margin_padding_0" style="min-height: 100px;">
                        <div class="col margin_padding_0" style="padding-top: 15px !important;">
                            <div style="width:100%" class="filter_title">Login Name</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <input type="text" maxlength="32" class="form-control shadow-none mercy_input_text" id="txtLoginName" placeholder="Enter Login Name" />
                            </div>
                        </div>
                    </div>
                    <div class="row margin_padding_0" style="min-height: 100px;">
                        <div class="col margin_padding_0">
                            <div style="width:100%" class="filter_title">Name</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <input type="text" maxlength="255" class="form-control shadow-none mercy_input_text" id="txtName" placeholder="Enter Name" />
                            </div>
                        </div>
                    </div>
                    <div class="row margin_padding_0" style="min-height: 100px;">
                        <div class="col margin_padding_0">
                            <div style="width:100%" class="filter_title">Email</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <input type="text" maxlength="255" class="form-control shadow-none mercy_input_text" id="txtEmail" placeholder="Enter Name" />
                            </div>
                        </div>
                    </div>
                    <div class="row margin_padding_0" style="min-height: 100px;">
                        <div class="col margin_padding_0">
                            <div style="width:100%" class="filter_title">Site</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <select id="ddl_Site" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;" placeholder="Enter Site"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row margin_padding_0" style="min-height: 100px;">
                        <div class="col margin_padding_0">
                            <div style="width:100%" class="filter_title">Group</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <select id="ddl_Group" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;" placeholder="Enter Group"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md margin_padding_0">
                    <div class="row margin_padding_0" style="min-height: 100px;">
                        <div class="col margin_padding_0" style="padding-top: 15px !important;">
                            <div style="width:100%" class="filter_title" disabled>Password</div>
                            <div class="fake-input">
                                <input type="password" maxlength="255" class="form-control shadow-none mercy_input_text" id="txtP" placeholder="Enter Password" />
                                <img src="/images/view.png" onmouseover="mouseoverPass();" onmouseout="mouseoutPass();" />
                            </div>
                        </div>
                    </div>
                    <div class="row margin_padding_0" style="min-height: 100px;">
                        <div class="col margin_padding_0" style="padding-top: 0px !important;">
                            <div style="width:100%" class="filter_title">Title</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <input type="text" maxlength="255" class="form-control shadow-none mercy_input_text" id="txtTitle" placeholder="Enter Title" />
                            </div>
                        </div>
                    </div>
                    <div class="row margin_padding_0" style="min-height: 100px;">
                        <div class="col margin_padding_0" style="padding-top: 0px !important;">
                            <div style="width:100%" class="filter_title">Department</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <input type="text" maxlength="255" class="form-control shadow-none mercy_input_text" id="txtDepartment" placeholder="Enter Title" />
                            </div>
                        </div>
                    </div>
                    <div class="row margin_padding_0" style="min-height: 100px;">
                        <div class="col margin_padding_0" style="padding-top: 0px !important;">
                            <div style="width:100%" class="filter_title">Company</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <select id="ddl_Company" class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" style="width:100%;" placeholder="Enter Company"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row margin_padding_0" style="min-height: 100px;">
                        <div class="col margin_padding_0" style="padding-top: 0px !important;">
                            <div style="width:100%" class="filter_title">Availability Status</div>
                            <div style="width:100%;padding:10px 10px 10px 0px;">
                                <input type="checkbox" id="chkAvailability" checked /><span> Active</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-auto margin_padding_0" style="padding-top:45px !important;">
            <div style="width: 140px;margin:auto;">
                <div class="col col-md-auto margin_padding_0"><div class="mercy_button" style="width:100px;" id="btnSave"><div class="mercy_text_center">Save</div></div></div>
            </div>
            <div style="width: 140px;padding-top:20px;margin:auto;">
                <div class="col col-md-auto margin_padding_0"><div class="mercy_button_2" style="width:100px;" id="btnCancel"><div class="mercy_text_center">Cancel</div></div></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    // DropdownList
    var obj_html_Company = null;
    var obj_html_Site = null;
    var obj_html_Group = null;

    var m_sites = [];
    var m_companies = [];
    var m_groups = [];

    function mouseoverPass() {
        var obj = document.getElementById('txtP');
        obj.type = "text";
    }
    function mouseoutPass() {
        var obj = document.getElementById('txtP');
        obj.type = "password";
    }

    $('#chkWindowsLogin').click(function (e) {
        apply_CheckBox_WindowsLogin();
    });
    
    $(document).ready(function () {
        var pUrl = window.location.search;
        var pTrx = "";
        if (pUrl == "") {
            pTrx = "Add";
            $(".pUrl").text("Add New User");
        } else {
            pTrx = "Edit"
            $(".pUrl").text("Edit User");
        }

        $(document).attr('title', 'User - ' + pTrx);

        $('#btnSave').click(function (e) {
            SaveData();
        });

        $('#btnCancel').click(function (e) {
            window.location = mercyUrl('/Userv');
        });


        $("#txtDate").datepicker({
            todayBtn: 1
            , autoclose: true
        }).on('changeDate', function (selected) {
            //var minDate = new Date(selected.date.valueOf());
            //$('#dateTo').datepicker('setStartDate', minDate);
        });
        $('#txtDate').datepicker('update', new Date());
        
        apply_CheckBox_WindowsLogin();
        
        Create_ddl_Site();
        //Create_ddl_Company();
        Create_ddl_Group();

        Load_Page_Form()
    });

    var recordNumber = 0;

    function Create_ddl_Company() {
        if (obj_html_Company != null) return;

        obj_html_Company = $('#ddl_Company').select2({
            placeholder: 'Select Company'
            , tags: false
            , multiple: true
            //, tokenSeparators: [',', ' ']
            //, minimumInputLength: 3
            //, minimumResultsForSearch: 10
        });

        $('#ddl_Company').change(function (e) {
            //OnChange_ddl_Company();
        });
    }

    function Clear_ddl_Company() {
        // Clear DropdownList
        $('#ddl_Company').html('').select2({ data: { id: null, text: null } });

        Create_ddl_Company();
    }

    function Populate_Data_ddl_Company() {
        Clear_ddl_Company();

        var option = null;

        // get data from AJAX
        $.ajax({
            url: api_Request + '/Api/Company/Get_ddl'
            , type: 'GET'
            , dataType: "json"
            , async: false
            , beforeSend: function (request) {
                request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
            }
            , cache: false
            , success: function (data) {
                if (!$.trim(data)) {
                    // empty data
                    return;
                }
                
                if ( ! data.Success){
                    //alert(data.Message);
                    return;
                }
                
                
                data.Items.forEach(
                    function (item) {
                        // create the option and append to Select2
                        for (index = 0; index < $('#ddl_Site').val().length; ++index) {
                            
                            if ($('#ddl_Site').val()[index] == item.SiteId) {
                                    option = new Option(item.text, item.id, true, true);
                                    obj_html_Company.append(option);//.trigger('change');
                            }
                        }

                    }
                );


                // Inisial value for "DropdownList"
                if (paramid == null || paramid == '') {
                    $('#ddl_Company').val('').trigger('change');
                }
                else {
                    Assign_Companies();
                }
            },
            error: function (error) {
                $(this).remove();
            }
        });
    }

    function Create_ddl_Site() {
        if (obj_html_Site != null) return;

        obj_html_Site = $('#ddl_Site').select2({
            placeholder: 'Select Site'
            , tags: false
            , multiple: true
            //, tokenSeparators: [',', ' ']
            //, minimumInputLength: 3
            //, minimumResultsForSearch: 10
        });

        $('#ddl_Site').change(function (e) {
            //$('#ddl_Company').val() = null;
            $('#ddl_Company').val('');
            Populate_Data_ddl_Company();
        });
    }

    function Clear_ddl_Site() {
        // Clear DropdownList
        $('#ddl_Site').html('').select2({ data: { id: null, text: null } });

        Create_ddl_Site();
    }

    function Populate_Data_ddl_Site() {
        Clear_ddl_Site();

        var option = null;

        // get data from AJAX
        $.ajax({
            url: api_Request + '/Api/Site/Get_ddl'
            , type: 'GET'
            , dataType: "json"
            , beforeSend: function (request) {
                request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
            }
            , cache: false
            , success: function (data) {
                if (!$.trim(data)) {
                    // empty data
                    return;
                }
                
                if ( ! data.Success){
                    //alert(data.Message);
                    return;
                }
                
                data.Items.forEach(
                    function (item) {
                        // create the option and append to Select2
                        option = new Option(item.text, item.id, true, true);
                        obj_html_Site.append(option);//.trigger('change');
                    }
                );

                // Inisial value for "DropdownList"
                if (paramid == null || paramid == '') {
                    $('#ddl_Site').val('').trigger('change');
                }
                else {
                    Assign_Sites();
                }
            },
            error: function (error) {
                $(this).remove();
            }
        });
    }

    function Create_ddl_Group() {
        if (obj_html_Group != null) return;

        obj_html_Group = $('#ddl_Group').select2({
            placeholder: 'Select Group'
            , tags: false
            , multiple: true
            //, tokenSeparators: [',', ' ']
            //, minimumInputLength: 3
            //, minimumResultsForSearch: 10
        });

        $('#ddl_Group').change(function (e) {
            //OnChange_ddl_Group();
        });
    }

    function Clear_ddl_Group() {
        // Clear DropdownList
        $('#ddl_Group').html('').select2({ data: { id: null, text: null } });

        Create_ddl_Group();
    }

    function Populate_Data_ddl_Group() {
        Clear_ddl_Group();

        var option = null;

        // get data from AJAX
        $.ajax({
            url: api_Request + '/Api/Group/Get_ddl'
            , type: 'GET'
            , dataType: "json"
            , beforeSend: function (request) {
                request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
            }
            , cache: false
            , success: function (data) {
                if (!$.trim(data)) {
                    // empty data
                    return;
                }
                
                if ( ! data.Success){
                    //alert(data.Message);
                    return;
                }
                
                data.Items.forEach(
                    function (item) {
                        // create the option and append to Select2
                        option = new Option(item.text, item.id, true, true);
                        obj_html_Group.append(option);//.trigger('change');
                    }
                );

                // Inisial value for "DropdownList"
                if (paramid == null || paramid == '') {
                    $('#ddl_Group').val('').trigger('change');
                }
                else {
                    Assign_Groups();
                }
            },
            error: function (error) {
                $(this).remove();
            }
        });
    }

    function SaveData() {
        if (!validate_All()) return;
        //alert ("save");
        $('#imgLoading').show();

        var action = 'Create';
        if (paramid == null || paramid == '') { }
        else action = 'Edit?.id=' + paramid;

        $.ajax({
            url: api_Request + '/Api/User/' + action,
            data: {
                LoginName: $('#txtLoginName').val()
                , isactive: ValueBit('#chkAvailability')
                , is_activedirectory: ValueBit('#chkWindowsLogin')
                , p: $("#txtP").val()
                , FullName: $("#txtName").val()
                , Title: $("#txtTitle").val()
                , Email: $("#txtEmail").val()
                , Department: $("#txtDepartment").val()
                , Sites: ('' + $('#ddl_Site').val())
                , Companies: ('' + $('#ddl_Company').val())
                , Groups: ('' + $('#ddl_Group').val())
            },
            type: 'POST',
            dataType: "json",
            cache: false,
            beforeSend: function (request) {
                request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
            },
            success: function (data) {
                $('#imgLoading').hide();

                if (!$.trim(data)) {
                    // empty data
                    return;
                }
                
                if ( ! data.Success){
                    alert(data.Message);
                    return;
                }                
                
                alert('Success Save');
                window.location = mercyUrl('/Userv');
            },
            error: function (error) {
                //$(this).remove();
            }
        });
    }

    function validate_All() {
        // alert ("validate_All");

        if ($('#txtLoginName').val() == null || $('#txtLoginName').val() == "") {
            alert('Login Name tidak boleh kosong!');
            return false;
        }


        if ($('#chkWindowsLogin').prop('checked') == false) {
            if ($('#txtName').val() == null || $('#txtName').val() == "") {
                alert('Name tidak boleh kosong!');
                return false;
            }

            if ($('#txtP').val() == null || $('#txtP').val() == "") {
                alert('Password Name tidak boleh kosong!');
                return false;
            }

            if ($('#txtTitle').val() == null || $('#txtTitle').val() == "") {
                alert('Title tidak boleh kosong!');
                return false;
            }

        }

        if ($('#ddl_Site').val() == null || $('#ddl_Site').val() == "") {
            alert('Site tidak boleh kosong!');
            return false;
        }
        if ($('#ddl_Company').val() == null || $('#ddl_Company').val() == "") {
            alert('Company tidak boleh kosong!');
            return false;
        }
        if ($('#ddl_Group').val() == null || $('#ddl_Group').val() == "") {
            alert('Group tidak boleh kosong!');
            return false;
        }

        return true;
    }

    function DisplayData() {
        $.ajax({
            url: api_Request + '/Api/User/Get',
            type: 'GET',
            data: {u_menu:get_user_menu, u_relation:get_user_relation, '.id':paramid},
            dataType: "json",
            cache: false,
            beforeSend: function (request) {
                request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
            },
            success: function (data) {
                $('#imgLoading').hide();

                if (!$.trim(data)) {
                    // empty data
                    return;
                }
                
                if ( ! data.Success){
                    // special case: Id not found
                    if (data.Message.indexOf('not found') !== -1){
                        after_GetUserInfo(data.User);
                        uInfo = data.User;
                    }
                
                    alert(data.Message);
                
                    window.location = '/NoAccess';
                    return;
                }
                
                // Special Purpose, getting information of CurrentUser
                if (get_user_menu == '1'){
                    after_GetUserInfo(data.User);
                    uInfo = data.User;
                    
                    Populate_Data_ddl_Site();
                    //Populate_Data_ddl_Company();
                    Populate_Data_ddl_Group();
                }
                
                // reset
                get_user_menu = '0';
                get_user_relation = '0';
                
                // we need "Permission" information
                permission = data.Permission;
                
                // make it "Intuitive"
                Display_Buttons();
            
                var item = data.Item;

                $('#txtLoginName').val(item.LoginName);
                $('#txtP').val(item.P);
                $('#txtName').val(item.FullName);
                $('#txtTitle').val(item.Title);
                $('#txtEmail').val(item.Email);
                $('#txtDepartment').val(item.Department);
                
                $('#chkWindowsLogin').prop("checked", item.Is_ActiveDirectory);
                apply_CheckBox_WindowsLogin();
                //$("#txtLoginName").attr("disabled", true);
                
                $('#chkAvailability').prop("checked", item.IsActive);
                
                m_sites = data.Relations.Sites;
                m_companies = data.Relations.Companies;
                m_groups = data.Relations.Groups;

                Assign_Sites();
                //Assign_Companies();
                Assign_Groups();
            },
            error: function (error) {
                //$(this).remove();
            }
        });
    }

    function Assign_Sites() {
        try {
            // no need to assign Sites
            if (Mode_Create()) return;

            var sites = [];

            m_sites.forEach(
                function (item) {
                    sites.push(item.SiteId);
                }
            );

            $('#ddl_Site').val(sites).trigger('change');
        } catch (err) { }
    }

    function Assign_Companies() {
        try {
            // no need to assign Companies
            if (Mode_Create()) return;

            $('#ddl_Company').val('');
            var companies = [];

            m_companies.forEach(
                function (item) {
                    companies.push(item.CompanyCode);
                }
            );

            $('#ddl_Company').val(companies).trigger('change');
        } catch (err) { }
    }

    function Assign_Groups() {
        try {
            // no need to assign Groups
            if (Mode_Create()) return;

            var groups = [];

            m_groups.forEach(
                function (item) {
                    groups.push(item.GroupId);
                }
            );

            $('#ddl_Group').val(groups).trigger('change');
        } catch (err) { }
    }

function apply_CheckBox_WindowsLogin(){
    var isChecked = $('#chkWindowsLogin').is(":checked");
    
    $("#txtP").attr("disabled", isChecked);
    $("#txtName").attr("disabled", isChecked);
    $("#txtTitle").attr("disabled", isChecked);
    $("#txtEmail").attr("disabled", isChecked);
    $("#txtDepartment").attr("disabled", isChecked);
}
</script>
