@using MERCY.Web.FrontEnd.Helpers;

@{
    string ui_name               = @"a-Bootstrap-v4_4_1";
    UserInterface userInterface  = new UserInterface(ui_name);
    string ui_Folder_ServerSide  = userInterface.Folder_ServerSide;
    string ui_Folder_Client_Side = userInterface.Folder_ClientSide;

    Layout = ui_Folder_ServerSide + "_Layout.cshtml";
}

<style>
#id_menu_sampling {
    background-color: #000000;
    border-radius: 4px;
    /*opacity: 0.2;*/
    background: rgba(0,0,0,0.2);
    height: 52px;
    margin: 5px 8px;
}
</style>

<div class="container margin_padding_0 mercy_box_inner">
    <div class="row margin_padding_0 mercy_page_Title">
        User Activities
    </div>
    <div class="row margin_padding_0 mercy_page_Title_2">
        User Activities
    </div>
    <div class="row margin_padding_0 mercy_box_inner_content">
        <div class="container margin_padding_0">
            <div class="row margin_padding_0" style="margin:40px 25px !important;">
                <div class="col col-md-auto">
                    <select class="shadow-none custom-select d-block w-100 mercy_select mercy_input_text" id="cbDepartment" style="width:200px;">
                        <option value="">Select department</option>
                        <option>LABORATORY</option>
                        <option>Information Technology</option>
                        <option>Digital Center of Excellence</option>
                    </select>
                </div>
                <div class="col col-md-auto"><div class="mercy_button" style="width:78px;" id="btnFilter"><div class="mercy_text_center">Filter</div></div></div>
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="mercy_search_icon"><img src="/images/ic-search.png" /></div>
                        </div>
                        <input type="text" class="form-control shadow-none mercy_input_text mercy_search_text" id="txtSearch" placeholder="Search..." />
                    </div>
                </div>
            </div>
            <div class="row margin_padding_0" style="margin:40px 25px !important;">
                <table id="mercyTable" class="table table-striped mercy_table mercy_table_header" style="width:100%;">
                    <thead>
                        <tr>
                            <th>UserId</th>
                            <th>LoginName</th>
                            <th>Picture</th>
                            <th>Full Name</th>
                            <th>Title</th>
                            <th>Department</th>
                            <th>Login</th>
                            <th>Last Activity</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

// Flag
var is_still_AJAX_dataList = false;

// DataGrid
var obj_html_Table;

// row
var isNew = false;
var is_Mode_Editor = false;
var lineNumber_Data = 0;
var object_Created_Count = 0;
var object_id_additional = ''; // pattern is: '_' + object_Created_Count + '_' + lineNumber_Data;
var object_id_Created = [];
var object_id_Deleted = [];

var gridData;

$(document).ready(function () {

    $(document).attr('title', 'User - Activities : Mercy');

    $(window).resize(function (){
        // Resize Table: because the Window is Resized
        resize_Table();
    });
    
    $('#btnFilter').click(function (e){
        Populate_DataGrid();
    });
    
    Load_Page_List();
});

function showData() {
    var company = $("#cbCompany").val();
    var samplingType = $("#cbSamplingType").val();
    var requestDate = $("#txtDate").val();

    gridData = $('#mercyTable').DataTable({
        "processing": true
        , "serverSide": true
        , "autoWidth": false
        , "bFilter": false
        , "dom": '<"top">rt<"bottom"iflp><"clear">'
        , "ajax": {
            "url": api_Request + '/Api/User/Activities'
            , "type": "POST"
            , "datatype": "json"
        }
        , "columnDefs": [{
            "targets": [0],
            "visible": false,
            "searchable": false
        }]
        , "columns": [
            { "data": "UserId", "name": "UserId", "autoWidth": true }
            , { "data": "LoginName", "name": "LoginName", "autoWidth": true }
            , {
                "render": function (data, type, full, meta) {
                    return '<div class="mercy_user_picture" id="uPicture" style="background-image:url(/api/user/picture/' + full.UserId + ')"></div>';
                }
            }
            , { "data": "FullName", "name": "FullName", "autoWidth": true }
            , { "data": "Title", "name": "Title", "autoWidth": true }
            , { "data": "Department", "name": "Department", "autoWidth": true }
            , { "data": "CreatedOn_Str", "name": "CreatedOn_Str", "autoWidth": true }
            , { "data": "LastActivity_Str", "name": "LastActivity_Str", "autoWidth": true }
        ]
    });
}

function filterData(p_dataTable) {
    try {
        $('#' + p_dataTable).DataTable().clear().destroy();
        //$('#'+p_dataTable).DataTable().destroy();
        //$('#'+p_dataTable+' tbody').empty();
    }
    catch (err) { }

    showData();
}


function Clear_DataGrid_(p_id){
    try {
        $('#' + p_id).DataTable().clear().destroy();
        //$('#'+p_id).DataTable().destroy();
    }catch(err){}
    
    try {
        $('#'+p_id+' tbody').empty();
    }catch(err){}
}

function Clear_DataGrid(){
    Create_Table();
}

function Create_Table(){
    Clear_DataGrid_('mercyTable');
    try {
        obj_html_Table = $('#mercyTable').DataTable({
            "bAutoWidth": false
            , "bFilter": false
            , "dom": '<"top">rt<"bottom"iflp><"clear">'
            , "scrollX": true
            , "scrollY": false //"200px"
            //, "scrollCollapse": true
            , "paging": false
            //, "ordering": false
            , "columnDefs": [{
                "targets": [0],
                "visible": false,
                "searchable": false
            }]
            , "columns": [
                { "data": "UserId", "name": "UserId", "autoWidth": true }
                , { "data": "LoginName", "name": "LoginName", "autoWidth": true }
                , {
                    "render": function (data, type, full, meta) {
                        return '<div class="mercy_user_picture" id="uPicture" style="background-image:url(/api/user/picture/' + full.UserId + ')"></div>';
                    }
                }
                , { "data": "FullName", "name": "FullName", "autoWidth": true }
                , { "data": "Title", "name": "Title", "autoWidth": true }
                , { "data": "Department", "name": "Department", "autoWidth": true }
                , { "data": "CreatedOn_Str", "name": "CreatedOn_Str", "autoWidth": true }
                , { "data": "LastActivity_Str", "name": "LastActivity_Str", "autoWidth": true }
            ]
            //, "order": [[3, 'desc'], [4, 'asc']]
            , "order": [[1, 'asc']]
        });

        obj_html_Table.on('draw', function () {});
        
        // Resize Table: because this DataTable is newly created
        resize_Table();
    }catch(err){}
}

function Populate_DataGrid(){
    //if (is_still_AJAX_dataList) return;
    
    //is_still_AJAX_dataList = true;
    
    Clear_DataGrid();
    
    // reset
    lineNumber_Data = 0;
    object_id_Created = [];
    object_id_Deleted = [];
    
    // data from AJAX
    $.ajax({
        'async': false
        ,url: api_Request + '/Api/User/Activities'
        , type: 'POST'
        , data: {u_menu:get_user_menu, u_relation:get_user_relation, txt:$('#txtSearch_Name').val()}
        , dataType: "json"
        , beforeSend: function (request){
            // Set "Token" in HTTP_Header
            request.setRequestHeader(MERCY_Token, MERCY_Token_Value);
        }
        , cache: false
        , success: function (data){
            is_still_AJAX_dataList = false;
            
            if ( ! $.trim(data)) {
                // empty data
                return;
            }
            
            if ( ! data.Success){
                alert(data.Message);
                
                window.location = '/NoAccess';
                return;
            }
            
            // Special Purpose, getting information of CurrentUser
            if (get_user_menu == '1'){
                after_GetUserInfo(data.User);
                uInfo = data.User;
                
                Create_Table();
            }
            
            // reset
            get_user_menu = '0';
            get_user_relation = '0';
            
            // we need "Permission" information
            permission = data.Permission;
            
            // make it "Intuitive"
            Display_Buttons();
            Display_Buttons_InLine_Editing();
            
            // assign Data to Table
            /*try {
                obj_html_Table.rows.add(data.Items); // add to DataTable instance
                obj_html_Table.draw(); // always redraw
            }catch(err){}*/
            
            data.Items.forEach(
                function (item){
                    isNew = false;
                    object_Created_Count++;
                    lineNumber_Data++;
                    object_id_additional = '_' + object_Created_Count.toString() + '_' + lineNumber_Data.toString();
                    
                    // save to Array
                    object_id_Created.push(object_id_additional);
                    
                    // add to Table
                    obj_html_Table.row.add(item).draw(false);
                }
            );
            
            // Resize Table: because this DataTable is filled with new Data
            resize_Table();
        },
        error: function (error){
            is_still_AJAX_dataList = false;
            
            $(this).remove();
        }
    });
}

</script>
